
<div class="alertModule" aria-live="assertive" id="mainAlert">
  <div>
   <span class="icon"></span>
    <span>The Social Security Number entered is not found. In order to proceed with this enrollment, either enter a valid access code OR click the Cancel button and re-enter a valid SSN, PIN/NPIN or Contact Number.</span>
  </div>
</div>

<!-- Panels -->
<div class="panels">
   <!-- Enrollment LookUp Starts Here -->
   <div class="hd first" id="EnrollmentLookUp">
      <h3 id="EnrollmentLookUp1"><a href="#" class="expanded" title="Select to expand or collapse content below">
         <span class="icon">+</span>Enrollment Look Up</a>
      </h3>
   </div>
   <div class="content">
      <div class="bd mtblg">
         <form action="#" method="post" name="lookupForm1" id="lookupForm1">
            <div class="lblFieldPairGroup fll">
               <div class="lblFieldPair nth mtm">
                  <div class="lbl">
                     <label for="ssn">SSN</label>
                  </div>
                  <div class="input">
                     <input type="text" aria-required="true" id="ssn" name="ssn" maxlength="3" size="2" class="txtr  elookup ssn">
                     - <label class="screenReader" for="ssn">Day</label> 
                     <input type="text" aria-required="true" id="ssn1" name="ssn" maxlength="2" size="2" class="txtr ml elookup ssn">
                     - <label class="screenReader" for="ssn1">Year</label> 
                     <input type="text" aria-required="true" id="ssn2" name="ssn" maxlength="4" size="4" class="txtr ml elookup">
                  </div>
               </div>
               <div class="lblFieldPair nth mtm">
                  <div class="lbl">
                     <label for="pin_npin">PIN/NPIN</label>
                  </div>
                  <div class="input">
                     <input type="text" class="elookup" aria-required="true" name="pin_npin" id="pin_npin">
                  </div>
               </div>
               <div class="lblFieldPair nth mtm">
                  <div class="lbl">
                     <label for="tiaa_cref_number">TIAA/CREF Number</label>
                  </div>
                  <div class="input">
                     <input type="text" class="elookup" aria-required="true" name="tiaa_cref_number" id="tiaa_cref_number">
                  </div>
               </div>
               <div class="lblFieldPair nth mtm mllg">
                  <span class="fll mrm">
                     <input type="button" value="Look Up" id="elookup" class="btn btnSmall" title="Look Up">
                  </span>
                  <span class="fll">
                     <input type="reset" value="Clear" id="resetEnb" class="btn3 btnSmall" title="Clear">
                  </span>
               </div>
            </div>
            <div class="clear"></div>
         </form>
         <form name="lookupForm2" id="lookupForm2" action="#">
            <div class="lblFieldPairGroup">
               <div class="lblFieldPair nth mtm">
                  <div class="lbl">
                     <label for="accessCode1">Access Code</label>
                  </div>
                  <div class="input">
                     <input type="text" value="" class="inputs" name="accessCode1" id="accessCode1" maxlength="9">
                     <button id="searchAccess" class="btn btnSmall ml goBtn btnOff" title="">
                     <span>Search</span>
                  </button>
                  </div>
               </div>
               <div class="lblFieldPair nth mtm" id="lookupProcess">
                  <span class="inProcess"><img src="assets/images/wait_alt.gif" alt="In Process"></span>
               </div>
               
                <div class="lblFieldPair nth mtm mlxlg" id="lookupBtns">
                  <span class="fll mrm">
                     <input type="button" value="Next" id="lookupNextBtn" class="btn btnSmall btnOff" title="Next">
                  </span>
                  <span class="fll">
                     <input type="button" value="Cancel" id="lookupCancelBtn" class="btn3 btnSmall" title="Cancel">
                  </span>
               </div>

            </div>
            <div class="alertModule" aria-live="assertive" id="subAlert1">
              <div>
               <span class="icon"></span>
                <span>Invalid Access Code <span id="err-acc-code">xxxxxx</span>. Please enter a valid Access Code.</span>
              </div>
            </div>
           <div class="lblFieldPairGroup">
               <div class="lblFieldPair nth" id="lookupClientName">
                  <div class="lbl">
                     <label>Client and Employer</label>
                  </div>
                  <div class="input">
                     <span id="clientName" class="cName">THE STATE UNIVERSITY OF NEW YORK | SUNY/CORNELL</span>
                     <span id="clientName1" class="cName1">UNIVERSITY OF MICHIGAN | UNIVERSITY OF MICHIGAN</span>
                     <span id="clientName2" class="cName2">LOS ANGELES UNIFIED SCHOOL DISTRICT | LOS ANGELES UNIFIED SCHOOL</span>
                  </div>
                   <!---<div class="input">
                     <span id="clientName1" class="cName1">UNIVERSITY OF MICHIGAN | UNIVERSITY OF MICHIGAN</span>
                  </div>
               <div class="input">
                     <span id="clientName2" class="cName2">LOS ANGELES UNIFIED SCHOOL DISTRICT | LOS ANGELES UNIFIED SCHOOL</span>
                  </div>-->
               </div>
            </div>
         
            <table class="styleA" summary="add summry text" id="lookupTableNoData">
                  <caption>Access tables</caption>
                  <colgroup>
                     <col span="1" width="150">
                     <col span="1" width="400">
                     <col span="1" width="150">
                  </colgroup>
                  <thead>
                     <tr>
                        <th scope="col">Plan Number</th>
                        <th scope="col">Plan Name</th>
                        <th scope="col">Sub Plan</th>
                     </tr>
                  </thead>
               </table>    
            <table class="styleA" summary="add summry text" id="lookupTable">
                  <caption>Access tables</caption>
                  <colgroup>
                     <col span="1" width="150">
                     <col span="1" width="400">
                     <col span="1" width="150">
                  </colgroup>
                  <thead>
                     <tr>
                        <th scope="col">Plan Number</th>
                        <th scope="col">Plan Name</th>
                        <th scope="col">Sub Plan</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td><a href="#">151212</a></td>
                        <td>SUNY ORP - CORNELL CONTRACT COLLEGES </td>
                        <td>GR1001</td>
                     </tr> 
                     <tr>
                        <td><a href="#">151212</a></td>
                        <td>SUNY ORP - CORNELL CONTRACT COLLEGES</td>
                        <td>GS1001</td>
                     </tr>
                  </tbody>
               </table>
             <table class="styleA closed" summary="add summry text" id="lookupTable1">
                  <caption>Access tables</caption>
                  <colgroup>
                     <col span="1" width="150">
                     <col span="1" width="400">
                     <col span="1" width="150">
                  </colgroup>
                  <thead>
                     <tr>
                        <th scope="col">Plan Number</th>
                        <th scope="col">Plan Name</th>
                        <th scope="col">Sub Plan</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td><a href="#">101010</a></td>
                        <td>UNIVERSITY OF MICHIGAN 403B RETIREMENT PLAN</td>
                        <td>GR1001</td>
                     </tr> 
                     <tr>
                        <td><a href="#">101010</a></td>
                        <td>UNIVERSITY OF MICHIGAN 403B RETIREMENT PLAN</td>
                        <td>RA6001</td>
                     </tr>
                  </tbody>
               </table>
                <table class="styleA closed" summary="add summry text" id="lookupTable2">
                  <caption>Access tables</caption>
                  <colgroup>
                     <col span="1" width="150">
                     <col span="1" width="400">
                     <col span="1" width="150">
                  </colgroup>
                  <thead>
                     <tr>
                        <th scope="col">Plan Number</th>
                        <th scope="col">Plan Name</th>
                        <th scope="col">Sub Plan</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td><a href="#">405800</a></td>
                        <td>LOS ANGLES UNIFIED SCHOOL DISTRICT 457(B) PLAN</td>
                        <td>RP1001</td>
                     </tr> 
                  </tbody>
               </table>
         </form>
      </div>
   </div>
   <!-- End of Enrollment Look Up -->

   <!-- Participant Details Starts Here -->
   <div class="hd" id="ParticipantDetails">
      <h3 id="ParticipantDetails1">
         <a class="expanded" href="javascript:void(0)" title="Select to expand or collapse content below">
         <span class="icon">+</span>Participant Details</a>
      </h3>
   </div>
   <div class="content">
      <div class="bd">
         <div id="Pdalerts" aria-live="assertive" class="alertModule hidden">
            <div>
              <span class="icon"></span>
              <h4 role="alert">Error:</h4>
              <ul>
                <li role="alert" id="f_name-err">
                  First Name is required field. Please enter
                </li>
                <li role="alert" id="l_name-err">Last Name is required field. Please enter</li>
                <li role="alert" id="dob-err">
                  Date of Birth mm/dd/yyyy entered is invalid. Please re -enter
                </li>
               <li role="alert" id="email-err">
                  Email is required field. Please enter
                </li>
               <li role="alert" id="Gender-err">
                  Gender is required field. Please enter
                </li>
               <li role="alert" id="dayphone1-err">
                  Daytime Phone is required field. Please enter
                </li>
            <li role="alert" id="evephone1-err">
                  Evening Phone is required field. Please enter
                </li>
               <li role="alert" id="ma_line1-err">
                  Mailing Address Line 1 is required field. Please enter
                </li>
               <li role="alert" id="ma_city-err">
                  Mailing City is required field. Please enter
                </li>
               <li role="alert" id="ma_state-err">
                  Mailing State is required field. Please enter
                </li>
               <li role="alert" id="ma_zip_1-err">
                  Mailing Zip Code is required field. Please enter
                </li>
                <li role="alert" id="ra_line1-err">
                  Residential Address Line 1 is required field. Please enter
                </li>
               <li role="alert" id="ra_city-err">
                  Residential City is required field. Please enter
                </li>
               <li role="alert" id="ra_state-err">
                  Residential State is required field. Please enter
                </li>
               <li role="alert" id="ra_zip_1-err">
                  Residential Zip Code is required field. Please enter
                </li>
              </ul>
            </div>
         </div>
         <div class="mtblg proto_new">
            <div id="defaultform">
               <div class="clearfix">
                  <div class="one_half">
                     <div class="compact">
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="test2-Name">
                              Prefix
                              </label>
                           </div>
                           <div class="input">
                              <select name="prefix" aria-required="" id="prefix">
                                 <option selected="selected" value="none">Please select</option>
                                 <option value="Dr">Dr</option>
                                 <option value="Fr">Fr</option>
                                 <option value="Gen">Gen</option>
                                 <option value="Gov">Gov</option>
                                 <option value="Hon">Hon</option>
                                 <option value="Lt">Lt</option>
                                 <option value="Maj">Maj</option>
                                 <option value="Mr">Mr</option>
                                 <option value="Mrs">Mrs</option>
                                 <option value="Ms">Ms</option>
                              </select>
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="FName">
                              <span class="required" title="required">*</span>
                              First Name
                              </label>
                           </div>
                           <div class="input">
                              <input type="text" name="FName" value="" aria-required="true" class="inputlg" id="f_name">
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="MName">
                              Middle Initial
                              </label>
                           </div>
                           <div class="input">
                              <input type="text" name="MName" value="" aria-required="" class="inputs" id="m_name">
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="LName">
                              <span class="required" title="required">*</span>
                              Last Name
                              </label>
                           </div>
                           <div class="input">
                              <input type="text" name="LName" value="" aria-required="true" class="inputlg" id="l_name">
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="Suffix">
                              Suffix
                              </label>
                           </div>
                           <div class="input">
                              <select name="suffix" aria-required="" id="suffix">
                                 <option selected="selected" value="none">Please select</option>
                                 <option value="Jr">Jr</option>
                                 <option value="MD">MD</option>
                                 <option value="PhD">PhD</option>
                                 <option value="RN">RN</option>
                                 <option value="Sr">Sr</option>
                              </select>
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="Dayphone">
                              <span class="required" title="required">*</span>
                              DayTime Phone
                              </label>
                           </div>
                           <div class="input">
                              <input type="text" id="dayphone1" name="dayphone1" maxlength="3" size="2" class="txtr phone " aria-required="true">
                              &ndash; 
                              <label class="screenReader" for="Dayphone">Day</label>                                               
                              <input type="text" id="dayphone2" name="dayphone2" maxlength="3" size="2" class="txtr ml phone " aria-required="">
                              &ndash;
                              <label class="screenReader" for="Dayphone">Day</label>                                              
                              <input type="text" id="dayphone3" name="dayphone3" maxlength="4" size="4" class="txtr ml " aria-required="">
                           </div>
                        </div>
                  <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="Evephone">
                              <span class="required" title="required">*</span>
                              Evening Phone
                              </label>
                           </div>
                           <div class="input">
                              <input type="text" id="evephone1" name="evephone1" maxlength="3" size="2" class="txtr phone1 " aria-required="true">
                              &ndash; 
                              <label class="screenReader" for="Evephone">Day</label>                                               
                              <input type="text" id="evephone2" name="evephone2" maxlength="3" size="2" class="txtr ml phone1 " aria-required="">
                              &ndash;
                              <label class="screenReader" for="Evephone">Day</label>                                              
                              <input type="text" id="evephone3" name="evephone3" maxlength="4" size="4" class="txtr ml " aria-required="">
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="one_half column_last">
                     <div class="compact">
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="ssn2_1">
                              <span class="required" title="required">*</span>
                              SSN
                              </label>
                           </div>
                           <div class="input">
                              <input type="text" id="ssn2_1" name="ssn" maxlength="3" size="2" class="txtr ssn2 " aria-required="true" value="" readonly="readonly">
                              &ndash;     
                              <label class="screenReader" for="ssn2">SSN</label>                                            
                              <input type="text" id="ssn2_2" name="ssn" maxlength="2" size="2" class="txtr ml ssn2 " aria-required="true" value="" readonly="readonly">
                              &ndash;     
                              <label class="screenReader" for="ssn3">SSN</label>                                          
                              <input type="text" id="ssn2_3" name="ssn" maxlength="4" size="4" class="txtr ml " aria-required="true" value="" readonly="readonly">
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="DOB">
                              <span class="required" title="required">*</span>
                              Date of Birth
                              </label>
                           </div>
                           <div class="input">
                              <input type="text" data-changeyear="true" data-changemonth="true" class="inputDate" value="mm/dd/yyyy" id="dob" name="dob" aria-required="true" />
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="Email">
                              <span class="required" title="required">*</span>
                              Email
                              </label>
                           </div>
                           <div class="input">
                              <input type="text" name="Email" value="" aria-required="" class="inputs" id="email">
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="Gender">
                              <span class="required" title="required">*</span>
                              Gender
                              </label>
                           </div>
                           <div class="input">
                              <select name="Gender" aria-required="true" id="Gender">
                                 <option selected="selected" value="none">Please select</option>
                         <option  value="Male">Male</option>
                          <option  value="Female">Female</option>
                              </select>
                           </div>
                        </div>
                        <!-- <div class="lblFieldPair">
                           <div class="lbl">
                              <label for="Country">
                              <span class="required" title="required">*</span>
                              Country of Citizenship
                              </label>
                           </div>
                           <div class="input">
                              <select name="Country" aria-required="" id="Country">
                                 <option selected="selected" value="none">United States Of America</option>
                              </select>
                           </div>
                        </div> -->
                  <div class="lblFieldPair">
                           <div class="lbl">
                              <label for="Empid">
                              Employee ID
                              </label>
                           </div>
                           <div class="input">
                              <input type="text" name="Empid" value="" aria-required="" class="inputs" id="empid">
                           </div>
                        </div>
                        <div class="lblFieldPair">
                           <div class="lbl">&nbsp;</div>
                           <div class="input">
                              <input type="checkbox" aria-required="" name="financialdoc" id="financialdoc">
                              <label for="financialdoc">Send all financial documents as eDelivery</label>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="clearfix">
                  <div class="one_half">
                     <div class="compact">
                        <div class="lblFieldPair">
                           <div class="lbl">
                              <span class="txthlt2">Mailing Address</span>
                           </div>
                           <div class="input"></div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="MA_Country">
                              <span class="required">*</span>
                              Country
                              </label>
                           </div>
                           <div class="input">
                              <select name="MA_Country" aria-required="true" id="MA_Country">
                                 <option selected="selected" value="United States Of America">United States Of America</option>
                              </select>
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="MA_Line1">
                              <span class="required" title="required">*</span>
                              Line 1
                              </label>
                           </div>
                           <div class="input">
                              <input type="text" name="MA_Line1" value="" aria-required="true" class="inputlg" id="ma_line1">
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="MA_Line2">
                              Line 2
                              </label>
                           </div>
                           <div class="input">
                              <input type="text" name="MA_Line2" value="" aria-required="" class="inputlg" id="ma_line2">
                           </div>
                        </div>
                        <!-- <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="MA_Line3">
                              Line 3
                              </label>
                           </div>
                           <div class="input">
                              <input type="text" name="MA_Line3" value="" aria-required="" class="inputlg" id="ma_line3">
                           </div>
                        </div> -->
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="MA_City">
                              <span class="required" title="required">*</span>
                              City
                              </label>
                           </div>
                           <div class="input">
                              <input type="text" name="MA_City" value="" aria-required="true" class="inputlg" id="ma_city">
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="dayphone">
                              <span class="required" title="required">*</span>
                              State/Province
                              </label>
                           </div>
                           <div class="input">
                              <select name="MA_State" aria-required="true" id="ma_state">
                                 <option selected="selected" value="none">Please Select</option>
                                 <option value="AL">ALABAMA</option>
                                 <option value="AK">ALASKA</option>
                                 <option value="AZ">ARIZONA</option>
                                 <option value="AR">ARKANSAS</option>
                                 <option value="CA">CALIFORNIA</option>
                                 <option value="CO">COLORADO</option>
                                 <option value="CT">CONNECTICUT</option>
                                 <option value="DE">DELAWARE</option>
                                 <option value="DC">DISTRICT OF COLUMBIA</option>
                                 <option value="FL">FLORIDA</option>
                                 <option value="GA">GEORGIA</option>
                                 <option value="GU">Guam</option>
                                 <option value="HI">HAWAII</option>
                                 <option value="ID">IDAHO</option>
                                 <option value="IL">ILLINOIS</option>
                                 <option value="IN">INDIANA</option>
                                 <option value="IA">IOWA</option>
                                 <option value="KS">KANSAS</option>
                                 <option value="KY">KENTUCKY</option>
                                 <option value="LA">LOUISIANA</option>
                                 <option value="ME">MAINE</option>
                                 <option value="MD">MARYLAND</option>
                                 <option value="MA">MASSACHUSETTS</option>
                                 <option value="MI">MICHIGAN</option>
                                 <option value="MN">MINNESOTA</option>
                                 <option value="MS">MISSISSIPPI</option>
                                 <option value="MO">MISSOURI</option>
                                 <option value="MT">MONTANA</option>
                                 <option value="NE">NEBRASKA</option>
                                 <option value="NV">NEVADA</option>
                                 <option value="NH">NEW HAMPSHIRE</option>
                                 <option value="NJ">NEW JERSEY</option>
                                 <option value="NM">NEW MEXICO</option>
                                 <option value="NY">NEW YORK</option>
                                 <option value="NC">NORTH CAROLINA</option>
                                 <option value="ND">NORTH DAKOTA</option>
                                 <option value="OH">OHIO</option>
                                 <option value="OK">OKLAHOMA</option>
                                 <option value="OR">OREGON</option>
                                 <option value="PA">PENNSYLVANIA</option>
                                 <option value="PR">PUERTO RICO</option>
                                 <option value="PW">Palau</option>
                                 <option value="RI">RHODE ISLAND</option>
                                 <option value="SC">SOUTH CAROLINA</option>
                                 <option value="SD">SOUTH DAKOTA</option>
                                 <option value="TN">TENNESSEE</option>
                                 <option value="TX">TEXAS</option>
                                 <option value="UT">UTAH</option>
                                 <option value="VT">VERMONT</option>
                                 <option value="VA">VIRGINIA</option>
                                 <option value="WA">WASHINGTON</option>
                                 <option value="WV">WEST VIRGINIA</option>
                                 <option value="WI">WISCONSIN</option>
                                 <option value="WY">WYOMING</option> 
                              </select>
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="MA_Zip">
                              <span class="required" title="required">*</span>
                              Zip Code
                              </label>
                           </div>
                           <div class="input">
                              <input type="text" aria-required="true" value="" class="txtr" size="5" maxlength="5" name="MA_Zip" id="ma_zip_1">          
                              &ndash; 
                              <label class="screenReader" for="RA_Zip">Zip Plus Four</label> 
                              <input type="text" aria-required="false" value="" class="txtr ml" size="4" maxlength="4" name="MA_Zip" id="ma_zip_2">
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="one_half column_last">
                     <div class="compact">
                        <div class="lblFieldPair">
                           <div class="lbl">
                              <span class="txthlt2">Residential Address</span>
                           </div>
                           <div class="input">
                              <input type="checkbox" aria-required="" name="Raddress" id="sameaddress">
                              <label for="financialdoc">Same as Mailing Address</label>
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="RA_Country">
                              <span class="required" title="required">*</span>
                              Country
                              </label>
                           </div>
                           <div class="input">
                              <select name="RA_Country" aria-required="" id="RA_Country">
                                 <option selected="selected" value="none">United States Of America</option>
                              </select>
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="RA_Line1">
                              <span class="required" title="required" aria-required="true">*</span>
                              Line 1
                              </label>
                           </div>
                           <div class="input">
                              <input type="text" name="RA_Line1" value="" aria-required="true" class="inputlg" id="ra_line1">
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="RA_Line2">
                              Line 2
                              </label>
                           </div>
                           <div class="input">
                              <input type="text" name="RA_Line2" value="" class="inputlg" id="ra_line2">
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl"><label for="RA_City">
                              <span class="required" title="required">*</span>
                              City
                              </label>
                           </div>
                           <div class="input">
                              <input type="text" name="RA_City" value="" aria-required="true" class="inputlg" id="ra_city">
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl"><label for="dayphone">
                              <span class="required" title="required">*</span>
                              State/Province
                              </label>
                           </div>
                           <div class="input">
                              <select name="RA_State" aria-required="true" id="ra_state">
                                 <option selected="selected" value="none">Please Select</option>
                                 <option value="AL">ALABAMA</option>
                                 <option value="AK">ALASKA</option>
                                 <option value="AZ">ARIZONA</option>
                                 <option value="AR">ARKANSAS</option>
                                 <option value="CA">CALIFORNIA</option>
                                 <option value="CO">COLORADO</option>
                                 <option value="CT">CONNECTICUT</option>
                                 <option value="DE">DELAWARE</option>
                                 <option value="DC">DISTRICT OF COLUMBIA</option>
                                 <option value="FL">FLORIDA</option>
                                 <option value="GA">GEORGIA</option>
                                 <option value="GU">Guam</option>
                                 <option value="HI">HAWAII</option>
                                 <option value="ID">IDAHO</option>
                                 <option value="IL">ILLINOIS</option>
                                 <option value="IN">INDIANA</option>
                                 <option value="IA">IOWA</option>
                                 <option value="KS">KANSAS</option>
                                 <option value="KY">KENTUCKY</option>
                                 <option value="LA">LOUISIANA</option>
                                 <option value="ME">MAINE</option>
                                 <option value="MD">MARYLAND</option>
                                 <option value="MA">MASSACHUSETTS</option>
                                 <option value="MI">MICHIGAN</option>
                                 <option value="MN">MINNESOTA</option>
                                 <option value="MS">MISSISSIPPI</option>
                                 <option value="MO">MISSOURI</option>
                                 <option value="MT">MONTANA</option>
                                 <option value="NE">NEBRASKA</option>
                                 <option value="NV">NEVADA</option>
                                 <option value="NH">NEW HAMPSHIRE</option>
                                 <option value="NJ">NEW JERSEY</option>
                                 <option value="NM">NEW MEXICO</option>
                                 <option value="NY">NEW YORK</option>
                                 <option value="NC">NORTH CAROLINA</option>
                                 <option value="ND">NORTH DAKOTA</option>
                                 <option value="OH">OHIO</option>
                                 <option value="OK">OKLAHOMA</option>
                                 <option value="OR">OREGON</option>
                                 <option value="PA">PENNSYLVANIA</option>
                                 <option value="PR">PUERTO RICO</option>
                                 <option value="PW">Palau</option>
                                 <option value="RI">RHODE ISLAND</option>
                                 <option value="SC">SOUTH CAROLINA</option>
                                 <option value="SD">SOUTH DAKOTA</option>
                                 <option value="TN">TENNESSEE</option>
                                 <option value="TX">TEXAS</option>
                                 <option value="UT">UTAH</option>
                                 <option value="VT">VERMONT</option>
                                 <option value="VA">VIRGINIA</option>
                                 <option value="WA">WASHINGTON</option>
                                 <option value="WV">WEST VIRGINIA</option>
                                 <option value="WI">WISCONSIN</option>
                                 <option value="WY">WYOMING</option> 
                              </select>
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="RA_Zip"><span class="required" title="required">*</span>Zip Code</label>
                           </div>
                           <div class="input">
                              <input type="text" aria-required="true" value="" class="txtr" size="5" maxlength="5" name="RA_Zip" id="ra_zip_1">          
                              &ndash; 
                              <label class="screenReader" for="RA_Zip">Zip Plus Four</label> 
                              <input type="text" aria-required="false" value="" class="txtr ml" size="4" maxlength="4" name="RA_Zip" id="ra_zip_2">
                           </div>
                        </div>
                        <!--<div class="flr prxlg"><span class="required">*</span>required fields</div>-->
                     </div>
                  </div>
                   
               </div>
               <div class="flr prxlg" id="pdetails-req"><span class="required">*</span>required fields</div>
               <div class="btnBar nbdr">
                  <button class="btn btnSmall" title="Save" id="saveBtn"><span>Save</span></button>
                  <button class="btn3 btnSmall" title="Cancel" id="cancelBtn"><span>Cancel</span></button>
               </div>
            </div>
         </div>
         <div class="mtblg proto_existing closed">
            <div id="saveddetails" class="clearfix">
               <div class="one_half">
                  <div class="lblFieldPair">
                     <div class="lbl">
                        <label for="pin">PIN</label>
                     </div>
                     <div  id="lblpin" class="input">
                        6905520
                     </div>
                  </div>
                  <div class="lblFieldPair">
                     <div class="lbl">
                        <label for="ssn">SSN</label>
                     </div>
                     <div class="input" id="lblSSN">
                        412-15-5476
                     </div>
                  </div>
                  <div class="lblFieldPair">
                     <div class="lbl">
                        <label for="mailing_address">Mailing Address</label>
                     </div>
                     <div class="input" id="lblmailing_address">
                        26 THOMAS ST <br />
                        STATEN ISLAND, NY 10306<br />
                        United States Of America
                     </div>
                  </div>
                  <div class="lblFieldPair">
                     <div class="lbl">
                        <label for="daytime_phone">Daytime Phone</label>
                     </div>
                     <div class="input" id="lbldaytime_phone">
                        (640) 008-4417
                     </div>
                  </div>
              <div class="lblFieldPair">
                     <div class="lbl">
                        <label for="evening_phone">Evening Phone</label>
                     </div>
                     <div class="input" id="lblevening_phone">
                        (640) 008-4417
                     </div>
                  </div>
                 <!--  <div class="lblFieldPair">
                     <div class="lbl">
                        <label for="edelivery_elected">eDelivery Selected</label>
                     </div>
                     <div class="input">
                        Yes/No
                     </div>
                  </div> -->
                 <!--  <div class="lblFieldPair">
                     <div class="lbl">
                        <label for="edelivery_elected">Employer</label>
                     </div>
                     <div class="input" id="lblEmployer">
                        Name of Employer
                     </div>
                  </div> -->
               </div>
               <div class="one_half column_last">
                  <div class="lblFieldPair">
                     <div class="lbl">
                        <label for="dob">DOB</label>
                     </div>
                     <div class="input" id="lblDOB">
                        01/01/1949
                     </div>
                  </div>
                  <div class="lblFieldPair">
                     <div class="lbl">
                        <label for="ssn">Email</label>
                     </div>
                     <div class="input" id="lblEmail">
                        mbudtest@tiaa-cref.org
                     </div>
                  </div>
                  <div class="lblFieldPair " id="res-add-sec">
                     <div class="lbl">
                        <label for="residential_address">Residential Address</label>
                     </div>
                     <div class="input" id="lblresidential_address">
                        26 THOMAS ST <br />
                        STATEN ISLAND, NY 10306 <br/>
                        United States Of America
                     </div>
                  </div>
                  <div class="lblFieldPair">
                     <div class="lbl">
                        <label for="gender">Gender</label>
                     </div>
                     <div class="input" id="lblgender">
                        F
                     </div>
                  </div>
              <div class="lblFieldPair">
                     <!-- <div class="lbl">
                        <label for="lblempid">Employee ID</label>
                     </div>
                     <div class="input" id="lblempid">
                        02150G25H023
                     </div> -->
                  </div>
               </div>
               <!-- <div class="btnBar nbdr">
                  <a href="javascript:void(0)" class="btn" id="editInfo"><span>Edit Info</span></a>
               </div> -->
            </div>
         </div>
      </div>
   </div>
   <!-- End of Participant Details -->
   <!-- Open Enrollment Start Here -->
   <div class="hd" id="openEnrollment">
      <h3>
         <a class="expanded" href="javascript:void(0)" title="Select to expand or collapse content below">
         <span class="icon">+</span>Open Enrollment</a>
      </h3>
   </div>

   <div class="content nbdr">
      <div class="bd mtblg">
         
         <div class="">
            <div class="sec-head clear">
			<h2>The JOHNS HOPKINS UNIVERSITY Open Enrollment</h2>
             <!--  <h3 class="heading">Start Date: 10/01/13, End Date: 12/31/2013, Effective Date: 01/15/2014, Black out Start Date: 01/01/2014, and Black out End Date: 01/14/2014 --><!-- <span class="panelDate">Date until Date</span></h3>-->
            <div class="shdBox mbm pt plr grd1 clearfix">
<div class="one_fourth">
  <ul class="nlist">
    <li>
      <span class="txtb mllg">Start Date </span>: 05/02/2014
    </li>
    <li class=''>
        <span class="txtb mllg">End Date </span>: 05/17/2014
    </li>
  </ul>
</div>
<div class="one_fourth">
  <ul class="nlist">
    <li>
        <span class="txtb mllg">Black out Start Date </span>: 05/17/2014
    </li>
    <li class=''>
        <span class="txtb mllg">Black out End Date </span>: 05/18/2014
    </li>
  </ul>
</div>
<div class="one_fourth">
  <span class="txtb mls">Effective Date </span>: 05/19/2014
</div>
<div class="one_fourth column_last"></div>
</div>
			 <!-- <span class="closed txthlt4" id="fastLaneSec">
               <!-- <input type="submit" value="Enroll Using Fast Lane" class="btn btnSmall" title="Enroll Using Fast Lane">
			     Enroll Using Fast Lane	
              <a href="#" id="tooltip1" class="ichelpLink icon"></a>
                <!--  <input type="button" id="tooltip1" name="tooltip-1" class="tipLink nmb" value="?" role="button" aria-describedby="help1" aria-required="false"/>
                 <div class="tipContents" id="help1" role="tooltip-1" aria-hidden="true"> ...Content... </div>	 
                </span>			-->	 
              </div>
            </div>

             <table id="fastLaneTbl" class="styleB fullwidth closed" summary="Eligible Plans Additional" role="Eligible Plans Additional">
                <caption>
                   Eligible Plans Additional
                </caption>
                <colgroup>
                 <col span="1" class="w5" >
                 <col span="1" class="w20" >
                 <col span="1" class="w10" >
                 <col span="1" class="w5" >
                 <col span="1" class="w5" >
                 <col span="1" class="w5" >
                 <col span="1" class="w5" >
                 <col span="1" class="w5" >
                 <col span="1" class="w5" >
                 <col span="1" class="w5" >
                 <col span="1" class="w10" >
                 <col span="1" class="w10" >
                 <col span="1" class="w10" >
              </colgroup>
             <thead>
                <tr>
                  <th scope="col" >PLAN NUMBER</th>
                  <th scope="col" >PLAN NAME</th>
                  <th scope="col" >SUB PLANS</th>
                  <th scope="col" >CONTRIB/ NON  CONTRIB</th>
                  <th scope="col" >MAND VOL CONT</th>
                  <th scope="col" >CONTRIB SOURCE</th>
                  <th scope="col" >AUTO ENROLL</th>
                  <th scope="col" >OPT OUT ALLOWED</th>
                  <th scope="col" >TC OSDA</th>
                  <th scope="col" >RO IN</th>
                  <th scope="col" >Last Updated</th>
                  <th scope="col" >Enroll with Fast Lane?</th>
                  <th scope="col" class="txtc" >ACTIONS</th>
             </tr>
             </thead>
             <tbody>
               <tr class="">
                  <td>406298</td>
                  <td>THE JHU INC DEF 403B FOR RESID, INTERNS, AND POSTDOCT FELLOWS</td>
				  <td>GS1001</td>
				  <td><a href="#" title="C" class="">C</a></td>
				  <td>V</td>
				  <td><a href="#" title="E" class="">E</a></td>
				  <td>No</td>
				  <td><a href="#" title="No" class="">No</a></td>
				  <td>Yes</td>
				  <td>Yes</td>
				  <td>04/09/2014</td>
				  <td></td>
                  <td class="actionBtns txtc">
                      <button class="btn3 btnSmall noFunc" id="sda1" title="Enter SDA">
                        <span>Enter SDA</span>
                      </button>
					  <!--<button id="enrollBtn" class="btn2 btnSmall hidden" title="Enroll">
                         <span>Enroll</span>
                      </button>-->
				       <button id="modifySDA" class="btn3 btnSmall hidden" title="Modify SDA">
                         <span>Modify SDA</span>
                      </button>
				       <span class="inProcess hidden">
                         <img alt="In Process" src="assets/images/wait_alt.gif">
                      </span>
                       <span class="txthlt5 complete hidden">Completed!</span>
                  </td>
				 
               </tr>
                <tr class="">
                  <td>406297</td>
                  <td>JOHNS HOPKINS STAFF DEFINED CONTRIBUTION PLAN</td>
				  <td>External Vendor</td>
				  <td><a href="#" title="NC" class="">NC</a></td>
				  <td>M</td>
				  <td><a href="#" title="D,F" class="">D,F</a></td>
				  <td>No</td>
				  <td><a href="#" title="No" class="">No</a></td>
				  <td>Yes</td>
				  <td>Yes</td>
				  <td>04/09/2014</td>
				  <td></td>
                  <td class="actionBtns txtc">
                       <button class="btn3 btnSmall noFunc" id="sda2" title="Enter SDA">
                         <span>Enter SDA</span>
                       </button>
					 <!-- <button id="enrollBtn" class="btn2 btnSmall hidden" title="Enroll">
                         <span>Enroll</span>
                       </button>-->
					    <button id="modifySDA1" class="btn3 btnSmall hidden" title="Modify SDA">
                           <span>Modify SDA</span>
                      </button>
				        <span class="inProcess hidden">
                           <img alt="In Process" src="assets/images/wait_alt.gif">
                      </span>
                       <span class="txthlt5 complete hidden">Completed!</span>
                  </td>
               </tr>
             </tbody>
             </table>    
			   <table id="noFastLaneTIAA" class="styleB fullwidth closed" summary="Eligible Plans Additional" role="Eligible Plans Additional">
                <caption>
                   Eligible Plans Additional
                </caption>
                <colgroup>
                 <col span="1" class="w10" >
                 <col span="1" class="w20" >
                 <col span="1" class="w10" >
                 <col span="1" class="w5" >
                 <col span="1" class="w5" >
                 <col span="1" class="w5" >
                 <col span="1" class="w5" >
                 <col span="1" class="w5" >
                 <col span="1" class="w5" >
                 <col span="1" class="w5" >
                 <col span="1" class="w10" >
                 <col span="1" class="w5" >
                 <col span="1" class="w10" >
              </colgroup>
             <thead>
                <tr>
                  <th scope="col" >PLAN NUMBER</th>
                  <th scope="col" >PLAN NAME</th>
                  <th scope="col" >SUB PLANS</th>
                  <th scope="col" >
                  CONTRIB/ NON  CONTRIB
                  </th>
                  <th scope="col" >MAND VOL CONT</th>
                  <th scope="col" >CONTRIB SOURCE</th>
                  <th scope="col" >AUTO ENROLL</th>
                  <th scope="col" >OPT OUT ALLOWED</th>
                  <th scope="col" >TC OSDA</th>
                  <th scope="col" >RO IN</th>
                  <th scope="col" >Last Updated</th>
                  <th scope="col" >Enroll with Fast Lane?</th>
                  <th scope="col" class="txtc" >ACTIONS</th>
             </tr>
             </thead>
			
             <tbody>
                 <tr class="">
                  <td></td>
                  <td colspan="11" class="">
                     Plan Name - TIAA Vendor <a href="#" title="SIMULATE" class="">SIMULATE</a>
                  </td>
                  <td class="actionBtns txtc">
                      <button class="btn3 btnSmall noFunc" id="sda1" title="Enter SDA">
                        <span>Enter SDA</span>
                      </button>
					  <button id="enrollBtnNF" class="btn2 btnSmall hidden" title="Enroll">
                         <span>Enroll</span>
                      </button>
				       <button id="modifySDA2" class="btn3 btnSmall hidden" title="Modify SDA">
                         <span>Modify SDA</span>
                      </button>
				       <span class="inProcess hidden">
                         <img alt="In Process" src="assets/images/wait_alt.gif">
                      </span>
                       <span class="txthlt5 complete hidden">Completed!</span>
                  </td>				 
               </tr>
             </tbody>
             </table>  
			 <table id="noFastLaneExt" class="styleB fullwidth closed" summary="Eligible Plans Additional" role="Eligible Plans Additional">
                <caption>
                   Eligible Plans Additional
                </caption>
                <colgroup>
                 <col span="1" class="w10" >
                 <col span="1" class="w20" >
                 <col span="1" class="w10" >
                 <col span="1" class="w5" >
                 <col span="1" class="w5" >
                 <col span="1" class="w5" >
                 <col span="1" class="w5" >
                 <col span="1" class="w5" >
                 <col span="1" class="w5" >
                 <col span="1" class="w5" >
                 <col span="1" class="w10" >
                 <col span="1" class="w5" >
                 <col span="1" class="w10" >
              </colgroup>
             <thead>
                <tr>
                  <th scope="col" >PLAN NUMBER</th>
                  <th scope="col" >PLAN NAME</th>
                  <th scope="col" >SUB PLANS</th>
                  <th scope="col" >
                  CONTRIB/ NON  CONTRIB
                  </th>
                  <th scope="col" >MAND VOL CONT</th>
                  <th scope="col" >CONTRIB SOURCE</th>
                  <th scope="col" >AUTO ENROLL</th>
                  <th scope="col" >OPT OUT ALLOWED</th>
                  <th scope="col" >TC OSDA</th>
                  <th scope="col" >RO IN</th>
                  <th scope="col" >Last Updated</th>
                  <th scope="col" >Enroll with Fast Lane?</th>
                  <th scope="col" class="txtc" >ACTIONS</th>
             </tr>
             </thead>
             <tbody>
               <tr class="">
                  <td></td>
                  <td colspan="11" class="">
                     Plan Name - External Vendor <a href="#" title="SIMULATE" class="">SIMULATE</a>
                  </td>
                  <td class="actionBtns txtc">
                      <button class="btn3 btnSmall noFunc" id="sda1" title="Enter SDA">
                        <span>Enter SDA</span>
                      </button>
					  <!--<button id="enrollBtn" class="btn2 btnSmall hidden" title="Enroll">
                         <span>Enroll</span>
                      </button>-->
				       <button id="modifySDA3" class="btn3 btnSmall hidden" title="Modify SDA">
                         <span>Modify SDA</span>
                      </button>
				       <span class="inProcess hidden">
                         <img alt="In Process" src="assets/images/wait_alt.gif">
                      </span>
                       <span class="txthlt5 complete hidden">Completed!</span>
                  </td>
				 
               </tr>
             </tbody>
             </table>
	            <div class="flr mtblg closed" id="fastLaneSec1">	
					<a href="#" id="#" class="btn3 btnSmall mrm" title="View History" role="button">
                      <span>View History</span>
                    </a>					
				    <a href="plan1tele_enroll.html" id="#" class="fastlaneBtn btn3 btnSmall mrm" title="View Details" role="button">
                      <span>View Details</span>
                    </a>			
				    <a href="#" class="btn btnSmall" title="Update" role="button">
                     <span>Update</span>
                   </a>
			   </div>
			    <div class="flr mtblg closed" id="noFastLaneSDA">
				    <a href="#" class="btn3 btnSmall noFastLaneTIAABtn mrm closed" title="View History" role="button">
                      <span>View History</span>
                    </a>
					
				   <a href="#" id="viewDetails" class="btn3 btnSmall noFastLaneTIAABtn mrm closed" title="View Details" role="button">
                      <span>View Details</span>
                   </a>
                   <a href="#" class="btn btnSmall" title="Update" role="button">
                     <span>Update</span>
                   </a>
				</div>
				<div class="flr mtblg closed" id="noFastLaneNoSDASec">
				    <a href="#" class="btn3 btnSmall noFastLaneExtBtn mrm closed" title="View History" role="button">
                      <span>View History</span>
                    </a>
                    <a href="plan1tele_enroll.html" class="noFastLaneExtBtn btn3 btnSmall mrm closed" title="View Details" role="button">
                      <span>View Details</span>
                    </a>		
                    <a href="#" class="btn btnSmall" title="Update" role="button">
                      <span>Update</span>
                   </a>
			   </div>
			  
             </div>
         </div>


   
   <!-- End of Open Enrollment -->
   <!-- Eligible Plans Start Here -->
   <div class="hd" id="EligiblePlans">
      <h3 id="EligiblePlans1">
         <a class="expanded" href="javascript:void(0)" title="Select to expand or collapse content below">
         <span class="icon">+</span>Eligible Plans</a>
      </h3>
   </div>
   <div class="content nbdr">
      <div class="bd">
         
         <div class="noDataEligTable">
             <table id="elgbPlnsAddnodata" class="styleB fullwidth" summary="Eligible Plans Additional" role="Eligible Plans Additional">
                <caption>
                   Eligible Plans Additional
                </caption>
                <colgroup>
                 <col span="1" width="11%">
                 <col span="1" width="25%">
                 <col span="1" width="8%">
                 <col span="1" width="8%">
                 <col span="1" width="8%">
                 <col span="1" width="8%">
                 <col span="1" width="8%">
                 <col span="1" width="8%">
                 <col span="1" width="5%">
                 <col span="1" width="4%">
                 <col span="1" width="6%">
              </colgroup>
             <thead>
                <tr>
                   <th scope="col" >PLAN NUMBER</th>
                   <th scope="col" >PLAN NAME</th>
                   <th scope="col" >SUB PLANS</th>
                   <th scope="col" >
                      CONTRIB/ NON  CONTRIB
                   </th>
                   <th scope="col" >MAND VOL CONT</th>
                   <th scope="col" >CONTRIB SOURCE</th>
                   <th scope="col" >AUTO ENROLL</th>
                   <th scope="col" >OPT OUT ALLOWED</th>
                   <th scope="col" >TC OSDA</th>
                   <th scope="col" >RO IN</th>
                   <!-- <th scope="col" >AUTO SAVE</th>
                <th scope="col" >DEFAULT ENR. ENABLED</th>
                -->
                <th scope="col" >ACTIONS</th>
             </tr>
             </thead>
             <tbody>
             <tr class="hideRow">
                <td colspan="11" class="txtc">
                  No Data 
                </td>
             </tr>
             </tbody>
             </table>
         </div>

         <div class="dataEligTable">
            <div class="alertModule closed" aria-live="assertive" id="alertModuleAC">
            <div><span class="icon"></span>
               <!-- <h4 role="alert">Error:</h4> -->
               <ul>
                  <li role="alert">Access Code <span id="accessVal1"></span> is not valid. Please enter a valid Access Code</li>
               </ul>
            </div>
         </div>         
        <div class="clear"></div> 
         <div class="accessCodeLookup">
            <div class="lblFieldPair flr mtm">
               <div class="lbl">
                  <label for="accessCodeGo">Enter Access Code</label>
               </div>
               <div class="input">
                  <input type="text" value="" name="access_code" id="accessCode">         
                  <button id="accessCodeGo" class="btn btnSmall goBtn" title="">
                     <span>Go</span>
                  </button>
               </div>
            </div>
         </div>
         <div class="clear"></div>
           <div class="alertModule" aria-live="assertive" id="subAlert2">
           <div>
            <span class="icon"></span>
             <span>Invalid Access Code <span id="err-acc-code2">xxxxxx</span>. Please enter a valid Access Code.</span>
           </div>
         </div>
                    
      <div class="jhu-tbl">
              <h3>JHU</h3>
             <table id="" class="styleB fullwidth" summary="JHU" role="JHU">
                <caption>
                   JHU
                </caption>
                <colgroup>
                 <col span="1" width="11%">
                 <col span="1" width="25%">
                 <col span="1" width="8%">
                 <col span="1" width="8%">
                 <col span="1" width="8%">
                 <col span="1" width="8%">
                 <col span="1" width="8%">
                 <col span="1" width="8%">
                 <col span="1" width="5%">
                 <col span="1" width="4%">
                 <col span="1" width="6%">
              </colgroup>
             <thead>
                <tr>
                   <th scope="col" >PLAN NUMBER</th>
                   <th scope="col" >PLAN NAME</th>
                   <th scope="col" >SUB PLANS</th>
                   <th scope="col" >
                      CONTRIB/ NON  CONTRIB
                   </th>
                   <th scope="col" >MAND VOL CONT</th>
                   <th scope="col" >CONTRIB SOURCE</th>
                   <th scope="col" >AUTO ENROLL</th>
                   <th scope="col" >OPT OUT ALLOWED</th>
                   <th scope="col" >TC OSDA</th>
                   <th scope="col" >RO IN</th>
                   <!-- <th scope="col" >AUTO SAVE</th>
                <th scope="col" >DEFAULT ENR. ENABLED</th>
                -->
                <th scope="col" >ACTIONS</th>
             </tr>
             </thead>
             <tbody>
             <tr class="hideRow">
                <td colspan="11" class="txtc">
                   No Plans to Display: All Plans Currently in Open Enrollment until DATE
                </td>
             </tr>
             </tbody>
             </table>
         </div>

      <div id="eplans-sec2a" class="closed elg-plans">
            <h4 class="heading mtm">
         UNIVERSITY OF MICHIGAN | UNIVERSITY OF MICHIGAN | Access Code 101010a
            </h4>
            <div class="clear"></div>
            <table id="elgbPlnsAdd" class="styleB fullwidth" summary="Eligible Plans Additional" role="Eligible Plans Additional">
               <caption>
                  Eligible Plans Additional
               </caption>
               <colgroup>
                  <col span="1" width="11%">
                  <col span="1" width="25%">
                  <col span="1" width="8%">
                  <col span="1" width="8%">
                  <col span="1" width="8%">
                  <col span="1" width="8%">
                  <col span="1" width="8%">
                  <col span="1" width="8%">
                  <col span="1" width="5%">
                  <col span="1" width="4%">
                  <col span="1" width="6%">
               </colgroup>
            <thead>
               <tr>
                  <th scope="col" >PLAN NUMBER</th>
                  <th scope="col" >PLAN NAME</th>
                  <th scope="col" >SUB PLANS</th>
                  <th scope="col" >
                     CONTRIB/ NON  CONTRIB
                  </th>
                  <th scope="col" >MAND VOL CONT</th>
                  <th scope="col" >CONTRIB SOURCE</th>
                  <th scope="col" >AUTO ENROLL</th>
                  <th scope="col" >OPT OUT ALLOWED</th>
                  <th scope="col" >TC OSDA</th>
                  <th scope="col" >RO IN</th>
                  <!-- <th scope="col" >AUTO SAVE</th>
               <th scope="col" >DEFAULT ENR. ENABLED</th>
               -->
               <th scope="col" >ACTIONS</th>
            </tr>
         </thead>
         <tbody>
         <tr>
            <td>
               <a href="">101010</a>
            </td>
            <td>
               UNIVERSTY OF MICHIGAN<br> 403B RETIREMENT PLAN <a href="#" title="SIMULATE" class="video1">SIMULATE</a>          
            </td>
            <td>GR1001</td>
            <td><a href="#">Details</a></td>
            <td><a href="#">Details</a></td>
            <td><a href="#">Details</a></td>
            <td><a href="#">Details</a></td>
            <td><a href="#">Details</a></td>
            <td>No</td>
            <td>Yes</td>
            <!-- <td>No</td>
         <td>Yes</td>
         -->
         <td class="txtr actionBtns">
             <!-- <button class="btn3 btnSmall noFunc" id="sdaBtn5" title="Enter SDA">
                  <span>Enter SDA</span>
               </button>
               <button class="btn2 btnSmall hidden" id="enrollBtn5 " title="Enroll">
                  <span>Enroll</span>
               </button>-->
             <button class="btn2 btnSmall" id="enrollBtn5" title="Enroll">
                       <span>Enroll</span>
              </button>
               <span class="inProcess hidden">
                  <img src="assets/images/wait_alt.gif" alt="In Process"></span>
               <span class="txthlt5 complete hidden">Completed!</span>
         </td>
         </tr>
         <tr class="hideRow">
               <td>
                  <a href="">101010</a>
               </td>
               <td>
                UNIVERSTY OF MICHIGAN<br> 403B RETIREMENT PLAN <a href="#" title="SIMULATE" class="video1">SIMULATE</a> 
               </td>
               <td>RA6001</td>
               <td><a href="#">Details</a></td>
              <td><a href="#">Details</a></td>
              <td><a href="#">Details</a></td>
              <td><a href="#">Details</a></td>
              <td><a href="#">Details</a></td>
              <td>No</td>
             <td>Yes</td>
               <!-- <td>No</td>
            <td>Yes</td>
            -->
            <td class="txtr actionBtns">
              <!-- <button class="btn3 btnSmall noFunc" id="sdaBtn6" title="Enter SDA">
                  <span>Enter SDA</span>
               </button>-->
               <button class="btn2 btnSmall  btnOff" id="enrollBtn6" title="Enroll">
                  <span>Enroll</span>
               </button>
               <span class="inProcess hidden">
                  <img src="assets/images/wait_alt.gif" alt="In Process"></span>
               <span class="txthlt5 complete hidden">Completed!</span>
            </td>
         </tr>
         </tbody>
         </table>
         <div class="mts dim">
        
       This enrollment is for an Individual Contract. Individual Contracts MUST be completed via self-service online or using a paper form.
         </div>

            <div class="btnBar nbdr">
           <!--  <button class="btn updateBtn btnSmall" id="uptAddrBtn" title="Update Address">
            <span>Update Address</span>
            </button> -->

            <button class="btn updateBtn btnSmall" id="uptBtn2" title="Update">
            <span>Update</span>
            </button>
            </div>
         </div>
       <div id="eplans-sec2b" class="closed elg-plans">
        
         <h4 class="heading mtm fll">
       Los Angeles Unified School District | LOS ANGELES UNIFIED SCHOOL <span id="aCode"> | Access Code 405800</span>
       <!--Cornell University | Cornell University | Access code 151212-->
       
       </h4>

         <div class="clear"></div>

         <table id="elgbPlns2b" class="styleB fullwidth" summary="Eligible Plans" role="Eligible Plans">
            <caption>Eligible Plans</caption>
            <colgroup>
               <col span="1" width="11%">
               <col span="1" width="25%">
               <col span="1" width="8%">
               <col span="1" width="8%">
               <col span="1" width="8%">
               <col span="1" width="8%">
               <col span="1" width="8%">
               <col span="1" width="8%">
               <col span="1" width="5%">
               <col span="1" width="4%">
               <col span="1" width="6%">
            </colgroup>
            <thead>
               <tr>
                  <th scope="col" >PLAN NUMBER</th>
                  <th scope="col" >PLAN NAME</th>
                  <th scope="col" >SUB PLANS</th>
                  <th scope="col" >CONTRIB/NON CONTRIB</th>
                  <th scope="col" >MAND/VOL CONT</th>
                  <th scope="col" >CONTRIB SOURCE</th>
                  <th scope="col" >AUTO ENROLL</th>
                  <th scope="col" >OPT OUT ALLOWED</th>
                  <th scope="col" >TC OS DA</th>
                  <th scope="col" >RO IN</th>
                  <th scope="col" >ACTIONS</th>            
               </tr>
            </thead>
            
            <tbody>
               <tr class="closed no-data">
                  <td colspan="11" class="txtc">
                     No Data
                  </td>
               </tr>
               <tr class="hideRow">
                  <td><a href="">405800</a></td>
                  <td>LOS ANGLES UNIFIED <BR> SCHOOL DISTRICT 457(B) <BR>PLAN </td>
                  <td>RP1001</td>
                  <td><a href="#" title="C">C</a></td>
                  <td>V</td>
                  <td><a href="#" title="E">E</a></td>
                  <td>No</td>
                  <td><a href="#" title="No">No</a></td>
                  <td>Yes</td>
                  <td>Yes</td>
                  <td class="txtr actionBtns">
                     
                     <button class="btn3 btnSmall noFunc" id="sdaBtn7" title="Enter SDA">
                       <span>Enter SDA</span>
                     </button>
                     <button class="btn2 btnSmall hidden" id="enrollBtn7" title="Enroll">
                       <span>Enroll</span>
                     </button>
                     <span class="inProcess hidden"><img src="assets/images/wait_alt.gif" alt="In Process"></span>
                     <span class="txthlt5 complete hidden">Completed!</span>
                   </td>
               </tr>
             <!--  <tr>
                  <td><a href="">100901</a></td>
                  <td>UNIVERSITY OF ROCHESTER<BR> RET PRGM FACULTY AND STAFF, RA AND GRA</td>
                  <td>GR1001</td>
                  <td>No</td>
                  <td>No</td>
                  <td>F</td>
                  <td>Yes</td>
                  <td>No</td>
                  <td>No</td>
                  <td>Yes</td>
                  <td>M</td>
                  <td>NC</td>
                  <td class="txtr actionBtns">
                      <button class="btn3 btnSmall noFunc" id="sdaBtn4" title="Enter SDA">
                        <span>Enter SDA</span>
                     </button>
                     <button class="btn2 btnSmall hidden" id="enrollBtn4" title="Enroll">
                        <span>Enroll</span>
                     </button>
                     <span class="inProcess hidden">
                        <img src="assets/images/wait_alt.gif" alt="In Process"></span>
                     <span class="txthlt5 complete hidden">Completed!</span></td>
               </tr>-->
            </tbody>
         </table>

         <div class="mts dim">Stanalone OSDA Enrollment. Please enter Salary Deferral Agreement(s) prior to completing Default Enrollment when TIAA-CREF is selected as a vendor.
             </div>
         
         
         <div class="btnBar nbdr">
            <button class="btn updateBtn btnSmall" id="uptBtn3" title="Update"><span>Update</span></button>
         </div>
          </div>
        
<!--             <div id="eplans-sec1" class="elg-plans">
            <h4 class="heading mtm">
         Cornell University | SUNY/CORNELL | Access Code 151212
            </h4>
            <div class="clear"></div>
            <table id="elgbPlnsAdd" class="styleB fullwidth" summary="Eligible Plans Additional" role="Eligible Plans Additional">
               <caption>
                  Eligible Plans Additional
               </caption>
               <colgroup>
                  <col span="1" width="11%">
                  <col span="1" width="25%">
                  <col span="1" width="8%">
                  <col span="1" width="8%">
                  <col span="1" width="8%">
                  <col span="1" width="8%">
                  <col span="1" width="8%">
                  <col span="1" width="8%">
                  <col span="1" width="5%">
                  <col span="1" width="4%">
                  <col span="1" width="6%">
               </colgroup>
            <thead>
               <tr>
                  <th scope="col" >PLAN NUMBER</th>
                  <th scope="col" >PLAN NAME</th>
                  <th scope="col" >SUB PLANS</th>
                  <th scope="col" >
                     CONTRIB/ NON  CONTRIB
                  </th>
                  <th scope="col" >MAND VOL CONT</th>
                  <th scope="col" >CONTRIB SOURCE</th>
                  <th scope="col" >AUTO ENROLL</th>
                  <th scope="col" >OPT OUT ALLOWED</th>
                  <th scope="col" >TC OSDA</th>
                  <th scope="col" >RO IN</th>
               <th scope="col" >ACTIONS</th>
            </tr>
         </thead>
         <tbody>
         <tr>
            <td>
               <a href="">151212</a>
            </td>
            <td>
               SUNY ORP - CORNELL<br> CONTRACT COLLEGES <a href="#" title="SIMULATE">SIMULATE</a>          
            </td>
            <td>GS1001</td>
            <td>NC</td>
            <td>M</td>
            <td>F, 1</td>
            <td>No</td>
            <td>No</td>
            <td>Yes</td>
            <td>No</td>

         <td class="txtr actionBtns">
             <button class="btn3 btnSmall noFunc" id="sdaBtn1" title="Enter SDA">
                  <span>Enter SDA</span>
               </button>
               <button class="btn2 btnSmall hidden" id="enrollBtn1" title="Enroll">
                  <span>Enroll</span>
               </button>
               <span class="inProcess hidden">
                  <img src="assets/images/wait_alt.gif" alt="In Process"></span>
               <span class="txthlt5 complete hidden">Completed!</span>
         </td>
         </tr>
         <tr class="hideRow">
               <td>
                  <a href="">151212</a>
               </td>
               <td>
                SUNY ORP - CORNELL<br> CONTRACT COLLEGES <a href="#" title="SIMULATE" class="disabled">SIMULATE</a> 
               </td>
               <td>GR1001</td>
               <td>NC</td>
               <td>M</td>
               <td>F, 1</td>
               <td>No</td>
               <td>No</td>
               <td>Yes</td>
               <td>No</td>

            <td class="txtr actionBtns">
               <button class="btn3 btnSmall noFunc" id="sdaBtn2" title="Enter SDA">
                  <span>Enter SDA</span>
               </button>
               <button class="btn2 btnSmall hidden" id="enrollBtn2" title="Enroll">
                  <span>Enroll</span>
               </button>
               <span class="inProcess hidden">
                  <img src="assets/images/wait_alt.gif" alt="In Process"></span>
               <span class="txthlt5 complete hidden">Completed!</span>
            </td>
         </tr>
         </tbody>
         </table>
         <div class="mts dim">
         Retirement At Work Enrollment.  Please enter Salary Deferral Agreement(s) prior to completing Default Enrollment when TIAA-CREF is selected as a vendor.<br/>
       This enrollment is for an Individual Contract. Individual Contracts MUST be completed via self-service online or using a paper form.
         </div>

            <div class="btnBar nbdr">
             <button class="btn updateBtn btnSmall" id="uptAddrBtn" title="Update Address">
            <span>Update Address</span>
            </button> 

            <button class="btn updateBtn btnSmall" id="uptBtn1" title="Update">
            <span>Update</span>
            </button>
            </div>
         </div> -->

             <div id="eplans-sec1" class="elg-plans">
            <h4 class="heading mtm">
                QA NYU Langone | QA NYU HOSPITALS CENTER
            </h4>
            <div class="clear"></div>
            <table id="elgbPlnsAdd11" class="styleB fullwidth" summary="Eligible Plans Additional" role="Eligible Plans Additional">
               <caption>
                  Eligible Plans Additional
               </caption>
               <colgroup>
                  <col span="1" width="11%">
                  <col span="1" width="25%">
                  <col span="1" width="8%">
                  <col span="1" width="8%">
                  <col span="1" width="8%">
                  <col span="1" width="8%">
                  <col span="1" width="8%">
                  <col span="1" width="8%">
                  <col span="1" width="5%">
                  <col span="1" width="4%">
                  <col span="1" width="6%">
               </colgroup>
            <thead>
               <tr>
                  <th scope="col" >PLAN NUMBER</th>
                  <th scope="col" >PLAN NAME</th>
                  <th scope="col" >SUB PLANS</th>
                  <th scope="col" >
                     CONTRIB/ NON  CONTRIB
                  </th>
                  <th scope="col" >MAND VOL CONT</th>
                  <th scope="col" >CONTRIB SOURCE</th>
                  <th scope="col" >AUTO ENROLL</th>
                  <th scope="col" >OPT OUT ALLOWED</th>
                  <th scope="col" >TC OSDA</th>
                  <th scope="col" >RO IN</th>
                  <!-- <th scope="col" >AUTO SAVE</th>
               <th scope="col" >DEFAULT ENR. ENABLED</th>
               -->
               <th scope="col" >ACTIONS</th>
            </tr>
         </thead>
         <tbody>
         <tr>
            <td>
               <a href="">151562</a>
            </td>
            <td>
               QA NYU HOSPITALS CENTER<br> 457(B) <a href="#" title="SIMULATE" class="sim2">SIMULATE</a>          
            </td>
            <td>GA1001</td>
            <td><a href="#">C</a></td>
            <td>V</td>
            <td><a href="#">E</a></td>
            <td>NO</td>
            <td><a href="#">NO</a></td>
            <td>Yes</td>
            <td>NO</td>
            <!-- <td>No</td>
         <td>Yes</td>
         -->
         <td class="txtr actionBtns">
             <!-- <button class="btn3 btnSmall noFunc" id="sdaBtn5" title="Enter SDA">
                  <span>Enter SDA</span>
               </button>
               <button class="btn2 btnSmall hidden" id="enrollBtn5 " title="Enroll">
                  <span>Enroll</span>
               </button>-->
             <button class="btn2 btnSmall" id="enrollBtn11" title="Enroll">
                       <span>Enroll</span>
                     </button>
               <span class="inProcess hidden">
                  <img src="assets/images/wait_alt.gif" alt="In Process"></span>
               <span class="txthlt5 complete hidden">Completed!</span>
         </td>
         </tr>
         <tr class="hideRow">
               <td>
                  <a href="">403400</a>
               </td>
               <td>
                 QA NYU HOSPITALS CENTER & PARTICIPATING EMPLOYERS<br> 403(B) <a href="#" title="SIMULATE" class="sim2">SIMULATE</a>   
               </td>
               <td>GS1001</td>
              <td><a href="#">C</a></td>
           <td>V</td>
           <td><a href="#">E</a></td>
           <td>NO</td>
           <td><a href="#">NO</a></td>
           <td>Yes</td>
           <td>NO</td>
               <!-- <td>No</td>
            <td>Yes</td>
            -->
            <td class="txtr actionBtns">
              <!-- <button class="btn3 btnSmall noFunc" id="sdaBtn6" title="Enter SDA">
                  <span>Enter SDA</span>
               </button>-->
               <button class="btn2 btnSmall" id="enrollBtn12" title="Enroll">
                  <span>Enroll</span>
               </button>
               <span class="inProcess hidden">
                  <img src="assets/images/wait_alt.gif" alt="In Process"></span>
               <span class="txthlt5 complete hidden">Completed!</span>
            </td>
         </tr>
         </tbody>
         </table>
         <div class="mts dim">
        
      Sole Record keeping Enrollment. Please enter all Default Enrollments for this Employer prior to inputting Salary Deferral Agreements(s) for CONTRIBUTORY Plans
         </div>

            <div class="btnBar nbdr">
           <!--  <button class="btn updateBtn btnSmall" id="uptAddrBtn" title="Update Address">
            <span>Update Address</span>
            </button> -->

            <button class="btn updateBtn btnSmall" id="uptBtn6" title="Update">
            <span>Update</span>
            </button>
            </div>
         </div>
       
         </div>
      </div>
   </div>



   <!-- Active Plans Start Here -->
   <div class="hd" id="ActivePlans">
      <h3 id="ActivePlans1">
         <a class="expanded" href="javascript:void(0)" title="Select to expand or collapse content below">
         <span class="icon">+</span>Active Plans</a>
      </h3>
   </div>
   <div class="content nbdr pt">
      <div class="bd">
         <div class="showActiveTable">
         <table id="activePlanTbl" class="styleB fullwidth" summary="Active Plans" role="Active Plans">
            <colgroup>
               <col span="1" width="6%">
               <col span="1" width="25%">
               <col span="1" width="6%">
               <col span="1" width="8%">
               <col span="1" width="9%">
               <col span="1" width="6%">
               <col span="1" width="6%">
               <col span="1" width="6%">
               <col span="1" width="8%">
               <col span="1" width="8%">
               <col span="1" width="9%">
            </colgroup>
            <thead>
               <tr>
                  <th scope="col">PLAN NUMBER</th>
                  <th scope="col">PLAN NAME</th>
                  <th scope="col">SUBPLAN NUMBER</th>
                  <th scope="col">TC OSDA</th>
                  <th scope="col">BR. ACCT ENABLED</th>
                  <th scope="col">AUTO SAVE</th>
                  <th scope="col">CONTRIB SOURCE</th>
                  <th scope="col">RO IN</th>
                  <th scope="col">DEFAULT ENROLLED?</th>
                  <th scope="col">Effective Date</th>
                  <th scope="col">Actions</th>
               </tr>
            </thead>
            
            <tbody>
                <tr class="row1 closed">
                  <td><a href="">403400</a></td>
                  <td>QA NYU HOSPITALS CENTER & PARTICIPATING EMPLOYERS 403(B)  <a href="#" title="SIMULATE" class="disabled">SIMULATE</a></td>
                  <td>GA1001</td>
                  <td>Yes</td>
                  <td>No</td>
                  <td>Yes</td>
                  <td>E</td>
                  <td>Yes</td>
                  <td>No</td>
                  <td><span class="sdaDate lastfivedays"></span></td>
                  <td class="txtr actionBtns">
                     <button class="btn3 btnSmall" id="modify-sda-1" title="Modify SDA">
                       <span>Modify SDA</span>
                     </button>
                     <span class="inProcess hidden"><img src="assets/images/wait_alt.gif" alt="In Process"></span>
                  </td>
               </tr>
               <!-- <tr class="row1 closed">
                  <td><a href="">151212</a></td>
                  <td>SUNY ORP - CORNELL<br/> CONTRACT COLLEGES <a href="#" title="SIMULATE" class="disabled">SIMULATE</a></td>
                  <td>GR1001</td>
                  <td>Yes</td>
                  <td>No</td>
                  <td>Yes</td>
                  <td>E</td>
                  <td>Yes</td>
                  <td>No</td>
                  <td><span class="sdaDate lastfivedays"></span></td>
                  <td class="txtr actionBtns">
                     <button class="btn3 btnSmall" id="modify-sda-1" title="Modify SDA">
                       <span>Modify SDA</span>
                     </button>
                     <span class="inProcess hidden"><img src="assets/images/wait_alt.gif" alt="In Process"></span>
                  </td>
               </tr> -->
              <!--  <tr class="row2 closed">
                  <td><a href="">151166</a></td>
                  <td> SUNY OPTIONAL RETIREMENT PROGRAM
               <span class="dim">
                  (ADIRONDACK COMMUNITY COLLEGE)
               </span></td>
                  <td>External Vendor</td>
                  <td>Yes</td>
                  <td>Yes</td>
                  <td>No</td>
                  <td>E</td>
                  <td>Yes</td>
                  <td>Yes</td>
                  <td><span class="sdaDate lastfivedays"></span></td>
                  <td class="txtr actionBtns">
                     <button class="btn3 btnSmall" title="Modify SDA">
                       <span>Modify SDA</span>
                     </button>
                     <span class="inProcess hidden"><img src="assets/images/wait_alt.gif" alt="In Process"></span>
                  </td>
               </tr> -->
            </tbody>
         </table>
         <div class="btnBar nbdr">
            <button class="btn updateBtn btnSmall" title="Update"><span>Update</span></button>
         </div>
         </div>
         <div class="hideActiveTable">
         <table id="activePlanTbl" class="styleB fullwidth" summary="Active Plans" role="Active Plans">
            <colgroup>
               <col span="1" width="6%">
               <col span="1" width="25%">
               <col span="1" width="6%">
               <col span="1" width="8%">
               <col span="1" width="9%">
               <col span="1" width="6%">
               <col span="1" width="6%">
               <col span="1" width="6%">
               <col span="1" width="8%">
               <col span="1" width="8%">
               <col span="1" width="9%">
            </colgroup>
            <thead>
               <tr>
                  <th scope="col">PLAN NUMBER</th>
                  <th scope="col">PLAN NAME</th>
                  <th scope="col">SUBPLAN NUMBER</th>
                  <th scope="col">TC OSDA</th>
                  <th scope="col">BR. ACCT ENABLED</th>
                  <th scope="col">AUTO SAVE</th>
                  <th scope="col">CONTRIB SOURCE</th>
                  <th scope="col">RO IN</th>
                  <th scope="col">DEFAULT ENROLLED?</th>
                  <th scope="col">Effective Date</th>
                  <th scope="col">Actions</th>
               </tr>
            </thead>
            <tbody>
			    <tr class="hiderow closed">
                  <td colspan="11" class="txtc">
				  &nbsp;
                  </td>                 
               </tr>
               <tr class="planInfo">
                  <td colspan="11" class="txtc">
                     Plan Information as it is todays sysytem
                  </td>                 
               </tr>
            </tbody>
         </table>
         </div>
      </div>
   </div>
   <!-- End of Active Plans -->
   
</div>
<!-- End Pannel -->
<script type="text/javascript" src="assets/js/jquery.swfobject.1-1-1.min.js"></script>

<div id="startVideo" class="popup" data-popup="width:820,height:700" title="Overview">
   <div class="body">
      <div id="flashInteract">
         <div class="movie"></div>
      </div>
   </div>
</div>

     
<div id="startVideo1" class="popup" data-popup="width:820,height:700" title="Overview">
   <div class="body">
      <div id="flashInteract1">
         <div class="movie"></div>
      </div>
   </div>
</div>