<div id="saveFormData" class="popup" data-popup="width:500" title="Formatting Your Address">
   <div class="body">
      <span>
         The U.S Postal Service recommends using the standardized address format shown below. Please select which version you want to use.
      </span>
      <h3>Mailing Address</h3>
      <div class="blbdr uspsWrap1">
         <div class="uspsWrap2">
            <div class="one_half">
               <p class="nm pl pt txtb">Your Verson:</p>
               <p id="mAddress" class="txtn pl pb">
                  8500 ANDREW CARENEGIE BLVD
                  <br />
                  CHARLOTTE, NC 28262
               </p>
            </div>
            <div class="one_half column_last">
               <p class="nm pl pt txtb">USPS Format:</p>
               <p  id="uspsAddress" class="txtn pl pb">
                  8500 ANDREW CARENEGIE BLVD
                  <br />
                  CHARLOTTE, NC 28262
               </p>
            </div>
         </div>
      </div>
      <div class="clear"></div>
      <!--<h3>Residential Address</h3>
      <div class="blbdr uspsWrap1">
         <div class="uspsWrap2">
            <div class="one_half">
               <p class="nm pl pt txtb">Your Verson:</p>
               <p class="txtn pl pb">
                  140 BENCHLEY PLAPT 19A
                  <br />
                  BRON, NY 10475
               </p>
            </div>
            <div class="one_half column_last">
               <p class="nm pl pt txtb">USPS Format:</p>
               <p class="txtn pl pb">
                  140 BENCHLEY PLAPT 19A
                  <br />
                  BRON, NY 10475
                  <br>
                  Testing line
                  <br />
                  Testing line
               </p>
            </div>
         </div>
      </div>
      <div class="clear"></div>-->
      <div class="btnBar">
         <button class="btn3 fll" title="Edit Address">
            <span>Edit Address</span>
         </button>
         <button class="saveadd btn flr" title="Use USPS Format">
            <span>Use USPS Format</span>
         </button>
         <button class="saveadd btn3 flr" title="Use Your Versions">
            <span>Use Your Version</span>
         </button>
      </div>
   </div>
</div>

<!-- Residential Address -->
<div id="saveResidentialAdd" class="popup" data-popup="width:500" title="Telephone Enrollment Disclosure - Patricia Pension">
   <div class="body">
      <div class="compact">

       <div class="alertModule" aria-live="assertive" id="res-add-alert" >
           <div>
            <span class="icon"></span>
             <ul>
               <li id="ra_line1-err">Residence Address Line 1 is a required field. Please enter</li>
               <li id="ra_city-err">Residence City is a required field. Please enter</li>
               <li id="ra_state-err">Residence State is a required field. Please enter</li>
               <li id="ra_zip_1-err">Residence Zip Code is a required field. Please enter</li>
             </ul>
           </div>
         </div>

         <div class="lblFieldPair">
            <div class="lbl">
               <span class="txthlt2">Residential Address</span>
            </div>
            <div class="input">
               <input type="checkbox" aria-required="" name="Raddress" id="sameaddress">
               <label for="financialdoc">Same as Mailing Address</label>
            </div>
         </div>
         <div class="lblFieldPair ">
            <div class="lbl">
               <label for="RA_Country">
               <span class="required" title="required">*</span>
               Country
               </label>
            </div>
            <div class="input">
               <select name="RA_Country" aria-required="" id="RA_Country1">
                  <option selected="selected" value="USA">United States Of America</option>
                  <option value="Canada">Canada</option>
                  <option value="Bahamas">Bahamas</option>
               </select>
            </div>
         </div>
         <div class="addrFields" id="USA">
            <div class="lblFieldPair ">
               <div class="lbl">
                  <label for="RA_Line1">
                  <span class="required" title="required">*</span>
                  Line 1
                  </label>
               </div>
               <div class="input">
                  <input type="text" name="RA_Line1" value="" aria-required="true" class="inputlg" id="ra_line1">
               </div>
            </div>
            <div class="lblFieldPair ">
               <div class="lbl">
                  <label for="RA_Line2">
                  Line 2
                  </label>
               </div>
               <div class="input">
                  <input type="text" name="RA_Line2" value="" aria-required="" class="inputlg" id="ra_line2">
               </div>
            </div>
           <!--  <div class="lblFieldPair ">
               <div class="lbl">
                  <label for="RA_Line3">
                  Line 3
                  </label>
               </div>
               <div class="input">
                  <input type="text" name="RA_Line3" value="" aria-required="" class="inputlg" id="ra_line3">
               </div>
            </div> -->
            <div class="lblFieldPair ">
               <div class="lbl"><label for="RA_City">
                  <span class="required" title="required">*</span>
                  City
                  </label>
               </div>
               <div class="input">
                  <input type="text" name="RA_City" value="" aria-required="true" class="inputlg" id="ra_city">
               </div>
            </div>
            <div class="lblFieldPair ">
               <div class="lbl"><label for="dayphone">
                  <span class="required" title="required">*</span>
                  State
                  </label>
               </div>
               <div class="input">
                  <select name="RA_State" aria-required="" id="ra_state">
                     <option selected="selected" value="none">Please Select</option>
                     <option value="AL">ALABAMA</option>
                     <option value="AK">ALASKA</option>
                     <option value="AZ">ARIZONA</option>
                     <option value="AR">ARKANSAS</option>
                     <option value="CA">CALIFORNIA</option>
                     <option value="CO">COLORADO</option>
                     <option value="CT">CONNECTICUT</option>
                     <option value="DE">DELAWARE</option>
                     <option value="DC">DISTRICT OF COLUMBIA</option>
                     <option value="FL">FLORIDA</option>
                     <option value="GA">GEORGIA</option>
                     <option value="GU">Guam</option>
                     <option value="HI">HAWAII</option>
                     <option value="ID">IDAHO</option>
                     <option value="IL">ILLINOIS</option>
                     <option value="IN">INDIANA</option>
                     <option value="IA">IOWA</option>
                     <option value="KS">KANSAS</option>
                     <option value="KY">KENTUCKY</option>
                     <option value="LA">LOUISIANA</option>
                     <option value="ME">MAINE</option>
                     <option value="MD">MARYLAND</option>
                     <option value="MA">MASSACHUSETTS</option>
                     <option value="MI">MICHIGAN</option>
                     <option value="MN">MINNESOTA</option>
                     <option value="MS">MISSISSIPPI</option>
                     <option value="MO">MISSOURI</option>
                     <option value="MT">MONTANA</option>
                     <option value="NE">NEBRASKA</option>
                     <option value="NV">NEVADA</option>
                     <option value="NH">NEW HAMPSHIRE</option>
                     <option value="NJ">NEW JERSEY</option>
                     <option value="NM">NEW MEXICO</option>
                     <option value="NY">NEW YORK</option>
                     <option value="NC">NORTH CAROLINA</option>
                     <option value="ND">NORTH DAKOTA</option>
                     <option value="OH">OHIO</option>
                     <option value="OK">OKLAHOMA</option>
                     <option value="OR">OREGON</option>
                     <option value="PA">PENNSYLVANIA</option>
                     <option value="PR">PUERTO RICO</option>
                     <option value="PW">Palau</option>
                     <option value="RI">RHODE ISLAND</option>
                     <option value="SC">SOUTH CAROLINA</option>
                     <option value="SD">SOUTH DAKOTA</option>
                     <option value="TN">TENNESSEE</option>
                     <option value="TX">TEXAS</option>
                     <option value="UT">UTAH</option>
                     <option value="VT">VERMONT</option>
                     <option value="VA">VIRGINIA</option>
                     <option value="WA">WASHINGTON</option>
                     <option value="WV">WEST VIRGINIA</option>
                     <option value="WI">WISCONSIN</option>
                     <option value="WY">WYOMING</option> 
                  </select>
               </div>
            </div>
            <div class="lblFieldPair ">
               <div class="lbl">
                  <label for="RA_Zip"><span class="required" title="required">*</span>Zip Code</label>
               </div>
               <div class="input">
                  <input type="text" aria-required="true" value="" class="txtr" size="5" maxlength="5" name="RA_Zip" id="ra_zip_1">          
                  &ndash; 
                  <label class="screenReader" for="RA_Zip">Zip Plus Four</label> 
                  <input type="text" aria-required="false" value="" class="txtr ml" size="4" maxlength="4" name="RA_Zip" id="ra_zip_2">
               </div>
            </div>
         </div>


         <div class="addrFields" id="Canada">
            <div class="lblFieldPair ">
               <div class="lbl">
                  <label for="RA_Line1">
                  <span class="required" title="required">*</span>
                  Line 1
                  </label>
               </div>
               <div class="input">
                  <input type="text" name="RA_Line1" value="" aria-required="" class="inputlg" id="ra_line1">
               </div>
            </div>
            <div class="lblFieldPair ">
               <div class="lbl">
                  <label for="RA_Line2">
                  Line 2
                  </label>
               </div>
               <div class="input">
                  <input type="text" name="RA_Line2" value="" aria-required="true" class="inputlg" id="ra_line2">
               </div>
            </div>
            <div class="lblFieldPair ">
               <div class="lbl"><label for="RA_City">
                  <span class="required" title="required">*</span>
                  City
                  </label>
               </div>
               <div class="input">
                  <input type="text" name="RA_City" value="" aria-required="" class="inputlg" id="ra_city">
               </div>
            </div>
            <div class="lblFieldPair ">
               <div class="lbl"><label for="dayphone">
                  <span class="required" title="required">*</span>
                  Province
                  </label>
               </div>
               <div class="input">
                  <select name="RA_State" aria-required="" id="ra_state">
                     <option selected="selected" value="none">Please Select</option>
                  </select>
               </div>
            </div>
            <div class="lblFieldPair ">
               <div class="lbl">
                  <label for="RA_Zip"><span class="required" title="required">*</span>Postal Code</label>
               </div>
               <div class="input">
                  <input type="text" aria-required="true" value="" class="txtr" size="5" maxlength="5" name="RA_Zip" id="ra_zip_1">          
                  &ndash; 
                  <label class="screenReader" for="RA_Zip">Zip Plus Four</label> 
                  <input type="text" aria-required="false" value="" class="txtr ml" size="4" maxlength="4" name="RA_Zip" id="ra_zip_2">
               </div>
            </div>
         </div>

         <div class="addrFields" id="Bahamas">
            <div class="lblFieldPair ">
               <div class="lbl">
                  <label for="RA_Line1">
                  <span class="required" title="required">*</span>
                  Line 1
                  </label>
               </div>
               <div class="input">
                  <input type="text" name="RA_Line1" value="" aria-required="" class="inputlg" id="ra_line1">
               </div>
            </div>
            <div class="lblFieldPair ">
               <div class="lbl">
                  <label for="RA_Line2">
                  Line 2
                  </label>
               </div>
               <div class="input">
                  <input type="text" name="RA_Line2" value="" aria-required="true" class="inputlg" id="ra_line2">
               </div>
            </div>
            <!-- <div class="lblFieldPair ">
               <div class="lbl">
                  <label for="RA_Line3">
                  Line 3
                  </label>
               </div>
               <div class="input">
                  <input type="text" name="RA_Line3" value="" aria-required="true" class="inputlg" id="ra_line3">
               </div>
            </div> -->
         </div>

        <!-- <div class="flr prxlg"><span class="required">*</span>required fields</div>-->
      <div class="bsep"></div>
       <div class="lbl mtm">
         <span class="txthlt2 p">Enrollment Disclosure</span>
      </div>
      <p class="p"> "Distributions from 403(b) plans before age 59 1/2, severance from employement, death, or disability may be prohibited, limited, and/or
      subject to substantial tax penalties. Different restrictions may apply to other types of plan" </p>
      
   <div class="lblFieldPair">
      <div class="lbl tqw mr">
            <label id="disclosure" class="txtb">I verify that I have read the Enrollment Disclosure to the caller.</label>
      </div>
      <div class="input">
         <input type="checkbox" class="chkbox flr" id="disclosure-verification" name="disclosure-verification" aria-required="false" aria-labelledby="disclosure-verification" />
      </div>
   </div> 
      
      </div>
      <div class="clear"></div>
      <div class="btnBar">
         <button class="btn3 fll popBtn" title="Cancel">
            <span>Cancel</span>
         </button>
         <button class="btn btnOff flr popBtn" title="Save" id="saveAddress">
            <span>SAVE</span>
         </button>
      </div>
   </div>
</div>
<div id="verification" class="popup" data-popup="width:500" title="Enrollment Disclosure- Patricia Pension">
   <div class="body">
   <div class="lbl mtm">
         <span class="txthlt2 p">Enrollment Disclosure</span>
      </div>
      <p class="p"> "Distributions from 403(b) plans before age 59 1/2, severance from employement, death, or disability may be prohibited, limited, and/or
      subject to substantial tax penalties. Different restrictions may apply to other types of plan" </p>
      
   <div class="lblFieldPair ltr">
      <div class="lbl tqw mr">
            <label id="disclosure" class="txtb">I verify that I have read the Enrollment Disclosure to the caller.</label>
      </div>
      <div class="input">
         <input type="checkbox" class="chkbox flr" id="chkverification" name="verification" aria-required="false" aria-labelledby="verification" />
      </div>
   </div> 
      <div class="clear"></div>
      <div class="btnBar">
         <button class="btn3 fll popBtn" title="Cancel">
            <span>Cancel</span>
         </button>
         <button class="btn btnOff flr popBtn" title="Save" id="saveVerification">
            <span>SAVE</span>
         </button>
      </div>
    </div>
</div>
<div id="fastLaneHelp" class="popup" data-popup="width:460" title="Fast Lane Help Text">
    <div class="body">
	  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
	  <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</p>
	     <div class="btnBar">
		     <a href="#closePopup" class="btn btnSmall" title="Done" role="button">
                <span>Done</span>
             </a>
         </div>
	 </div>
	
 </div>
  <div id="findAccessCode" class="popup" data-popup="width:900" title="Find Access Code">
    <div class="body">
	   <div class="fll">
	      <div class="lblFieldPair">
              <div class="lbl">
                  <label for="Search_Location">
                     Enter Client / Employer Name
                   </label>
              </div>
		   <div class="input">
              <!-- <input id="Search_Location1" class="inputxxlg" type="text" aria-required="true" value="" name="Search_Location">-->
            </div>
	    </div>
		 </div>
     
		<div class="fll">
		   <div class="searchBox">
              <form>
                  <input type="text" autocomplete="on"  title="Search"  class="txtInputgs" name="searchBox-input"  id="searchBox-input"onFocus="this.value = (this.value=='Search')? '' : this.value;" value="Search">
                  <input type="submit" class="btnSubmit" title="Submit" value="&nbsp;">
             </form>
         </div> 
		</div>
	    <div class="fll">
		   <div class="btnBar nbdr nmt npt">           
            <!--  <a class="btn btnSmall" href="#" title="Search" id="accessSearch" role="button"><span>Search</span></a> -->
			  
           </div>
		</div>
         <div class="clear"></div>
	     <div class="lblFieldPair hide" id="sel-loc">
            <div class="lbl">
               <label for="Select_Location1">
               Select Location
               </label>
            </div>
            <div class="input">
               <select name="Select_Location" aria-required="" id="Select_Location1">
                 <option value="All" selected="selected">All</option>
                  <option value="loc1">Location 1 - Howard University</option>
                  <option value="loc2">Location 2 - Howard University</option>
                  <option value="loc3">Location 3 - Howard University</option>
               </select>
            </div>
         </div>
      <div id="acc-code-tbl">
       <table id="tbl_accesscode" class="styleA fullwidth" summary="Access Code">
          <caption>Access Code</caption>
          <thead>
           <tr>
             <th scope="col" data-sort="false" data-sortdatatype="string" data-sortfilter="true">Access Code</th>
             <th scope="col" data-sort="false" data-sortdatatype="string" data-sortfilter="true">Plan.No</th>
             <th scope="col" data-sortname="planName" data-sort="true" data-sortdatatype="date" data-sortfilter="true">Plan Name</th>
			 <th scope="col" data-sort="false" data-sortdatatype="date" data-sortfilter="true">Sub Plan</th>
			 <th scope="col" data-sortname="createDate" data-sort="true" data-sortdatatype="date" data-sortfilter="true">Create Date</th>
			 <th scope="col">Actions</th>
           </tr>
          </thead>
         <tbody>
          <tr class="hiderow loc1 closed">
             <td>104612</td>
             <td>150302<br/>150303<br/>150304</td>
             <td>HOWARD UNIVERSITY TAX DEFFERED ANNUITY PLAN<br/>HOWARD UNIVERSITY 403(B) SAVINGS PLAN (HUH)<br/>HOWARD UNIVERSITY HOSPITAL TAX DEFFERED ANNUITY PLAN</td>
			 <td>GS1001<br/>RA6001<br/>GS1001</td>
             <td>6/25/2008</td>
             <td><a class="btn btnSmall" role="button" title="Select" href="#"><span>Select</span></a></td>
			
          </tr>
		   <tr class="hiderow loc2 closed">
             <td>DC150343</td>
             <td>150343<br/>150344<br/>346991</td>
             <td>HOWARD UNIVERSITY 403(B) SAVINGS PLAN (HUH)<br/>HOWARD UNIVERSITY HOSPITAL TAX DEFFERED ANNUITY PLAN<br/>HOWARD UNIVERSITY MEDICAL ALUMNI ASSOCIATION 403(B) DC PLAN</td>
			 <td>GS1001<br/>RA6001<br/>GS1001</td>
             <td>6/25/2008</td>
              <td><a class="btn btnSmall" role="button" title="Select" href="#"><span>Select</span></a></td>
          </tr>
		   <tr class="hiderow loc3 closed">
             <td>DC150344</td>
             <td>150344</td>
             <td>HOWARD UNIVERSITY HOSPITAL TAX DEFFERED ANNUITY PLAN</td>
			 <td>GS1001</td>
             <td>6/25/2008</td>
              <td><a class="btn btnSmall" role="button" title="Select" href="#"><span>Select</span></a></td>
          </tr>
          <tr class="hiderow loc3 closed">
             <td>DC150343</td>
             <td>150343<br/>150344<br/>346991</td>
             <td>HOWARD UNIVERSITY 403(B) SAVINGS PLAN (HUH)<br/>HOWARD UNIVERSITY HOSPITAL TAX DEFFERED ANNUITY PLAN<br/>HOWARD UNIVERSITY MEDICAL ALUMNI ASSOCIATION 403(B) DC PLAN</td>
          <td>GS1001<br/>RA6001<br/>GS1001</td>
             <td>6/25/2008</td>
              <td><a class="btn btnSmall" role="button" title="Select" href="#"><span>Select</span></a></td>
          </tr>
         <tr class="hiderow loc2 closed">
             <td>DC150344</td>
             <td>150344</td>
             <td>HOWARD UNIVERSITY HOSPITAL TAX DEFFERED ANNUITY PLAN</td>
          <td>GS1001</td>
             <td>6/25/2008</td>
              <td><a class="btn btnSmall" role="button" title="Select" href="#"><span>Select</span></a></td>
          </tr>
         </tbody>
    </table>
  </div>
  <div class="btnBar">
     <button class="btn3 fll btnSmall" title="Close" id="acc-close" role="button"><span>Close</span></button>
     <button class="btn3 btnSmall" id="acc-reset" title="Reset" role="button"><span>Reset</span></button>
     <!-- <a class="btn3 btnSmall" href="#" title="Clear" id="accessClear" role="button"><span>Clear</span></a> -->
   </div>

    <script type="text/javascript">
    var tbl_persons__js = new tiaacref.tableSort({
    id: '#tbl_accesscode',
    multiSort: false,
    onBeforeSort: function(e){''},
    onAfterSort: function(e){''},
    caseSensitive: false,
    initialSort: ''
    });
    tbl_persons__js.sort( 'planName', 'desc', false );
    </script> 

	</div>	
 </div>