<div class="pageTitleUD">
  <img class="mr" src="/themes/ud_atom/images/userlogo.png">
  <h1 class="first titlePage">The Johns Hopkins University Open Enrollment </h1>
  <span class="last titleUser proto_new">Unknown Participant</span>
  <span class="last titleUser proto_existing">Carol Brady</span>
</div>