<div class="pageTitleUD">
  <img class="mr" src="/themes/ud_atom/images/userlogo.png">
  <h1 class="first titlePage">Default Telephone Enrollment</h1>
  <span id="titleNameC" class="last titleUser proto_new">Unknown Participant</span>
</div>