<!-- <div class="pageTitleUD">
  <img class="mr" src="/themes/ud_atom/images/userlogo.png">
  <h1 class="first titlePage protoDyna suny">STATE UNIVERSITY OF NEW YORK - TAX DEFERRED ANNUITY PLAN  -  </h1>
  <h1 class="first titlePage protoDyna nyu max">QA NYU HOSPITALS PARTICIPATING EMPLOYERS - </h1>
  <h1 class="first titlePage protoDyna default">SUNY/CORNELL Default Telephone Enrollment - </h1>
  <span class="last titleUser proto_existing">Carol Brady</span>
</div> -->

<!-- Specific for TeleEnroll -->

<!-- <div class="pageTitleWrapper"> -->
        <!-- Common Utility Section -->
        <div class="flr mts ohidden txtb">
            <div class="txtr mrm mbs">
                <span class="descl txtb txts txtupper ml">
                For internal use only
                </span>                
            </div>
        </div>
        <!-- Common Utility Section -->
        <div class="pageTitleUD">
            <div class="fll mrs titleContext">
                <a id="advisorToolsLink" title="Advisor's Tools" href="#advisorToolsMenu" class="actions jq-actions" data-position="left" role="button" aria-haspopup="true" tabindex="0" aria-owns="advisorToolsMenu">
                <img src="../../themes/ud2_atom/images/userlogo_ud2.png" alt="User Logo" class="mls" title="User Logo">
                <span class="icon"></span>
                </a>
            </div>
            <div id="advisorToolsMenu" class="actionsMenu" aria-hidden="true" role="menu" aria-expanded="false">
                <div class="leftnav ptb prlg">
                    <div class="leftNavInner contextMenu">
                        <h2 class="txtlg mb proto_existing">Topics for QA NYU HOSPITALS PARTICIPATING EMPLOYERS</h2>
                        <ul class="leftul pls">
							<li role="menuitem"><a href="#" title="Admin Web Center">Admin Web Center</a>
							<li role="menuitem"><a href="#" title="Microsite">Microsite</a></li>
							<li role="menuitem"><a href="#" title="Direct Segment">Direct Segment</a></li>
							<li role="menuitem"><a href="#" title="Plan Rules">Plan Rules</a></li>
							<li role="menuitem"><a href="#findAccessCode" title="Find Access Code" id="fndAccCd">Find Access Code</a></li>                            
                        </ul>
                    </div>
                </div>
            </div>
			<h1 class="fll titlePage protoDyna suny">STATE UNIVERSITY OF NEW YORK - TAX DEFERRED ANNUITY PLAN </h1>
			<h1 class="fll titlePage protoDyna nyu max">QA NYU HOSPITALS PARTICIPATING EMPLOYERS </h1>
			<h1 class="fll titlePage protoDyna default">SUNY/CORNELL Default Telephone Enrollment </h1>

        </div>
        <div class="clear"></div>
        <div class="clearfix">
            <!-- Application Name -->
            <div class="two_fifth pageTitleUD">
                <div class="fll mts mlxs titleUser pageTitleText">Open Enrollment </div>
            </div>
            <!-- Page Indicators -->
            
        </div>
    <!-- </div> -->