<div class="alertModule" aria-live="assertive" id="mainAlert">
	<div>
		<span class="icon"></span>
		<h4>Error:</h4>
		<span data-alert="msg1" class="errorMsg closed">The Social Security Number entered is not found. In order to proceed with this enrollment, either enter a valid access code OR click the Cancel button and re-enter a valid SSN, PIN/NPIN or Contact Number.</span>
		<span data-alert="msg2" class="errorMsg closed">The specified PIN / NPIN was not found :<span class="pin"></span>. In order to proceed with this enrollment, either enter a valid access code OR click the Cancel button and re-enter a valid SSN, PIN/NPIN or Contact Number.</span>
		<span data-alert="msg3" class="errorMsg closed">The specified Contract number was not found :<span class="pin"></span>. In order to proceed with this enrollment, either enter a valid access code OR click the Cancel button and re-enter a valid SSN, PIN/NPIN or Contact Number.</span>
		<span data-alert="msg4" class="errorMsg closed">Please enter a valid SSN or PIN/NPIN or TIAA/CREF Number.</span>		
	</div>
</div>
<div class="clear"></div>
<!-- Panels -->
<div class="panels">
	<!-- Enrollment LookUp Starts Here -->
	<div class="hd first" id="EnrollmentLookUp">
		<h3 id="EnrollmentLookUp1"><a href="#" class="expanded" title="Select to expand or collapse content below"><span class="icon">+</span>Enrollment Look Up</a></h3>
	</div>
	<div class="content">
		<div class="bd mtblg">
			<div class="leftNavMenu">
			<form action="#" method="post" name="lookupForm1" id="lookupForm1" class="">					
				<div class="lblFieldPairGroup">
					<div class="lblFieldPairV mrxlg prlg">
						<div class="lbl">
							<label for="ssn">SSN</label>
						</div>
						<div class="input">
							<input type="text" aria-required="true" data-error="msg1" id="ssn" name="ssn" maxlength="3" size="3" class="txtr  elookup ssn numeric" />
							- <label class="screenReader" for="ssn">Day</label> 
							<input type="text" aria-required="true" data-error="msg1" id="ssn1" name="ssn" maxlength="2" size="2" class="txtr ml elookup ssn numeric" />
							- <label class="screenReader" for="ssn1">Year</label> 
							<input type="text" aria-required="true" data-error="msg1" id="ssn2" name="ssn" maxlength="4" size="4" class="txtr ml elookup numeric" />
						</div>
					</div>
					<div class="lblFieldPairV mrxlg prlg">
						<div class="lbl">
							<label for="pin_npin">PIN/NPIN</label>
						</div>
						<div class="input">
							<input type="text" class="elookup" data-error="msg2" aria-required="true" name="pin_npin" id="pin_npin">
						</div>
					</div>
					<div class="lblFieldPairV">
						<div class="lbl">
							<label for="tiaa_cref_number">TIAA/CREF Number</label>
						</div>
						<div class="input">
							<input type="text" class="elookup" data-error="msg3" aria-required="true" name="tiaa_cref_number" id="tiaa_cref_number">
						</div>								
						<div class="btnBar nbdr mr mtlg">
							<!--<input type="reset" value="Clear" id="resetEnb" class="btn btnLink btnSmall mrm" title="Clear" />-->
							<a class="mrm" title="Clear" id="resetEnb" href="#"><span>Clear</span></a>
							<input type="button" value="Look Up" id="elookup" class="btn btnSmall" title="Look Up" />
						</div>
					</div>							
				</div>
				<div class="clear"></div>				
			</form>
			<form name="lookupForm2" id="lookupForm2" action="#">			
			
				<div class="lblFieldPairV">
					<div class="lbl"><label  class="txtb screenReader">Look up Form 2</label></div>
					<div class="input">
					<fieldset>
					  <legend><span class="screenReader">Look up Form 2</span></legend>
					  <ul class="lblinline">
						<li>
						  <input type="radio" id="accessCode1" name="lookupRadio" checked aria-labelledby="accessCode1" />
						  <label for="accessCode1">Access Code</label>
						</li>
						<li>
						  <input type="radio" id="empAccessCode" name="lookupRadio" aria-labelledby="empAccessCode" />
						 <label for="empAccessCode">Employer Plans &amp; Access Codes</label>
						</li>
						<li class="cr1181Content hidden">
						  <input type="radio" id="sunyTDACode" name="lookupRadio" aria-labelledby="sunyTDACode" />
						 <label for="sunyTDACode">SUNY TDA</label>
						</li>
					  </ul>
					</fieldset>
				  </div>
				</div>
				<div class="clear"></div>
				<div class="lblFieldPairGroup accesCodeInput">
					<div class="lblFieldPair nth mtm">
						<!-- <div class="lbl">
							<label for="accessCode1">Access Code</label>
						</div> -->
						<div class="input">
							<input type="text" class="inputs" name="accessCode1" id="accessCode1" maxlength="9" title="Enter 101010a or 405800 or 151212 or 406081">
							<button id="searchAccess" class="btn btnSmall ml goBtn btnOff" title=""><span>Search</span></button>
						</div>
					</div>
					<div class="lblFieldPair nth mtm" id="lookupProcess">
						<span class="inProcess"><img src="assets/images/wait_alt.gif" alt="In Process"></span>
					</div>
					<!-- <div class="lblFieldPair nth mtm" id="lookupBtns">
						<span class="fll mrm"><button id="lookupNextBtn" class="btn btnSmall btnOff" title="Next"><span>Next</span></button></span>
						<span class="fll"><button id="lookupCancelBtn" class="btn3 btnSmall" title="Cancel"><span>Cancel</span></button></span>
					</div>
 -->				</div>
				<div class="alertModule" aria-live="assertive" id="subAlert1">
					<div>
						<span class="icon"></span>
						<span class="invalidACodeMsg closed">Invalid Access Code <span id="err-acc-code">xxxxxx</span>. Please enter a valid Access Code.</span>
						<span class="rpeFormMsg closed">Advise caller to submit the <a target="_blank" href="http://www.suny.edu/retirement/overview/">RPE Form</a>.</span>
					</div>
				</div>
				
				<div class="lblFieldPairGroup">
					<div class="lblFieldPair nth" id="lookupClientName">
						<div class="lbl">
							<label>Client and Employer</label>
						</div>
						<div class="input">
							<span id="clientName" class="cName">THE STATE UNIVERSITY OF NEW YORK | SUNY/CORNELL</span>
							<span id="clientName1" class="cName1">UNIVERSITY OF MICHIGAN | UNIVERSITY OF MICHIGAN</span>
							<span id="clientName2" class="cName2">LOS ANGELES UNIFIED SCHOOL DISTRICT | LOS ANGELES UNIFIED SCHOOL</span>		
						</div>
					</div>
				</div>
				<table class="styleA" summary="add summry text" id="lookupTableNoData">
					<caption>Access tables</caption>
					<colgroup>
						<col span="1" width="150">
						<col span="1" width="400">
						<col span="1" width="150">
					</colgroup>
					<thead>
						<tr>
							<th scope="col">Plan Number</th>
							<th scope="col">Plan Name</th>
							<th scope="col">Sub Plan</th>
						</tr>
					</thead>
					<tbody class="accData closed">
						<tr>
							<td colspan="3"></td>
						</tr>
					</tbody>
				</table>    
				<table class="styleA" summary="add summry text" id="lookupTable">
					<caption>Access tables</caption>
					<colgroup>
						<col span="1" width="150">
						<col span="1" width="400">
						<col span="1" width="150">
					</colgroup>
					<thead>
						<tr>
							<th scope="col">Plan Number</th>
							<th scope="col">Plan Name</th>
							<th scope="col">Sub Plan</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><a href="#">151212</a></td>
							<td>SUNY ORP - CORNELL CONTRACT COLLEGES </td>
							<td>GR1001</td>
						</tr> 
						<tr>
							<td><a href="#">151212</a></td>
							<td>SUNY ORP - CORNELL CONTRACT COLLEGES</td>
							<td>GS1001</td>
						</tr>
					</tbody>
				</table>
				<table class="styleA closed" summary="add summry text" id="lookupTable1">
					<caption>Access tables</caption>
					
					<thead>
						<tr>
							<th scope="col">Plan Number</th>
							<th scope="col">Plan Name</th>
							<th scope="col">Sub Plan</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><a href="#">101010</a></td>
							<td>UNIVERSITY OF MICHIGAN 403B RETIREMENT PLAN</td>
							<td>GR1001</td>
						</tr> 
						<tr>
							<td><a href="#">101010</a></td>
							<td>UNIVERSITY OF MICHIGAN 403B RETIREMENT PLAN</td>
							<td>RA6001</td>
						</tr>
					</tbody>
				</table>
                <table class="styleA closed" summary="add summry text" id="lookupTable2">
					<caption>Access tables</caption>
					
					<thead>
						<tr>
							<th scope="col">Plan Number</th>
							<th scope="col">Plan Name</th>
							<th scope="col">Sub Plan</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><a href="#">405800</a></td>
							<td>LOS ANGLES UNIFIED SCHOOL DISTRICT 457(B) PLAN</td>
							<td>RP1001</td>
						</tr> 
					</tbody>
				</table>
				<table class="styleA closed" summary="add summry text" id="lookupTable3">
					<caption>Access tables</caption>
					
					<thead>
						<tr>
							<th scope="col">Plan Number</th>
							<th scope="col">Plan Name</th>
							<th scope="col">Sub Plan</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><a href="#">406081</a></td>
							<td class="txtupper">New York State Voluntary defined contribution program</td>
							<td>GR1001</td>
						</tr> 
					</tbody>
				</table>

				<div class="btnBar mr mtlg" id="lookupBtns">
								<!--<input type="reset" value="Clear" id="resetEnb" class="btn btnLink btnSmall mrm" title="Clear" />-->
								<!-- <a class="mrm" title="Clear" id="resetEnb" href="#"><span>Clear</span></a> -->
							<div class="lblFieldPair nth">
								<input type="button" value="Next" id="lookupNextBtn" class="btn3 btnSmall" title="Next" />
								<input type="button" value="Cancel" id="lookupCancelBtn" class="btn btnSmall fll" title="Cancel" />
										<!-- <span class="fll mrm"><button id="lookupNextBtn" class="btn btnSmall btnOff" title="Next"><span>Next</span></button></span>
										<span class="fll"><button id="lookupCancelBtn" class="btn3 btnSmall" title="Cancel"><span>Cancel</span></button></span> -->
							</div>
					</div>
				</div>
				
			</form>
		</div>
	</div>
	<!-- End of Enrollment Look Up -->
	<!-- Participant Details Starts Here -->
	<div class="hd" id="ParticipantDetails">
		<h3 id="ParticipantDetails1">
			<a class="collapsed" href="#" title="Select to expand or collapse content below"><span class="icon">+</span>Participant Details</a>
		</h3>
	</div>
	<div class="content">
		<div class="bd">
			<div id="Pdalerts" aria-live="assertive" class="alertModule hidden">
				<div>
					<span class="icon"></span>
					<h4 role="alert">Error:</h4>
					<ul>
						<li role="alert" id="f_name-err">First Name is required field. Please enter</li>
						<li role="alert" id="l_name-err">Last Name is required field. Please enter</li>
						<li role="alert" id="dob-err">Date of Birth mm/dd/yyyy entered is invalid. Please re-enter</li>
						<li role="alert" id="email-err">Email is required field. Please enter</li>
						<li role="alert" id="Gender-err">Gender is required field. Please enter</li>
						<li role="alert" id="dayphone1-err">Daytime Phone is required field. Please enter</li>
						<li role="alert" id="evephone1-err">Evening Phone is required field. Please enter</li>
						<li role="alert" id="ma_line1-err">Mailing Address Line 1 is required field. Please enter</li>
						<li role="alert" id="ma_city-err">Mailing City is required field. Please enter</li>
						<li role="alert" id="ma_state-err">Mailing State is required field. Please enter</li>
						<li role="alert" id="ma_zip_1-err">Mailing Zip Code is required field. Please enter</li>
						<li role="alert" id="ra_line1-err">Residential Address Line 1 is required field. Please enter</li>
						<li role="alert" id="ra_city-err">Residential City is required field. Please enter</li>
						<li role="alert" id="ra_state-err">Residential State is required field. Please enter</li>
						<li role="alert" id="ra_zip_1-err">Residential Zip Code is required field. Please enter</li>
					</ul>
				</div>
			</div>
         <div class="mtblg proto_new">
            <div id="defaultform">
               <div class="clearfix">
                  <div class="one_half">
                     <div class="compact">
                        <div class="lblFieldPair">
                           <div class="lbl">
                              <label for="test2-Name">Prefix</label>
                           </div>
                           <div class="input">
                              <select name="prefix" aria-required="" id="prefix">
                                 <option selected="selected" value="none">Please select</option>
                                 <option value="Dr">Dr</option>
                                 <option value="Fr">Fr</option>
                                 <option value="Gen">Gen</option>
                                 <option value="Gov">Gov</option>
                                 <option value="Hon">Hon</option>
                                 <option value="Lt">Lt</option>
                                 <option value="Maj">Maj</option>
                                 <option value="Mr">Mr</option>
                                 <option value="Mrs">Mrs</option>
                                 <option value="Ms">Ms</option>
                              </select>
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="FName"><span class="required" title="required">*</span>First Name</label>
                           </div>
                           <div class="input">
                              <input type="text" name="FName" value="" aria-required="true" class="inputlg" id="f_name">
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="MName">Middle Initial</label>
                           </div>
                           <div class="input">
                              <input type="text" name="MName" value="" aria-required="" class="inputs" id="m_name">
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="LName"><span class="required" title="required">*</span>Last Name</label>
                           </div>
                           <div class="input">
                              <input type="text" name="LName" value="" aria-required="true" class="inputlg" id="l_name">
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="Suffix">Suffix</label>
                           </div>
                           <div class="input">
                              <select name="suffix" aria-required="" id="suffix">
                                 <option selected="selected" value="none">Please select</option>
                                 <option value="Jr">Jr</option>
                                 <option value="MD">MD</option>
                                 <option value="PhD">PhD</option>
                                 <option value="RN">RN</option>
                                 <option value="Sr">Sr</option>
                              </select>
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="Dayphone"><span class="required" title="required">*</span>DayTime Phone</label>
                           </div>
                           <div class="input">
                              <input type="text" id="dayphone1" name="dayphone1" maxlength="3" size="3" class="txtr phone " aria-required="true">
                              &ndash; 
                              <label class="screenReader" for="Dayphone">Day</label>                                               
                              <input type="text" id="dayphone2" name="dayphone2" maxlength="3" size="2" class="txtr ml phone " aria-required="">
                              &ndash;
                              <label class="screenReader" for="Dayphone">Day</label>                                              
                              <input type="text" id="dayphone3" name="dayphone3" maxlength="4" size="4" class="txtr ml " aria-required="">
                           </div>
                        </div>
						<div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="Evephone"><span class="required" title="required">*</span>Evening Phone</label>
                           </div>
                           <div class="input">
                              <input type="text" id="evephone1" name="evephone1" maxlength="3" size="3" class="txtr phone1 " aria-required="true">
                              &ndash; 
                              <label class="screenReader" for="Evephone">Day</label>                                               
                              <input type="text" id="evephone2" name="evephone2" maxlength="3" size="2" class="txtr ml phone1 " aria-required="">
                              &ndash;
                              <label class="screenReader" for="Evephone">Day</label>                                              
                              <input type="text" id="evephone3" name="evephone3" maxlength="4" size="4" class="txtr ml " aria-required="">
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="one_half column_last">
                     <div class="compact">
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="ssn2_1"><span class="required" title="required">*</span>SSN</label>
                           </div>
                           <div class="input">
                              <input type="text" id="ssn2_1" name="ssn" maxlength="3" size="3" class="txtr ssn2 " aria-required="true" value="" readonly="readonly">
                              &ndash;     
                              <label class="screenReader" for="ssn2">SSN</label>                                            
                              <input type="text" id="ssn2_2" name="ssn" maxlength="2" size="2" class="txtr ml ssn2 " aria-required="true" value="" readonly="readonly">
                              &ndash;     
                              <label class="screenReader" for="ssn3">SSN</label>                                          
                              <input type="text" id="ssn2_3" name="ssn" maxlength="4" size="4" class="txtr ml " aria-required="true" value="" readonly="readonly">
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="DOB"><span class="required" title="required">*</span>Date of Birth</label>
                           </div>
                           <div class="input">
                              <input type="text" data-changeyear="true" data-changemonth="true" class="inputDate" value="mm/dd/yyyy" id="dob" name="dob" aria-required="true" />
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="Email"><span class="required" title="required">*</span>Email</label>
                           </div>
                           <div class="input">
                              <input type="text" name="Email" value="" aria-required="" class="inputs" id="email">
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="Gender"><span class="required" title="required">*</span>Gender</label>
                           </div>
                           <div class="input">
                              <select name="Gender" aria-required="true" id="Gender">
                                 <option selected="selected" value="none">Please select</option>
								 <option value="Male">Male</option>
                                 <option value="Female">Female</option>
                              </select>
                           </div>
                        </div>
                        <div class="lblFieldPair">
                           <div class="lbl">&nbsp;</div>
                           <div class="input">
                              <input type="checkbox" aria-required="" name="financialdoc" id="financialdoc">
                              <label for="financialdoc">Send all financial documents as eDelivery</label>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="clearfix">
                  <div class="one_half">
                     <div class="compact">
                        <div class="lblFieldPair">
                           <div class="lbl">
                              <span class="txthlt2">Mailing Address</span>
                           </div>
                           <div class="input"></div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="MA_Country"><span class="required">*</span>Country</label>
                           </div>
                           <div class="input">
                              <select name="MA_Country" aria-required="true" id="MA_Country">
                                 <option selected="selected" value="United States Of America">United States Of America</option>
                              </select>
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="MA_Line1"><span class="required" title="required">*</span>Line 1</label>
                           </div>
                           <div class="input">
                              <input type="text" name="MA_Line1" value="" aria-required="true" class="inputlg" id="ma_line1">
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
							  <label for="MA_Line2">Line 2</label>
                           </div>
                           <div class="input">
                              <input type="text" name="MA_Line2" value="" aria-required="" class="inputlg" id="ma_line2">
                           </div>
                        </div>
                         <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="MA_City"><span class="required" title="required">*</span>City</label>
                           </div>
                           <div class="input">
                              <input type="text" name="MA_City" value="" aria-required="true" class="inputlg" id="ma_city">
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="dayphone"><span class="required" title="required">*</span>State/Province</label>
                           </div>
                           <div class="input">
                              <select name="MA_State" aria-required="true" id="ma_state">
                                 <option selected="selected" value="none">Please Select</option>
                                 <option value="AL">ALABAMA</option>
                                 <option value="AK">ALASKA</option>
                                 <option value="AZ">ARIZONA</option>
                                 <option value="AR">ARKANSAS</option>
                                 <option value="CA">CALIFORNIA</option>
                                 <option value="CO">COLORADO</option>
                                 <option value="CT">CONNECTICUT</option>
                                 <option value="DE">DELAWARE</option>
                                 <option value="DC">DISTRICT OF COLUMBIA</option>
                                 <option value="FL">FLORIDA</option>
                                 <option value="GA">GEORGIA</option>
                                 <option value="GU">Guam</option>
                                 <option value="HI">HAWAII</option>
                                 <option value="ID">IDAHO</option>
                                 <option value="IL">ILLINOIS</option>
                                 <option value="IN">INDIANA</option>
                                 <option value="IA">IOWA</option>
                                 <option value="KS">KANSAS</option>
                                 <option value="KY">KENTUCKY</option>
                                 <option value="LA">LOUISIANA</option>
                                 <option value="ME">MAINE</option>
                                 <option value="MD">MARYLAND</option>
                                 <option value="MA">MASSACHUSETTS</option>
                                 <option value="MI">MICHIGAN</option>
                                 <option value="MN">MINNESOTA</option>
                                 <option value="MS">MISSISSIPPI</option>
                                 <option value="MO">MISSOURI</option>
                                 <option value="MT">MONTANA</option>
                                 <option value="NE">NEBRASKA</option>
                                 <option value="NV">NEVADA</option>
                                 <option value="NH">NEW HAMPSHIRE</option>
                                 <option value="NJ">NEW JERSEY</option>
                                 <option value="NM">NEW MEXICO</option>
                                 <option value="NY">NEW YORK</option>
                                 <option value="NC">NORTH CAROLINA</option>
                                 <option value="ND">NORTH DAKOTA</option>
                                 <option value="OH">OHIO</option>
                                 <option value="OK">OKLAHOMA</option>
                                 <option value="OR">OREGON</option>
                                 <option value="PA">PENNSYLVANIA</option>
                                 <option value="PR">PUERTO RICO</option>
                                 <option value="PW">Palau</option>
                                 <option value="RI">RHODE ISLAND</option>
                                 <option value="SC">SOUTH CAROLINA</option>
                                 <option value="SD">SOUTH DAKOTA</option>
                                 <option value="TN">TENNESSEE</option>
                                 <option value="TX">TEXAS</option>
                                 <option value="UT">UTAH</option>
                                 <option value="VT">VERMONT</option>
                                 <option value="VA">VIRGINIA</option>
                                 <option value="WA">WASHINGTON</option>
                                 <option value="WV">WEST VIRGINIA</option>
                                 <option value="WI">WISCONSIN</option>
                                 <option value="WY">WYOMING</option> 
                              </select>
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="MA_Zip"><span class="required" title="required">*</span>Zip Code</label>
                           </div>
                           <div class="input">
                              <input type="text" aria-required="true" value="" class="txtr" size="5" maxlength="5" name="MA_Zip" id="ma_zip_1">          
                              &ndash; 
                              <label class="screenReader" for="RA_Zip">Zip Plus Four</label> 
                              <input type="text" aria-required="false" value="" class="txtr ml" size="4" maxlength="4" name="MA_Zip" id="ma_zip_2">
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="one_half column_last">
                     <div class="compact">
                        <div class="lblFieldPair">
                           <div class="lbl">
                              <span class="txthlt2">Residential Address</span>
                           </div>
                           <div class="input">
                              <input type="checkbox" aria-required="" name="Raddress" id="sameaddress">
                              <label for="financialdoc">Same as Mailing Address</label>
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="RA_Country"><span class="required" title="required">*</span>Country</label>
                           </div>
                           <div class="input">
                              <select name="RA_Country" aria-required="" id="RA_Country">
                                 <option selected="selected" value="United States Of America">United States Of America</option>
                              </select>
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="RA_Line1"><span class="required" title="required" aria-required="true">*</span>Line 1</label>
                           </div>
                           <div class="input">
                              <input type="text" name="RA_Line1" value="" aria-required="true" class="inputlg" id="ra_line1">
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
						      <label for="RA_Line2">Line 2</label>
                           </div>
                           <div class="input">
                              <input type="text" name="RA_Line2" value="" class="inputlg" id="ra_line2">
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
						      <label for="RA_City"><span class="required" title="required">*</span>City</label>
                           </div>
                           <div class="input">
                              <input type="text" name="RA_City" value="" aria-required="true" class="inputlg" id="ra_city">
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
						      <label for="dayphone"><span class="required" title="required">*</span>State/Province</label>
                           </div>
                           <div class="input">
                              <select name="RA_State" aria-required="true" id="ra_state">
                                 <option selected="selected" value="none">Please Select</option>
                                 <option value="AL">ALABAMA</option>
                                 <option value="AK">ALASKA</option>
                                 <option value="AZ">ARIZONA</option>
                                 <option value="AR">ARKANSAS</option>
                                 <option value="CA">CALIFORNIA</option>
                                 <option value="CO">COLORADO</option>
                                 <option value="CT">CONNECTICUT</option>
                                 <option value="DE">DELAWARE</option>
                                 <option value="DC">DISTRICT OF COLUMBIA</option>
                                 <option value="FL">FLORIDA</option>
                                 <option value="GA">GEORGIA</option>
                                 <option value="GU">Guam</option>
                                 <option value="HI">HAWAII</option>
                                 <option value="ID">IDAHO</option>
                                 <option value="IL">ILLINOIS</option>
                                 <option value="IN">INDIANA</option>
                                 <option value="IA">IOWA</option>
                                 <option value="KS">KANSAS</option>
                                 <option value="KY">KENTUCKY</option>
                                 <option value="LA">LOUISIANA</option>
                                 <option value="ME">MAINE</option>
                                 <option value="MD">MARYLAND</option>
                                 <option value="MA">MASSACHUSETTS</option>
                                 <option value="MI">MICHIGAN</option>
                                 <option value="MN">MINNESOTA</option>
                                 <option value="MS">MISSISSIPPI</option>
                                 <option value="MO">MISSOURI</option>
                                 <option value="MT">MONTANA</option>
                                 <option value="NE">NEBRASKA</option>
                                 <option value="NV">NEVADA</option>
                                 <option value="NH">NEW HAMPSHIRE</option>
                                 <option value="NJ">NEW JERSEY</option>
                                 <option value="NM">NEW MEXICO</option>
                                 <option value="NY">NEW YORK</option>
                                 <option value="NC">NORTH CAROLINA</option>
                                 <option value="ND">NORTH DAKOTA</option>
                                 <option value="OH">OHIO</option>
                                 <option value="OK">OKLAHOMA</option>
                                 <option value="OR">OREGON</option>
                                 <option value="PA">PENNSYLVANIA</option>
                                 <option value="PR">PUERTO RICO</option>
                                 <option value="PW">Palau</option>
                                 <option value="RI">RHODE ISLAND</option>
                                 <option value="SC">SOUTH CAROLINA</option>
                                 <option value="SD">SOUTH DAKOTA</option>
                                 <option value="TN">TENNESSEE</option>
                                 <option value="TX">TEXAS</option>
                                 <option value="UT">UTAH</option>
                                 <option value="VT">VERMONT</option>
                                 <option value="VA">VIRGINIA</option>
                                 <option value="WA">WASHINGTON</option>
                                 <option value="WV">WEST VIRGINIA</option>
                                 <option value="WI">WISCONSIN</option>
                                 <option value="WY">WYOMING</option> 
                              </select>
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="RA_Zip"><span class="required" title="required">*</span>Zip Code</label>
                           </div>
                           <div class="input">
                              <input type="text" aria-required="true" value="" class="txtr" size="5" maxlength="5" name="RA_Zip" id="ra_zip_1">          
                              &ndash; 
                              <label class="screenReader" for="RA_Zip">Zip Plus Four</label> 
                              <input type="text" aria-required="false" value="" class="txtr ml" size="4" maxlength="4" name="RA_Zip" id="ra_zip_2">
                           </div>
                        </div>
                     </div>
                     <div class="alertModule" aria-live="assertive" id="addressDiscrepancyAlert">
						<div>
							<span class="icon"></span>
							<h4 class="nmt txtlc">Address Discrepancy</h4>
							<p>The Residential Address is the same as the Employer’s Address. To continue enrolling, please either – Change the address and click the Submit button OR Check the box below to acknowledge the residential address is correct and click the Submit button.</p>
							<p class="txtr">
								<label for="addrDisChk" class="w90 txtn">
									I am aware that the Residence and Employer addresses are the same. I understand written policy in KE and this case fits the exception that allows enrollment.
								</label>
								<input type="checkbox" aria-required="" class="chkbox" name="addrDis_chk" id="addrDisChk" />
							</p>
						</div>
                     </div>
                  </div>   
               </div>
               <div class="flr prxlg" id="pdetails-req"><span class="required">*</span>required fields</div>
               <div class="btnBar nbdr">
                  <button class="btn btnSmall" title="Save" id="saveBtn"><span>Save</span></button>
                  <button class="btn3 btnSmall" title="Cancel" id="cancelBtn"><span>Cancel</span></button>
               </div>
            </div>
         </div>
         <div class="mtblg proto_existing proto_rpeform">
            <div id="saveddetails" class="clearfix">
               <div class="one_half">
                  <div class="lblFieldPair">
                     <div class="lbl">
                        <label for="pin">PIN</label>
                     </div>
                     <div id="lblpin" class="input">7564597</div>
                  </div>
                  <div class="lblFieldPair">
                     <div class="lbl">
                        <label for="ssn">SSN</label>
                     </div>
                     <div class="input" id="lblSSN">123-45-6789</div>
                  </div>
                  <div class="lblFieldPair">
                     <div class="lbl">
                        <label for="mailing_address">Mailing Address</label>
                     </div>
                     <div class="input" id="lblmailing_address">
                        123 Test ST <br/>
                        NEW YORK, NY 20202<br/>
                        UNITED STATES
                     </div>
                  </div>
                  <div class="lblFieldPair">
                     <div class="lbl">
                        <label for="daytime_phone">Daytime Phone</label>
                     </div>
                     <div class="input" id="lbldaytime_phone">800-555-1212</div>
                  </div>
                  <div class="lblFieldPair">
                     <div class="lbl">
                        <label for="evening_phone">Evening Phone</label>
                     </div>
                     <div class="input" id="lblevening_phone">800-555-1212</div>
                  </div>
				  <div class="lblFieldPair">
                     <div class="lbl">
                        <label for="edelivery_selected">eDelivery Selected</label>
                     </div>
                     <div class="input" id="edelivery_selected">Yes</div>
                  </div>
               </div>
               <div class="one_half column_last">
                  <div class="lblFieldPair">
                     <div class="lbl">
                        <label for="dob">DOB</label>
                     </div>
                     <div class="input" id="lblDOB">01/01/1935</div>
                  </div>
                  <div class="lblFieldPair">
                     <div class="lbl">
                        <label for="ssn">Email</label>
                     </div>
                     <div class="input" id="lblEmail">ppension@theemail.com</div>
                  </div>
                  <div class="lblFieldPair" id="res-add-sec">
                     <div class="lbl">
                        <label for="residential_address">Residential Address</label>
                     </div>
                     <div class="input" id="lblresidential_address">
                     	<span>
                     		10115 WOODBERRY TRAIL LN. APT 7<br/>
                            CHARLOTTE, NC 28262-0228<br/>
                            UNITED STATES
                     	</span>
                     </div>
                  </div>
                  <div class="lblFieldPair">
                     <div class="lbl">
                        <label for="gender">Gender</label>
                     </div>
                     <div class="input" id="lblgender">MALE</div>
                  </div>
                  <div class="lblFieldPair"></div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- End of Participant Details -->
   <!-- Open Enrollment Start Here -->
	<div class="hd" id="openEnrollment">
		<h3 id="openEnrollment1">
		<a class="collapsed" href="#" title="Select to expand or collapse content below"><span class="icon">+</span>Open Enrollment</a>
		</h3>
	</div>
	<div class="content">
		<div class="bd">		
			<h3 class="txt16">JOHNS HOPKINS UNIVERSITY</h3>
			<div class="shdBox clearfix p mbm">
				<div class="one_third">
					<div class="compact">
						<div class="lblFieldPair mb">
							<div class="lbl"><label for="">Start Date :</label></div>
							<div class="input">05/01/2015</div>
						</div>
						<div class="lblFieldPair nmb">
							<div class="lbl"><label for="">End Date :</label></div>
							<div class="input">05/01/2015</div>
						</div>
					</div> 
				</div>
				<div class="one_third">
					<div class="compact">
						<div class="lblFieldPair mb">
							<div class="lbl"><label for="">Black Out Start Date :</label></div>
							<div class="input">06/14/2015</div>
						</div>
						<div class="lblFieldPair nmb">
							<div class="lbl"><label for="">Black Out End Date :</label></div>
							<div class="input">06/14/2015</div>
						</div>
					</div> 
				</div>
				<div class="one_third column_last">
					<div class="compact">
						<div class="lblFieldPair mb">
							<div class="lbl"><label for="">Effective Date :</label></div>
							<div class="input">05/01/2015</div>
						</div>
					</div>
				</div>
			</div>
			<table id="" class="styleB fullwidth" summary="Open Enrollment Table">
                <caption>Open Enrollment Table</caption>
				<thead>
					<tr>
						<th scope="col">Plan Number</th>
						<th scope="col" class="w30">Plan Name</th>
						<th scope="col" class="w10">Sub Plan</th>
						<th scope="col">Contrib/Non Contrib</th>
						<th scope="col">Mand/Vol Cont</th>
						<th scope="col">Contrib Source</th>
						<th scope="col">Auto Enroll</th>
						<th scope="col">Opt Out Allowed</th>
						<th scope="col">TC OSDA</th>
						<th scope="col">RO IN</th>
						<th scope="col">Last Updated</th>
						<th scope="col" class="w10">Enrolled Eith Fast Lane?</th>
						<th scope="col" class="txtc">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr class="">
						<td><a href="#" title="406452" class="">406452</a></td>
						<td>THE JOHNS HOPKINS UNIV SUPPL RET PLN FOR OFFIC, FAC, SR STAFF <a href="#" title="SIMULATE" class="">SIMULATE</a></td>
						<td>GS1001</td>
						<td><a href="#" title="NC" class="">NC</a></td>
						<td>M</td>
						<td><a href="#" title="F" class="">F</a></td>
						<td>No</td>
						<td><a href="#" title="No" class="">No</a></td>
						<td>Yes</td>
						<td>No</td>
						<td>06/22/2014</td>
						<td></td>
						<td class="actionBtns txtc"><button class="btn3 btnSmall" id="" title="Enter SDA"><span>Enter SDA</span></button></td>
					</tr>
					<tr class="">
						<td><a href="#" title="406452" class="">406297</a></td>
						<td>JOHNS HOPKINS STAFF DEFINED CONTRIBUTION PLAN <a href="#" title="SIMULATE" class="">SIMULATE</a></td>
						<td>GS1001</td>
						<td><a href="#" title="C" class="">C</a></td>
						<td>V</td>
						<td><a href="#" title="E" class="">E</a></td>
						<td>No</td>
						<td><a href="#" title="No" class="">No</a></td>
						<td>Yes</td>
						<td>Yes</td>
						<td>06/22/2014</td>
						<td></td>
						<td class="actionBtns txtc"><button class="btn3 btnSmall noFunc" id="sda2" title="Enter SDA"><span>Enter SDA</span></button></td>
					</tr>
				</tbody>
			</table>
			<div class="btnBar nbdr">
				<button class="btn3 btnSmall" title="View History"><span>View History</span></button>
				<button class="btn3 btnSmall" title="View Details"><span>View Details</span></button>
				<button class="btn btnSmall" title="Update"><span>Update</span></button>
			</div>
		</div>
	</div>
	<!-- Open Enrollment Ends Here -->
	<!-- Eligible Plans Start Here -->
	<div class="hd" id="EligiblePlans">
		<h3 id="EligiblePlans1">
		<a class="collapsed" href="#" title="Select to expand or collapse content below"><span class="icon">+</span>Eligible Plans</a>
		</h3>
	</div>
	<div class="content">
		<div class="bd">		
			<div class="dataEligTable">
				<div class="alertModule closed" aria-live="assertive" id="alertModuleAC">
					<div>
						<span class="icon"></span>
						<ul>
							<li role="alert">Access Code <span id="accessVal1"></span> is not valid. Please enter a valid Access Code</li>
						</ul>
					</div>
				</div>         
				<div class="clear"></div> 
				<div class="accessCodeLookup">
					<h4 class="fll showTitle closed">Mount Sinai | MOUNT SINAI MEDICAL CENTER</h4>
					<h4 class="fll rpeshowTitle closed">The State University of New York | THE STATE UNIVERSITY OF NEW YORK</h4>
					<h4 class="fll protoExperience srkoleBase retirementBase saosdaBase">QA NYU Langone | QA NYU HOSPITALS CENTER</h4>
					<h4 class="fll protoExperience opeBase">LOS ANGLES | LOS ANGLES UNIFIED</h4>
					<h4 class="fll pdeSdaContent closed">Molly University</h4>
					<h4 class="fll cr1181Content closed">The University of Rochester</h4>
					<div class="flr mtm">
						<div class="lblFieldPairGroup">
							<div class="lblFieldPair cr1181Content closed">
								<div class="lbl"><a href="#" title="SUNY TDA" class="sunyTDALink">SUNY TDA</a></div>
								<div class="input">&nbsp;</div>
							</div>
							<div class="lblFieldPair nth">					
								<div class="lbl">
									<label for="accessCodeGo">Enter Access Code</label>
								</div>
								<div class="input">
									<input type="text" value="" name="accessCode" id="accessCode" />         
									<button id="accessCodeGo" class="btn btnSmall goBtn" title="Go"><span>Go</span></button>
								</div>
							</div>
						</div>
					</div>					
				</div>
				<div class="clear"></div>
				<div class="alertModule" aria-live="assertive" id="subAlert2">
					<div>
						<span class="icon"></span>
						<span>Invalid Access Code <span id="err-acc-code2">xxxxxx</span>. Please enter a valid Access Code.</span>
					</div>
				</div>
				<div class="tableWrapper">	
					<div class="proto_existing closed">
						<table id="eligiblePlansTable" class="styleB" summary="Eligible Plans Additional" role="Eligible Plans Additional">
							<caption>Eligible Plans Additional</caption>
							<colgroup>
								<col width="6%">
								<col width="18%">
								<col width="6%">
								<col width="6%">
								<col width="6%">
								<col width="6%">
								<col width="6%">
								<col width="6%">
								<col width="6%">
								<col width="6%">
								<col width="6%">
								<col width="5%">
								<col width="5%">
								<col width="5%">
								<col width="7%">					
							</colgroup>
							<thead>
								<tr>
									<th>Plan Number</th>
									<th>Plan Name</th>
									<th>Sub Plan</th>
									<th>Contrib/ Non Contrib</th>
									<th>Mand/Vol Cont</th>
									<th>Contrib Source</th>
									<th>Legacy Auto Enroll</th>
									<th>Legacy Opt Out Allowed</th>
									<th>Plan  Eligible For Auto Enroll</th>
									<th>Auto Enroll Opt-Out Allowed</th>
									<th>Plan  Eligible For Auto Save</th>
									<th>Auto Save Opt In/Out Allowed</th>
									<th>TC OSDA</th>
									<th>Rollovers In</th>
									<th class="txtc" >Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr class="noDataRow">
									<td colspan="15" class="txtc">No Data</td>
								</tr>
								<tr class="dataRow405800 closed">
									<td><a href="#">405800</a></td>
									<td><span class="txtupper">Mount Sinai Medical Center(403)B Retirement Plan <span class="dim">(ICAHN School of Medicine)</span> <a href="#">Simulate</a></span></td>
									<td class="txtc">GR1001</td>
									<td class="txtc">C</td>
									<td class="txtc">M</td>
									<td class="txtc">F, P, E</td>
									<td class="txtc">No</td>
									<td class="txtc">Yes</td>
									<td class="txtc">Yes</td>
									<td class="txtc">Yes</td>
									<td class="txtc">Yes</td>
									<td class="txtc">Yes</td>
									<td class="txtc">Yes</td>
									<td class="txtc">Yes</td>
									<td class="txtc actionBtns">
										<span class="txthlt5 complete hidden comTxt"><a href="#" rel="#hoverText" class="editLink "><span class="icon"></span></a> Completed!</span>
										<button class="btn2 btnSmall ePlanenrollBtn" id="" title="Enroll"><span>Enroll</span></button>									
									</td>
								</tr>
								<tr class="dataRow101010a closed">
									<td><a href="#">101010a</a></td>
									<td><span class="txtupper">UNIVERSTY OF MICHIGAN 403B RETIREMENT PLAN <a href="#">Simulate</a></span></td>
									<td class="txtc">GR1001</td>
									<td class="txtc">C</td>
									<td class="txtc">M</td>
									<td class="txtc">F, P, E</td>
									<td class="txtc">No</td>
									<td class="txtc">Yes</td>
									<td class="txtc">Yes</td>
									<td class="txtc">Yes</td>
									<td class="txtc">Yes</td>
									<td class="txtc">Yes</td>
									<td class="txtc">Yes</td>
									<td class="txtc">Yes</td>
									<td class="txtc">
										<span class="txthlt5 complete hidden comTxt"><a href="#" rel="#hoverText" class="editLink "><span class="icon"></span></a> Completed!</span>
										<button class="btn2 btnSmall ePlanenrollBtn" id="" title="Enroll"><span>Enroll</span></button>									
									</td>
								</tr>
								<tr class="dataRow403402 closed">
									<td><a href="#">403402</a></td>
									<td><span class="txtupper">QA NYU PARTICIPATING EMPLOYERS 403(B) <a href="#">Simulate</a></span></td>
									<td class="txtc">GR1001</td>
									<td class="txtc">C</td>
									<td class="txtc">M</td>
									<td class="txtc">F, P, E</td>
									<td class="txtc">No</td>
									<td class="txtc">Yes</td>
									<td class="txtc">Yes</td>
									<td class="txtc">Yes</td>
									<td class="txtc">Yes</td>
									<td class="txtc">Yes</td>
									<td class="txtc">Yes</td>
									<td class="txtc">Yes</td>
									<td class="txtc">
										<span class="txthlt5 complete hidden comTxt"><a href="#" rel="#hoverText" class="editLink"><span class="icon"></span></a> Completed!</span>
										<button class="btn2 btnSmall ePlanenrollBtn" id="" title="Enroll"><span>Enroll</span></button>									
									</td>
								</tr>
							</tbody>
						</table>	
						<div class="btnBar nbdr mbm">
							<span class="fll dim">Sole Record Keeping Element. Please enter all default Enrollments for this Employer prior to inputting Salary Deferral Agreement(s) for CONTRIBUTORY Plans.</span> 
							<button class="btn3 updateBtn btnSmall" id="viewDetailBtn" title="View Detail"><span>View Details</span></button>
							<button class="btn updateBtn btnSmall" id="uptBtn10" title="Update"><span>Update</span></button>
						</div>
						
						<div class="mtm">
							<div class="panels">
								<div class="hd first">
									<h3><a href="#" class="collapsed" title="Select to expand or collapse content below">
										<span class="icon">+</span>Table Definitions</a>
									</h3>
								</div>
								<div class="content">
									<div class="bd">
										<p><span class="txtb">Plan Number:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus. Curabitur faucibus orci eget sapien elementum, sed congue dolor suscipit.</P> 
										<p><span class="txtb">Plan Name:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus.</P>
										<p><span class="txtb">Sub Plan:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										<p><span class="txtb">Contrib/ Non Contrib:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										<p><span class="txtb">Mand/Vol Cont:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										<p><span class="txtb">Contrib Source:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										<p><span class="txtb">Legacy Auto Enroll:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										<p><span class="txtb">Legacy Opt Out Allowed:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										<p><span class="txtb">Plan Eligible For Auto Enroll:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										<p><span class="txtb">Auto Enroll Opt-Out Allowed:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										<p><span class="txtb">Plan Eligible For Auto Save:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										<p><span class="txtb">Auto Save Opt IN/OUT Allowed:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										<p><span class="txtb">TC OSDA:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										<p><span class="txtb">Rollovers In:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
									</div>
								</div>
							</div>
						</div> 					
					</div>
					<div class="proto_rpeform closed">
						<table id="eligiblePlansRpeTbl" class="styleB fullwidth mt" summary="Eligible Plans for RPE">
							<caption>Eligible Plans for RPE</caption>						
							<thead>					
								<tr>
									<th width="10%" class="txtc">Plan Number</th>
									<th width="20%" class="txtc">Plan Name</th>
									<th width="5%" class="txtc">Sub Plan</th>
									<th width="5%">Contrib/ Non Contrib</th>
									<th width="10%" class="txtc">Mand/Vol Cont</th>
									<th width="10%" class="txtc">Contrib Source</th>
									<th width="10%" class="txtc">Auto Enroll</th>
									<th width="10%" class="txtc">Online Opt Out Allowed</th>								
									<th width="5%" class="txtc">TC OSDA</th>
									<th width="5%" class="txtc">Rollovers In</th>
									<th class="txtc" width="10%">Actions</th>
								</tr>						
							</thead>
							<tbody>
							<tr class="noDataRow">
								<td colspan="11" class="txtc">No Data</td>
							</tr>
							<tr class="dataRow15166 closed">
								<td class="txtc"><a class="collapsed jsExpandCollapse" href="#panel15166"><span class="icon"></span>151166</a></td>
								<td class="txtupper">STATE UNIVERSITY OF NEW YORK OPTIONAL RETIREMENT PROGRAM (CLINTON COMMUNITY COLLEGE)</td>
								<td class="txtc">GS1001</td>
								<td class="txtc">NC</td>
								<td class="txtc">M</td>
								<td class="txtc">F,P,E</td>
								<td class="txtc">No</td>
								<td class="txtc">No</td>
								<td class="txtc">Yes</td>
								<td class="txtc">Yes</td>
								<td class="txtc">
									<a href="#" rel="#hoverText" class="editLink"><span class="icon"></span></a>
									<button class="btn2 btnSmall ePlanenrollBtn" title="Enroll"><span>Enroll</span></button>
								</td>
							</tr>
							<tr class="detail dataRow15166 hidden" id="panel15166">
								<td colspan="11"><span class="txthlt5 txtb"><span class="icsuccess">Success Icon</span> RPE Approved</span> : Form has been approved.</td>
							</tr>
							<tr class="dataRow15167 closed">
								<td class="txtc"><a class="collapsed jsExpandCollapse" href="#panel15167"><span class="icon"></span>151167</a></td>
								<td class="txtupper">STATE UNIVERSITY OF NEW YORK TAX DEFERRED ANNUITY PLAN (CLNTON COMMUNITY COLLEGE)</td>
								<td class="txtc">GA1001</td>
								<td class="txtc">C</td>
								<td class="txtc">V</td>
								<td class="txtc">E</td>
								<td class="txtc">No</td>
								<td class="txtc">No</td>
								<td class="txtc">Yes</td>
								<td class="txtc">Yes</td>
								<td class="txtc">
									<a href="#" rel="#hoverText" class="editLink"><span class="icon"></span></a>
									<button class="btn2 btnSmall ePlanenrollBtn" id="" title="Enroll"><span>Enroll</span></button>				
								</td>
							</tr>
							<tr class="detail dataRow15167 hidden" id="panel15167">
								<td colspan="11"><span class="txtlc txtb"><span title="Information Icon" class="icInfo">Info Icon</span> RPE Awaiting Approval</span> : Form has been submitted, but approval is pending.</td>
							</tr>
							<tr class="dataRow15168 closed">
								<td class="txtc"><a class="collapsed jsExpandCollapse" href="#panel15168"><span class="icon"></span>151167</a></td>
								<td class="txtupper">STATE UNIVERSITY OF NEW YORK TAX DEFERRED ANNUITY PLAN (ERIE COMMUNITY COLLEGE)</td>
								<td class="txtc">GS1001</td>
								<td class="txtc">C</td>
								<td class="txtc">V</td>
								<td class="txtc">E</td>
								<td class="txtc">No</td>
								<td class="txtc">No</td>
								<td class="txtc">Yes</td>
								<td class="txtc">Yes</td>
								<td class="txtc">								
									<button class="btn3 btnSmall btnOff" id="" title="Enroll"><span>Enter SDA</span></button>				
								</td>
							</tr>
							<tr class="detail dataRow15168 hidden" id="panel15168">
								<td colspan="11"><span class="down txtb"><span title="Error Icon" class="icAlert">Alert Icon</span> RPE Declined</span> : This employee is not in an Eligible Position for this plan.</td>
							</tr>
							<tr class="dataRow406081 closed">
								<td class="txtc"><a class="collapsed jsExpandCollapse" href="#panel406081"><span class="icon"></span>406081</a></td>
								<td class="txtupper">New york state voluntary defined contribution program  </td>
								<td class="txtc">GR1001</td>
								<td class="txtc txtlc">NC</td>
								<td class="txtc">M</td>
								<td class="txtc">I,F</td>
								<td class="txtc">No</td>
								<td class="txtc">NO</td>
								<td class="txtc">Yes</td>
								<td class="txtc">Yes</td>
								<td class="txtc">								
									<button class="btn3 btnSmall btnOff" id="" title="Enroll"><span>Enter SDA</span></button>				
								</td>
							</tr>
							<tr class="detail dataRow406081 hidden" id="panel406081">
								<td colspan="11"><span class="txthlt4 txtb"><span title="Notice Icon" class="icNotice">Notice Icon</span> RPE Not Submitted</span> : Advise caller to submit the <a target="_blank" href="http://www.suny.edu/retirement/overview/">RPE Form </a>.</td>
							</tr>
							</tbody>
						</table>
					
						<div class="btnBar nbdr mbm">
							<span class="fll dim">Retirement At Work Enrollment.  Please enter Salary Deferral Agreement(s) prior to completing Default Enrollment when TIAA-CREF is selected as a vendor.</span> 
							<button class="btn3 updateBtn btnSmall" id="rpeviewDetailBtn" title="View Details"><span>View Details</span></button>
							<button class="btn updateBtn btnSmall" id="rpeuptBtn10" title="Update"><span>Update</span></button>
						</div>	
				
						<div class="mtm">
							<div class="panels">
								<div class="hd first">
									<h3><a href="#" class="collapsed" title="Select to expand or collapse content below">
										<span class="icon">+</span>Table Definitions</a>
									</h3>
								</div>
								<div class="content">
									<div class="bd">
										<p><span class="txtb">Plan Number:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus. Curabitur faucibus orci eget sapien elementum, sed congue dolor suscipit.</P> 
										<p><span class="txtb">Plan Name:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus.</P>
										<p><span class="txtb">Sub Plan:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										<p><span class="txtb">Contrib/ Non Contrib:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										<p><span class="txtb">Mand/Vol Cont:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										<p><span class="txtb">Contrib Source:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										<p><span class="txtb">Auto Enroll:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>										
										<p><span class="txtb">Opt Out Allowed:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>																
										<p><span class="txtb">TC OSDA:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										<p><span class="txtb">Rollovers In:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
									</div> <!--bd -->
								</div> <!--content-->
							</div>	<!--panels-->
						</div> <!--mtm -->
					</div>  <!--proto_rpeform -->
					<div class="clModExper closed">
						<table id="elgbPlnsAdd11" class="styleB fullwidth" summary="Eligible Plans Additional" role="Eligible Plans Additional">
							<caption>Eligible Plans Additional</caption>
							<colgroup>
								<col span="1" class="w10">
								<col span="1" class="w20">
								<col span="1" class="w10">
								<col span="1" class="w10">
								<col span="1" class="w10">
								<col span="1" class="w5">
								<col span="1" class="w5">
								<col span="1" class="w5">
								<col span="1" class="w5">
								<col span="1" class="w5">
								<col span="1" class="w15">
							</colgroup>
							<thead>
								<tr>
									<th scope="col" >PLAN NUMBER</th>
									<th scope="col" >PLAN NAME</th>
									<th scope="col" >SUB PLANS</th>
									<th scope="col" >CONTRIB/NON CONTRIB</th>
									<th scope="col" >MAND VOL CONT</th>
									<th scope="col" >CONTRIB SOURCE</th>
									<th scope="col" >AUTO ENROLL</th>
									<th scope="col" >OPT OUT ALLOWED</th>
									<th scope="col" >TC OSDA</th>
									<th scope="col" >RO IN</th>
									<th scope="col" class="txtc">ACTIONS</th>
								</tr>
							</thead>
							<tbody>
								<tr class="nonpdeSdaContent">
									<td><a href="#">151562</a></td>
									<td>
										<span class="protoExperience srkoleBase">QA NYU HOSPITALS CENTER<br> 457(B) <a href="#" title="SIMULATE" class="sim2">SIMULATE</a></span>
										<span class="protoExperience retirementBase">NW YORK STATE VOLUNTARY<br> DEFINED CONTRIBUTION <br>PROGRAM <a href="#" title="SIMULATE" class="disabled">SIMULATE</a></span>
										<span class="protoExperience saosdaBase">QA NYU HOSPITALS PARTICIPATING<br> EMPLOYERS 403(B) <a href="#" title="SIMULATE" class="disabled">SIMULATE</a></span>
										<span class="protoExperience opeBase">LOS ANGLES UNIFIED<br> SCHOOL DISTRICT 457(B)<br>PLAN  <a href="#" title="SIMULATE" class="disabled">SIMULATE</a></span>
									</td>
									<td>GA1001</td>
									<td><span class="protoExperience srkoleBase retirementBase saosdaBase"><a href="#">C</a></span><span class="protoExperience opeBase"><a href="#">Details</a></span></td>
									<td><span class="protoExperience srkoleBase retirementBase saosdaBase">V</span><span class="protoExperience opeBase"><a href="#">Details</a></span></td>
									<td><span class="protoExperience srkoleBase retirementBase saosdaBase"><a href="#">E</a></span><span class="protoExperience opeBase"><a href="#">Details</a></span></td>
									<td><span class="protoExperience srkoleBase retirementBase saosdaBase">NO</span><span class="protoExperience opeBase"><a href="#">Details</a></span></td>
									<td><span class="protoExperience srkoleBase retirementBase saosdaBase"><a href="#">NO</a></span><span class="protoExperience opeBase"><a href="#">Details</a></span></td>
									<td><span>YES</span></td>
									<td><span>NO</span></td>
									<td class="txtc actionBtns">										
										<a href="#" class="editLink"><span class="icon"></span></a>
										<button class="btn2 btnSmall enterSDABtnCM" title="Enter SDA"><span>Enter SDA</span></button>				
										<button class="btn2 btnSmall enrollBtnCM" title="Enroll"><span>Enroll</span></button>
										<span class="txthlt5 comCMTxt">Completed!</span>
									</td>
								</tr>
								<tr class="closed">
									<td rel="locA"><a href="#">151563</a></td>
									<td>The State University of New York<div>Location A</div></td>
									<td>GR1001</td>
									<td>NC</td>
									<td>M</td>
									<td>F, P, E</td>
									<td>No</td>
									<td>No</td>
									<td>Yes</td>
									<td>Yes</td>
									<td class="txtc"><span class="txthlt5 comTxtSuny">Completed!</span></td>
								</tr>
								<tr class="closed">
									<td rel="locA"><a href="#">151564</a></td>
									<td>The State University of New York<div>Location A</div></td>
									<td>GR1001</td>
									<td>NC</td>
									<td>M</td>
									<td>F, P, E</td>
									<td>No</td>
									<td>No</td>
									<td>Yes</td>
									<td>Yes</td>
									<td class="txtc"><span class="txthlt5 comTxtSuny">Completed!</span></td>
								</tr>
								<tr class="closed">
									<td rel="locA"><a href="#">151565</a></td>
									<td>The State University of New York<div>Location A</div></td>
									<td>GR1001</td>
									<td>NC</td>
									<td>M</td>
									<td>F, P, E</td>
									<td>No</td>
									<td>No</td>
									<td>Yes</td>
									<td>Yes</td>
									<td class="txtc"><span class="txthlt5 comTxtSuny">Completed!</span></td>
								</tr>
								<tr class="pdeSdaContent closed">
									<td rel="151563"><a href="#">151563</a></td>
									<td>The State University of Charlotte<div>Location B</div></td>
									<td>GR1001</td>
									<td>NC</td>
									<td>M</td>
									<td>F, P, E</td>
									<td>No</td>
									<td>No</td>
									<td>Yes</td>
									<td>Yes</td>
									<td class="txtc"><span class="txthlt5 comTxtSuny hidden">Completed!</span><button class="btn2 btnSmall enterSDABtnSuny" title="Enter SDA"><span>Enter SDA</span></button></td>
								</tr>
								<tr class="pdeSdaContent closed">
									<td rel="151564"><a href="#">151564</a></td>
									<td>The State University of Charlotte<div>Location B</div></td>
									<td>GR1001</td>
									<td>NC</td>
									<td>M</td>
									<td>F, P, E</td>
									<td>No</td>
									<td>No</td>
									<td>Yes</td>
									<td>Yes</td>
									<td class="txtc"><span class="txthlt5 comTxtSuny hidden">Completed!</span><button class="btn2 btnSmall enterSDABtnSuny" title="Enter SDA"><span>Enter SDA</span></button></td>
								</tr>
								<tr class="pdeSdaContent closed">
									<td rel="151565"><a href="#">151565</a></td>
									<td>The State University of Charlotte<div>Location B</div></td>
									<td>GR1001</td>
									<td>NC</td>
									<td>M</td>
									<td>F, P, E</td>
									<td>No</td>
									<td>No</td>
									<td>Yes</td>
									<td>Yes</td>
									<td class="txtc"><span class="txthlt5 comTxtSuny hidden">Completed!</span><button class="btn2 btnSmall enterSDABtnSuny" title="Enter SDA"><span>Enter SDA</span></button></td>
								</tr>
								<tr class="cr1181Content closed">
									<td rel="100901"><a href="#">100901</a></td>
									<td>The University of Rochester</td>
									<td>GR1001</td>
									<td>NC</td>
									<td>M</td>
									<td>F, P, E</td>
									<td>No</td>
									<td>No</td>
									<td>Yes</td>
									<td>Yes</td>
									<td class="txtc"><a href="#" class="editLink"><span class="icon mtxs mr rel"></span></a><button class="btn2 btnSmall enrollBtncr1181" title="Enroll"><span>Enroll</span></button></td>
								</tr>
								<tr class="cr1181Content closed">
									<td rel="100902"><a href="#">100902</a></td>
									<td>The University of Rochester</td>
									<td>GR1001</td>
									<td>N</td>
									<td>V</td>
									<td>E</td>
									<td>No</td>
									<td>No</td>
									<td>Yes</td>
									<td>Yes</td>
									<td class="txtc"><a href="#" class="editLink"><span class="icon mtxs mr rel"></span></a><button class="btn2 btnSmall enrollBtncr1181" title="Enroll"><span>Enroll</span></button></td>
								</tr>
								<tr class="cr1181Content closed">
									<td rel="100903"><a href="#">100903</a></td>
									<td>The University of Rochester</td>
									<td>GS1001</td>
									<td>N</td>
									<td>V</td>
									<td>E</td>
									<td>No</td>
									<td>No</td>
									<td>Yes</td>
									<td>Yes</td>
									<td class="txtc"><a href="#" class="editLink"><span class="icon mtxs mr rel"></span></a><button class="btn2 btnSmall enrollBtncr1181" title="Enroll"><span>Enroll</span></button></td>
								</tr>
							</tbody>
						</table>
						<div class="mts dim protoExperience srkoleBase">
							Sole Record keeping Enrollment. Please enter all Default Enrollments for this Employer prior to inputting Salary Deferral Agreements(s) for CONTRIBUTORY Plans.
						</div>
						<div class="mts dim protoExperience retirementBase">
							Retirement At Work Enrollment. Please enter Salary Deferral Agreement(s) prior to completing Default Enrollment when TIAA-CREF is selected as a vendor.
						</div>
						<div class="mts dim protoExperience saosdaBase">
							SA OSDA Enrollment. Please enter Salary Deferral Agreement(s) prior to completing Default Enrollment when TIAA-CREF is selected as a vendor.
						</div>
						<div class="mts dim protoExperience opeBase">
							OPE Enrollment. Click the Enroll or the Saved Enrollment button to Default Enroll. Salary Deferral Agreements are not handled by TIAA-CREF.
						</div>
						<div class="cr1181TDAContent closed">
							<h4 class="">The State University of New York</h4>
							<table id="" class="styleB fullwidth" summary="Eligible Plans for Suny TDA Table">
								<caption>Eligible Plans for Suny TDA Table</caption>
								<colgroup>
									<col class="w10" />
									<col class="w20" />
									<col class="w10" />
									<col class="w10" />
									<col class="w10" />
									<col class="w5" />
									<col class="w5" />
									<col class="w5" />
									<col class="w5" />
									<col class="w5" />
									<col class="w15" />
								</colgroup>
								<thead>
									<tr>
										<th scope="col" >PLAN NUMBER</th>
										<th scope="col" >PLAN NAME</th>
										<th scope="col" >SUB PLANS</th>
										<th scope="col" >CONTRIB/NON CONTRIB</th>
										<th scope="col" >MAND VOL CONT</th>
										<th scope="col" >CONTRIB SOURCE</th>
										<th scope="col" >AUTO ENROLL</th>
										<th scope="col" >OPT OUT ALLOWED</th>
										<th scope="col" >TC OSDA</th>
										<th scope="col" >RO IN</th>
										<th scope="col" class="txtc">ACTIONS</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><a href="#">151167</a></td>
										<td>Suny TDA</td>
										<td>GR1001</td>
										<td>NC</td>
										<td>M</td>
										<td>F, P, E</td>
										<td>No</td>
										<td>No</td>
										<td>Yes</td>
										<td>Yes</td>
										<td class="txtc"><a href="#" class="editLink"><span class="icon mtxs mr rel"></span></a><button class="btn2 btnSmall enrollBtncr1181TDA" title="Enroll"><span>Enroll</span></button></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>  <!-- tablewrapper -->
			</div><!-- dataEligTable -->
		</div> <!--bd -->
	</div><!-- content -->
	<!-- Eligible Plans Ends Here -->
	<!-- Active Plans Start Here -->
	<div class="hd" id="ActivePlans">
		<h3 id="ActivePlans1"><a class="collapsed" href="#" title="Select to expand or collapse content below"><span class="icon">+</span>Active Plans</a></h3>
	</div>
	<div class="content">
		<div class="bd">
			<div class="showActiveTable">
				<div class="proto_existing proto_new closed">
					<div class="tableWrapper">
						<table id="activePlanTbl" class="styleB" summary="Active Plans" role="Active Plans">
							<caption> Active Plans Table</caption>
							<colgroup>
								<col width="6%">
								<col width="18%">
								<col width="7%">
								<col width="7%">
								<col width="7%">
								<col width="7%">
								<col width="7%">
								<col width="7%">
								<col width="6%">
								<col width="7%">
								<col width="7%">
								<col width="7%">
								<col width="7%">											
							</colgroup>
							
							<thead>
							   <tr>
								  <th scope="col">Plan Number </th>
								  <th scope="col">Plan Name </th>
								  <th scope="col">Sub Plan </th>
								  <th scope="col">BR ACCT Enabled </th>
								  <th scope="col">Contrib Source </th>
								  <th scope="col">Rollovers In </th>
								  <th scope="col">Legacy Default Enrolled?</th>
								  <th scope="col">SDA Auto Enrolled </th>						  
								  <th scope="col" class="txtc">TC OSDA </th>					  
								  <th scope="col">Plan Auto Save </th>			  
								  <th scope="col">Auto Save Turned On </th>						  
								  <th scope="col">SDA Effective Date </th>	
								  <th scope="col" class="txtc">Actions</th>
							   </tr>
							</thead>
							<tbody>
								<tr class="closed"><td colspan="13" class="txtc">No Data</td></tr>
								<tr class="">
								  <td><a href="">102130</a></td>
								  <td><span class="txtupper">Long Island University Retirement Plan</span></td>
								  <td class="txtc">RA1001</td>
								  <td class="txtc">No</td>
								  <td class="txtc">F, I, E</td>
								  <td class="txtc">Yes</td>
								  <td class="txtc">Yes</td>
								  <td class="txtc">Yes</td>						  					  
								  <td class="txtc">Yes</td>
								  <td class="txtc">Yes</td>
								  <td class="txtc">Yes</td>						  
								  <td class="txtc">03/21/2016</td>						  
								  <td class="txtc">
									<button class="btn3 btnSmall mrm" id="modify-sda-1" title="Modify SDA"><span>Modify SDA</span></button>							
								  </td>
							   </tr>
							</tbody>
						</table>
						<div class="mtm">
							<div class="panels">
								<div class="hd first">
									<h3><a href="#" class="collapsed" title="Select to expand or collapse content below">
										<span class="icon">+</span>Table Definitions</a>
									</h3>
								</div>
								<div class="content">
									<div class="bd">
										<p><span class="txtb">Plan Number:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus. Curabitur faucibus orci eget sapien elementum, sed congue dolor suscipit.</p>
	 
										<p><span class="txtb">Plan Name:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus.</p>
										 
										<p><span class="txtb">Sub Plan:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">BR ACCT Enabled:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">Contrib Source:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">Rollovers In:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">Legacy Default Enrolled:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">SDA Auto Enrolled:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">TC OSDA:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
								 
										<p><span class="txtb">Plan Auto Save:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">Auto Save Turned On:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
										 
										<p><span class="txtb">SDA Effective Date:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="proto_rpeform closed">
					<div class="tableWrapper">
						<table id ="rpeActivePlanTbl" class="styleB fullwidth mt" summary="Active Plans for RPE">
							<caption>Active Plans for RPE</caption>						
							<thead>					
								<tr>
									<th width="20%">Plan Number</th>
									<th width="20%">Plan Name</th>
									<th width="5%">Sub Plan</th>
									<th width="5%">BR ACCT Enabled</th>
									<th width="5%">Contrib Source</th>
									<th width="5%">Rollovers In</th>
									<th width="5%">Legacy Default Enrolled?</th>
									<th width="5%">SDA Auto Enrolled</th>								
									<th width="5%">TC OSDA</th>
									<th width="5%">Plan Auto Save</th>
									<th width="5%">Auto Save Turned On</th>
									<th width="5%">SDA Effective Date</th>
									<th class="txtc" width="10%" >Actions</th>
								</tr>						
							</thead>
							<tbody>
								<tr class="noDataRow">
									<td class="txtc" colspan="13">No Data</td>
								</tr>
								<tr class="datarow151616 closed">
									<td class="txtc"><a class="collapsed jsExpandCollapse" href="#panel151616"><span class="icon"></span>151616</a></td>
									<td class="txtupper">STATE UNIVERSITY OF NEW YORK TAX DEFERRED ANNUITY PLAN (XYZ COMMUNITY)</td>
									<td class="txtc">RA6001</td>
									<td class="txtc">No</td>
									<td class="txtc">F,I,E</td>
									<td class="txtc">Yes</td>
									<td class="txtc">Yes</td>
									<td class="txtc">Yes</td>
									<td class="txtc">Yes</td>
									<td class="txtc">Yes</td>
									<td class="txtc">Yes</td>
									<td class="txtc"></td>
									<td class="txtc">								
										<button class="btn3 btnSmall btnOff" id="" title="Modify SDA"><span>Modify SDA</span></button>				
									</td>
								</tr>
								<tr class="detail datarow151616 hidden" id="panel151616">
									<td colspan="13"><span class="down txtb"><span title="Error Icon" class="icAlert">Alert Icon</span> RPE Declined</span>: This employee is not in an Eligible Position for this plan.</td>
								</tr>
							</tbody>
						</table>	
					</div>		
					<div class="clear"></div>		
					<div class="mtm">
						<div class="panels">
							<div class="hd first">
								<h3><a href="#" class="collapsed" title="Select to expand or collapse content below">
									<span class="icon">+</span>Table Definitions</a>
								</h3>
							</div>
							<div class="content">
								<div class="bd">
									<p><span class="txtb">Plan Number:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus. Curabitur faucibus orci eget sapien elementum, sed congue dolor suscipit.</P>		 
									<p><span class="txtb">Plan Name:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus.</P>
									 
									<p><span class="txtb">Sub Plan:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
									
									<p><span class="txtb">BR ACCT Enabled:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>														
									 
									<p><span class="txtb">Contrib Source:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
									 
									<p><span class="txtb">Rollovers In:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
									 
									<p><span class="txtb">Legacy Default Enrolled:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
									 
									<p><span class="txtb">SDA Auto Enrolled:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
									
									<p><span class="txtb">TC OSDA:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>								
									 
									<p><span class="txtb">Plan Auto Save:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>	
									 
									<p><span class="txtb">Auto Save Turned On:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
									
									<p><span class="txtb">SDA Effective Date:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End of Active Plans -->
</div>
<!-- End Pannel -->