


<!--  Open Enrollment starts --> 
<section class="drop proto_mvc closed">
    <div class="cm">
        <div class="bd">
            <div class="shdBox clearfix p">
                <div class="one_third">
                    <div class="compact">
                        <div class="lblFieldPair mb">
                            <div class="lbl"><label for="">Start Date :</label></div>
                            <div class="input">05/01/2015</div>
                        </div>
                        <div class="lblFieldPair nmb">
                            <div class="lbl"><label for="">End Date :</label></div>
                            <div class="input">05/01/2015</div>
                        </div>
                    </div>
                </div>
                <div class="one_third">
                    <div class="compact">
                        <div class="lblFieldPair mb">
                            <div class="lbl"><label for="">Black Out Start Date :</label></div>
                            <div class="input">06/14/2015</div>
                        </div>
                        <div class="lblFieldPair nmb">
                            <div class="lbl"><label for="">Black Out End Date :</label></div>
                            <div class="input">06/14/2015</div>
                        </div>
                    </div>
                </div>
                <div class="one_third column_last">
                    <div class="compact">
                        <div class="lblFieldPair mb">
                            <div class="lbl"><label for="">Effective Date :</label></div>
                            <div class="input">05/01/2015</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Open Enrollment ends -->
<!-- Start Overall Summary -->
<div class="panels">
    <div class="hd first">
        <h3><a href="#" class="expanded" title="Select to expand or collapse content below">
        <span class="icon">+</span>Overall Summary</a>
        </h3>
    </div>
    <div class="content">
        <div class="bd">
            <div class="panels leftNavMenu">
                <div class="hd" id="prior-contrib">
                    <h3><a class="expanded" title="Select to expand or collapse content below" href="#">
                    <span class="icon">+</span>Prior Contributions</a></h3>
                </div>
                <div class="content">
                    <div class="bd">
                        <table id="" class="styleA fw " summary="Prior Contributions" role="Prior Contributions">
                            <caption>Prior Contributions</caption>
                            <colgroup>
                            <col span="1" class="w35">
                            <col span="1" class="w35">
                            <col span="1" class="w30">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col" class="txtc">Internal Revenue Code</th>
                                    <th scope="col" class="txtc">Contribution Source</th>
                                    <th scope="col" class="txtr">Contribution Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr >
                                    <td class="alignm txtc" rowspan="2">403B</td>
                                    <td class="txtc">PreTax</td>
                                    <td class="txtr">$20.00</td>
                                </tr>
                                <tr>
                                    <td class="txtc">Employer</td>
                                    <td class="txtr">$30.00 </td>
                                </tr>
                                <tr>
                                    <td class="alignt txtc">457B</td>
                                    <td class="txtc">AfterTax</td>
                                    <td class="txtr">$40.00 </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div> <!--content -->
                    <!-- MVC Scenario Table starts here-->
                    <div class="proto_mvc closed">
                        <div class="hd">
                            <h3>
                            <a class="expanded" title="Select to expand or collapse content below" href="#"><span class="icon">+</span>Contribution Summary (Location Name A)</a>
                            </h3>
                        </div>
                        <div class="content">
                            <div class="bd">
                                <table class="styleA fullwidth" summary="Contribution Summary Table">
                                    <caption>Contribution Summary Table</caption>
                                    <colgroup>
                                    <col class="w15">
                                    <col class="w20">
                                    <col class="w20">
                                    <col class="w15">
                                    <col class="w15">
                                    <col class="w15">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th rowspan="2">Effective Date</th>
                                            <th rowspan="2">Employee Contribution</th>
                                            <th rowspan="2">Employer Contribution</th>
                                            <th colspan="2" class="txtc">YTD Contributions</th>
                                            <th rowspan="2">Last Update Date</th>
                                        </tr>
                                        <tr>
                                            <th class="txtr">403b</th>
                                            <th class="txtr">457b</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td rowspan="2">01/01/2015 </td>
                                            <td rowspan="2">8% per pay period </td>
                                            <td>PreTax - 8% per pay period </td>
                                            <td rowspan="2" class="txtr txtb">$3,000.00 </td>
                                            <td rowspan="2" class="txtr txtb">$300.00</td>
                                            <td rowspan="2">06/01/2015 </td>
                                        </tr>
                                        <tr>
                                            <td>Roth - $5,500.00 per year </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h4> Max Contribution </h4>
                                <table class="styleA fullwidth" summary="Contribution Summary Table">
                                    <caption>Contribution Summary Table</caption>
                                    <colgroup>
                                    <col class="w20">
                                    <col class="w20">
                                    <col class="w20">
                                    <col class="w20">
                                    <col class="w20">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>Internal Revenue Code</th>
                                            <th class="txtr">Current Year Base Limit</th>
                                            <th class="txtr">Age 50 Catch up Amount</th>
                                            <th class="txtr">15 year Catch up Amount</th>
                                            <th class="txtr">Estimated Max Contributions Per Pay Period</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>403b</td>
                                            <td class="txtr">$18,000.00</td>
                                            <td class="txtr">$14,000.00</td>
                                            <td class="txtr">$2,000.00</td>
                                            <td class="txtr">$1,500.00</td>
                                        </tr>
                                        <tr>
                                            <td>457b</td>
                                            <td class="txtr">$18,000.00</td>
                                            <td class="txtr">$5,000.00</td>
                                            <td class="txtr">$1,000.00</td>
                                            <td class="txtr">$500.00</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="hd">
                            <h3>
                            <a class="expanded" title="Select to expand or collapse content below" href="#"><span class="icon">+</span>Contribution Summary (Location Name B)</a>
                            </h3>
                        </div>
                        <div class="content">
                            <div class="bd">
                                <table class="styleA fullwidth" summary="Contribution Summary Table">
                                    <caption>Contribution Summary Table</caption>
                                    <colgroup>
                                    <col class="w20">
                                    <col class="w20">
                                    <col class="w20">
                                    <col class="w20">
                                    <col class="w20">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th rowspan="2">Effective Date</th>
                                            <th rowspan="2">Employee Contribution</th>
                                            <th rowspan="2">Employer Contribution</th>
                                            <th class="txtc">YTD Contributions</th>
                                            <th rowspan="2">Last Update Date</th>
                                        </tr>
                                        <tr>
                                            <th class="txtr">403b</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td rowspan="2">01/01/2015 </td>
                                            <td>PreTax - 8% per pay period </td>
                                            <td rowspan="2" class="txtc"> - </td>
                                            <td rowspan="2" class="txtr">$3000.00</td>
                                            <td rowspan="2">06/01/2015 </td>
                                        </tr>
                                        <tr>
                                            <td>Roth - $5,500.00 per year </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h4> Max Contribution </h4>
                                <table class="styleA fullwidth" summary="Contribution Summary Table">
                                    <caption>Contribution Summary Table</caption>
                                    <colgroup>
                                    <col class="w20">
                                    <col class="w20">
                                    <col class="w20">
                                    <col class="w20">
                                    <col class="w20">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>Internal Revenue Code</th>
                                            <th class="txtr">Current Year Base Limit</th>
                                            <th class="txtr">Age 50 Catch up Amount</th>
                                            <th class="txtr">15 year Catch up Amount</th>
                                            <th class="txtr">Estimated Max Contributions Per Pay Period</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>403b</td>
                                            <td class="txtr">$18,000.00</td>
                                            <td class="txtr">$14,000.00</td>
                                            <td class="txtr">$2,000.00</td>
                                            <td class="txtr">$1,500.00</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        </div> <!--proto_mvc -->
                        <!-- MVC Scenario Table ends here-->
                        <div class="proto_srk proto_srkNon closed">
                            <div class="hd">
                                <h3 class=" proto_srk closed">
                                <a class="expanded" title="Select to expand or collapse content below" href="#"><span class="icon">+</span>Contribution Summary (Location Name A)</a>
                                </h3>
                                <h3 class="proto_srkNon closed">
                                <a class="expanded" title="Select to expand or collapse content below" href="#"><span class="icon">+</span>Contribution Summary</a>
                                </h3>
                            </div>
                            <div class="content">
                                <div class="bd">
                                    <table class="styleA fullwidth" summary="Contribution Summary Table">
                                        <caption>Contribution Summary Table</caption>
                                        <colgroup>
                                        <col class="w15">
                                        <col class="w20">
                                        <col class="w20">
                                        <col class="w15">
                                        <col class="w15">
                                        <col class="w15">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th rowspan="2">Effective Date</th>
                                                <th rowspan="2">Employee Contribution</th>
                                                <th rowspan="2">Employer Contribution</th>
                                                <th colspan="2" class="txtc">YTD Contributions</th>
                                                <th rowspan="2">Last Update Date</th>
                                            </tr>
                                            <tr>
                                                <th class="txtr">403b</th>
                                                <th class="txtr">457b</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td rowspan="2">01/01/2015 </td>
                                                <td rowspan="2">8% per pay period </td>
                                                <td>PreTax - 8% per pay period </td>
                                                <td rowspan="2" class="txtr txtb">$3,000.00 </td>
                                                <td rowspan="2" class="txtr txtb">$300.00</td>
                                                <td rowspan="2">06/01/2015 </td>
                                            </tr>
                                            <tr>
                                                <td>Roth - $5,500.00 per year </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <h4> Max Contribution </h4>
                                    <table class="styleA fullwidth" summary="Contribution Summary Table">
                                        <caption>Contribution Summary Table</caption>
                                        <colgroup>
                                        <col class="w20">
                                        <col class="w20">
                                        <col class="w20">
                                        <col class="w20">
                                        <col class="w20">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>Internal Revenue Code</th>
                                                <th class="txtr">Current Year Base Limit</th>
                                                <th class="txtr">Age 50 Catch up Amount</th>
                                                <th class="txtr">15 year Catch up Amount</th>
                                                <th class="txtr">Estimated Max Contributions Per Pay Period</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>403b</td>
                                                <td class="txtr">$18,000.00</td>
                                                <td class="txtr">$14,000.00</td>
                                                <td class="txtr">$2,000.00</td>
                                                <td class="txtr">$1,500.00</td>
                                            </tr>
                                            <tr>
                                                <td>457b</td>
                                                <td class="txtr">$18,000.00</td>
                                                <td class="txtr">$5,000.00</td>
                                                <td class="txtr">$1,000.00</td>
                                                <td class="txtr">$500.00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="proto_srk closed">
                                <div class="hd">
                                    <h3>
                                    <a class="expanded" title="Select to expand or collapse content below" href="#"><span class="icon">+</span>Contribution Summary (Location Name B)</a>
                                    </h3>
                                </div>
                                <div class="content">
                                    <div class="bd">
                                        <table class="styleA fullwidth" summary="Contribution Summary Table">
                                            <caption>Contribution Summary Table</caption>
                                            <colgroup>
                                            <col class="w20">
                                            <col class="w20">
                                            <col class="w20">
                                            <col class="w20">
                                            <col class="w20">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th rowspan="2">Effective Date</th>
                                                    <th rowspan="2">Employee Contribution</th>
                                                    <th rowspan="2">Employer Contribution</th>
                                                    <th class="txtc">YTD Contributions</th>
                                                    <th rowspan="2">Last Update Date</th>
                                                </tr>
                                                <tr>
                                                    <th class="txtr">403b</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td rowspan="2">01/01/2015 </td>
                                                    <td>PreTax - 8% per pay period </td>
                                                    <td rowspan="2" class="txtc"> - </td>
                                                    <td rowspan="2" class="txtr">$3000.00</td>
                                                    <td rowspan="2">06/01/2015 </td>
                                                </tr>
                                                <tr>
                                                    <td>Roth - $5,500.00 per year </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <h4> Max Contribution </h4>
                                        <table class="styleA fullwidth" summary="Contribution Summary Table">
                                            <caption>Contribution Summary Table</caption>
                                            <colgroup>
                                            <col class="w20">
                                            <col class="w20">
                                            <col class="w20">
                                            <col class="w20">
                                            <col class="w20">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th>Internal Revenue Code</th>
                                                    <th class="txtr">Current Year Base Limit</th>
                                                    <th class="txtr">Age 50 Catch up Amount</th>
                                                    <th class="txtr">15 year Catch up Amount</th>
                                                    <th class="txtr">Estimated Max Contributions Per Pay Period</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>403b</td>
                                                    <td class="txtr">$18,000.00</td>
                                                    <td class="txtr">$14,000.00</td>
                                                    <td class="txtr">$2,000.00</td>
                                                    <td class="txtr">$1,500.00</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            </div> <!-- proto_srk -->
                            </div><!--End of Sub panels-->
                            </div><!--bd-->
                            </div> <!--content-->
                            <!-- End of Overall Summary  -->
                            <!--  Plan 406554/151187     -->
                            <div class="hd" id="details1">
                                <h3 class="proto_srk closed">
                                <a href="#" class="collapsed" title="Select to expand or collapse content below">
                                <span class="icon">+</span>THOMAS JEFFERSON UNIVERSITY RETIREMENT SAVINGS PLAN-RC CONTRACTS (405274)(LOCATION NAME A)</a>
                                </h3>
                                <h3 class="proto_srkNon closed">
                                <a href="#" class="collapsed" title="Select to expand or collapse content below">
                                <span class="icon">+</span>VILLANOVA UNIVERSITY RETIREMENT SAVINGS PLAN-RC CONTRACTS (406554)</a>
                                </h3>
                                <h3 class="proto_mvc closed">
                                <a href="#" class="collapsed" title="Select to expand or collapse content below">
                                <span class="icon">+</span>STATE UNIVERSITY OF NEW YORK - TAX DEFERRED ANNUITY PLAN (151167) (Erie Community College)</a>
                                </h3>
                            </div>
                            <div class="content">
                                <div class="bd">
                                    <div class="panels">
                                        <div class="hd">
                                            <h3 class="ntsep">
                                            <a class="collapsed" title="Select to expand or collapse content below" href="#"><span class="icon">+</span>Salary Deferral Details </a>
                                            </h3>
                                        </div>
                                        <div class="content">
                                            <div class="bd">
                                                <!-- START Tooltip Content for first contrinution tooltip -->
                                                <div class="tipContents" aria-hidden="true" role="tooltip" id="contriTxtTT">

                                                    <div class="mbm">
                                                        The amount you contribute depends on your tier:
                                                    </div>

                                                    <div class="clearfix txt11 txtb txtlc txtupper">
                                                        <div class="one_fourth">
                                                            Tier
                                                        </div>
                                                        <div class="three_fourth column_last">
                                                            Amount You Contribute
                                                        </div>
                                                    </div>
                                                    <hr class="separator mts mb" />
                                                    <div class="clearfix">
                                                        <div class="one_fourth">
                                                            Tier 1 &amp; 2
                                                        </div>
                                                        <div class="three_fourth column_last txtb">
                                                            0%
                                                        </div>
                                                    </div>
                                                    <hr class="separator mtb" />
                                                    <div class="clearfix">
                                                        <div class="one_fourth">
                                                            Tier 3 &amp; 4
                                                        </div>
                                                        <div class="three_fourth column_last">
                                                            <b>3%</b> for first 10 years
                                                        </div>
                                                    </div>
                                                    <hr class="separator mtb" />
                                                    <div class="clearfix">
                                                        <div class="one_fourth">
                                                            Tier 5
                                                        </div>
                                                        <div class="three_fourth column_last txtb">
                                                            3%
                                                        </div>
                                                    </div>
                                                    <hr class="separator mtb" />
                                                    <div class="clearfix">
                                                        <div class="one_fourth">
                                                            Tier 6
                                                        </div>
                                                        <div class="three_fourth column_last">
                                                            <div>
                                                                Annual salary rate of $45,000 or less: <b>3%</b>
                                                            </div>
                                                            <div class="mtxs">
                                                                $45,000.01 - $55,000: <b>3.5%</b>
                                                            </div>
                                                            <div class="mtxs">
                                                                $55,000.01 - $75,000: <b>4.5%</b>
                                                            </div>
                                                            <div class="mtxs">
                                                                $75,000.01 - $100,000: <b>5.75%</b>
                                                            </div>
                                                            <div class="mtxs">
                                                                $100,000.01 - $179,000: <b>6%</b>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr class="separator mtb" />
                                                    <div role="alert" aria-live="polite" class="inlineAlert nmb nobg">
                                                        <div>
                                                            <span class="icon"></span>On your paycheck, this will be the 414(h)(2) pick-up amount. For more information, please contact your Plan Sponsor.
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- END Tooltip Content for first contrinution tooltip -->

                                                <div class="mbm">
                                                    <h3> Employee Contribution <span class="flr mrxlg txt12">
                                                    <span class="txtb">Remaining Pay Period</span> <span class="txtn">: 7</span>
                                                    <span class="txtb mlxlg">Deferral Type</span> <span class="txtn">: PERCENT</span></span></h3>
                                                    <div class="clear"></div>
                                                </div>
                                                <table class="styleA fw" summary="Employee Contribution">
                                                    <caption>Employee Contribution</caption>
                                                    <colgroup>
                                                    <col width="25%">
                                                    <col width="15%">
                                                    <col width="25%">
                                                    <col width="15%">
                                                    <col width="10%" class="proto_mvc closed">
                                                    <col width="10%" class="proto_mvc closed">
                                                    </colgroup>
                                                    <thead>
                                                        <tr>
                                                            <th class="txtc">Source Name</th>
                                                            <th class="txtc">Source Election Value</th>
                                                            <th class="txtc">Vendor</th>
                                                            <th class="txtc">Vendor Allocation Percentage</th>
                                                            <th class="txtc proto_mvc closed">Sub Plan</th>
                                                            <th class="txtc proto_mvc closed">Sub Plan Allocation</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="txtc">E- Employee PreTax</td>
                                                            <td class="txtc">
                                                                <span class="proto_srk proto_srkNon closed">8%</span><span class="proto_mvc closed"><input type="button" id="contriTxt" name="contriTxt" class="tipLink2" data-tooltip-width="500" value="Contributing" role="button" aria-describedby="contriTxtTT" /></span>
                                                            </td>
                                                            <td class="txtc">TIAA-CREF</td>
                                                            <td class="txtc">100%</td>
                                                            <td class="proto_mvc txtc closed">GA1001</td>
                                                            <td class="proto_mvc txtc closed">25%</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="mbm">
                                                    <h3> Employer Contribution <span class="flr mrxlg txt12"><span class="txtb">Contribution Type</span> <span class="txtn">: PERCENT</span></span></h3>
                                                    <div class="clear"></div>
                                                </div>
                                                <table class="styleA fw" summary="Employer Contribution">
                                                    <caption>Employer Contribution</caption>
                                                    <colgroup>
                                                    <col width="25%">
                                                    <col width="15%">
                                                    <col width="25%">
                                                    <col width="15%">
                                                    <col width="10%" class="proto_mvc closed">
                                                    <col width="10%" class="proto_mvc closed">
                                                    </colgroup>
                                                    <thead>
                                                        <tr>
                                                            <th class="txtc">Source Name</th>
                                                            <th class="txtc">Source Election Value</th>
                                                            <th class="txtc">Vendor</th>
                                                            <th class="txtc">Vendor Allocation Percentage</th>
                                                            <th class="txtc proto_mvc closed">Sub Plan</th>
                                                            <th class="txtc proto_mvc closed">Sub Plan Allocation</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="txtc">F-Employer</td>
                                                            <td class="txtc">100%</td>
                                                            <td class="txtc">TIAA-CREF</td>
                                                            <td class="txtc">100%</td>
                                                            <td class="proto_mvc txtc closed">GS1001</td>
                                                            <td class="proto_mvc txtc closed">25%</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                </div> <!--bd -->
                                                </div> <!--content -->
                                                <div class="hd">
                                                    <h3>
                                                    <a class="collapsed" title="Select to expand or collapse content below" href="#"><span class="icon">+</span>Beneficiaries and Allocation</a>
                                                    </h3>
                                                </div>
                                                <div class="content">
                                                    <div class="bd">
                                                        <div class="planpanel">
                                                            <div class="panels">
                                                                <div class="hd">
                                                                    <h3>
                                                                    <a href="#" class="expanded" title="Select to expand or collapse content below"><span class="icon">+</span>Beneficiaries</a>
                                                                    </h3>
                                                                </div>
                                                                <div class="content">
                                                                    <div class="bd">
                                                                        <table id="" class="styleA fw" summary="Beneficiaries" role="Beneficiaries">
                                                                            <caption>Beneficiaries</caption>
                                                                            <colgroup>
                                                                            <col span="1" class="w25">
                                                                            <col span="1" class="w25">
                                                                            <col span="1" class="w25">
                                                                            <col span="1" class="w25">
                                                                            </colgroup>
                                                                            <thead>
                                                                                <tr>
                                                                                    <th class="txtc">Sub-Plan</th>
                                                                                    <th class="txtc">Type</th>
                                                                                    <th class="txtc"> Name</th>
                                                                                    <th class="txtc">Entitlement</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="txtc">RP1001</td>
                                                                                    <td class="txtc">Primary</td>
                                                                                    <td class="txtc">Estate</td>
                                                                                    <td class="txtc">100.00%</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <div class="hd">
                                                                    <h3>
                                                                    <a href="#" class="expanded" title="Select to expand or collapse content below"><span class="icon">+</span>Allocation</a>
                                                                    </h3>
                                                                </div>
                                                                <div class="content">
                                                                    <div class="bd">
                                                                        <table id="" class="styleA fw" summary="Allocation">
                                                                            <caption>Allocation</caption>
                                                                            <colgroup>
                                                                            <col span="1" class="w25">
                                                                            <col span="1" class="w25">
                                                                            <col span="1" class="w25">
                                                                            <col span="1" class="w25">
                                                                            </colgroup>
                                                                            <thead>
                                                                                <tr>
                                                                                    <th class="txtc">Sub-Plan</th>
                                                                                    <th class="txtc">Asset Class</th>
                                                                                    <th class="txtc">Fund Name</th>
                                                                                    <th class="txtc">Percent Allocated</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="txtc">RP1001</td>
                                                                                    <td class="txtc">Guaranteed</td>
                                                                                    <td class="txtc">TIAA Traditional</td>
                                                                                    <td class="txtc">100.00%</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hd">
                                                    <h3><a href="#" class="collapsed" title="Select to expand or collapse content below"><span class="icon">+</span>Auto Enrollment</a></h3>
                                                </div>
                                                <div class="content">
                                                    <div class="bd">
                                                        <table summary="Auto Enrollment" class="styleA fw mbm">
                                                            <caption>Auto Enrollment</caption>
                                                            <colgroup>
                                                            <col class="w10">
                                                            <col class="w10">
                                                            <col class="w10">
                                                            <col class="w10">
                                                            <col class="w10">
                                                            <col class="w10">
                                                            <col class="w10">
                                                            <col class="w10">
                                                            <col class="w10">
                                                            <col class="w10">
                                                            </colgroup>
                                                            <thead>
                                                                <tr>
                                                                    <th class="txtc">Auto Enroll Type</th>
                                                                    <th class="txtc">SDA Already Created</th>
                                                                    <th class="txtc" >Auto Enroll Effective Date</th>
                                                                    <th class="txtc">Auto Enroll Start Date</th>
                                                                    <th class="txtc">Auto Enroll Stop Date</th>
                                                                    <th class="txtc">Online Opt-Out</th>
                                                                    <th class="txtc">Opt-Out Days Remaining</th>
                                                                    <th class="txtc">Employee Auto Enroll Determining Factor</th>
                                                                    <th class="txtc">Deferral Percentage or Dollar Amount</th>
                                                                    <th class="txtc">Permissible Withdrawals</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td class="txtc">ACA</td>
                                                                    <td class="txtc">Yes</td>
                                                                    <td class="txtc">03/21/2016</td>
                                                                    <td class="txtc">04/23/2016</td>
                                                                    <td class="txtc">04/15/2016</td>
                                                                    <td class="txtc">Yes</td>
                                                                    <td class="txtc">30</td>
                                                                    <td class="txtc">Hire Date</td>
                                                                    <td class="txtc">3%</td>
                                                                    <td class="txtc">No</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="txtc">EACA</td>
                                                                    <td class="txtc">No</td>
                                                                    <td class="txtc">N/A</td>
                                                                    <td class="txtc">03/01/2016</td>
                                                                    <td class="txtc">04/11/2016</td>
                                                                    <td class="txtc">No</td>
                                                                    <td class="txtc">90</td>
                                                                    <td class="txtc">Eligibilty Date</td>
                                                                    <td class="txtc">$500.00</td>
                                                                    <td class="txtc">Yes</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <div class="panels">
                                                            <div class="hd">
                                                                <h3> <a href="#" class="collapsed"> <span class="icon">+</span>Table Definition</a></h3>
                                                            </div>
                                                            <div class="content">
                                                                <div class="bd">
                                                                    <p><span class="txtb">Auto Enroll Type:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus. Curabitur faucibus orci eget sapien elementum, sed congue dolor suscipit.</p><p><span class="txtb">SDA Already Created:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus.</p>
                                                                    <p><span class="txtb">Auto Enroll Effective Date:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
                                                                    <p><span class="txtb">Auto Enroll Start Date:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
                                                                    <p><span class="txtb">Auto Enroll Stop Date:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
                                                                    <p><span class="txtb">Online Opt-Out:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
                                                                    <p><span class="txtb">Opt-Out Days Remaining:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
                                                                    <p><span class="txtb">Employee Auto Enroll Determining Factor:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
                                                                    <p><span class="txtb">Deferral Percentage by Dollar Amount:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
                                                                    <p><span class="txtb">Permissible Withdrawals:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hd">
                                                    <h3><a href="#" class="collapsed" title="Select to expand or collapse content below"><span class="icon">+</span>Auto Save</a></h3>
                                                </div>
                                                <div class="content">
                                                    <div class="bd">
                                                        <table summary="Auto Save" class="styleA fw mbm">
                                                            <caption>Auto Save</caption>
                                                            <colgroup>
                                                            <col class="w10">
                                                            <col class="w10">
                                                            <col class="w5">
                                                            <col class="w10">
                                                            <col class="w10">
                                                            <col class="w10">
                                                            <col class="w10">
                                                            <col class="w10">
                                                            <col class="w10">
                                                            <col class="w5">
                                                            <col class="w5">
                                                            <col class="w5">
                                                            </colgroup>
                                                            <thead>
                                                                <tr>
                                                                    <th class="txtc">The Auto Save Increase Amount, Frequency, Date and Ceiling Amount is Set by</th>
                                                                    <th class="txtc">Participant Override Allowed</th>
                                                                    <th class="txtc">Auto Save Type Allowed</th>
                                                                    <th class="txtc">Auto Save Increase Amount or Percentage</th>
                                                                    <th class="txtc">Auto Save Increase Frequency</th>
                                                                    <th class="txtc">Auto Save Increase Rule</th>
                                                                    <th class="txtc">Auto Save Increase Date</th>
                                                                    <th class="txtc">Deferral Ceiling Limit Set by Participant</th>
                                                                    <th class="txtc">Deferral Ceiling Dollar Amount or Percentage</th>
                                                                    <th class="txtc">Auto Save Increase Amount Cap</th>
                                                                    <th class="txtc">Dollar Amount or Percentage Cap</th>
                                                                    <th class="txtc">Auto Increase Sources</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td class="txtc">Employee</td>
                                                                    <td class="txtc">Increase Amount</td>
                                                                    <td class="txtc">Percent</td>
                                                                    <td class="txtc">3%</td>
                                                                    <td class="txtc">Quarterly</td>
                                                                    <td class="txtc">First day of plan year</td>
                                                                    <td class="txtc">12/01/2015</td>
                                                                    <td class="txtc">Yes</td>
                                                                    <td class="txtc">$1,000.00</td>
                                                                    <td class="txtc">Yes</td>
                                                                    <td class="txtc">$500.00</td>
                                                                    <td class="txtc">E</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <div class="panels">
                                                            <div class="hd">
                                                                <h3> <a href="#" class="collapsed"> <span class="icon">+</span>Table Definition</a></h3>
                                                            </div>
                                                            <div class="content">
                                                                <div class="bd">
                                                                    <p><span class="txtb">The Auto Save Increase Amount, Frequency, Date and Ceiling Amount is Set by:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus. Curabitur faucibus orci eget sapien elementum, sed congue dolor suscipit.</p>
                                                                    <p><span class="txtb">Participant Override Allowed :</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
                                                                    <p><span class="txtb">Auto Save Type Allowed:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
                                                                    <p><span class="txtb">Auto Save Increase Amount or Percentage:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
                                                                    <p><span class="txtb">Auto Save Increase Frequency:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
                                                                    <p><span class="txtb">Auto Save Increase Rule:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
                                                                    <p><span class="txtb">Auto Save Increase Date:</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
                                                                    <p><span class="txtb">Participant Self-set Deferral Ceiling Limit:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
                                                                    <p><span class="txtb">Deferral Ceiling Dollar Amount or Percentage:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
                                                                    <p><span class="txtb">Auto Save Increase Amount Cap:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
                                                                    <p><span class="txtb">Cap Dollar Amount or Percentage:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
                                                                    <p><span class="txtb">Auto Increase Sources:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                </div><!--End of Sub panels-->
                                                </div><!--bd-->
                                                </div> <!--content-->
                                                <!-- End of 406554/151187-->
                                                <!-- Start of Plan 406555/151188 -->
                                                <div class="hd" id="details2">
                                                    <h3 class="proto_srk closed">
                                                    <a href="#" class="collapsed" title="Select to expand or collapse content below">
                                                    <span class="icon">+</span>THOMAS JEFFERSON UNIVERSITY RETIREMENT SAVINGS PLAN-RC CONTRACTS (405274)(LOCATION NAME B)</a>
                                                    </h3>
                                                    <h3 class="proto_srkNon closed">
                                                    <a href="#" class="collapsed" title="Select to expand or collapse content below">
                                                    <span class="icon">+</span>VILLANOVA UNIVERSITY RETIREMENT SAVINGS PLAN-RC CONTRACTS (406555)</a>
                                                    </h3>
                                                    <h3 class="proto_mvc closed">
                                                    <a href="#" class="collapsed" title="Select to expand or collapse content below">
                                                    <span class="icon">+</span>STATE UNIVERSITY OF NEW YORK - OPTIONAL RETIREMENT PROGRAM (151166) (Erie Community College)</a>
                                                    </h3>
                                                </div>
                                                <div class="content">
                                                    <div class="bd">
                                                        <div class="panels">
                                                            <div class="hd">
                                                                <h3>
                                                                <a class="collapsed" title="Select to expand or collapse content below" href="#"><span class="icon">+</span>Salary Deferral Details </a>
                                                                </h3>
                                                            </div>
                                                            <div class="content">
                                                                <div class="bd">
                                                                    <div class="tipContents" aria-hidden="true" role="tooltip" id="contriTxtTT2">
                                                                        
                                                                            <div class="mbm">
                                                                                The amount your employer contributes depends on your tier:
                                                                            </div>
                                                                        
                                                                        <div class="clearfix txt11 txtb txtlc txtupper">
                                                                            <div class="one_fourth">
                                                                                Tier
                                                                            </div>
                                                                            <div class="three_fourth column_last">
                                                                                Amount Employer Contributes
                                                                            </div>
                                                                        </div>
                                                                        <hr class="separator mts mb" />
                                                                        <div class="clearfix">
                                                                            <div class="one_fourth">
                                                                                Tier 1 &amp; 2
                                                                            </div>
                                                                            <div class="three_fourth column_last">
                                                                                <div class="mbs">
                                                                                    <b>12%</b> for the first $16,500 of salary per calendar year
                                                                                </div>
                                                                                <div>
                                                                                    <b>15%</b> of all salary above $16,500
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <hr class="separator mtb" />
                                                                        <div class="clearfix">
                                                                            <div class="one_fourth">
                                                                                Tier 3 &amp; 4
                                                                            </div>
                                                                            <div class="three_fourth column_last">
                                                                                <div class="mbs">
                                                                                    <b>9%</b> for the first $16,500 of salary per calendar year
                                                                                </div>
                                                                                <div>
                                                                                    <b>12%</b> of all salary above $16,500
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <hr class="separator mtb" />
                                                                        <div class="clearfix">
                                                                            <div class="one_fourth">
                                                                                Tier 5 &amp; 6
                                                                            </div>
                                                                            <div class="three_fourth column_last">
                                                                                <div class="mbs">
                                                                                    <b>8%</b> of salary for the first 7 years of service
                                                                                </div>
                                                                                <div>
                                                                                    <b>10%</b> thereafter
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <h3 class="mbm"> Employee Contribution
                                                                    <span class="flr mrxlg txt12">
                                                                    <span class="txtb">Remaining Pay Period</span> <span class="txtn">: 14</span>
                                                                    <span class="txtb mlxlg">Deferral Type</span> <span class="txtn">: PERCENT</span>
                                                                    </span>
                                                                    </h3>
                                                                    <table class="styleA fw" summary="Employee Contribution">
                                                                        <caption>Employee Contribution</caption>
                                                                        <colgroup>
                                                                        <col width="25%">
                                                                        <col width="15%">
                                                                        <col width="25%">
                                                                        <col width="15%">
                                                                        <col width="10%" class="proto_mvc closed">
                                                                        <col width="10%" class="proto_mvc closed">
                                                                        </colgroup>
                                                                        <thead>
                                                                            <tr>
                                                                                <th class="txtc">Source Name</th>
                                                                                <th class="txtc">Source Election Value</th>
                                                                                <th class="txtc">Vendor</th>
                                                                                <th class="txtc">Vendor Allocation Percentage</th>
                                                                                <th class="txtc proto_mvc closed">Sub Plan</th>
                                                                                <th class="txtc proto_mvc closed">Sub Plan Allocation</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td class="txtc">E-Employee PreTax</td>
                                                                                <td class="txtc">
                                                                                    <span class="proto_srk proto_srkNon closed">8%</span><span class="proto_mvc closed"><input type="button" id="contriTxt" name="contriTxt" class="tipLink2" value="Contributing" role="button" aria-describedby="contriTxtTT" /></span>
                                                                                </td>
                                                                                <td class="txtc">TIAA-CREF</td>
                                                                                <td class="txtc">100%</td>
                                                                                <td class="proto_mvc txtc closed">GA1001</td>
                                                                                <td class="proto_mvc txtc closed">25%</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <h3 class="mbm"> Employer Contribution <span class="flr mrxlg txt12"><span class="txtb mlxlg">Deferral Type</span> <span class="txtn">: PERCENT</span></span></h3>
                                                                    <table class="styleA fw" summary="Employer Contribution">
                                                                        <caption>Employer Contribution</caption>
                                                                        <colgroup>
                                                                        <col width="25%">
                                                                        <col width="15%">
                                                                        <col width="25%">
                                                                        <col width="15%">
                                                                        <col width="10%" class="proto_mvc closed">
                                                                        <col width="10%" class="proto_mvc closed">
                                                                        </colgroup>
                                                                        <thead>
                                                                            <tr>
                                                                                <th class="txtc">Source Name</th>
                                                                                <th class="txtc">Source Election Value</th>
                                                                                <th class="txtc">Vendor</th>
                                                                                <th class="txtc">Vendor Allocation Percentage</th>
                                                                                <th class="txtc proto_mvc closed">Sub Plan</th>
                                                                                <th class="txtc proto_mvc closed">Sub Plan Allocation</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td class="txtc">F-Employer</td>
                                                                                <td class="txtc"><span class="proto_srk proto_srkNon closed">10%</span><span class="proto_mvc closed"><input type="button" id="contriTxt2" name="contriTxt" class="tipLink2" value="Contributing" role="button" aria-describedby="contriTxtTT2" /></span></td>
                                                                                <td class="txtc">TIAA-CREF</td>
                                                                                <td class="txtc">100%</td>
                                                                                <td class="proto_mvc txtc closed">GS1001</td>
                                                                                <td class="proto_mvc txtc closed">25%</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div class="hd">
                                                                <h3>
                                                                <a class="collapsed" title="Select to expand or collapse content below" href="#"><span class="icon">+</span>Beneficiaries and Allocation</a>
                                                                </h3>
                                                            </div>
                                                            <div class="content">
                                                                <div class="bd">
                                                                    <div class="planpanel">
                                                                        <div class="panels">
                                                                            <div class="hd">
                                                                                <h3>
                                                                                <a href="#" class="expanded" title="Select to expand or collapse content below"><span class="icon">+</span>Beneficiaries</a>
                                                                                </h3>
                                                                            </div>
                                                                            <div class="content">
                                                                                <div class="bd">
                                                                                    <table id="" class="styleA fw" summary="Beneficiaries" role="Beneficiaries">
                                                                                        <caption>Beneficiaries</caption>
                                                                                        <colgroup>
                                                                                        <col span="1" class="w25">
                                                                                        <col span="1" class="w25">
                                                                                        <col span="1" class="w25">
                                                                                        <col span="1" class="w25">
                                                                                        </colgroup>
                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th class="txtc">Sub-Plan</th>
                                                                                                <th class="txtc">Type</th>
                                                                                                <th class="txtc"> Name</th>
                                                                                                <th class="txtc">Entitlement</th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td class="txtc">RP1001</td>
                                                                                                <td class="txtc">Primary</td>
                                                                                                <td class="txtc">Estate</td>
                                                                                                <td class="txtc">100.00%</td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                            <div class="hd">
                                                                                <h3>
                                                                                <a href="#" class="expanded" title="Select to expand or collapse content below"><span class="icon">+</span>Allocation</a>
                                                                                </h3>
                                                                            </div>
                                                                            <div class="content">
                                                                                <div class="bd">
                                                                                    <table id="" class="styleA fw" summary="Allocation">
                                                                                        <caption>Allocation</caption>
                                                                                        <colgroup>
                                                                                        <col span="1" class="w25">
                                                                                        <col span="1" class="w25">
                                                                                        <col span="1" class="w25">
                                                                                        <col span="1" class="w25">
                                                                                        </colgroup>
                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th class="txtc">Sub-Plan</th>
                                                                                                <th class="txtc">Asset Class</th>
                                                                                                <th class="txtc">Fund Name</th>
                                                                                                <th class="txtc">Percent Allocated</th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td class="txtc">RP1001</td>
                                                                                                <td class="txtc">Guaranteed</td>
                                                                                                <td class="txtc">TIAA Traditional</td>
                                                                                                <td class="txtc">100.00%</td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            </div><!--End of Sub panels-->
                                                            </div><!--bd-->
                                                            </div> <!--content-->
                                                            <!-- End of Plan 406555/151188 -->
                                                        </div>	 <!-- panels