<div class="alertModule" aria-live="assertive" id="mainAlert">
  <div>
   <span class="icon"></span>
    <span>The Social Security Number entered is not found. In order to proceed with this enrollment, either enter a valid access code OR click the Cancel button and re-enter a valid SSN, PIN/NPIN or Contact Number.</span>
  </div>
</div>
<h3 calss="heading mb clear">Start Date: 10/01/13, End Date: 12/31/2013, Effective Date: 01/15/2014, Black out Start Date: 01/01/2014, and Black out End Date: 01/14/2014<!-- <span class="panelDate">Date until Date</span>--></h3>
<!-- Panels -->

<div class="panels">     
   <div class="hd first" id="SunyDtaxPlan">
      <h3 id="SunyDtaxPlan1"><a href="#" class="expanded" title="Select to expand or collapse content below">
         <span class="icon">+</span>SUNY TAX DEFERRED ANNUITY PLAN (151167) </a><span class="panelDate">Last Updated: 4/1/2014 (Fast Lane)</span>
      </h3>
   </div>
   <div class="content">
      <div class="bd ">
	     <div class="panels ">
      <div class="clear mb"></div>     
       <div class="flr mb"> Deduction Method : MAX | Deduction Amount : $17,500</div>  
        
	     
		   <div class="hd">
              <h3>
                   <a class="expanded" title="Select to expand or collapse content below" href="javascript:void(0)">
                    <span class="icon">+</span>
                    Salary Deferral Details 
                  </a>
             </h3>
          </div>
		    <div class="content">
                <div class="bd">
		            <table id="" class="styleA fw " summary="Salary Deferral Details" role="Salary Deferral Details">
                     <caption>
                      Salary Deferral Details
                    </caption>
                    <colgroup>
                      <col span="1" class="w20">
                      <col span="1" class="w20">
                      <col span="1" class="w20">
                      <col span="1" class="w20">
                      <col span="1" class="w15">
                      <col span="1" class="w15">
                   </colgroup>
                   <thead>
                      <tr>
                        <th scope="col">Source Name</th>
                        <th scope="col">Source Election Value</th>
                        <th scope="col">Vendor</th>
                        <th scope="col">Sub Plan</th>
                        <th scope="col">Vendor Allocation</th>
                        <th scope="col">Annualized Equivalent Dollar Allocation</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr >
                        <td class="alignt" rowspan="2">Pre Tax</td>
                        <td rowspan="2">$7500</td>
                        <td>TIAA CREF</td>
                        <td rowspan="2">GR1001</td>
                        <td>50%</td>
                        <td>$3750</td>
                      </tr>
                      <tr>
                        <td>MetLife</td>
                        <td>50%</td>
                        <td>$3750</td>
                      </tr>
                      <tr >
                        <td class="alignt" rowspan="4">Employee After Tax</td>
                        <td class="alignt" rowspan="4">$10,000</td>
                        <td>TIAA CREF</td>
                        <td rowspan="4">GS1001</td>
                        <td>25%</td>
                        <td>$2500</td>
                      </tr>
                      <tr>
                        <td>MetLife</td>
                        <td>25%</td>
                        <td>$2500</td>
                      </tr>
                      <tr>
                        <td>AIG</td>
                        <td>25%</td>
                        <td>$2500</td>
                      </tr>
                      <tr>
                        <td>Fidelity</td>
                        <td>25%</td>
                        <td>$2500</td>
                      </tr>
                  </tbody>
                  </table>
		        </div>
		    </div>
			<div class="hd">
              <h3>
                   <a class="expanded" title="Select to expand or collapse content below" href="javascript:void(0)">
                    <span class="icon">+</span>
                    Auto Save
                  </a>
             </h3>
          </div>
		    <div class="content">
                <div class="bd">
		        <table id="" class="styleA fw " summary="Auto Save" role="Auto Save">
                <caption>
                   Auto Save
                </caption>
                <colgroup>
                 <col span="1" class="w10" >
                 <col span="1" class="w10" >
                 <col span="1" class="w10" >
                 <col span="1" class="w10" >
                 <col span="1" class="w10" >
                 <col span="1" class="w10" >
                 <col span="1" class="w10" >
                 <col span="1" class="w10" >
                 <col span="1" class="w10" >
                 <!-- <col span="1" class="w10" > -->
              </colgroup>
             <thead>
                <tr>
                  <th scope="col" >Auto save available</th>
                  <th scope="col" >Opt In/OptOut Enabled</th>
                  <th scope="col" >Enrollee Election</th>
                  <th scope="col" >Increase Types</th>
                  <th scope="col" >Annual Increase Min</th>
                  <th scope="col" >Annual Increase Max</th>
                  <th scope="col" >Date of Next Increase</th>
                  <th scope="col"> Source </th>
                  <th scope="col" >Incremental Increase</th>
                 <!--  <th scope="col" >Last Updated</th> -->
             </tr>
             </thead>
             <tbody>
               <tr class="">
                  <td>Yes</td>
                  <td>Yes</td>
                  <td>In</td>				  
				  <td>% and $</td>
				  <td>1%</td>
				  <td>1%</td>
                  <td>Jan.1</td>
                  <td>E</td>
				  <td>2%</td>				 
				 <!--  <td>9/1/13</td> -->
               </tr>
             </tbody>
             </table>
		        </div>
		    </div>
			<div class="hd">
              <h3>
                   <a class="expanded" title="Select to expand or collapse content below" href="javascript:void(0)">
                    <span class="icon">+</span>
                    Beneficiaries and Allocation
                  </a>
             </h3>
          </div>
		    <div class="content">
                <div class="bd">
		            <div class="planpanel">
                       <div class="panels">
                          <div class="hd first">
                               <h3><a href="" class="expanded" title="Select to expand or collapse content below">
                                   <span class="icon">+</span>Beneficiaries</a>
                              </h3>
                          </div>
                           <div class="content">
                           <div class="bd">
						       <table id="nodataDisplay" class="styleA fw closed" summary="Auto Save" role="Auto Save">
                                  <caption>
                                   Beneficiaries
                                 </caption>
                               <colgroup>
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                              </colgroup>
                              <thead>
                                 <tr>
                                  <th scope="col" >Sub-Plan</th>
                                  <th scope="col" >Type</th>
                                  <th scope="col"> Name</th>
                                  <th scope="col" >Entitlement</th>
                               </tr>
                             </thead>
                              <tbody> 
							  <tr>
							   <td colspan="4" class="">No Data to display</td>
							  </tr>
							   </tbody>
                             </table>
						    
						        <table id="dataDisplay" class="styleA fw closed" summary="Auto Save" role="Auto Save">
                                  <caption>
                                   Beneficiaries
                                 </caption>
                               <colgroup>
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                              </colgroup>
                              <thead>
                                 <tr>
                                  <th scope="col" >Sub-Plan</th>
                                  <th scope="col" >Type</th>
                                  <th scope="col"> Name</th>
                                  <th scope="col" >Entitlement</th>
                               </tr>
                             </thead>
                              <tbody> 
                                <tr >
                                    <td rowspan="6">GR1001</td><td rowspan="2">Primary</td><td>Army B</td><td>50%</td>
                                </tr>
                                <tr>
                                    <td>Tim W</td><td>50%</td>
                                </tr>
                                <tr>
                                    <td rowspan="4">Contingent</td><td>Blair W</td><td>25%</td>
                                </tr>
                                <tr>
                                    <td>Petro R</td><td>25%</td>
                                </tr>
                                <tr>
                                    <td>Mike E</td><td>25%</td>
                                </tr>
                                <tr>
                                    <td>Beckey M</td><td>25%</td>
                                </tr>
                                <tr >
                                    <td rowspan="3">RA1006</td><td rowspan="1">Primary</td><td>Abis S</td><td>100%</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Contingent</td><td>Dave T</td><td>50%</td>
                                </tr>
                                <tr>
                                    <td>Prakash</td><td>50%</td>
                                </tr>
                              </tbody>
                             </table>
						   </div>
                          </div>
						   <div class="hd">
                               <h3><a href="" class="expanded" title="Select to expand or collapse content below">
                                   <span class="icon">+</span>Allocation</a>
                              </h3>
                          </div>
                           <div class="content">
                           <div class="bd">
						         <table id="nodataDisplay1" class="styleA fw closed" summary="Auto Save" role="Auto Save">
                                  <caption>
                                   Allocation
                                 </caption>
                               <colgroup>
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                              </colgroup>
                              <thead>
                                 <tr>
                                  <th scope="col">Sub-Plan</th>
                                  <th scope="col">Asset Class</th>
                                  <th scope="col"> Fund Name</th>
                                  <th scope="col">% Allocated</th>
                               </tr>
                             </thead>
                              <tbody>
							   <tr >
							   <td colspan="4" class="s">No Data to display</td>
							  </tr>
							   </tbody>
                             </table>
						       <table id="dataDisplay1" class="styleA fw   closed" summary="Auto Save" role="Auto Save">
                                  <caption>
                                   Allocation
                                 </caption>
                               <colgroup>
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                              </colgroup>
                              <thead>
                                 <tr>
                                  <th scope="col">Sub-Plan</th>
                                  <th scope="col">Asset Class</th>
                                  <th scope="col"> Fund Name</th>
                                  <th scope="col">% Allocated</th>
                               </tr>
                             </thead>
                              <tbody>
                                <tr >
                                  <td rowspan="4">GR1001</td>
								  <td rowspan="4">Real Estate</td>
								  <td>Cref Social Choice</td>
								  <td>25%</td>
								</tr>
								<tr>
									<td>PRUDENTIAL SMALL COMPANY Q</td>
									<td>35%</td>
								</tr>
								<tr>
									<td>AMERICAN GROWTH OF AMERICA R6</td>
									<td>20%</td>
								</tr>
								<tr>
        				            <td>CREF GLOBAL EQUITIES</td>
									<td>20%</td>
                               </tr>
					            <tr >
									<td rowspan="32">RA1006</td>
                                    <td rowspan="32">Real Estate</td>
                                    <td>CREF STOCK</td>
                                    <td>%</td>
								</tr>
								<tr>
								   <td>CREF MONEY MARKET</td>
								   <td>%</td>
								</tr>
								<tr>
								   <td>CREF SOCIAL CHOICE</td>
								   <td>%</td>
								</tr>
								<tr>
									<td>CREF BOND MARKET </td>
									<td>%</td>
								</tr>
								<tr>
									<td>CREF GLOBAL EQUITIES</td>
									<td>%</td>
								</tr>
								<tr>
									<td>CREF GROWTH</td>
									<td>%</td>
								</tr>
								<tr>
									<td>CREF EQUITY INDEX</td>
									<td>%</td>
								</tr>
								<tr>
									<td> CREF INFLATION-LINKED BOND</td>
									<td>%</td>
								</tr>
								<tr>
									<td>TIAA ACCESS INTL EQUITY T1</td>
									<td>%</td>
								</tr>
								<tr>
									<td>TIAA ACCESS GROWTH & INCOME T1</td>
									<td>%</td>
								</tr>
								<tr>
									<td> TIAA ACCESS LG-CAP VAL T1</td>
									<td>%</td>
								</tr>
								
								<tr>
									<td>TIAA ACCESS MID-CAP GR T1</td>
									<td>%</td>
								</tr>
								<tr>
									<td>TIAA ACCESS MID-CAP VAL T1</td>
									<td>%</td>
								</tr>
								<tr>
									<td>TIAA ACCESS SM-CAP EQUITY T1</td>
									<td>%</td>
								</tr>
								<tr>
									<td> TIAA ACCESS INTL EQUITY IDX T1</td>
									<td>%</td>
								</tr>
								<tr>
									<td>TIAA ACCESS LG-CAP GR IDX T1</td>
									<td>%</td>
								</tr>
								<tr>
									<td>TIAA ACCESS S&P 500 INDEX T1</td>
									<td>%</td>
								</tr>
								<tr>
									<td>TIAA ACCESS EQUITY INDEX T1</td>
									<td>%</td>
								</tr>
								<tr>
									<td>TIAA ACCESS LG-CAP VAL IDX T1</td>
									<td>%</td>
								</tr>
								<tr>
									<td>TIAA ACCESS LIFECYCLE 2055 T1</td>
									<td>%</td>
								</tr>
								<tr>
									<td>TIAA ACCESS SM-CAP BL IDX T1</td>
									<td>%</td>
								</tr>
								<tr>
									<td>TIAA ACCESS LIFECYCLE 2010 T1</td>
									<td>%</td>
								</tr>
								<tr>
									<td>TIAA ACCESS LIFECYCLE 2015 T1</td>
									<td>%</td>
								</tr>
								<tr>
									<td>TIAA ACCESS LIFECYCLE 2020 T1</td>
									<td>%</td>
								</tr>
								<tr>
									<td>TIAA ACCESS LIFECYCLE 2025 T1</td>
									<td>%</td>
								</tr>
								<tr>
									<td>TIAA ACCESS LIFECYCLE 2035 T1</td>
									<td>%</td>
								</tr>
								<tr>
									<td>TIAA ACCESS LIFECYCLE 2040 T11</td>
									<td>%</td>
								</tr>
								<tr>
									<td>TIAA ACCESS-AF WASH MUT INV T1</td>
									<td>%</td>
								</tr>
								<tr>
									<td> TIAA ACCESS-AF EURO PAC GR T1</td>
									<td>%</td>
								</tr>
								<tr>
									<td> TIAA ACCESS-WAM CORE PL BD T1</td>
									<td>%</td>
								</tr>
								<tr>
									<td> TIAA ACCESS-VAN EM MK ST IX T1</td>
									<td>%</td>
								</tr>
								<tr>	
									<td> TIAA ACCESS-TRP INST LC GR T1</td>
									<td>%</td>
								</tr>
							</tbody>
                             </table>
                           </div>
                         </div>
							 
                       </div>
                   </div>
		        </div>
		    </div>
        <div class="flr mtblg">
                <span class="fll mrm">
                                 <input id="viewhistory" class="btn btnSmall" type="button" title="View History" value="View History">
                              </span>
                 <span class="fll mrm">
                                  <input id="mdifySDA" class="btn btnSmall" type="button" title="Modify SDA" value="Modify SDA">
                              </span>
                  <span class="fll">
                                  <input id="update" class="btn btnSmall" type="button" title="Update" value="Update">
                              </span>
                </div>

		</div>
		<!--End of Sub panels-->
      </div>
   </div>
  <!--  <div class="hd" id="SunyDtaxPlan">
      <h3 id="SunyDtaxPlan1"><a href="#" class="collapsed" title="Select to expand or collapse content below">
         <span class="icon">+</span>SUNY TAX DEFERRED ANNUITY PLAN (151167) </a><span class="panelDate">Last Updated: N/A</span>
      </h3>
   </div>
   <div class="content">
       <div class="bd mtblg">
			<h3>This plan is not yet setup - please Enter SDA to establish parameters</h3>
	        <div class="flr mtm">
				<span class="fll mrm">
                    <input id="viewhistory1" class="btn btnSmall" type="button" title="View History" value="View History">
                </span>
			    <span class="fll mrm">
                     <input id="enterSDA1" class="btn btnSmall" type="button" title="Enter SDA" value="Enter SDA">
                </span>
			    <span class="fll">
                     <input id="update1" class="btn btnSmall" type="button" title="Update" value="Update">
                </span>
			</div>
            <div class="clear"></div>			
		</div>
    </div>-->
   
   <!-- End of Plan1 -->

   <!-- Plan2 Starts Here -->
  <!-- <div class="hd" id="SunyDtaxPlan">
      <h3 id="SunyDtaxPlan2">
         <a class="expanded" href="javascript:void(0)" title="Select to expand or collapse content below">
         <span class="icon">+</span>SUNY TAX DEFERRED ANNUITY PLAN (151168) - </a><span class="panelDate">Last Updated: N/A</span>
      </h3>
   </div>
   <div class="content">
      <div class="bd">
       	 <h3>This plan is not yet setup - please Enter SDA to establish parameters</h3>
	         <div class="flr mtblg">
				   <span class="fll mrm">
                        <input id="viewhistory" class="btn btnSmall" type="button" title="View History" value="View History">
                    </span>
					<span class="fll mrm">
                        <input id="enterSDA" class="btn btnSmall" type="button" title="Enter SDA" value="Enter SDA">
                    </span>
					<span class="fll">
                      <input id="update" class="btn btnSmall" type="button" title="Update" value="Update">
                    </span>
			   </div>
        </div>
   </div>-->
     <div class="hd" id="SunyDtaxPlan">
      <h3 id="SunyDtaxPlan2">
         <a class="collapsed" href="javascript:void(0)" title="Select to expand or collapse content below">
         <span class="icon">+</span>SUNY TAX DEFERRED ANNUITY PLAN (151168) </a><span class="panelDate">Last Updated: "Today's Date" (Fast Lane)</span>     
      </h3>
   </div>
   <div class="content">
      <div class="bd">
        <div class="panels mts">   
        <div class="clear mb"></div>     
       <div class="flr mb"> Deduction Method : MAX | Deduction Amount : $17,500</div>  
         <!-- <div class="hd">
               <h3>
                  <a class="expanded" title="Select to expand or collapse content below" href="javascript:void(0)">
                    <span class="icon">+</span>
                    Prior Contributions
                  </a>
               </h3>
           </div>
       <div class="content">
               <div class="bd">
                <table id="" class="styleA fw " summary="Prior Contributions" role="Prior Contributions">
                     <caption>
                      Prior Contributions
                      </caption>
                      <colgroup>
                        <col span="1" class="w35" >
                        <col span="1" class="w35" >
                        <col span="1" class="w30" >
                       </colgroup>
                       <thead>
                         <tr>
                           <th scope="col" >Internal Revenue Code</th>
                           <th scope="col" >Contribution Source</th>
                           <th scope="col" >Contribution Amount</th>
                        </tr>
                       </thead>
                      <tbody>
                          <tr class="">
                             <td colspan="3"class="txtc">No date to display</td>
                         </tr>
                     </tbody>
                  </table>
          <div class="txtc txtb mtbm">(OR)</div>
          <table id="" class="styleA fw " summary="Prior Contributions" role="Prior Contributions">
                     <caption>
                      Prior Contributions
                      </caption>
                      <colgroup>
                        <col span="1" class="w35">
                        <col span="1" class="w35">
                        <col span="1" class="w30">
                       </colgroup>
                       <thead>
                         <tr>
                           <th scope="col" >Internal Revenue Code</th>
                           <th scope="col" >Contribution Source</th>
                           <th scope="col" >Contribution Amount</th>
                        </tr>
                       </thead>
                      <tbody>
                          <tr class="">
                             <td colspan="3"class="txtc">Prior Contributions are not stored for this plan</td>
                         </tr>
                     </tbody>
                  </table>
        </div>
        </div>  -->

         <div class="hd">        
               <h3>
                   <a class="expanded" title="Select to expand or collapse content below" href="javascript:void(0)">
                    <span class="icon">+</span>
                     Salary Deferral Details
                  </a>
             </h3>
          </div>
        <div class="content">
                <div class="bd">
                 <table id="" class="styleA fw  " summary="Salary Deferral Details" role="Salary Deferral Details">
                     <caption>
                      Salary Deferral Details
                    </caption>
                    <colgroup>
                      <col span="1" class="w20">
                      <col span="1" class="w20">
                      <col span="1" class="w20">
                      <col span="1" class="w20">
                      <col span="1" class="w15">
                      <col span="1" class="w15">
                   </colgroup>
                   <thead>
                      <tr>
                        <th scope="col">Source Name</th>
                        <th scope="col">Source Election Value</th>
                        <th scope="col">Vendor</th>
                        <th scope="col">Sub Plan</th>
                        <th scope="col">Vendor Allocation</th>
                        <th scope="col">Annualized Equivalent Dollar Allocation</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr >
                        <td class="alignt" rowspan="2">Pre Tax</td>
                        <td rowspan="2">$7500</td>
                        <td>TIAA CREF</td>
                        <td rowspan="2">GR1001</td>
                        <td>50%</td>
                        <td>$3750</td>
                      </tr>
                      <tr>
                        <td>MetLife</td>
                        <td>50%</td>
                        <td>$3750</td>
                      </tr>
                      <tr >
                        <td class="alignt" rowspan="4">Employee After Tax</td>
                        <td class="alignt" rowspan="4">$10,000</td>
                        <td>TIAA CREF</td>
                        <td rowspan="4">GS1001</td>
                        <td>25%</td>
                        <td>$2500</td>
                      </tr>
                      <tr>
                        <td>MetLife</td>
                        <td>25%</td>
                        <td>$2500</td>
                      </tr>
                      <tr>
                        <td>AIG</td>
                        <td>25%</td>
                        <td>$2500</td>
                      </tr>
                      <tr>
                        <td>Fidelity</td>
                        <td>25%</td>
                        <td>$2500</td>
                      </tr>
                  </tbody>
                  </table>
            </div>
        </div>
      <div class="hd">
              <h3>
                   <a class="expanded" title="Select to expand or collapse content below" href="javascript:void(0)">
                    <span class="icon">+</span>
                    Auto Save
                  </a>
             </h3>
          </div>
        <div class="content">
                <div class="bd">
                      <table id="" class="styleA fw  " summary="Auto Save" role="Auto Save">
                <caption>
                   Auto Save
                </caption>
                <colgroup>
                 <col span="1" class="w10" >
                 <col span="1" class="w10" >
                 <col span="1" class="w10" >
                 <col span="1" class="w10" >
                 <col span="1" class="w10" >
                 <col span="1" class="w10" >
                 <col span="1" class="w10" >
                 <col span="1" class="w10" >
                 <col span="1" class="w10" >
                 <!-- <col span="1" class="w10" > -->
              </colgroup>
             <thead>
                <tr>
                  <th scope="col" >Auto save available</th>
                  <th scope="col" >Opt In/OptOut Enabled</th>
                  <th scope="col" >Enrollee Election</th>
                  <th scope="col" >Increase Types</th>
                  <th scope="col" >Annual Increase Min</th>
                  <th scope="col" >Annual Increase Max</th>
                  <th scope="col" >Date of Next Increase</th>
                  <th scope="col"> Source </th>
                  <th scope="col" >Incremental Increase</th>
                 <!--  <th scope="col" >Last Updated</th> -->
             </tr>
             </thead>
             <tbody>
              <tr >
                <td>Yes</td>
                <td>Yes</td>
                <td>In</td>

                <td>% and $</td>
                <td>1%</td>
                <td>1%</td>
                <td>Jan.1</td>
                <td>E</td>
                <td>2%</td>

              <!--  <td>9/1/13</td> -->
              </tr>
             </tbody>
             </table>
            </div>
        </div>
      <div class="hd">
               <h3>
                   <a class="expanded" title="Select to expand or collapse content below" href="javascript:void(0)">
                    <span class="icon">+</span>
                    Beneficiaries and Allocation
                  </a>
             </h3>
          </div>
        <div class="content">
                <div class="bd">
                <div class="planpanel">
                       <div class="panels">
                          <div class="hd first">
                               <h3><a href="" class="expanded" title="Select to expand or collapse content below">
                                   <span class="icon">+</span>Beneficiaries</a>
                              </h3>
                          </div>
                     <div class="content">
                     <div class="bd">
                    <table id="dataDisplay" class="styleA fw " summary="Auto Save" role="Auto Save">
                                  <caption>
                                   Beneficiaries
                                 </caption>
                               <colgroup>
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                              </colgroup>
                              <thead>
                                 <tr>
                                  <th scope="col" >Sub-Plan</th>
                                  <th scope="col" >Type</th>
                                  <th scope="col"> Name</th>
                                  <th scope="col" >Entitlement</th>
                               </tr>
                             </thead>
                              <tbody> 
                                <tr >
                                    <td rowspan="6">GR1001</td><td rowspan="2">Primary</td><td>Army B</td><td>50%</td>
                                </tr>
                                <tr>
                                    <td>Tim W</td><td>50%</td>
                                </tr>
                                <tr>
                                    <td rowspan="4">Contingent</td><td>Blair W</td><td>25%</td>
                                </tr>
                                <tr>
                                    <td>Petro R</td><td>25%</td>
                                </tr>
                                <tr>
                                    <td>Mike E</td><td>25%</td>
                                </tr>
                                <tr>
                                    <td>Beckey M</td><td>25%</td>
                                </tr>
                                <tr >
                                    <td rowspan="3">RA1006</td><td rowspan="1">Primary</td><td>Abis S</td><td>100%</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Contingent</td><td>Dave T</td><td>50%</td>
                                </tr>
                                <tr>
                                    <td>Prakash</td><td>50%</td>
                                </tr>
                              </tbody>
                             </table>
               </div>
                          </div>
               <div class="hd">
                               <h3><a href="" class="expanded" title="Select to expand or collapse content below">
                                   <span class="icon">+</span>Allocation</a>
                              </h3>
                          </div>
                           <div class="content">
                           <div class="bd">
                   <table id="" class="styleA fw  " summary="Auto Save" role="Auto Save">
                              <caption>
                               Allocation
                              </caption>
                               <colgroup>
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                              </colgroup>
                              <thead>
                                <tr>
              									 <th scope="col" >Sub-Plan</th>
              									 <th scope="col" >Asset Class</th>                                 
              									 <th scope="col">Fund Name</th>
              									 <th scope="col" >% Allocated</th>
                               </tr>
                             </thead>
                            <tbody>
                              <tr >
                                <td rowspan="5">GR1001</td>
                                <td rowspan="5">Fund Allocation</td>
                                <td>Cref Social Choice B</td>
                                <td>25%</td>
                              </tr>
                              <tr>
                                <td>PRUDENTIAL SMALL COMPANY Q</td>
                                <td>35%</td>
                              </tr>
                              <tr>
                                <td>AMERICAN GROWTH OF AMERICA R6</td>
                                <td>20%</td>
                              </tr>
                              <tr>
                                <td>CREF GLOBAL EQUITIES</td>
                                <td>20%</td>
                              </tr>
                              <tr>
                                <td>PRUDENTIAL SMALL COMPANY Q</td>
                                <td>35%</td>
                              </tr>
                            </tbody>
                             </table>
              
               </div>
                          </div>
               
                       </div>
                   </div>
            </div>
        </div>

        <div class="flr mtm">
                <span class="fll mrm">
                                 <input id="viewhistory2" class="btn btnSmall" type="button" title="View History" value="View History">
                              </span>
                 <span class="fll mrm">
                                  <input id="mdifySDA2" class="btn btnSmall" type="button" title="Modify SDA" value="Modify SDA">
                              </span>
                  <span class="fll">
                                  <input id="update2" class="btn btnSmall" type="button" title="Update" value="Update">
                              </span>
               </div>
        </div>
   </div>
   <!-- End of Plan2 -->
   <!-- Take Action Start Here -->
   <!--<div class="hd" id="TakeAction">

      <h3 id="TakeAction1">
         <a class="expanded" href="javascript:void(0)" title="Select to expand or collapse content below">
         <span class="icon">+</span>Take Action</a>
      </h3>
   </div>
   <div class="content">
      <div class="bd">
         <div class="clearfix">
            <div class="one_third">
               <h3>Paper Enrollment</h3>
               <ul class="navList">
                  <li><a href="#">Obtain a Blank Form </a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>-->
   <!-- End of Take Action -->
<!-- </div> -->
   <!-- End of Plan2 -->
   <!-- Take Action Start Here -->
   <!--<div class="hd" id="TakeAction">

      <h3 id="TakeAction1">
         <a class="expanded" href="javascript:void(0)" title="Select to expand or collapse content below">
         <span class="icon">+</span>Take Action</a>
      </h3>
   </div>
   <div class="content">
      <div class="bd">
         <div class="clearfix">
            <div class="one_third">
               <h3>Paper Enrollment</h3>
               <ul class="navList">
                  <li><a href="#">Obtain a Blank Form </a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>-->
   <!-- End of Take Action -->
</div>
   <!-- End of Plan2 -->

   <div class="hd" id="prior-contrib">
           <h3>
              <a class="expanded" title="Select to expand or collapse content below" href="javascript:void(0)">
                <span class="icon">+</span>
                Prior Contributions
              </a>
           </h3>
       </div>
       <div class="content">
               <div class="bd">
               <table id="" class="styleA fw " summary="Prior Contributions" role="Prior Contributions">
                     <caption>
                    Prior Contributions
                    </caption>
                    <colgroup>
                     <col span="1" class="w35" >
                     <col span="1" class="w35" >
                     <col span="1" class="w30" >
                   </colgroup>
                   <thead>
                       <tr>
                         <th scope="col" >Internal Revenue Code</th>
                         <th scope="col" >Contribution Source</th>
                         <th scope="col" >Contribution Amount</th>
                      </tr>
                  </thead>
                  <tbody>
                       <tr >
                         <td class="alignt" rowspan="2">4038</td>
                         <td>Pre Tax</td><td>$500 </td>
                       </tr>
                       <tr>
                          <td>Roth</td>
                          <td>$200 </td>
                       </tr>
                       <tr >
                         <td class="alignt" rowspan="2">4578</td>
                         <td>Pre Tax</td>
                         <td>--</td>
                      </tr>
                      <tr>
                        <td>After Tax</td>
                        <td>$400 </td>
                      </tr>
                  </tbody>
                  </table>
            </div>
       </div>

</div>
<!-- End Pannel -->
<script type="text/javascript" src="assets/js/jquery.swfobject.1-1-1.min.js"></script>

<div id="startVideo" class="popup" data-popup="width:820,height:700" title="Overview">
   <div class="body">
      <div id="flashInteract">
         <div class="movie"></div>
      </div>
   </div>
</div>

     
<div id="startVideo1" class="popup" data-popup="width:820,height:700" title="Overview">
   <div class="body">
      <div id="flashInteract1">
         <div class="movie"></div>
      </div>
   </div>
</div>