<div class="alertModule" aria-live="assertive" id="mainAlert">
  <div>
   <span class="icon"></span>
    <span>The Social Security Number entered is not found. In order to proceed with this enrollment, either enter a valid access code OR click the Cancel button and re-enter a valid SSN, PIN/NPIN or Contact Number.</span>
  </div>
</div>
<h2>JHU Open Enrollment - Start, end, effective date, black out start date and blackout end dated</h2>
<!-- Panels -->
<div class="panels">
   <!-- Plan1 Starts Here -->
   <div class="hd first" id="SunyDtaxPlan">
      <h3 id="SunyDtaxPlan1"><a href="#" class="expanded" title="Select to expand or collapse content below">
         <span class="icon">+</span>SUNY TAX DEFERRED ANNUITY PLAN (151167) </a><span class="panelDate">Last Updated: N/A</span>
      </h3>
   </div>
   <div class="content">
       <div class="bd mtblg">
			<h3>This plan is not yet setup - please Enter SDA to establish parameters</h3>
	        <div class="flr mtm">
				<span class="fll mrm">
                    <input id="viewhistory1" class="btn btnSmall" type="button" title="View History" value="View History">
                </span>
			    <span class="fll mrm">
                     <input id="enterSDA1" class="btn btnSmall" type="button" title="Enter SDA" value="Enter SDA">
                </span>
			    <span class="fll">
                     <input id="update1" class="btn btnSmall" type="button" title="Update" value="Update">
                </span>
			</div>
            <div class="clear"></div>			
		</div>
    </div>
			
   <!-- End of Plan1 -->

   <!-- Plan2 Starts Here -->
   <div class="hd" id="SunyDtaxPlan">
      <h3 id="SunyDtaxPlan2">
         <a class="expanded" href="javascript:void(0)" title="Select to expand or collapse content below">
         <span class="icon">+</span>SUNY TAX DEFERRED ANNUITY PLAN (151168) </a><span class="panelDate">Last Updated: 3/26/2014</span>
      </h3>
   </div>
   <div class="content">
      <div class="bd">
	      <div class="panels">
	        <div class="hd">
               <h3>
                  <a class="expanded" title="Select to expand or collapse content below" href="javascript:void(0)">
                    <span class="icon">+</span>
                    Prior Contributions
                  </a>
               </h3>
           </div>
		   <div class="content">
               <div class="bd">
	              <table id="" class="styleB fullwidth" summary="Prior Contributions" role="Prior Contributions">
                     <caption>
                      Prior Contributions
                      </caption>
                      <colgroup>
                        <col span="1" class="w35" >
                        <col span="1" class="w35" >
                        <col span="1" class="w30" >
                       </colgroup>
                       <thead>
                         <tr>
                            <th scope="col" >IRC Code</th>
                            <th scope="col" >Sources</th>
                            <th scope="col" >Amount</th>
                        </tr>
                       </thead>
                      <tbody>
                          <tr class="">
                             <td colspan="3"class="txtc">No date to display</td>
                         </tr>
                     </tbody>
                  </table>
				  <div class="txtc txtb mtbm">(OR)</div>
				  <table id="" class="styleB fullwidth" summary="Prior Contributions" role="Prior Contributions">
                     <caption>
                      Prior Contributions
                      </caption>
                      <colgroup>
                        <col span="1" class="w35">
                        <col span="1" class="w35">
                        <col span="1" class="w30">
                       </colgroup>
                       <thead>
                         <tr>
                            <th scope="col" >IRC Code</th>
                            <th scope="col" >Sources</th>
                            <th scope="col" >Amount</th>
                        </tr>
                       </thead>
                      <tbody>
                          <tr class="">
                             <td colspan="3"class="txtc">Prior Contributions are not stored for this plan</td>
                         </tr>
                     </tbody>
                  </table>
			  </div>
			  </div>
			   <div class="hd">
              <h3>
                   <a class="expanded" title="Select to expand or collapse content below" href="javascript:void(0)">
                    <span class="icon">+</span>
                    Plan Information
                  </a>
             </h3>
          </div>
		    <div class="content">
                <div class="bd">
		            <table id="" class="styleB fullwidth" summary="Plan Information" role="Plan Information">
                     <caption>
                      Plan Information
                    </caption>
                    <colgroup>
                     <col span="1" class="w30">
                     <col span="1" class="w30">
                     <col span="1" class="w20">
					 <col span="1" class="w15">
					 <col span="1" class="w15">
                   </colgroup>
                   <thead>
                       <tr>
                         <th scope="col">Source Name</th>
                         <th scope="col">Source Election Value</th>
                         <th scope="col">Vendor</th>
						 <th scope="col">Vendor Allocation</th>
						 <th scope="col">Equivalent Dollar Allocation</th>
                      </tr>
                  </thead>
                  <tbody>
                       <tr class="">
                         <td class="alignt">Pre Tax</td>
                         <td>$7500</td>
                         <td>TIAA Id Percent<br/>MetLife </td>
						 <td>50%<br/>50%</td>
						 <td>$3750<br/>$3750</td>
                       </tr>
                       <tr class="">
                         <td class="alignt">Employee After Tax</td>
                         <td class="alignt">$10,000</td>
                         <td>TIAA CREF<br/>Met Life<br/>AIG<br/>Fedility</td>
						 <td>25%<br/>25%<br/>25%<br/>25%</td>
						 <td>$2500<br/>$2500<br/>$2500<br/>$2500</td>
                      </tr>
                  </tbody>
                  </table>
		        </div>
		    </div>
			<div class="hd">
              <h3>
                   <a class="expanded" title="Select to expand or collapse content below" href="javascript:void(0)">
                    <span class="icon">+</span>
                    Auto Save
                  </a>
             </h3>
          </div>
		    <div class="content">
                <div class="bd">
		        <table id="" class="styleB fullwidth" summary="Auto Save" role="Auto Save">
                <caption>
                   Auto Save
                </caption>
                <colgroup>
                 <col span="1" class="w10" >
                 <col span="1" class="w10" >
                 <col span="1" class="w10" >
                 <col span="1" class="w10" >
                 <col span="1" class="w10" >
                 <col span="1" class="w10" >
                 <col span="1" class="w10" >
                 <col span="1" class="w10" >
                 <col span="1" class="w10" >
                 <col span="1" class="w10" >
              </colgroup>
             <thead>
                <tr>
                  <th scope="col" >Auto save</th>
                  <th scope="col" >Opt In/OptOut Enabled</th>
                  <th scope="col" >Opt in/Opt Out</th>
                  <th scope="col"> Source </th>
                  <th scope="col" >Increase Type Options</th>
                  <th scope="col" >Annual Incremental Increase Default </th>
                  <th scope="col" >Annual Increase Min</th>
                  <th scope="col" >Annual Increase Max</th>
                  <th scope="col" >Anniversary Date</th>
                  <th scope="col" >Effective Date</th>
             </tr>
             </thead>
             <tbody>
               <tr class="">
                  <td>Yes</td>
                  <td>Yes</td>
                  <td>In</td>
				  <td>E</td>
				  <td>% and $</td>
				  <td>1%</td>
				  <td>1%</td>
				  <td>2%</td>
				  <td>Jan.1</td>
				  <td>9/1/13</td>
               </tr>
             </tbody>
             </table>
		        </div>
		    </div>
			<div class="hd">
              <h3>
                   <a class="expanded" title="Select to expand or collapse content below" href="javascript:void(0)">
                    <span class="icon">+</span>
                    Beneficiaries and Allocation
                  </a>
             </h3>
          </div>
		    <div class="content">
                <div class="bd">
		            <div class="planpanel">
                       <div class="panels">
                          <div class="hd first">
                               <h3><a href="" class="expanded" title="Select to expand or collapse content below">
                                   <span class="icon">+</span>Beneficiaries</a>
                              </h3>
                          </div>
                           <div class="content">
                           <div class="bd">
						        <table id="" class="styleB fullwidth" summary="Auto Save" role="Auto Save">
                                  <caption>
                                   Beneficiaries
                                 </caption>
                               <colgroup>
                                 <col span="1" class="w25">
                                 <col span="1" class="w25">
                                 <col span="1" class="w25">
                                 <col span="1" class="w25">
                              </colgroup>
                              <thead>
                                 <tr>
                                  <th scope="col" >Sub-Plan</th>
                                  <th scope="col" >Type</th>
                                  <th scope="col" >% Allocated</th>
                                  <th scope="col"> Name</th>
                               </tr>
                             </thead>
                              <tbody>
                                <tr class="">
                                  <td class="alignt">GR1001</td>
                                  <td>Primary<br/>Primary<br/>Contingent<br/>Contingent<br/>Contingent<br/>Contingent</td>
                                  <td>50%<br/>50%<br/>25%<br/>25%<br/>25%<br/>25%</td>
				                 <td>Army B<br/>Tim W<br/>Blair W<br/>Petro R<br/>Mike E<br/>Beckey M</td>
                               </tr>
					            <tr class="">
                                   <td class="alignt">RA1006</td>
                                   <td>Primary<br/>Contingent<br/>Contingent</td>
                                   <td>100%<br/>50%<br/>50%</td>
				                   <td>Abis S<br/>Dave T<br/>Prakash</td>
                                </tr>
                              </tbody>
                             </table>
						   </div>
                          </div>
						   <div class="hd">
                               <h3><a href="" class="expanded" title="Select to expand or collapse content below">
                                   <span class="icon">+</span>Allocation</a>
                              </h3>
                          </div>
                           <div class="content">
                           <div class="bd">
						       <table id="" class="styleB fullwidth" summary="Auto Save" role="Auto Save">
                                  <caption>
                                   Allocation
                                 </caption>
                               <colgroup>
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                              </colgroup>
                              <thead>
                                 <tr>
                                  <th scope="col" >Sub-Plan</th>
                                  <th scope="col" >Type</th>
                                  <th scope="col" >% Allocated</th>
                                  <th scope="col"> Name</th>
                               </tr>
                             </thead>
                              <tbody>
                                <tr class="">
                                  <td class="alignt ">GR1001</td>
                                  <td>Fund Allocation<br/>Fund Allocation<br/>Fund Allocationt<br/>Fund Allocation</td>
                                  <td>25%<br/>35%<br/>20%<br/>20%</td>
				                 <td>Cref Social Choice<br/>PRUDENTIAL SMALL COMPANY Q<br/>AMERICAN GROWTH OF AMERICA R6<br/>CREF GLOBAL EQUITIES</td>
                               </tr>
					           <!-- <tr class="">
                                   <td class="alignt">RA1006</td>
                                    <td>Fund Allocation<br/>Fund Allocation<br/>Fund Allocationt<br/>Fund Allocation<br/>Fund Allocation<br/>Fund Allocationt<br/>Fund Allocation<br/>Fund Allocation<br/>Fund Allocationt<br/>Fund Allocation<br/>Fund Allocation<br/>Fund Allocationt<br/>Fund Allocation<br/>Fund Allocation<br/>Fund Allocationt<br/>Fund Allocation<br/>Fund Allocation<br/>Fund Allocationt<br/>Fund Allocation<br/>Fund Allocation<br/>Fund Allocationt<br/>Fund Allocation<br/>Fund Allocation<br/>Fund Allocationt<br/>Fund Allocation<br/>Fund Allocation<br/>Fund Allocationt<br/>Fund Allocation<br/>Fund Allocation<br/>Fund Allocationt<br/>Fund Allocation<br/>Fund Allocation<br/>Fund Allocation</td>
                                   <td>%<br/>%<br/>%<br/>%<br/>%<br/>%<br/>%<br/>%<br/>%<br/>%<br/>%<br/>%<br/>%<br/>%<br/>%<br/>%<br/>%<br/>%<br/>%<br/>%<br/>%<br/>%<br/>%<br/>%<br/>%<br/>%<br/>%<br/>%<br/>%<br/>%<br/>%<br/>%</td>
				                   <td>CREF STOCK<br/>CREF MONEY MARKET<br/>CREF SOCIAL CHOICE<br/>CREF BOND MARKET<br/>CREF GLOBAL EQUITIES<br/>CREF GROWTH<br/>CREF EQUITY INDEX<br/>
								       CREF INFLATION-LINKED BOND<br/>
									   TIAA ACCESS INTL EQUITY T1<br/>
                                       TIAA ACCESS GROWTH & INCOME T1<br/>
                                       TIAA ACCESS LG-CAP VAL T1<br/>
                                       TIAA ACCESS MID-CAP GR T1<br/>
                                       TIAA ACCESS MID-CAP VAL T1<br/>
                                       TIAA ACCESS SM-CAP EQUITY T1<br/>
                                       TIAA ACCESS INTL EQUITY IDX T1<br/>
                                       TIAA ACCESS LG-CAP GR IDX T1<br/>
                                       TIAA ACCESS S&P 500 INDEX T1<br/>
                                       TIAA ACCESS EQUITY INDEX T1<br/>
                                       TIAA ACCESS LG-CAP VAL IDX T1<br/>
                                       TIAA ACCESS LIFECYCLE 2055 T1<br/>
                                       TIAA ACCESS SM-CAP BL IDX T1<br/>
                                       TIAA ACCESS LIFECYCLE 2010 T1<br/>
                                       TIAA ACCESS LIFECYCLE 2015 T1<br/>
                                       TIAA ACCESS LIFECYCLE 2020 T1<br/>
                                       TIAA ACCESS LIFECYCLE 2025 T1<br/>
                                       TIAA ACCESS LIFECYCLE 2035 T1<br/>
                                       TIAA ACCESS LIFECYCLE 2040 T1<br/>
                                       TIAA ACCESS-AF WASH MUT INV T1<br/> 
                                       TIAA ACCESS-AF EURO PAC GR T1 <br/>
                                       TIAA ACCESS-WAM CORE PL BD T1 <br/>
                                       TIAA ACCESS-VAN EM MK ST IX T1 <br/>
                                       TIAA ACCESS-TRP INST LC GR T1 
								   </td>
                                </tr>-->
                              </tbody>
                             </table>
							 <div class="flr mtm">
							  <span class="fll mrm">
                                 <input id="viewhistory2" class="btn btnSmall" type="button" title="View History" value="View History">
                              </span>
							   <span class="fll mrm">
                                  <input id="mdifySDA2" class="btn btnSmall" type="button" title="Modify SDA" value="Modify SDA">
                              </span>
							    <span class="fll">
                                  <input id="update2" class="btn btnSmall" type="button" title="Update" value="Update">
                              </span>
							  </div>
						   </div>
                          </div>
                       </div>
                   </div>
		        </div>
		    </div>
        </div>
   </div>
   <!-- End of Plan2 -->
   <!-- Take Action Start Here -->
   <!--<div class="hd" id="TakeAction">

      <h3 id="TakeAction1">
         <a class="expanded" href="javascript:void(0)" title="Select to expand or collapse content below">
         <span class="icon">+</span>Take Action</a>
      </h3>
   </div>
   <div class="content">
      <div class="bd">
         <div class="clearfix">
            <div class="one_third">
               <h3>Paper Enrollment</h3>
               <ul class="navList">
                  <li><a href="#">Obtain a Blank Form </a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>-->
   <!-- End of Take Action -->
</div>
<!-- End Pannel -->
<script type="text/javascript" src="assets/js/jquery.swfobject.1-1-1.min.js"></script>

<div id="startVideo" class="popup" data-popup="width:820,height:700" title="Overview">
   <div class="body">
      <div id="flashInteract">
         <div class="movie"></div>
      </div>
   </div>
</div>

     
<div id="startVideo1" class="popup" data-popup="width:820,height:700" title="Overview">
   <div class="body">
      <div id="flashInteract1">
         <div class="movie"></div>
      </div>
   </div>
</div>