<div class="pageTitleUD">
  <img class="mr" src="/themes/ud_atom/images/userlogo.png">
  <h1 class="first titlePage">Open Enrollment</h1>
  <span class="last titleUser proto_new">Participant Name</span>
  <span class="last titleUser proto_existing closed">Carol Brady</span>
</div>