<div class="pageTitleUD">
  <img class="mr" src="/themes/ud_atom/images/userlogo.png">
  <h1 class="first titlePage protoDyna suny">STATE UNIVERSITY OF NEW YORK - TAX DEFERRED ANNUITY PLAN  -  </h1>
  <h1 class="first titlePage protoDyna nyu">QA NYU HOSPITALS PARTICIPATING EMPLOYERS - </h1>
  <span class="last titleUser proto_existing">Carol Brady</span>
</div>