<div class="logo">
  <a href="#">
    <img alt="TIAA CREF - Financial Services" src="../../themes/ud_atom/images/logo_udwiki.gif"></a>
  TIAA-CREF.org
</div>
<div class="headertitle">Co-Branding Title</div>
<div class="globalutil">
  <div class="utillinks" role="navigation">
    <ul aria-label="Utility Navigation">
      <li class="first">Hi, John</li>
      <li>
        <a href="#">Log out</a>
      </li>
      <li class="last">
        <span class="today">Today</span>
      </li>
    </ul>
  </div>
</div>