<div id="saveFormData" class="popup" data-popup="width:500" title="Formatting Your Address">
   <div class="body">
      <span>
         The U.S Postal Service recommends using the standardized address format shown below. Please select which version you want to use.
      </span>
      <h3>Mailing Address</h3>
      <div class="blbdr uspsWrap1">
         <div class="uspsWrap2">
            <div class="one_half">
               <p class="nm pl pt txtb">Your Verson:</p>
               <p class="txtn pl pb">
                  8500 ANDREW CARENEGIE BLVD
                  <br />
                  CHARLOTTE, NC 28262
                  <br>
                  Testing line
                  <br />
                  Testing line
               </p>
            </div>
            <div class="one_half column_last">
               <p class="nm pl pt txtb">USPS Format:</p>
               <p class="txtn pl pb">
                  8500 ANDREW CARENEGIE BLVD
                  <br />
                  CHARLOTTE, NC 28262
               </p>
            </div>
         </div>
      </div>
      <div class="clear"></div>
      <h3>Residential Address</h3>
      <div class="blbdr uspsWrap1">
         <div class="uspsWrap2">
            <div class="one_half">
               <p class="nm pl pt txtb">Your Verson:</p>
               <p class="txtn pl pb">
                  140 BENCHLEY PLAPT 19A
                  <br />
                  BRON, NY 10475
               </p>
            </div>
            <div class="one_half column_last">
               <p class="nm pl pt txtb">USPS Format:</p>
               <p class="txtn pl pb">
                  140 BENCHLEY PLAPT 19A
                  <br />
                  BRON, NY 10475
                  <br>
                  Testing line
                  <br />
                  Testing line
               </p>
            </div>
         </div>
      </div>
      <div class="clear"></div>
      <div class="btnBar">
         <button class="btn3 fll" title="Edit Address">
            <span>Edit Address</span>
         </button>
         <button class="btn flr" title="Use USPS Format">
            <span>Use USPS Format</span>
         </button>
         <button class="btn3 flr" title="Use Your Versions">
            <span>Use Your Version</span>
         </button>
      </div>
   </div>
</div>