<!-- <div class="udBackLink"><a href="tele_enroll.html" title="Back to Telephone Enrollment">Back to Telephone Enrollment</a></div> -->
<div class="panels protoDyna max">
	<div class="hd first" id="max">
		<h3 id="SunyDtaxPlan1"><a href="#" class="expanded" title="Select to expand or collapse content below">
			<span class="icon">+</span>QA NYU HOSPITALS PARTICIPATING EMPLOYERS - 403400</a>
		</h3>
	</div>
    <div class="content">
		<div class="bd">
			<div class="panels">       
				<div class="hd" id="prior-contrib">
					<h3><a class="collapsed" title="Select to expand or collapse content below" href="javascript:void(0)">
					<span class="icon">+</span>Prior Contributions</a></h3>
				</div>
				<div class="content">
					<div class="bd">
						<table id="" class="styleA fw " summary="Prior Contributions" role="Prior Contributions">
							<caption>Prior Contributions</caption>
							<colgroup>
								<col span="1" class="w35" >
								<col span="1" class="w35" >
								<col span="1" class="w30" >
							</colgroup>
							<thead>
								<tr>
									<th scope="col" >Internal Revenue Code</th>
									<th scope="col" >Contribution Source</th>
									<th scope="col" >Contribution Amount</th>
								</tr>
							</thead>
							<tbody>
								<tr >
									<td class="alignt bgcol" rowspan="2">4038</td>
									<td class="bgcol">Pre Tax</td><td class="bgcol">$500 </td>
								</tr>
								<tr  class="bgcol last">
									<td>Roth</td>
									<td>$200 </td>
								</tr>
								<tr >
									<td class="alignt" rowspan="2">4578</td>
									<td>Pre Tax</td>
									<td>--</td>
								</tr>
								<tr class="last">
									<td class="last">After Tax</td>
									<td class="last">$400 </td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="hd">
					<h3 class="ntsep">
						<a class="collapsed" title="Select to expand or collapse content below" href="javascript:void(0)"><span class="icon">+</span>Salary Deferral Details </a>
					</h3>
				</div>
				<div class="content">
					<div class="bd">
						<table id="sal1a" class="styleA fw" summary="Salary Deferral Details1" role="Salary Deferral Details1">
						<caption>Salary Deferral Details1</caption>
							<thead>
								<tr>
									<th scope="col" >Effective Date</th>
									<th scope="col" >Remaining Pay Cycles</th>
									<th scope="col" >PerPay Cycle Contribution
										<input type="button" id="tooltip-perpayCD3" name="tooltip-perpayCD3Cont" class="tipLink" value="?" role="button" aria-describedby="help-perpayCD3Cont" aria-required="false" data-tooltip-location="top" data-tooltip-width="300" />
										<div class="tipContents" id="help-perpayCD3Cont" role="tooltip" aria-hidden="true"> Sum of Employee SDA and Employer Contribution per pay cycle </div>
									</th>
									<th scope="col" >YTD Contribution</th>
									<th scope="col" >Annual Total Plan Contribution
										<input type="button" id="tooltip-annualTPC3" name="tooltip-annualTPC3Cont" class="tipLink" value="?" role="button" aria-describedby="help-annualTPC3Cont" aria-required="false" data-tooltip-location="top" data-tooltip-width="300" />
										<div class="tipContents" id="help-annualTPC3Cont" role="tooltip" aria-hidden="true"> Sum of Annual Employer Contributions and Annual Employer Contributions </div>
									</th>
									<th scope="col">Last Updated Date</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="bgcol" >06/11/2014</td>
									<td class="bgcol" >21</td>
									<td class="bgcol" >$190</td>
									<td class="bgcol" >$500</td>
									<td class="bgcol" >
										<input type="button" id="tooltip-atpc" name="tooltip-atpc" class="tipLink2 titletip" value="$4490.00" role="button" aria-describedby="help-atpc" />
										<div class="tipContents" id="help-atpc" role="tooltip" aria-hidden="true">Dollar amount is rounded to the nearest whole number.</div>
									</td>
									<td class="bgcol">03/01/2014</td>
								</tr>
							</tbody>
						</table>
						<div class="fll mtblg">Employer Contribution</div> 
						<div class="flr mtblg">
							<input type="button" id="tooltip_defType" name="tooltip_defTypeCont" class="tipLink" value="?" role="button" aria-describedby="tooltip_defTypeCont" aria-required="false" data-tooltip-location="top" data-tooltip-width="300" />
							<div class="tipContents" id="tooltip_defTypeCont" role="tooltip" aria-hidden="true"> The Maximum Deferral Value is an estimated amount calculated using today's data on file. Estimates may change with future effective dates and events that impact the maximum contribution amount. </div>
							<span class="mrxlg">Deferral Type : MAX</span>
							<span class="mlxlg">Current Year Remaining Deferral Amount : $545.45</span>
							<input type="button" id="tooltip-Demo" name="tooltip-Demo" class="tipLink" value="?" role="button" aria-describedby="help-Demo"/>
							<div class="tipContents" id="help-Demo" role="tooltip" aria-hidden="true"> ...Content Content Content Content Content Content Content Content Content Content Content Content... </div>


						</div> 
						<table id="sal1" class="styleA fw" summary="Salary Deferral Details" role="Salary Deferral Details">
							<caption>Salary Deferral Details</caption>
							<colgroup>
								<col span="1" class="w15">
								<col span="1" class="w20">
								<col span="1" class="w15">
								<col span="1" class="w15">
								<col span="1" class="w10">
								<col span="1" class="w10">
								<col span="1" class="w15">
							</colgroup>
							<thead>
								<tr>
									<th scope="col" >Source Name</th>
									<th scope="col" >Source Election Value</th>
									<th scope="col" >Vendor</th>
									<th scope="col" >Vendor Allocation%</th>
									<th scope="col" >Sub-Plan</th>
									<th scope="col" >Sub-Plan Allocation</th>
									<th scope="col">Equivalent Dollar Allocation</th>
								</tr>
							</thead>
							<tbody>
								<tr  class="bgcol">
								<td class="alignt" rowspan="4">E</td>
								<td class="alignt" rowspan="4">
								<a href="#" aria-describedby="help-exampleText" role="button" class="tipLink2" name="tooltip-exampleText" id="tooltip-exampleText" title="" data-tooltip-location="top" data-tooltip-width="350">Contributing</a>
								<div id="help-exampleText" class="tipContents" aria-hidden="true" role="tooltip">Check Plan Details / Plan Rules for more information. Click to be navigated to Plan Details.</div></td>
								<td class="alignt" rowspan="4">TIAA-CREF</td>
								<td class="alignt">100%</td>
								<td class="">GA1001</td>
								<td class="">25%</td>
								<td>$473</td>
								</tr>
							</tbody>
						</table>
						<div class="fll mtblg">Employer Contribution</div> 
						<div class="flr mtblg">
							<span class="mrxlg">Contribution Type : Percent</span>
							<span class="mlxlg">Contribution Amount : 2%</span>
							

    <input type="button" id="tooltip-example111" name="tooltip-example111" class="tipLink" value="?" role="button" aria-describedby="help-example111"/>
    <div class="tipContents" id="help-example111" role="tooltip" aria-hidden="true"> ...Content Content Content Content Content Content Content Content Content Content Content Content... </div>


						</div>  
						<table id="sal1" class="styleA fw" summary="Salary Deferral Details" role="Salary Deferral Details">
							<caption>Salary Deferral Details</caption>
							<colgroup>
								<col span="1" class="w15">
								<col span="1" class="w20">
								<col span="1" class="w15">
								<col span="1" class="w15">
								<col span="1" class="w10">
								<col span="1" class="w10">
								<col span="1" class="w15">
							</colgroup>
							<thead>
								<tr>
									<th scope="col" >Source Name</th>
									<th scope="col" >Source Election Value</th>
									<th scope="col" >Vendor</th>
									<th scope="col" >Vendor Allocation%</th>
									<th scope="col" >Sub-Plan</th>
									<th scope="col" >Sub-Plan Allocation</th>
									<th scope="col">Equivalent Dollar Allocation</th>
								</tr>
							</thead>
							<tbody>
								<tr  class="bgcol">
									<td class="alignt" rowspan="4">F - Employer</td>
									<td class="alignt" rowspan="4">
									<a href="#" aria-describedby="help-exampleText" role="button" class="tipLink2" name="tooltip-exampleText" id="tooltip-exampleText" title="" data-tooltip-location="top" data-tooltip-width="350">Contributing</a>
									<div id="help-exampleText" class="tipContents" aria-hidden="true" role="tooltip">Check Plan Details / Plan Rules for more information. Click to be navigated to Plan Details.</div></td>
									<td class="alignt" rowspan="4">TIAA-CREF</td>
									<td class="alignt">100%</td>
									<td class="">GS1001</td>
									<td class="">25%</td>
									<td>$473</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="hd">
					<h3>
						<a class="collapsed" title="Select to expand or collapse content below" href="javascript:void(0)"><span class="icon">+</span>Beneficiaries and Allocation</a>
					</h3>
				</div>
				<div class="content">
					<div class="planpanel">
						<div class="panels">
							<div class="hd first">
								<h3>
									<a href="" class="collapsed" title="Select to expand or collapse content below"><span class="icon">+</span>Beneficiaries</a>
								</h3>
							</div>
							<div class="content">
								<div class="bd">
									<table id="nodataDisplay" class="styleA fw closed" summary="Auto Save" role="Auto Save">
										<caption>Beneficiaries</caption>
										<colgroup>
											<col span="1" class="w25" >
											<col span="1" class="w25" >
											<col span="1" class="w25" >
											<col span="1" class="w25" >
										</colgroup>
										<thead>
											<tr>
												<th scope="col" >Sub-Plan</th>
												<th scope="col" >Type</th>
												<th scope="col"> Name</th>
												<th scope="col" >Entitlement</th>
											</tr>
										</thead>
										<tbody> 
											<tr>
												<td colspan="4" class="">No Data to display</td>
											</tr>
										</tbody>
									</table>
									<table id="dataDisplay" class="styleA fw" summary="Auto Save" role="Auto Save">
										<caption>Beneficiaries</caption>
										<colgroup>
											<col span="1" class="w25" >
											<col span="1" class="w25" >
											<col span="1" class="w25" >
											<col span="1" class="w25" >
										</colgroup>
										<thead>
											<tr>
												<th scope="col" >Sub-Plan</th>
												<th scope="col" >Type</th>
												<th scope="col"> Name</th>
												<th scope="col" >Entitlement</th>
											</tr>
										</thead>
										<tbody> 
											<tr >
												<td rowspan="6" class="alignt last">GA1001</td><td rowspan="2" class="alignt bgcol last">Primary</td><td class="bgcol">Army B</td>
												<td class="bgcol">50%</td>
											</tr>
											<tr class="bgcol last">
												<td>Tim W</td><td>50%</td>
											</tr>
											<tr>
												<td rowspan="4" class="alignt last">Contingent</td><td>Blair W</td><td>25%</td>
											</tr>
											<tr>
												<td>Petro R</td><td>25%</td>
											</tr>
											<tr>
												<td>Mike E</td><td>25%</td>
											</tr>
											<tr class="last">
												<td>Beckey M</td><td>25%</td>
											</tr>
											<!-- <tr class="last">
											<td rowspan="3" class="alignt">RA1006</td><td rowspan="1" class="alignt bgcol">Primary</td><td class="bgcol">Abis S</td>
											<td class="bgcol">100%</td>
											</tr>
											<tr>
											<td rowspan="2" class="alignt last">Contingent</td><td>Dave T</td><td>50%</td>
											</tr>
											<tr class="last">
											<td>Prakash</td><td>50%</td>
											</tr> -->
										</tbody>
									</table>
								</div>
							</div>
							<div class="hd">
								<h3>
									<a href="" class="collapsed" title="Select to expand or collapse content below"><span class="icon">+</span>Allocation</a>
								</h3>
							</div>
							<div class="content">
								<div class="bd">
									<table id="nodataDisplay1" class="styleA fw closed" summary="Auto Save" role="Auto Save">
										<caption>Allocation</caption>
										<colgroup>
											<col span="1" class="w25" >
											<col span="1" class="w25" >
											<col span="1" class="w25" >
											<col span="1" class="w25" >
										</colgroup>
										<thead>
											<tr>
												<th scope="col">Sub-Plan</th>
												<th scope="col">Asset Class</th>
												<th scope="col"> Fund Name</th>
												<th scope="col">% Allocated</th>
											</tr>
										</thead>
										<tbody>
											<tr >
												<td colspan="4" class="s">No Data to display</td>
											</tr>
										</tbody>
									</table>
									<table id="dataDisplay1" class="styleA fw" summary="Auto Save" role="Auto Save">
										<caption>Allocation</caption>
										<colgroup>
											<col span="1" class="w25" >
											<col span="1" class="w25" >
											<col span="1" class="w25" >
											<col span="1" class="w25" >
										</colgroup>
										<thead>
											<tr>
												<th scope="col">Sub-Plan</th>
												<th scope="col">Asset Class</th>
												<th scope="col"> Fund Name</th>
												<th scope="col">% Allocated</th>
											</tr>
										</thead>
										<tbody>
											<tr >
												<td rowspan="4" class="alignt bgcol">GA1001</td>
												<td rowspan="4" class="alignt bgcol">Real Estate</td>
												<td class="bgcol">Cref Social Choice</td>
												<td class="bgcol">25%</td>
												</tr>
											<tr>
												<td class="bgcol">PRUDENTIAL SMALL COMPANY Q</td>
												<td class="bgcol">35%</td>
											</tr>
											<tr>
												<td class="bgcol">AMERICAN GROWTH OF AMERICA R6</td>
												<td class="bgcol">20%</td>
											</tr>
											<tr>
												<td class="bgcol">CREF GLOBAL EQUITIES</td>
												<td class="bgcol">20%</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div> 
				</div>
			</div>
			<!--End of Sub panels-->
		</div>
	</div>
</div>
<div class="panels protoDyna nyu">
  <div class="hd first" id="nyu">
      <h3 id="SunyDtaxPlan1"><a href="#" class="expanded" title="Select to expand or collapse content below">
         <span class="icon">+</span>QA NYU HOSPITALS PARTICIPATING EMPLOYERS - 403400</a>
      </h3>
   </div>
   <div class="content">
      <div class="bd ">
       <div class="panels ">       
          <div class="hd" id="prior-contrib">
           <h3>
              <a class="collapsed" title="Select to expand or collapse content below" href="javascript:void(0)">
                <span class="icon">+</span>
                Prior Contributions
              </a>
           </h3>
       </div>
       <div class="content">
               <div class="bd">
               <table id="" class="styleA fw " summary="Prior Contributions" role="Prior Contributions">
                     <caption>
                    Prior Contributions
                    </caption>
                    <colgroup>
                     <col span="1" class="w35" >
                     <col span="1" class="w35" >
                     <col span="1" class="w30" >
                   </colgroup>
                   <thead>
                       <tr>
                         <th scope="col" >Internal Revenue Code</th>
                         <th scope="col" >Contribution Source</th>
                         <th scope="col" >Contribution Amount</th>
                      </tr>
                  </thead>
                  <tbody>
                       <tr >
                         <td class="alignt bgcol" rowspan="2">4038</td>
                         <td class="bgcol">Pre Tax</td><td class="bgcol">$500 </td>
                       </tr>
                       <tr  class="bgcol last">
                          <td>Roth</td>
                          <td>$200 </td>
                       </tr>
                       <tr >
                         <td class="alignt" rowspan="2">4578</td>
                         <td>Pre Tax</td>
                         <td>--</td>
                      </tr>
                      <tr class="last">
                        <td class="last">After Tax</td>
                        <td class="last">$400 </td>
                      </tr>
                  </tbody>
                  </table>
            </div>
       </div>

       <div class="hd">
              <h3 class="ntsep">
                   <a class="collapsed" title="Select to expand or collapse content below" href="javascript:void(0)">
                    <span class="icon">+</span>
                    Salary Deferral Details 
                  </a>
             </h3>
          </div>
        <div class="content">
                <div class="bd">
          <table id="sal1a" class="styleA fw" summary="Salary Deferral Details1" role="Salary Deferral Details1">
            <caption>Salary Deferral Details1</caption>
            
             <thead>
              <tr>
              <th scope="col" >Effective Date</th>
              <th scope="col" >Remaining Pay Cycles</th>
              <th scope="col" >PerPay Cycle Deferral
                <input type="button" id="tooltip-perpayCD1" name="tooltip-perpayCD1" class="tipLink" value="?" role="button" aria-describedby="help-perpayCD1" aria-required="false" data-tooltip-location="top" data-tooltip-width="300" />
    <div class="tipContents" id="help-perpayCD1" role="tooltip" aria-hidden="true"> Sum of Employee SDA and Employer Contribution per pay cycle </div>
              </th>
              <th scope="col" >YTD Contribution</th>
              <th scope="col" >Annual Total Plan Contributions

                 <input type="button" id="tooltip-annualTPC1" name="tooltip-annualTPC1" class="tipLink" value="?" role="button" aria-describedby="help-annualTPC1" aria-required="false" data-tooltip-location="top" data-tooltip-width="300" />
    <div class="tipContents" id="help-annualTPC1" role="tooltip" aria-hidden="true"> Sum of Annual Employer Contributions and Annual Employer Contributions </div>

              </th>
              <th scope="col">Last Updated Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
              <td class="bgcol" >06/11/2014</td>
              <td class="bgcol" >21</td>
              <td class="bgcol" >$190</td>
              <td class="bgcol" >$500</td>
              <td class="bgcol" >
				<input type="button" id="tooltip-atpc1" name="tooltip-atpc1" class="tipLink2 titletip" value="$4490.00" role="button" aria-describedby="help-atpc1" />
				<div class="tipContents" id="help-atpc1" role="tooltip" aria-hidden="true">Dollar amount is rounded to the nearest whole number.</div>
			  </td>
              <td class="bgcol">03/01/2014</td>
              </tr>
            </tbody>
		  </table>
        
        <div class="fll mtblg">Employee Contribution</div> <div class="flr mtblg"><span class="mrxlg">Deferral Type : Percent</span><span class="mlxlg">Deferral Amount : 2%</span></div>  
       
                <table id="sal1" class="styleA fw" summary="Salary Deferral Details" role="Salary Deferral Details">
                     <caption>
                      Salary Deferral Details
                    </caption>
                    <colgroup>
                      <col span="1" class="w15">
                      <col span="1" class="w20">
                      <col span="1" class="w15">
                      <col span="1" class="w15">
                      <col span="1" class="w10">
                      <col span="1" class="w10">
                      <col span="1" class="w15">
                   </colgroup>
                   <thead>
                      <tr>
                        <th scope="col" >Source Name</th>
                        <th scope="col" >Source Election Value</th>
                        <th scope="col" >Vendor</th>
                        <th scope="col" >Vendor Allocation%</th>
                        <th scope="col" >Sub-Plan</th>
                        <th scope="col" >Sub-Plan Allocation</th>
                        <th scope="col">Equivalent Dollar Allocation</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr  class="bgcol">
                        <td class="alignt" rowspan="4">E</td>
                        <td class="alignt" rowspan="4">

              <a href="#" aria-describedby="help-exampleText" role="button" class="tipLink2" name="tooltip-exampleText" id="tooltip-exampleText" title="" data-tooltip-location="top" data-tooltip-width="350">Contributing</a>
              <div id="help-exampleText" class="tipContents" aria-hidden="true" role="tooltip">Check Plan Details / Plan Rules for more information. Click to be navigated to Plan Details.</div></td>
            <td class="alignt" rowspan="4">TIAA-CREF</td>
                        <td class="alignt">100%</td>
                        <td class="">GA1001</td>
                        <td class="">25%</td>
                        <td>$473</td>
                      </tr>

                  </tbody>
                  </table>

                  <div class="fll mtblg">Employer Contribution</div> 
                  <div class="flr mtblg"><span class="mrxlg">Contribution Type : Percent</span><span class="mlxlg">Contribution Amount : 2%</span></div>  
       
                <table id="sal1" class="styleA fw" summary="Salary Deferral Details" role="Salary Deferral Details">
                     <caption>
                      Salary Deferral Details
                    </caption>
                    <colgroup>
                      <col span="1" class="w15">
                      <col span="1" class="w20">
                      <col span="1" class="w15">
                      <col span="1" class="w15">
                      <col span="1" class="w10">
                      <col span="1" class="w10">
                      <col span="1" class="w15">
                   </colgroup>
                   <thead>
                      <tr>
                        <th scope="col" >Source Name</th>
                        <th scope="col" >Source Election Value</th>
                        <th scope="col" >Vendor</th>
                        <th scope="col" >Vendor Allocation%</th>
                        <th scope="col" >Sub-Plan</th>
                        <th scope="col" >Sub-Plan Allocation</th>
                        <th scope="col">Equivalent Dollar Allocation</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr  class="bgcol">
                        <td class="alignt" rowspan="4">F - Employer</td>
                        <td class="alignt" rowspan="4">

              <a href="#" aria-describedby="help-exampleText" role="button" class="tipLink2" name="tooltip-exampleText" id="tooltip-exampleText" title="" data-tooltip-location="top" data-tooltip-width="350">Contributing</a>
              <div id="help-exampleText" class="tipContents" aria-hidden="true" role="tooltip">Check Plan Details / Plan Rules for more information. Click to be navigated to Plan Details.</div></td>
            <td class="alignt" rowspan="4">TIAA-CREF</td>
                        <td class="alignt">100%</td>
                        <td class="">GS1001</td>
                        <td class="">25%</td>
                        <td>$473</td>
                      </tr>

                  </tbody>
                  </table>

                  
            </div>
        </div>

        <div class="hd">
              <h3>
                   <a class="collapsed" title="Select to expand or collapse content below" href="javascript:void(0)">
                    <span class="icon">+</span>
                    Beneficiaries and Allocation
                  </a>
             </h3>
          </div>
        <div class="content">
              <div class="planpanel">
                 <div class="panels">

                   <div class="hd first">
                         <h3><a href="" class="collapsed" title="Select to expand or collapse content below">
                             <span class="icon">+</span>Beneficiaries</a>
                        </h3>
                    </div>
                     <div class="content">
                      <div class="bd">
                      
                   <table id="nodataDisplay" class="styleA fw closed" summary="Auto Save" role="Auto Save">
                                  <caption>
                                   Beneficiaries
                                 </caption>
                               <colgroup>
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                              </colgroup>
                              <thead>
                                 <tr>
                                  <th scope="col" >Sub-Plan</th>
                                  <th scope="col" >Type</th>
                                  <th scope="col"> Name</th>
                                  <th scope="col" >Entitlement</th>
                               </tr>
                             </thead>
                              <tbody> 
                <tr>
                 <td colspan="4" class="">No Data to display</td>
                </tr>
                 </tbody>
                             </table>
                
                    <table id="dataDisplay" class="styleA fw" summary="Auto Save" role="Auto Save">
                                  <caption>
                                   Beneficiaries
                                 </caption>
                               <colgroup>
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                              </colgroup>
                              <thead>
                                 <tr>
                                  <th scope="col" >Sub-Plan</th>
                                  <th scope="col" >Type</th>
                                  <th scope="col"> Name</th>
                                  <th scope="col" >Entitlement</th>
                               </tr>
                             </thead>
                              <tbody> 
                                <tr >
                                    <td rowspan="6" class="alignt last">GA1001</td><td rowspan="2" class="alignt bgcol last">Primary</td><td class="bgcol">Army B</td>
                                    <td class="bgcol">50%</td>
                                </tr>
                                <tr class="bgcol last">
                                    <td>Tim W</td><td>50%</td>
                                </tr>
                                <tr>
                                    <td rowspan="4" class="alignt last">Contingent</td><td>Blair W</td><td>25%</td>
                                </tr>
                                <tr>
                                    <td>Petro R</td><td>25%</td>
                                </tr>
                                <tr>
                                    <td>Mike E</td><td>25%</td>
                                </tr>
                                <tr class="last">
                                    <td>Beckey M</td><td>25%</td>
                                </tr>
                                <!-- <tr class="last">
                                    <td rowspan="3" class="alignt">RA1006</td><td rowspan="1" class="alignt bgcol">Primary</td><td class="bgcol">Abis S</td>
                                    <td class="bgcol">100%</td>
                                </tr>
                                <tr>
                                    <td rowspan="2" class="alignt last">Contingent</td><td>Dave T</td><td>50%</td>
                                </tr>
                                <tr class="last">
                                    <td>Prakash</td><td>50%</td>
                                </tr> -->
                              </tbody>
                             </table>
               
                      </div>
                    </div>

                    <div class="hd">
                         <h3><a href="" class="collapsed" title="Select to expand or collapse content below">
                                   <span class="icon">+</span>Allocation</a>
                              </h3>
                    </div>
                     <div class="content">
                      <div class="bd">
                      
                     <table id="nodataDisplay1" class="styleA fw closed" summary="Auto Save" role="Auto Save">
                                  <caption>
                                   Allocation
                                 </caption>
                               <colgroup>
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                              </colgroup>
                              <thead>
                                 <tr>
                                  <th scope="col">Sub-Plan</th>
                                  <th scope="col">Asset Class</th>
                                  <th scope="col"> Fund Name</th>
                                  <th scope="col">% Allocated</th>
                               </tr>
                             </thead>
                              <tbody>
                 <tr >
                 <td colspan="4" class="s">No Data to display</td>
                </tr>
                 </tbody>
                             </table>
                   <table id="dataDisplay1" class="styleA fw" summary="Auto Save" role="Auto Save">
                                  <caption>
                                   Allocation
                                 </caption>
                               <colgroup>
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                              </colgroup>
                              <thead>
                                 <tr>
                                  <th scope="col">Sub-Plan</th>
                                  <th scope="col">Asset Class</th>
                                  <th scope="col"> Fund Name</th>
                                  <th scope="col">% Allocated</th>
                               </tr>
                             </thead>
                              <tbody>
                                <tr >
                                  <td rowspan="4" class="alignt bgcol">GA1001</td>
                  <td rowspan="4" class="alignt bgcol">Real Estate</td>
                  <td class="bgcol">Cref Social Choice</td>
                  <td class="bgcol">25%</td>
                </tr>
                <tr>
                  <td class="bgcol">PRUDENTIAL SMALL COMPANY Q</td>
                  <td class="bgcol">35%</td>
                </tr>
                <tr>
                  <td class="bgcol">AMERICAN GROWTH OF AMERICA R6</td>
                  <td class="bgcol">20%</td>
                </tr>
                <tr>
                  <td class="bgcol">CREF GLOBAL EQUITIES</td>
                  <td class="bgcol">20%</td>
                </tr>
                 
              </tbody>
                             </table>
                           
                      </div>
                    </div>


                 </div>
              </div> 
        </div>

    </div>
    <!--End of Sub panels-->
      </div>
   </div>
</div>


<div class="panels protoDyna suny">
  <div class="hd first" id="suny">
      <h3 id="SunyDtaxPlan1"><a href="#" class="expanded" title="Select to expand or collapse content below">
         <span class="icon">+</span>STATE UNIVERSITY OF NEW YORK - TAX DEFERRED ANNUITY PLAN - 151187</a>
      </h3>
   </div>

   <div class="content">
      <div class="bd ">
       <div class="panels ">       
          <div class="hd" id="prior-contrib">
           <h3>
              <a class="collapsed" title="Select to expand or collapse content below" href="javascript:void(0)">
                <span class="icon">+</span>
                Prior Contributions
              </a>
           </h3>
       </div>
       <div class="content">
               <div class="bd">
               <table id="" class="styleA fw " summary="Prior Contributions" role="Prior Contributions">
                     <caption>
                    Prior Contributions
                    </caption>
                    <colgroup>
                     <col span="1" class="w35" >
                     <col span="1" class="w35" >
                     <col span="1" class="w30" >
                   </colgroup>
                   <thead>
                       <tr>
                         <th scope="col" >Internal Revenue Code</th>
                         <th scope="col" >Contribution Source</th>
                         <th scope="col" >Contribution Amount</th>
                      </tr>
                  </thead>
                  <tbody>
                       <tr >
                         <td class="alignt bgcol" rowspan="2">4038</td>
                         <td class="bgcol">Pre Tax</td><td class="bgcol">$500 </td>
                       </tr>
                       <tr  class="bgcol last">
                          <td>Roth</td>
                          <td>$200 </td>
                       </tr>
                       <tr >
                         <td class="alignt" rowspan="2">4578</td>
                         <td>Pre Tax</td>
                         <td>--</td>
                      </tr>
                      <tr class="last">
                        <td class="last">After Tax</td>
                        <td class="last">$400 </td>
                      </tr>
                  </tbody>
                  </table>
            </div>
       </div>

       <div class="hd">
              <h3 class="ntsep">
                   <a class="collapsed" title="Select to expand or collapse content below" href="javascript:void(0)">
                    <span class="icon">+</span>
                    Salary Deferral Details 
                  </a>
             </h3>
          </div>
        <div class="content protoDyna nyu">
                <div class="bd">
          <table id="sal1a" class="styleA fw" summary="Salary Deferral Details1" role="Salary Deferral Details1">
            <caption>Salary Deferral Details1</caption>
            
             <thead>
              <tr>
              <th scope="col" >Effective Date</th>
              <th scope="col" >Remaining Pay Cycles</th>
              <th scope="col" >PerPay Cycle Deferral
                <input type="button" id="tooltip-perpayCD2" name="tooltip-perpayCD2" class="tipLink" value="?" role="button" aria-describedby="help-perpayCD2" aria-required="false" data-tooltip-location="top" data-tooltip-width="300" />
                <div class="tipContents" id="help-perpayCD2" role="tooltip" aria-hidden="true"> Sum of Employee SDA and Employer Contribution per pay cycle </div>

              </th>
              <th scope="col" >YTD Contribution</th>
              <th scope="col" >Annual Total Plan Contributions

              <input type="button" id="tooltip-annualTPC2" name="tooltip-annualTPC2" class="tipLink" value="?" role="button" aria-describedby="help-annualTPC2" aria-required="false" data-tooltip-location="top" data-tooltip-width="300" />
    <div class="tipContents" id="help-annualTPC2" role="tooltip" aria-hidden="true"> Sum of Annual Employer Contributions and Annual Employer Contributions </div>

    </th>
              <th scope="col">Last Updated Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
              <td class="bgcol" >06/11/2014</td>
              <td class="bgcol" >21</td>
              <td class="bgcol" >$190</td>
              <td class="bgcol" >$500</td>
              <td class="bgcol" >
				<input type="button" id="tooltip-atpc2" name="tooltip-atpc2" class="tipLink2 titletip" value="$4490.00" role="button" aria-describedby="help-atpc2" />
				<div class="tipContents" id="help-atpc2" role="tooltip" aria-hidden="true">Dollar amount is rounded to the nearest whole number.</div>
			  </td>
              <td class="bgcol">03/01/2014</td>
              </tr>
            </tbody>
                  </table>
        
        <div class="fll mtblg">Employee Contribution</div> <div class="flr mtblg"><span class="mrxlg">Deferral Type : Percent</span><span class="mlxlg">Deferral Amount : 2%</span></div>  
       
                <table id="sal1" class="styleA fw" summary="Salary Deferral Details" role="Salary Deferral Details">
                     <caption>
                      Salary Deferral Details
                    </caption>
                    <colgroup>
                      <col span="1" class="w15">
                      <col span="1" class="w20">
                      <col span="1" class="w15">
                      <col span="1" class="w15">
                      <col span="1" class="w10">
                      <col span="1" class="w10">
                      <col span="1" class="w15">
                   </colgroup>
                   <thead>
                      <tr>
                        <th scope="col" >Source Name</th>
                        <th scope="col" >Source Election Value</th>
                        <th scope="col" >Vendor</th>
                        <th scope="col" >Vendor Allocation%</th>
                        <th scope="col" >Sub-Plan</th>
                        <th scope="col" >Sub-Plan Allocation</th>
                        <th scope="col">Equivalent Dollar Allocation</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr  class="bgcol">
                        <td class="alignt" rowspan="4">E</td>
                        <td class="alignt" rowspan="4">

              <a href="#" aria-describedby="help-exampleText" role="button" class="tipLink2" name="tooltip-exampleText" id="tooltip-exampleText" title="" data-tooltip-location="top" data-tooltip-width="350">Contributing</a>
              <div id="help-exampleText" class="tipContents" aria-hidden="true" role="tooltip">Check Plan Details / Plan Rules for more information. Click to be navigated to Plan Details.</div></td>
            <td class="alignt" rowspan="4">TIAA-CREF</td>
                        <td class="alignt">100%</td>
                        <td class="">GS1001</td>
                        <td class="">25%</td>
                        <td>$473</td>
                      </tr>

                  </tbody>
                  </table>

                  <div class="fll mtblg">Employer Contribution</div> 
                  <div class="flr mtblg"><span class="mrxlg">Contribution Type : Percent</span><span class="mlxlg">Contribution Amount : 2%</span></div>  
       
                <table id="sal1" class="styleA fw" summary="Salary Deferral Details" role="Salary Deferral Details">
                     <caption>
                      Salary Deferral Details
                    </caption>
                    <colgroup>
                      <col span="1" class="w15">
                      <col span="1" class="w20">
                      <col span="1" class="w15">
                      <col span="1" class="w15">
                      <col span="1" class="w10">
                      <col span="1" class="w10">
                      <col span="1" class="w15">
                   </colgroup>
                   <thead>
                      <tr>
                        <th scope="col" >Source Name</th>
                        <th scope="col" >Source Election Value</th>
                        <th scope="col" >Vendor</th>
                        <th scope="col" >Vendor Allocation%</th>
                        <th scope="col" >Sub-Plan</th>
                        <th scope="col" >Sub-Plan Allocation</th>
                        <th scope="col">Equivalent Dollar Allocation</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr  class="bgcol">
                        <td class="alignt" rowspan="4">F - Employer</td>
                        <td class="alignt" rowspan="4">

              <a href="#" aria-describedby="help-exampleText" role="button" class="tipLink2" name="tooltip-exampleText" id="tooltip-exampleText" title="" data-tooltip-location="top" data-tooltip-width="350">Contributing</a>
              <div id="help-exampleText" class="tipContents" aria-hidden="true" role="tooltip">Check Plan Details / Plan Rules for more information. Click to be navigated to Plan Details.</div></td>
            <td class="alignt" rowspan="4">TIAA-CREF</td>
                        <td class="alignt">100%</td>
                        <td class="">GS1001</td>
                        <td class="">25%</td>
                        <td>$473</td>
                      </tr>

                  </tbody>
                  </table>


            </div>
        </div>
         <div class="hd">
              <h3>
                   <a class="collapsed" title="Select to expand or collapse content below" href="javascript:void(0)">
                    <span class="icon">+</span>
                    Beneficiaries and Allocation
                  </a>
             </h3>
          </div>
        <div class="content">
              <div class="planpanel">
                 <div class="panels">

                   <div class="hd first">
                         <h3><a href="" class="collapsed" title="Select to expand or collapse content below">
                             <span class="icon">+</span>Beneficiaries</a>
                        </h3>
                    </div>
                     <div class="content">
                      <div class="bd">
                      
                   <table id="nodataDisplay" class="styleA fw closed" summary="Auto Save" role="Auto Save">
                                  <caption>
                                   Beneficiaries
                                 </caption>
                               <colgroup>
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                              </colgroup>
                              <thead>
                                 <tr>
                                  <th scope="col" >Sub-Plan</th>
                                  <th scope="col" >Type</th>
                                  <th scope="col"> Name</th>
                                  <th scope="col" >Entitlement</th>
                               </tr>
                             </thead>
                              <tbody> 
                <tr>
                 <td colspan="4" class="">No Data to display</td>
                </tr>
                 </tbody>
                             </table>
                
                    <table id="dataDisplay" class="styleA fw" summary="Auto Save" role="Auto Save">
                                  <caption>
                                   Beneficiaries
                                 </caption>
                               <colgroup>
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                              </colgroup>
                              <thead>
                                 <tr>
                                  <th scope="col" >Sub-Plan</th>
                                  <th scope="col" >Type</th>
                                  <th scope="col"> Name</th>
                                  <th scope="col" >Entitlement</th>
                               </tr>
                             </thead>
                              <tbody> 
                                <tr >
                                    <td rowspan="6" class="alignt last">GS1001</td><td rowspan="2" class="alignt bgcol last">Primary</td><td class="bgcol">Army B</td>
                                    <td class="bgcol">50%</td>
                                </tr>
                                <tr class="bgcol last">
                                    <td>Tim W</td><td>50%</td>
                                </tr>
                                <tr>
                                    <td rowspan="4" class="alignt last">Contingent</td><td>Blair W</td><td>25%</td>
                                </tr>
                                <tr>
                                    <td>Petro R</td><td>25%</td>
                                </tr>
                                <tr>
                                    <td>Mike E</td><td>25%</td>
                                </tr>
                                <tr class="last">
                                    <td>Beckey M</td><td>25%</td>
                                </tr>
                                <!-- <tr class="last">
                                    <td rowspan="3" class="alignt">RA1006</td><td rowspan="1" class="alignt bgcol">Primary</td><td class="bgcol">Abis S</td>
                                    <td class="bgcol">100%</td>
                                </tr>
                                <tr>
                                    <td rowspan="2" class="alignt last">Contingent</td><td>Dave T</td><td>50%</td>
                                </tr>
                                <tr class="last">
                                    <td>Prakash</td><td>50%</td>
                                </tr> -->
                              </tbody>
                             </table>
               
                      </div>
                    </div>

                    <div class="hd">
                         <h3><a href="" class="collapsed" title="Select to expand or collapse content below">
                                   <span class="icon">+</span>Allocation</a>
                              </h3>
                    </div>
                     <div class="content">
                      <div class="bd">
                      
                     <table id="nodataDisplay1" class="styleA fw closed" summary="Auto Save" role="Auto Save">
                                  <caption>
                                   Allocation
                                 </caption>
                               <colgroup>
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                              </colgroup>
                              <thead>
                                 <tr>
                                  <th scope="col">Sub-Plan</th>
                                  <th scope="col">Asset Class</th>
                                  <th scope="col"> Fund Name</th>
                                  <th scope="col">% Allocated</th>
                               </tr>
                             </thead>
                              <tbody>
                 <tr >
                 <td colspan="4" class="s">No Data to display</td>
                </tr>
                 </tbody>
                             </table>
                   <table id="dataDisplay1" class="styleA fw" summary="Auto Save" role="Auto Save">
                                  <caption>
                                   Allocation
                                 </caption>
                               <colgroup>
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                              </colgroup>
                              <thead>
                                 <tr>
                                  <th scope="col">Sub-Plan</th>
                                  <th scope="col">Asset Class</th>
                                  <th scope="col"> Fund Name</th>
                                  <th scope="col">% Allocated</th>
                               </tr>
                             </thead>
                              <tbody>
                                <tr >
                                  <td rowspan="4" class="alignt bgcol">GS1001</td>
                  <td rowspan="4" class="alignt bgcol">Real Estate</td>
                  <td class="bgcol">Cref Social Choice</td>
                  <td class="bgcol">25%</td>
                </tr>
                <tr>
                  <td class="bgcol">PRUDENTIAL SMALL COMPANY Q</td>
                  <td class="bgcol">35%</td>
                </tr>
                <tr>
                  <td class="bgcol">AMERICAN GROWTH OF AMERICA R6</td>
                  <td class="bgcol">20%</td>
                </tr>
                <tr>
                  <td class="bgcol">CREF GLOBAL EQUITIES</td>
                  <td class="bgcol">20%</td>
                </tr>
                 
              </tbody>
                             </table>
                           
                      </div>
                    </div>


                 </div>
              </div> 
        </div>

    </div>
    <!--End of Sub panels-->
      </div>
   </div>
  
  
   </div>


<div class="panels protoDyna default">
  <div class="hd first" id="default">
      <h3 id="SunyDtaxPlan1"><a href="#" class="expanded" title="Select to expand or collapse content below">
         <span class="icon">+</span>SUNY ORP - CORNELL CONTRACT COLLEGES 151212</a>
      </h3>
   </div>

   <div class="content">
      <div class="bd ">
       <div class="panels ">       
          <div class="hd" id="prior-contrib">
           <h3>
              <a class="collapsed" title="Select to expand or collapse content below" href="javascript:void(0)">
                <span class="icon">+</span>
                Prior Contributions
              </a>
           </h3>
       </div>
       <div class="content">
               <div class="bd">
               <table id="" class="styleA fw " summary="Prior Contributions" role="Prior Contributions">
                     <caption>
                    Prior Contributions
                    </caption>
                    <colgroup>
                     <col span="1" class="w35" >
                     <col span="1" class="w35" >
                     <col span="1" class="w30" >
                   </colgroup>
                   <thead>
                       <tr>
                         <th scope="col" >Internal Revenue Code</th>
                         <th scope="col" >Contribution Source</th>
                         <th scope="col" >Contribution Amount</th>
                      </tr>
                  </thead>
                  <tbody>
                       <tr >
                         <td class="alignt bgcol" rowspan="2">403b</td>
                         <td class="bgcol">Pre Tax</td><td class="bgcol">$500 </td>
                       </tr>
                       <tr  class="bgcol last">
                          <td>Roth</td>
                          <td>$200 </td>
                       </tr>
                       <tr >
                         <td class="alignt" rowspan="2">457b</td>
                         <td>Pre Tax</td>
                         <td>--</td>
                      </tr>
                      <tr class="last">
                        <td class="last">After Tax</td>
                        <td class="last">$400 </td>
                      </tr>
                  </tbody>
                  </table>
            </div>
       </div>

       <div class="hd">
              <h3 class="ntsep">
                   <a class="collapsed" title="Select to expand or collapse content below" href="javascript:void(0)">
                    <span class="icon">+</span>
                    Salary Deferral Details 
                  </a>
             </h3>
          </div>
        <div class="content protoDyna nyu">
                <div class="bd">
          <table id="sal1a" class="styleA fw" summary="Salary Deferral Details1" role="Salary Deferral Details1">
            <caption>Salary Deferral Details1</caption>
            
             <thead>
              <tr>
              <th scope="col" >Effective Date</th>
              <th scope="col" >Remaining Pay Cycles
                
              </th>
              <th scope="col" >PerPay Cycle Deferral
              <input type="button" id="tooltip-perpayCD3" name="tooltip-perpayCD3" class="tipLink" value="?" role="button" aria-describedby="help-perpayCD3" aria-required="false" data-tooltip-location="top" data-tooltip-width="300" />
                <div class="tipContents" id="help-perpayCD3" role="tooltip" aria-hidden="true"> Sum of Employee SDA and Employer Contribution per pay cycle </div>
                </th>
              <th scope="col" >YTD Contribution</th>
              <th scope="col" >Annual Total Plan Contributions 

                <input type="button" id="tooltip-annualTPC3" name="tooltip-annualTPC3" class="tipLink" value="?" role="button" aria-describedby="help-annualTPC3" aria-required="false" data-tooltip-location="top" data-tooltip-width="300" />
    <div class="tipContents" id="help-annualTPC3" role="tooltip" aria-hidden="true"> Sum of Annual Employer Contributions and Annual Employer Contributions </div>


              </th>
              <th scope="col">Last Updated Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
              <td class="bgcol" >06/11/2014</td>
              <td class="bgcol" >21</td>
              <td class="bgcol" >$190</td>
              <td class="bgcol" >$500</td>
              <td class="bgcol" >
				<input type="button" id="tooltip-atpc3" name="tooltip-atpc3" class="tipLink2 titletip" value="$4490.01" role="button" aria-describedby="help-atpc3" />
				<div class="tipContents" id="help-atpc3" role="tooltip" aria-hidden="true">Dollar amount is rounded to the nearest whole number.</div>
			  </td>
              <td class="bgcol">03/01/2014</td>
              </tr>
            </tbody>
                  </table>
        
        <div class="fll mtblg">Employee Contribution</div> <div class="flr mtblg"><span class="mrxlg">Deferral Type : Percent</span><span class="mlxlg">Deferral Amount : 2%</span></div>  
       
                <table id="sal1" class="styleA fw" summary="Salary Deferral Details" role="Salary Deferral Details">
                     <caption>
                      Salary Deferral Details
                    </caption>
                    <colgroup>
                      <col span="1" class="w15">
                      <col span="1" class="w20">
                      <col span="1" class="w15">
                      <col span="1" class="w15">
                      <col span="1" class="w10">
                      <col span="1" class="w10">
                      <col span="1" class="w15">
                   </colgroup>
                   <thead>
                      <tr>
                        <th scope="col" >Source Name</th>
                        <th scope="col" >Source Election Value</th>
                        <th scope="col" >Vendor</th>
                        <th scope="col" >Vendor Allocation%</th>
                        <th scope="col" >Sub-Plan</th>
                        <th scope="col" >Sub-Plan Allocation</th>
                        <th scope="col">Equivalent Dollar Allocation</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr  class="bgcol">
                        <td class="alignt" rowspan="4">E</td>
                        <td class="alignt" rowspan="4">2%</td>
            <td class="alignt" rowspan="4">TIAA-CREF</td>
                        <td class="alignt">100%</td>
                        <td class="">GS1001</td>
                        <td class="">25%</td>
                        <td>$473</td>
                      </tr>

                  </tbody>
                  </table>


                  <div class="fll mtblg">Employer Contribution</div> 
                  <div class="flr mtblg"><span class="mrxlg">Contribution Type : Percent</span><span class="mlxlg">Contribution Amount : 2%</span></div>  
       
                <table id="sal1" class="styleA fw" summary="Salary Deferral Details" role="Salary Deferral Details">
                     <caption>
                      Salary Deferral Details
                    </caption>
                    <colgroup>
                      <col span="1" class="w15">
                      <col span="1" class="w20">
                      <col span="1" class="w15">
                      <col span="1" class="w15">
                      <col span="1" class="w10">
                      <col span="1" class="w10">
                      <col span="1" class="w15">
                   </colgroup>
                   <thead>
                      <tr>
                        <th scope="col" >Source Name</th>
                        <th scope="col" >Source Election Value</th>
                        <th scope="col" >Vendor</th>
                        <th scope="col" >Vendor Allocation%</th>
                        <th scope="col" >Sub-Plan</th>
                        <th scope="col" >Sub-Plan Allocation</th>
                        <th scope="col">Equivalent Dollar Allocation</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr  class="bgcol">
                        <td class="alignt" rowspan="4">F - Employer</td>
                        <td class="alignt" rowspan="4">

              <a href="#" aria-describedby="help-exampleText" role="button" class="tipLink2" name="tooltip-exampleText" id="tooltip-exampleText" title="" data-tooltip-location="top" data-tooltip-width="350">Contributing</a>
              <div id="help-exampleText" class="tipContents" aria-hidden="true" role="tooltip">Check Plan Details / Plan Rules for more information. Click to be navigated to Plan Details.</div></td>
            <td class="alignt" rowspan="4">TIAA-CREF</td>
                        <td class="alignt">100%</td>
                        <td class="">GS1001</td>
                        <td class="">25%</td>
                        <td>$473</td>
                      </tr>

                  </tbody>
                  </table>

            </div>
        </div>
         <div class="hd">
              <h3>
                   <a class="collapsed" title="Select to expand or collapse content below" href="javascript:void(0)">
                    <span class="icon">+</span>
                    Beneficiaries and Allocation
                  </a>
             </h3>
          </div>
        <div class="content">
              <div class="planpanel">
                 <div class="panels">

                   <div class="hd first">
                         <h3><a href="" class="collapsed" title="Select to expand or collapse content below">
                             <span class="icon">+</span>Beneficiaries</a>
                        </h3>
                    </div>
                     <div class="content">
                      <div class="bd">
                        <div class="noticeModule block" aria-live="polite" role="alert">
                                 <div>
                                    <span class="icon"></span>
                                    <span>The beneficiary for this plan has been system generated and is set to the plan default. Please advice the caller to update their beneficiaries if necessary.</span>
                                 </div>
                              </div>
                      
                      
                   <table id="nodataDisplay" class="styleA fw closed" summary="Auto Save" role="Auto Save">
                                  <caption>
                                   Beneficiaries
                                 </caption>
                               <colgroup>
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                              </colgroup>
                              <thead>
                                 <tr>
                                  <th scope="col" >Sub-Plan</th>
                                  <th scope="col" >Type</th>
                                  <th scope="col"> Name</th>
                                  <th scope="col" >Entitlement</th>
                               </tr>
                             </thead>
                             <tbody>
                               <tr>
                                 <td>GR1001</td>
                                 <td>PRIMARY</td>
                                 <td>Estate</td>
                                 <td>100%</td>
                               </tr>
                             </tbody>
                              <tbody> 
                <tr>
                 <td colspan="4" class="">No Data to display</td>
                </tr>
                 </tbody>
                             </table>
                
                    <table id="dataDisplay" class="styleA fw" summary="Auto Save" role="Auto Save">
                                  <caption>
                                   Beneficiaries
                                 </caption>
                               <colgroup>
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                              </colgroup>
                              <thead>
                                 <tr>
                                  <th scope="col" >Sub-Plan</th>
                                  <th scope="col" >Type</th>
                                  <th scope="col"> Name</th>
                                  <th scope="col" >Entitlement</th>
                               </tr>
                             </thead>
                              
                             </table>


                
                      </div>
                    </div>

                    <div class="hd">
                         <h3><a href="" class="collapsed" title="Select to expand or collapse content below">
                                   <span class="icon">+</span>Allocation</a>
                              </h3>
                    </div>
                     <div class="content">
                      <div class="bd">
                      
                     <table id="nodataDisplay1" class="styleA fw closed" summary="Auto Save" role="Auto Save">
                                  <caption>
                                   Allocation
                                 </caption>
                               <colgroup>
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                              </colgroup>
                              <thead>
                                 <tr>
                                  <th scope="col">Sub-Plan</th>
                                  <th scope="col">Asset Class</th>
                                  <th scope="col"> Fund Name</th>
                                  <th scope="col">% Allocated</th>
                               </tr>
                             </thead>
                              <tbody>
                 <tr >
                 <td colspan="4" class="s">No Data to display</td>
                </tr>
                 </tbody>
                             </table>

                             <div class="noticeModule block" aria-live="polite" role="alert">
                                 <div>
                                    <span class="icon"></span>
                                    <span>The allocation for this plan has been system generated and is set to the plan default. Please advice the caller to update their allocations if necessary.</span>
                                 </div>
                              </div>
                   <table id="dataDisplay1" class="styleA fw" summary="Auto Save" role="Auto Save">
                                  <caption>
                                   Allocation
                                 </caption>
                               <colgroup>
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                                 <col span="1" class="w25" >
                              </colgroup>
                              <thead>
                                 <tr>
                                  <th scope="col">Sub-Plan</th>
                                  <th scope="col">Asset Class</th>
                                  <th scope="col"> Fund Name</th>
                                  <th scope="col">% Allocated</th>
                               </tr>
                             </thead>
                              
                             </table>
                            <div class="mtm">The default enrollment is currently pending completion. Upon contract creation (after the nightly bacth jobs complete) the default enrollment values will be displayed here.</div>
                      </div>
                    </div>


                 </div>
              </div> 
        </div>
      		</div>
				<!--End of Sub panels-->
			</div>
		</div>  
	</div>
	<div class="btnBar nbdr">
		<input id="viewhistory" class="btn btnSmall" type="button" title="View History" value="View History">
		<input id="mdifySDA" class="btn btnSmall" type="button" title="Modify SDA" value="Modify SDA">
		<input id="update" class="btn btnSmall" type="button" title="Update" value="Update">
	</div>
   

<!--<script type="text/javascript" src="assets/js/jquery.swfobject.1-1-1.min.js"></script>

<div id="startVideo" class="popup" data-popup="width:820,height:700" title="Overview">
   <div class="body">
      <div id="flashInteract">
         <div class="movie"></div>
      </div>
   </div>
</div>

     
<div id="startVideo1" class="popup" data-popup="width:820,height:700" title="Overview">
   <div class="body">
      <div id="flashInteract1">
         <div class="movie"></div>
      </div>
   </div>
</div>-->

<script type="text/javascript">
  
  $(document).on('bodyContLoaded', function() {
  // demo-july - Scripts
  var details              = store.get('details');
  $('.protoDyna').hide();
  $('.'+details+'').show();

});
</script>