<!-- Start Overall Summary -->
<div class="panels">
	<div class="hd first">
		<h3><a href="#" class="expanded" title="Select to expand or collapse content below">
			<span class="icon">+</span>Overall Summary</a> 			
		</h3>
	</div>
    <div class="content">
		<div class="bd">
			<div class="panels leftNavMenu">       
				<div class="hd" id="prior-contrib">
					<h3><a class="expanded" title="Select to expand or collapse content below" href="#">
					<span class="icon">+</span>Prior Contributions</a></h3>
				</div>
				<div class="content">
					<div class="bd">
						<table id="" class="styleA fw " summary="Prior Contributions" role="Prior Contributions">
							<caption>Prior Contributions</caption>
							<colgroup>
								<col span="1" class="w35">
								<col span="1" class="w35">
								<col span="1" class="w30">
							</colgroup>
							<thead>
								<tr>
									<th scope="col" class="txtc">Internal Revenue Code</th>
									<th scope="col" class="txtc">Contribution Source</th>
									<th scope="col" class="txtr">Contribution Amount</th>
								</tr>
							</thead>
							<tbody>
								<tr >
									<td class="alignm txtc changeRS" rowspan="2">403B</td>
									<td class="txtc">PreTax</td>
									<td class="txtr"><span class="proto_srk closed">$20.00</span><span class="proto_mvc closed">$100.00</span></td>
								</tr>
								<tr class="proto_srk closed">
									<td class="txtc">Employer</td>
									<td class="txtr">$30.00 </td>
								</tr>
								<tr class="proto_srk closed">
									<td class="alignt txtc">457B</td>
									<td class="txtc">AfterTax</td>
									<td class="txtr">$40.00 </td>
								</tr>
								
							</tbody>
						</table>
					</div>
				</div> <!--content -->				
				<div class="hd">
					<h3 class="ntsep">
						<a class="expanded" title="Select to expand or collapse content below" href="#"><span class="icon">+</span>Contribution Summary </a>
					</h3>
				</div>
				<div class="content">
					<div class="bd">
						<table id="" class="styleA fw" summary="Contribution Summary">
						<caption>Contribution Summary</caption>
							<thead>
								<tr>
									<th class="txtc">Effective Date</th>
									<th class="txtc">Employee Contribution</th>
									<th class="txtc">Employer Contribution</th>
									<th class="txtc">Remaining Pay Cycle</th>
									<th class="txtr">YTD Contribution</th>
									<th class="txtc">Last Updated Date</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="txtc">01/01/2015</td>
									<td class="txtc">16% per pay period</td>
									<td class="txtc">10% per pay period</td>
									<td class="txtc">7</td>
									<td class="txtr">$2000.00</td>
									<td class="txtc">06/01/2015</td>
								</tr>
							</tbody>
						</table>				
					</div>
				</div> <!--content -->
				<div class="hd">
					<h3 class="ntsep">
						<a class="expanded" title="Select to expand or collapse content below" href="#"><span class="icon">+</span>Max Contributions </a>
					</h3>
				</div>
				<div class="content">
					<div class="bd">
						<table id="" class="styleA fw" summary="Max Contributions">
						<caption>Max Contributions</caption>
							<thead>
								<tr>
									<th class="txtr">Current Year Base Limit</th>
									<th class="txtr">Age 50 Catch up Amount</th>
									<th class="txtr">15 year Catch up Amount</th>
									<th class="txtr">Total Remaining Contributions</th>
									<th class="txtr">Estimated Max Contributions</th>									
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="txtr">$18,000.00</td>
									<td class="txtr">$14,000.00</td>
									<td class="txtr">$2,000.00</td>
									<td class="txtr">$16,000.00</td>
									<td class="txtr">$1,500.00</td>									
								</tr>
							</tbody>
						</table>				
					</div>
				</div> <!--content -->
			</div><!--End of Sub panels-->			
		</div><!--bd-->
	</div> <!--content-->

<!-- End of Overall Summary  -->

<!--  Plan 406554/151187     -->

	<div class="hd" id="details1">
		<h3 class="proto_srk closed">
			<a href="#" class="collapsed" title="Select to expand or collapse content below">
			<span class="icon">+</span>VILLANOVA UNIVERSITY RETIREMENT SAVINGS PLAN-RC CONTRACTS (406554)</a>						
		</h3>
		<h3 class="proto_mvc closed">			
			<a href="#" class="collapsed" title="Select to expand or collapse content below">
			<span class="icon">+</span>STATE UNIVERSITY OF NEW YORK - TAX DEFERRED ANNUITY PLAN (151167) (Erie Community College)</a>		
		</h3>
	</div>
	<div class="content">
		<div class="bd">
			<div class="panels"> 				
				<div class="hd">
					<h3 class="ntsep">
						<a class="collapsed" title="Select to expand or collapse content below" href="#"><span class="icon">+</span>Salary Deferral Details </a>
					</h3>
				</div>
				<div class="content">
					<div class="bd">
						<div class="mbm">
							<h3> Employee Contribution <span class="flr mrxlg txt12"><span class="txtb">Deferral Type</span> <span class="txtn">: PERCENT</span></span></h3>
							<div class="clear"></div>
						</div>
						<table class="styleA fw" summary="Employee Contribution">
							<caption>Employee Contribution</caption>
							<thead>
								<tr>
									<th class="txtc">Source Name</th>
									<th class="txtc">Source Election Value</th>
									<th class="txtc">Vender</th>
									<th class="txtc">Vender Allocation Percentage</th>
									<th class="txtc proto_mvc closed">Sub Plan</th>
									<th class="txtc proto_mvc closed">Sub Plan Allocation</th>									
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="txtc">E- Employee Pre-Tax</td>
									<td class="txtc">8%</td>
									<td class="txtc">TIAA-CREF</td>
									<td class="txtc">100%</td>
									<td class="proto_mvc closed">&nbsp;</td>
									<td class="proto_mvc closed">&nbsp;</td>									
								</tr>
							</tbody>
						</table>
						<div class="mbm">
							<h3> Employer Contribution <span class="flr mrxlg txt12"><span class="txtb">Contribution Type</span> <span class="txtn">: PERCENT</span></span></h3>
							<div class="clear"></div>
						</div>
						<table class="styleA fw" summary="Employer Contribution">
							<caption>Employer Contribution</caption>
							<thead>
								<tr>
									<th class="txtc">Source Name</th>
									<th class="txtc">Source Election Value</th>
									<th class="txtc">Vender</th>
									<th class="txtc">Vender Allocation Percentage</th>
									<th class="txtc proto_mvc closed">Sub Plan</th>
									<th class="txtc proto_mvc closed">Sub Plan Allocation</th>									
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="txtc">F-Employer</td>
									<td class="txtc">100%</td>
									<td class="txtc">TIAA-CREF</td>
									<td class="txtc">100%</td>
									<td class="proto_mvc closed">&nbsp;</td>
									<td class="proto_mvc closed">&nbsp;</td>									
								</tr>
							</tbody>
						</table>
					</div> <!--bd -->
				</div> <!--content -->
				<div class="hd">
					<h3>
						<a class="collapsed" title="Select to expand or collapse content below" href="#"><span class="icon">+</span>Beneficiaries and Allocation</a>
					</h3>
				</div>
				<div class="content">
					<div class="bd">
						<div class="planpanel">
							<div class="panels">
								<div class="hd">
									<h3>
										<a href="#" class="expanded" title="Select to expand or collapse content below"><span class="icon">+</span>Beneficiaries</a>
									</h3>
								</div>
								<div class="content">
									<div class="bd">									
										<table id="" class="styleA fw" summary="Beneficiaries" role="Beneficiaries">
											<caption>Beneficiaries</caption>
											<colgroup>
												<col span="1" class="w25">
												<col span="1" class="w25">
												<col span="1" class="w25">
												<col span="1" class="w25">
											</colgroup>
											<thead>
												<tr>
													<th class="txtc">Sub-Plan</th>
													<th class="txtc">Type</th>
													<th class="txtc"> Name</th>
													<th class="txtc">Entitlement</th>
												</tr>
											</thead>
											<tbody> 
												<tr>
													<td class="txtc">RP1001</td>
													<td class="txtc">Primary</td>
													<td class="txtc">Estate</td>
													<td class="txtc">100.00%</td>
												</tr>																						
											</tbody>
										</table>
									</div>
								</div>
								<div class="hd">
									<h3>
										<a href="#" class="expanded" title="Select to expand or collapse content below"><span class="icon">+</span>Allocation</a>
									</h3>
								</div>
								<div class="content">
									<div class="bd">									
										<table id="" class="styleA fw" summary="Allocation">
											<caption>Allocation</caption>
											<colgroup>
												<col span="1" class="w25">
												<col span="1" class="w25">
												<col span="1" class="w25">
												<col span="1" class="w25">
											</colgroup>
											<thead>
												<tr>
													<th class="txtc">Sub-Plan</th>
													<th class="txtc">Asset Class</th>
													<th class="txtc">Fund Name</th>
													<th class="txtc">Percent Allocated</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="txtc">RP1001</td>
													<td class="txtc">Guaranteed</td>
													<td class="txtc">TIAA Traditional</td>
													<td class="txtc">100.00%</td>
												</tr>									
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div> 
					</div> 
				</div>
				<div class="hd proto_srk closed">
					<h3><a href="#" class="collapsed" title="Select to expand or collapse content below"><span class="icon">+</span>Auto Enrollment</a></h3>
				</div>
				<div class="content">
					<div class="bd">
						<table summary="Auto Enrollment" class="styleA fw mbm">
							<caption>Auto Enrollment</caption>
							<colgroup>
								<col class="w10">
								<col class="w10">
								<col class="w10">
								<col class="w10">
								<col class="w10">
								<col class="w10">
								<col class="w10">
								<col class="w10">
								<col class="w10">
								<col class="w10">							
							</colgroup>
							<thead>
								<tr>
									<th class="txtc">Auto Enroll Type</th>
									<th class="txtc">SDA Already Created</th>
									<th class="txtc" >Auto Enroll Effective Date</th>
									<th class="txtc">Auto Enroll Start Date</th>
									<th class="txtc">Auto Enroll Stop Date</th>
									<th class="txtc">Online Opt-Out</th>
									<th class="txtc">Opt-out Days Remaining</th>
									<th class="txtc">Employee Auto Enroll Determining Factor</th>
									<th class="txtc">Deferral Percentage or Dollar Amount</th>
									<th class="txtc">Permissible Withdrawals</th>
								</tr>
							</thead>							
							<tbody>
								<tr>
									<td class="txtc">ACA</td>
									<td class="txtc">Yes</td>
									<td class="txtc">03/21/2016</td>
									<td class="txtc">04/23/2016</td>
									<td class="txtc">04/15/2016</td>
									<td class="txtc">Yes</td>
									<td class="txtc">30</td>
									<td class="txtc">Hire Date</td>
									<td class="txtc">3%</td>
									<td class="txtc">No</td>
								</tr>
								<tr>
									<td class="txtc">EACA</td>
									<td class="txtc">No</td>
									<td class="txtc">N/A</td>
									<td class="txtc">03/01/2016</td>
									<td class="txtc">04/11/2016</td>
									<td class="txtc">No</td>
									<td class="txtc">90</td>
									<td class="txtc">Eligibilty Date</td>
									<td class="txtc">$500.00</td>
									<td class="txtc">Yes</td>
								</tr>									
							</tbody>
						</table>
						<div class="panels">
							<div class="hd">
								<h3> <a href="#" class="collapsed"> <span class="icon">+</span>Table Definition</a></h3>
							</div>
							<div class="content">
								<div class="bd">
									<p><span class="txtb">Auto Enroll Type:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus. Curabitur faucibus orci eget sapien elementum, sed congue dolor suscipit.</p><p><span class="txtb">SDA Already Created:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus.</p>
									<p><span class="txtb">Auto Enroll Effective Date:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
									<p><span class="txtb">Auto Enroll Start Date:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
									<p><span class="txtb">Auto Enroll Stop Date:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
									<p><span class="txtb">Online Opt-Out:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>

									<p><span class="txtb">Opt-out Days Remaining:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
									<p><span class="txtb">Employee Auto Enroll Determining Factor:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
									<p><span class="txtb">Deferral Percentage by Dollar Amount:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
									<p><span class="txtb">Permissive Withdrawals:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
								</div>
							</div>
						</div>
					
					</div>
				</div>
				<div class="hd proto_srk closed">
					<h3><a href="#" class="collapsed" title="Select to expand or collapse content below"><span class="icon">+</span>Auto Save</a></h3>
				</div>
				<div class="content">
					<div class="bd">
						<table summary="Auto Save" class="styleA fw mbm">
							<caption>Auto Save</caption>
							<colgroup>
								<col class="w10">
								<col class="w10">
								<col class="w5">
								<col class="w10">
								<col class="w10">
								<col class="w10">
								<col class="w10">
								<col class="w10">
								<col class="w10">
								<col class="w5">							
								<col class="w5">							
								<col class="w5">							
							</colgroup>
							<thead>
								<tr>
									<th class="txtc">The Auto Save Increase Amount, Frequency, Date and Ceiling Amount is Set by</th>
									<th class="txtc">Participant Override Allowed</th>
									<th class="txtc">Auto Save Type Allowed</th>
									<th class="txtc">Auto Save Increase Amount or Percentage</th>
									<th class="txtc">Auto Save Increase Frequency</th>
									<th class="txtc">Auto Save Increase Rule</th>
									<th class="txtc">Auto Save Increase Date</th>
									<th class="txtc">Deferral Ceiling Limit Set by Participant</th>
									<th class="txtc">Deferral Ceiling Dollar Amount or Percentage</th>
									<th class="txtc">Auto Save Increase Amount Cap</th>
									<th class="txtc">Dollar Amount or Percentage Cap</th>
									<th class="txtc">Auto Increase Sources</th>
								</tr>
							</thead>							
							<tbody>
								<tr>
									<td class="txtc">Employee</td>
									<td class="txtc">Increase Amount</td>
									<td class="txtc">Percent</td>
									<td class="txtc">3%</td>
									<td class="txtc">Quarterly</td>
									<td class="txtc">First day of plan year</td>
									<td class="txtc">12/01/2015</td>
									<td class="txtc">Yes</td>
									<td class="txtc">$1,000.00</td>
									<td class="txtc">Yes</td>
									<td class="txtc">$500.00</td>
									<td class="txtc">E</td>
								</tr>															
							</tbody>
						</table>
						<div class="panels">
							<div class="hd">
								<h3> <a href="#" class="collapsed"> <span class="icon">+</span>Table Definition</a></h3>
							</div>
							<div class="content">
								<div class="bd">
									<p><span class="txtb">The Auto Save Increase Amount, Frequency, Date and Ceiling Amount is Set by:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus. Curabitur faucibus orci eget sapien elementum, sed congue dolor suscipit.</p>
									<p><span class="txtb">Participant Override Allowed :</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
									<p><span class="txtb">Auto Save Type Allowed:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
									<p><span class="txtb">Auto Save Increase Amount or Percentage:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
									<p><span class="txtb">Auto Save Increase Frequency:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
									<p><span class="txtb">Auto Save Increase Rule:</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
									<p><span class="txtb">Auto Save Increase Date:</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
									<p><span class="txtb">Participant Self-set Deferral Ceiling Limit:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
									<p><span class="txtb">Deferral Ceiling Dollar Amount or Percentage:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
									<p><span class="txtb">Auto Save Increase Amount Cap:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
									<p><span class="txtb">Cap Dollar Amount or Percentage:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
									<p><span class="txtb">Auto Increase Sources:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet aliquam lectus</p>
								</div>
							</div>
						</div>
					
					</div>
				</div>
								
			</div><!--End of Sub panels-->						
		</div><!--bd-->
	</div> <!--content-->
	<!-- End of 406554/151187-->

	<!-- Start of Plan 406555/151188 -->

	<div class="hd" id="details2">
		<h3 class="proto_srk closed">
			<a href="#" class="collapsed" title="Select to expand or collapse content below">
			<span class="icon">+</span>VILLANOVA UNIVERSITY RETIREMENT SAVINGS PLAN-RC CONTRACTS (406555)</a>						
		</h3>
		<h3 class="proto_mvc closed">			
			<a href="#" class="collapsed" title="Select to expand or collapse content below">
			<span class="icon">+</span>STATE UNIVERSITY OF NEW YORK - OPTIONAL RETIREMENT PROGRAM (151166) (Erie Community College)</a>		
		</h3>
	</div>
	<div class="content">
		<div class="bd">
			<div class="panels">  
				<div class="hd">
					<h3 class="ntsep">
						<a class="collapsed" title="Select to expand or collapse content below" href="#"><span class="icon">+</span>Salary Deferral Details </a>
					</h3>
				</div>
				<div class="content">
					<div class="bd">
						<h3 class="mbm"> Employee Contribution</h3>				
						<table class="styleA fw" summary="Employee Contribution">
							<caption>Employee Contribution</caption>
							<thead>
								<tr>
									<th class="txtc">Source Name</th>
									<th class="txtc">Source Election Value</th>
									<th class="txtc">Vender</th>
									<th class="txtc">Vender Allocation Percentage</th>
									<th class="txtc proto_mvc closed">Sub Plan</th>
									<th class="txtc proto_mvc closed">Sub Plan Allocation</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="txtc">Roth</td>
									<td class="txtc">8%</td>
									<td class="txtc">TIAA-CREF</td>
									<td class="txtc">100%</td>
									<td class="proto_mvc closed">&nbsp;</td>
									<td class="proto_mvc closed">&nbsp;</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>	
				<div class="hd">
					<h3>
						<a class="collapsed" title="Select to expand or collapse content below" href="#"><span class="icon">+</span>Beneficiaries and Allocation</a>
					</h3>
				</div>
				<div class="content">
					<div class="bd">
						<div class="planpanel">
							<div class="panels">
								<div class="hd">
									<h3>
										<a href="#" class="expanded" title="Select to expand or collapse content below"><span class="icon">+</span>Beneficiaries</a>
									</h3>
								</div>
								<div class="content">
									<div class="bd">									
										<table id="" class="styleA fw" summary="Beneficiaries" role="Beneficiaries">
											<caption>Beneficiaries</caption>
											<colgroup>
												<col span="1" class="w25">
												<col span="1" class="w25">
												<col span="1" class="w25">
												<col span="1" class="w25">
											</colgroup>
											<thead>
												<tr>
													<th class="txtc">Sub-Plan</th>
													<th class="txtc">Type</th>
													<th class="txtc"> Name</th>
													<th class="txtc">Entitlement</th>
												</tr>
											</thead>
											<tbody> 
												<tr>
													<td class="txtc">RP1001</td>
													<td class="txtc">Primary</td>
													<td class="txtc">Estate</td>
													<td class="txtc">100.00%</td>
												</tr>																						
											</tbody>
										</table>
									</div>
								</div>
								<div class="hd">
									<h3>
										<a href="#" class="expanded" title="Select to expand or collapse content below"><span class="icon">+</span>Allocation</a>
									</h3>
								</div>
								<div class="content">
									<div class="bd">									
										<table id="" class="styleA fw" summary="Allocation">
											<caption>Allocation</caption>
											<colgroup>
												<col span="1" class="w25">
												<col span="1" class="w25">
												<col span="1" class="w25">
												<col span="1" class="w25">
											</colgroup>
											<thead>
												<tr>
													<th class="txtc">Sub-Plan</th>
													<th class="txtc">Asset Class</th>
													<th class="txtc">Fund Name</th>
													<th class="txtc">Percent Allocated</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="txtc">RP1001</td>
													<td class="txtc">Guaranteed</td>
													<td class="txtc">TIAA Traditional</td>
													<td class="txtc">100.00%</td>
												</tr>									
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div> 
					</div> 
				</div>
			</div><!--End of Sub panels-->						
		</div><!--bd-->
	</div> <!--content-->

<!-- End of Plan 406555/151188 -->
 
</div>	 <!-- panels-->
