<div class="nm nplr rbt-hamburger-menu">
    <h3 class="txtupper plr ptbs">Unified Desktop Tools</h3>
    <ul class="nlist plr">
        <li><a title="Forms Central" href="#">Forms Central</a></li>
        <li><a title="Knowledge Exchange" href="#">Knowledge Exchange</a></li>
        <li><a title="My Book of Business" href="#">My Book of Business</a></li>
        <li><a title="Plan Rules" href="#">Plan Rules</a></li>
        <li><a title="RTD History" href="#">RTD History</a></li>
    </ul>
    <h3 class="txtupper plr ptbs">Other Tools</h3>
    <ul class="nlist plr">
        <li><a title="EXP AG" href="#">EXP AG</a></li>
        <li><a title="Insurance and Annuity Portal" href="#">Insurance and Annuity Portal</a></li>
        <li><a title="Morningstar" href="#">Morningstar</a></li>
        <li><a title="Portfolio Advisor" href="#">Portfolio Advisor</a></li>
        <li><a title="Pro Portal" href="#">Pro Portal</a></li>
        <li><a title="Reporting (OBIEE)" href="#">Reporting (OBIEE)</a></li>
        <li><a title="Siebel" href="#">Siebel</a></li>
        <li><a title="Transaction Portal" href="#">Transaction Portal</a></li>
        <li><a title="QTIF" href="#">QTIF</a></li>
        <li><a title="Retirement Income Planner" href="#">Retirement Income Planner </a></li>
    </ul>
</div>