<div id="container">
    <!-- Header -->
    <header>
        <div class="headercontent">
            <div class="rbt-hamburger-menu">
                <h3>Unified Desktop Tools</h3>
                <ul class="nlist">
                    <li><a title="Forms Central" href="#">Forms Central</a></li>
                    <li><a title="Knowledge Exchange" href="#">Knowledge Exchange</a></li>
                    <li><a title="My Book of Business" href="#">My Book of Business</a></li>
                    <li><a title="Plan Rules" href="#">Plan Rules</a></li>
                    <li><a title="RTD History" href="#">RTD History</a></li>
                </ul>
                <h3>Other Tools</h3>
                <ul class="nlist">
                    <li><a title="EXP AG" href="#">EXP AG</a></li>
                    <li><a title="Insurance and Annuity Portal" href="#">Insurance and Annuity Portal</a></li>
                    <li><a title="Morningstar" href="#">Morningstar</a></li>
                    <li><a title="Portfolio Advisor" href="#">Portfolio Advisor</a></li>
                    <li><a title="Pro Portal" href="#">Pro Portal</a></li>
                    <li><a title="Reporting (OBIEE)" href="#">Reporting (OBIEE)</a></li>
                    <li><a title="Siebel" href="#">Siebel</a></li>
                    <li><a title="Transaction Portal" href="#">Transaction Portal</a></li>
                    <li><a title="QTIF" href="#">QTIF</a></li>
                    <li><a title="Retirement Income Planner" href="#">Retirement Income Planner </a></li>
                </ul>
            </div>
        </div>
    </header>
    <!-- Content -->
    <div class="content twoColN">
        <!-- Global Message -->
        <div class="globalmsg"></div>
        <!-- Page Header -->
        <div class="pageheader"></div>
        <!-- Page Content -->
        <div class="pagecontent">
            <!--  UD Specific title  -->
            <div class="pagetitle">
                <div class="pageTitleWrapper">
                    <!-- Page Utility Icons and Links -->
                    <div class="udUtilityWrapper">
                        <div class="udUtility">
                            <span class="descl">
                            For internal use only
                            </span>
                            <a href="#" class="udDiagnosticsLink">
                            <span class="iccustomizeLink icon">Diagnostics</span>
                            <span>Diagnostics</span>
                            </a>
                            <a href="assets/participant.pdf" class="printLink" target="_blank">
                            <span class="icon"></span>
                            Format For Print
                            </a>
                        </div>
                    </div>
                    <!-- Participant Name and Context Menu -->
                    <div class="pageTitleUD">
                        <div class="titleContext">
                            <a id="advisorToolsLink" title="Advisor's Tools" href="#advisorToolsMenu" class="actions jq-actions" data-position="left">
                            <img src="../../themes/ud_atom/images/userlogo_ud2.png" alt="User Logo" class="mls" title="User Logo"/>
                            <span class="icon"></span>
                            </a>
                        </div>
                        <div id="advisorToolsMenu" class="actionsMenu">
                            <div class="leftnav">
                                <div class="leftNavInner contextMenu">
                                    <h2>Topics for Patricia Pension</h2>
                                    <ul class="leftul">
                                        <li><a href="#" title="Select to open Link 1">Lorem Ipsum Dolor Sit Amet</a></li>
                                        <li><a href="#" title="Select to open Link 2">Lorem Ipsum Dolor Sit Amet</a></li>
                                        <li><a href="#" title="Select to open Link 3">Lorem Ipsum Dolor Sit Amet</a></li>
                                        <li><a href="#" title="Select to open Link 4">Lorem Ipsum Dolor Sit Amet</a></li>
                                        <li><a href="#" title="Select to open Link 5">Lorem Ipsum Dolor Sit Amet</a></li>
                                        <li><a href="#" title="Select to open Link 6">Lorem Ipsum Dolor Sit Amet</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <h1 class="titlePage"><span class="template" data-template="FullName">Template Loads Here</span> (1060720)</h1>
                    </div>
                    <div class="clear"></div>
                    <!-- Project Title and Indicators -->
                    <div class="udProjectTitleWrapper">
                        <!-- Application Name -->
                        <div class="two_fifth udProjectTitle">
                            <div class="titleUser">Participant Summary <span class="template" data-template="AccessCode">Access Template Here</span></div>
                        </div>
                        <!-- Page Indicators -->
                    </div>
                </div>
            </div>
            <!-- Left Column -->
            <section class="leftcol" id="leftColumn">
                <div class="mb">
                    <a href="#" title="Back to Participant Summary">Return to Participant Summary</a>
                </div>
                <div class="descl">For internal use only</div>
                <div class="leftnav" id="leftNav">
                    <h3>Contents</h3>
                    <ul class="leftul">
                        <li>
                            <a title="Link1" href="#">Version 2  - Link1</a>
                        </li>
                        <li>
                            <a title="Link2" href="#">Link2</a>
                        </li>
                        <li id="spec">
                            <a title="Link3" href="# ">Link3</a>
                        </li>
                        <li>
                            <a title="Link4" href="#">Link4</a>
                        </li>
                    </ul>
                    <h3>Contents 2</h3>
                    <ul class="leftul">
                        <li>
                            <div class="cont">
                                <a href="#" title="Link1">Link1</a>
                            </div>
                        </li>
                        <li>
                            <div class="cont">
                                <a href="#" title="Link2">Link2</a>
                            </div>
                        </li>
                        <li>
                            <div class="cont">
                                <a href="#" title="Link3">Link3</a>
                            </div>
                        </li>
                        <li>
                            <div class="cont">
                                <a href="#" title="Link4">Link4</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <!-- Content Column -->
            <section class="contentcol" id="contentColumn">
                <!-- Wrapper -->
                <div id="wrapper">
                    

    <input type="hidden" id="clientName" name="clientName" value="NEW YORK STATE VOLUNTARY DEFINED CONTRIBUTION PROGRAM" />
    <div class="helpSnippetPlaceHolder"></div><div class="urlImpImageHolder hideDiv"></div><div class="LightBoxSnippetPlaceHolder"></div>
    
    <section class="drop">
        <div class="cm ui-tabs ui-widget ui-widget-content ui-corner-all" id="tabs-summary">
    <form action="/ud/multivendorcore/landing" method="post" id="participatingUserForm">
                        <input type="hidden" name="contextPath"  id="contextPath"  value="/ud/multivendorcore/"/>

    <input type="hidden" id="totalContribution" name="totalContribution" value=""     >

    <input type="hidden" id="totalContributionAsOfStr" name="totalContributionAsOfStr" value=""     >

                <input type="hidden" id="menuClick" name="menuClick" value="false" />
    <input type="hidden" id="selectedTab" name="selectedTab" value="summary"     >

                <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                    <li class="ui-state-default ui-corner-top" tabindex="-1" id="summary">
                        <a href="#" class="ui-tabs-anchor" tabindex="-1" id="uiidsummary">Contribution Summary</a>
            <script type="text/javascript">
                tiaacrefAnalytics.trackLink("Contribution Summary", "#uiidsummary", "prop34", "Page:SubTopicTab:ContributionSummary", "o");
            </script>
                    </li>
                </ul>
    </form>
            <div id="tab-summary" class="ptm ui-tabs-panel ui-widget-content ui-corner-bottom hidden">
    <input type="hidden" id="blackOutPeriod" value="false"/>

    <h2 class="flcontainer heading nmb">
        <div class="fll ptxs">
            <span>Current Contributions by Plan            
                at&nbsp;EAST GLENVILLE FIRE DISTRICT 
            </span>          
        </div>
        <div class="flr">
                <a id="managecontributions" title="Go to the Manage Contributions page." class="btn btnSmall" href="/ud/multivendorcore/determineContributions/dashboard"><span>Review & Make Changes&nbsp;&#187;</span></a>
            <script type="text/javascript">
                tiaacrefAnalytics.trackLink("Manage Contributions", "#managecontributions", "prop34", "SubTopicTab:ContributionSummary:ManageContributions", "o");
            </script>
        </div>
    </h2>
    <hr class="separator nmt sep4" />



<div class="cc">
        
    
    
    
    
</div>  <div class="">
        <div class="bd np">
            <div class="plg">
    <h3 class="mbm txt txt16">New York State VDC Program</h3>
<section class="nm">
    <table class="styleE compact fw">
        <caption></caption>
        <colgroup>
            <col class="w30">
            <col class="w15">
            <col class="w20">
            <col class="w10">
            <col class="w25">
        </colgroup>
<thead>

    
    
    

            <input  type="hidden" id="planTotal_406081" name="" value="0" tabindex="" class="" />   



        
        
        
        
    <tr>
        <th scope="col">
            <span class="screenReader">Plan Type</span>
        </th>
            <th id="yourContributions" class="txtr" scope="col">
Your<br>Contributions           </th>
            
            <th id="employerContributions" class="txtr" scope="col">
Employer<br>Contributions           </th>
            
        <th scope="col"> </th>
        <th id="providerAllocations" class="txtr" scope="col">
Provider Choices        </th>
    </tr>
</thead><tfoot>
</tfoot>        <tbody>
<tr class="mtb">
    <td class="np alignm" scope="row" colspan="3">
        <table class="styleE compact fw">
            <caption></caption>
            <colgroup>
                <col class="w45">
                <col class="w25">
                <col class="w30">
            </colgroup>
            <tbody>
                                                <tr>
                                <td scope="row">Employer</td>
                                            <td>&#160;</td>
                                            <td class="txtr txtb">
                                                    <input type="button" value="Contributing" class="tipLink2 txtb" id="tooltip-ERmandatory_0_0_1427899719480" title="">

    

    <div id="tooltiptcId0" class="infoHover pointertop " role="tooltip" aria-hidden="true">
        <div class="pointer"></div>
        <div class="bd txt txtn txtncase" style="white-space: normal; border: 1px solid #D6D6D6 !important;">
                                                        <div class="txtl">
Please review the retirement plan information provided by your employer for details.                                                        </div>
        </div>
    </div>
    <script>
            var autoincreaseTooltippreview = new tiaacref.tooltip({
                icon: 'tipLink',
                id: '#tcId0',
                size: 'large',
                detached: false,
                position: 'top',
                attachTo: '#tooltip-ERmandatory_0_0_1427899719480',
                tooltip: '#tooltiptcId0',
                style: ''
            });
    </script>
                                            </td>
                            </tr>
                                <tr class="nbdr">
                                <td scope="row">Employee Pre-tax Mandatory</td>
                                        <td class="txtr">
                                                        <input type="button" value="Contributing" class="tipLink2 txtb" id="tooltip-mandatory_0_1_1427899719480" title="">

    

    <div id="tooltiptcId1" class="infoHover pointertop " role="tooltip" aria-hidden="true">
        <div class="pointer"></div>
        <div class="bd txt txtn txtncase" style="white-space: normal; border: 1px solid #D6D6D6 !important;">
                                                            <div class="txtl">
We are unable to display your mandatory contribution amount. Please review the retirement plan information provided by your employer for details.                                                           </div>
        </div>
    </div>
    <script>
            var autoincreaseTooltippreview = new tiaacref.tooltip({
                icon: 'tipLink',
                id: '#tcId1',
                size: 'large',
                detached: false,
                position: 'top',
                attachTo: '#tooltip-mandatory_0_1_1427899719480',
                tooltip: '#tooltiptcId1',
                style: ''
            });
    </script>
                                        </td>
                                        <td>&#160;</td>
                            </tr>
            </tbody>
        </table>
    </td>
    <td class="alignm tdshadowR">&#160;</td>
    <td class="alignm">
            <table class="styleE compact fw">
                <caption></caption>
                <colgroup>
                    <col class="w80">
                    <col class="w20">
                </colgroup>
                <tbody>
    <tr class="nbdr">
    <td>
        <span class="screenReader">Provider Allocation</span>
            TIAA-CREF
    </td>
    <td class="txtr txtb">      
        <span>100</span><span>%</span>
    </td>
</tr>               </tbody>
            </table>
    </td>
</tr>       </tbody>
    </table>
</section>
    
    
    

            <input  type="hidden" id="dollarMaxFlags_0" name="" value="false" tabindex="" class="" />   
            </div>
        </div>  
    
            <div class="clearfix plrlg">
                <div class="two_fifth">
                    <label class="txtn" for="summary-contributeDate">Effective Date</label>
                    
    
            <input type="button" 
                id="tcId2" 
                name="tcId2" 
                class="tipLink rel " 
                value="?" 
                role="button" 
                aria-describedby="tooltiptcId2"
                aria-required="false"
                title="" />

    <div id="tooltiptcId2" class="infoHover pointerright " role="tooltip" aria-hidden="true">
        <div class="pointer"></div>
        <div class="bd txt txtn txtncase" style="white-space: normal; border: 1px solid #D6D6D6 !important;">
This change may take place today, or on a future date that you select. Please be aware that it may take time for your employer to process your request. Therefore, it may take more than one pay cycle to see your contribution elections reflected in your paycheck deductions.        </div>
    </div>
    <script>
             new tiaacref.tooltip({
                icon: 'tipLink',
                id: '#tcId2',
                size: 'medium',
                detached: false,
                position: 'right',
                attachTo: '',
                tooltip: '#tooltiptcId2',
                style: ''
            });
    </script>

                    <span class="ptxs">03/31/2015</span>                
                </div>
            </div>
    </div>
<input type="hidden" id="showLegalFooter_summary" value="false" />          </div>

            <div id="tab-history" class="ptm ui-tabs-panel ui-widget-content ui-corner-bottom hidden">
            </div>

            <div id="tab-withdrawal" class="ptm ui-tabs-panel ui-widget-content ui-corner-bottom hidden">
            </div>
        <div id="legalFooter" class="mts mbm mlrlg">
This page displays information shared by your investment provider. Please refer to your investment provider's website for the most current information.     </div>
        </div>
    </section>
<div class="cc">
    <h2 class="nm txt20">
        About Your Eligible Retirement Plan </h2>
    <hr class="nmt sep4">
</div>
<!--- plan details-->
<div class="planpanel">
    <div class="panels">
                <div class="hd" id="acct0_parent">
                    <h3>
                            <a id="plan1" href="#expand" class="expanded" title="Expand and collapse the plan information below." data-analytics="New York State VDC ProgramCollapse;New York State VDC ProgramExpand|Page:PlansAndInvestmentProviderDetails:New York State VDC ProgramCollapse;Page:PlansAndInvestmentProviderDetails:New York State VDC Programexpand">
                            <span class="icon"></span>
                            New York State VDC Program
                        </a>
                    </h3>
                </div>
                <div class="content" id="acct0_child" >
                    <div class="bd" >
                            
                                                <div class="mb">
                                                    
<div class="mb">This is the New York State VDC Program.&nbsp;</div>

                                                </div>
                                                
<ul class="mbxlg hnavList">
<li><a   href="http://dendvd3tccsm01.test.tiaa-cref.org:9080/public/pdf/RWC/SUNY/SunyPlanDesc.pdf" class='pdfText pdfAnalytics' target="_blank"  title="Opens new window" data-filetype="PDF">Summary Plan Description<span class="icon">&#160;(PDF)</span></a></li>
<li><a class='' title='Opens dialog'    data-custom='planProviderLinks' href='http://espanol.tiaa-cref.org/contactenos/' target="_blank">Plan FAQ <span class="icnewWindow icon"></span></a></li>
<li><a class='' title='Opens dialog'    data-custom='planProviderLinks' href='https://www.tiaa-cref.org/public/plansponsors/sponsors/client_services' target="_blank">Plan Sponsor Site <span class="icnewWindow icon"></span></a></li>
<li><a class='' title='Opens dialog'    data-custom='planProviderLinks' href='https://www.tiaa-cref.org/public/products-services/retirement/employer-sponsored/defined-contribution' target="_blank">Plan Information Link4 <span class="icnewWindow icon"></span></a></li>
<li><a class='' title='Opens dialog'    data-custom='planProviderLinks' href='https://www.tiaa-cref.org/public/products-services/retirement/employer-sponsored/supplemental' target="_blank">Plan Information LINK5 <span class="icnewWindow icon"></span></a></li>
</ul>


                                                <div class="clearfix">
                                                    <div>
                                                    
<h4 class="heading">Investment Providers</h4><div class="mb">Choose your investment providers - For each investment provider you chose, you will be required to open an account and enroll with them.</div>

                    <ul class="navList one_half">
                <li class="mtxs">
                    <a id="vendorLink406081TIAACREF1" data-custom="vendor" href="http://www1at.tiaa-cref.org/tcm/nystate/index.htm" title="Opens dialog" target="newWindow"
                    class="newWindow">
                        <span data-custom="providerName" url-type="homePageURL">TIAA-CREF</span>
                        <span class="icnewWindow icon mlxs"></span>
                    </a>
            <script type="text/javascript">
                tiaacrefAnalytics.trackLink("TIAACREF", "#vendorLink406081TIAACREF1", "prop34", "Page:Account1InvestmentProviders:TIAACREF", "o");
            </script>
                </li>
                <li class="mtxs">
                    <a id="vendorLink406081ING1" data-custom="vendor" href="https://suny.prepare4myfuture.com/emadmin/landingpage.action " title="Opens dialog" target="newWindow"
                    class="newWindow">
                        <span data-custom="providerName" url-type="homePageURL">ING</span>
                        <span class="icnewWindow icon mlxs"></span>
                    </a>
            <script type="text/javascript">
                tiaacrefAnalytics.trackLink("ING", "#vendorLink406081ING1", "prop34", "Page:Account1InvestmentProviders:ING", "o");
            </script>
                </li>
                <li class="mtxs">
                    <a id="vendorLink406081VALIC1" data-custom="vendor" href="https://www.valic.com/plan-details_223_433090.html " title="Opens dialog" target="newWindow"
                    class="newWindow">
                        <span data-custom="providerName" url-type="homePageURL">VALIC</span>
                        <span class="icnewWindow icon mlxs"></span>
                    </a>
            <script type="text/javascript">
                tiaacrefAnalytics.trackLink("VALIC", "#vendorLink406081VALIC1", "prop34", "Page:Account1InvestmentProviders:VALIC", "o");
            </script>
                </li>
                    </ul>
                    <ul class="navList one_half column_last">
                <li class="mtxs">
                    
                    <a id="vendorLink406081Fidelity1" data-custom="vendor" href="http://nb.fidelity.com/public/nb/VDC/home" title="Opens dialog" target="newWindow"
                    class="newWindow">
                        <span data-custom="providerName" url-type="homePageURL">Fidelity</span>
                        <span class="icnewWindow icon mlxs"></span>
                    </a>
            <script type="text/javascript">
                tiaacrefAnalytics.trackLink("Fidelity", "#vendorLink406081Fidelity1", "prop34", "Page:Account1InvestmentProviders:Fidelity", "o");
            </script>
                </li>
                <li class="mtxs">
                    
                    <a id="vendorLink406081MetLife1" data-custom="vendor" href="https://www.metlife.com/suny/index.html" title="Opens dialog" target="newWindow"
                    class="newWindow">
                        <span data-custom="providerName" url-type="homePageURL">Met-Life</span>
                        <span class="icnewWindow icon mlxs"></span>
                    </a>
            <script type="text/javascript">
                tiaacrefAnalytics.trackLink("MetLife", "#vendorLink406081MetLife1", "prop34", "Page:Account1InvestmentProviders:MetLife", "o");
            </script>
                </li>
                    </ul>
                                                    </div>
                                                </div>
                            
                    </div>
                    <div class="clear"></div>
                </div>
                    <hr class="separator">
    
        <script type="text/javascript">
        $(document).ready(function(){
                 new tiaacref.expandCollapse({
                    header: '#acct0_parent',
                    content: '#acct0_child',
                    disabled: false,
                    moreHideSize: 0,
                    onBeforeCollapse: function(e){''},
                    onBeforeExpand: function(e){''},
                    onAfterCollapse: function(e){afterCollapseAnalytics('#acct0_parent')},
                    onAfterExpand: function(e){afterExpandAnalytics('#acct0_parent')},
                    style: '',
                    startingCondition: 'expanded'
                });
    });
        </script>
    </div>            
</div>


        <div class="cc">
    <h2 class="ptm nm">Prepare for Retirement</h2><hr class="nmt sep4"><div class="clearfix  columnDivider"><div class="one_third"><p><div class="clearfix" ><div class="one_sixth"><p><img src="http://dendvd3tccsm01.test.tiaa-cref.org:9080/public/images/146/759/1324319146759.gif" height="52" width="40" alt="calculator" /></p></div><div class="five_sixth  column_last"><h3 class="nm">Understand Before You Plan</h3><p>Expert insights to help you find the savings strategy that suits you best.</p><p><a id='secureInternPageLinkId'      class='' href='/ud/multivendorcore/planningTools'>Planning Basics</a></p><!-- check two col close div 1 --></div></div></p></div><div class="one_third"><p><div class="clearfix" ><div class="one_sixth"><p><img src="http://dendvd3tccsm01.test.tiaa-cref.org:9080/public/images/147/085/1324319147085.gif" height="43" width="45" alt="graph" /></p></div><div class="five_sixth  column_last"><h3 class="nm">The Retirement Advisor</h3><p>Answer your most important retirement questions and find out how to reach your goal.</p><p><a id='secureInternPageLinkId'  target="_blank" data-custom="retirementAdvisorTool"  data-cookie="cookiesetup"    class='' href='/ud/multivendorcore/landing/redirectToRATools'>Visit the Retirement Advisor <span class="icnewWindow icon"></span></a></p><!-- check two col close div 1 --></div></div></p></div><div class="one_third column_last"><p><div class="clearfix" ><div class="one_sixth"><p><img src="http://dendvd3tccsm01.test.tiaa-cref.org:9080/public/images/147/050/1324319147050.gif" height="36" width="46" alt="chart" /></p></div><div class="five_sixth  column_last"><h3 class="nm">Track Your Financial Well-Being</h3><p>360&deg; Financial View makes it easy to monitor all of your finances and set goals.</p><p><a class='' title='Go to 360 degrees financial view page.'    data-custom='360fv' href='#' target="_blank">360&deg; Financial View <span class="icnewWindow icon"></span></a></p><!-- check two col close div 1 --></div></div></p></div></div>
        </div>     
    

<script type='text/javascript' src="/ud/multivendorcore/assets/js/saveAndExitPopUp.js"></script>
    
    
    
    
        <a role="button" aria-label="Show modal Important Notice" class="" href="javascript:void();" id="popupNavigateSaveExit_vendor" title="Important Notice"></a>
        <div id="popuppopupNavigateSaveExit_vendor"  title="Important Notice" class="popup">
            <div class="body " tabindex="0">
    
<div class="mbxlg"> <span class="txtb">You are entering an unaffiliated third party&#39;s website.</span><br /> <br />  This website&#39;s privacy and security policies do not apply to the site you&#39;re entering. Please review that site&#39;s privacy and security information.<br />    <br />  For your security, you will be logged out of this session after 20 minutes of inactivity.</div><p style="text-align: right;"><a role="button" title='Click to save your work and log out.'  class='btn btnLink noNav ' href='#navLinkSaveExit_vendor'   ><span>Cancel</span></a>&nbsp;&nbsp;&nbsp; <a role="button" title='Opens new window.'  class='btn noNav mlm ' href='#navLinkDiscard_vendor'   ><span>Continue</span></a></p>

            </div>
        </div>
    <script>
            var popupNavigateSaveExit_vendor = new tiaacref.popup({
                url: '',
                id: '#popupNavigateSaveExit_vendor',
                popup: '#popuppopupNavigateSaveExit_vendor',
                size: '500',
                detached: false,
                attachTo: '',
                newWindow: {},
                onOpen: '',
                onClose: ''
                });
    </script>

    
    
    
    
        <a role="button" aria-label="Show modal Important Information" class="" href="javascript:void();" id="popupContributionCalculator" title="Important Information"></a>
        <div id="popuppopupContributionCalculator"  title="Important Information" class="popup">
            <div class="body " tabindex="0">
    <div class="default   calloutdiv "><section class="calloutC" ><div class="bd"><p>You are about to enter another website.<br /><br />For your security, you will be logged out of the current session after 20 minutes of inactivity.</p><p style="text-align: right;"><a role="button" title='Close Popup.'  class='btn btnLink noNav ' href='#navLinkDiscardCalculator'   ><span>Cancel</span></a>&nbsp;&nbsp;&nbsp; <a role="button" title='Opens new window.'  class='btn noNav mlm ' href='#navLinkContinueCalculator'   ><span>Continue</span></a></p></div></section></div>
            </div>
        </div>
    <script>
            var popupContributionCalculator = new tiaacref.popup({
                url: '',
                id: '#popupContributionCalculator',
                popup: '#popuppopupContributionCalculator',
                size: '500',
                detached: false,
                attachTo: '',
                newWindow: {},
                onOpen: '',
                onClose: ''
                });
    </script>

<input type="hidden" id="client_id_app" value="065224" />
<input type="hidden" id="client_id_prop" value="062244" />
<input type="hidden" id="exist_vendor_name" value="TIAA-CREF" />
<input type="hidden" id="exist_vendor_name_fidelity" value="Fidelity" />
<input type="hidden" id="exist_vendor_name_vanguard" value="Vanguard" />
<input type="hidden" id="website" value="website" />
<input type="hidden" id="new_vendor_name" value=" JHU Retirement website powered by TIAA-CREF " />
<input type="hidden" id="vendor_contextPath" value="/ud/multivendorcore/determineContributions/vendorUrlSetUp" />


    
    
    
    
        <a role="button" aria-label="Show modal 360° Financial View" class="" href="javascript:void();" id="popupYodleeSaveExit_vendor" title="360° Financial View"></a>
        <div id="popuppopupYodleeSaveExit_vendor"  title="360° Financial View" class="popup">
            <div class="body " tabindex="0">
    
<div class="mbxlg"> You are about to enter 360&deg; Financial View. Depending on timing, your retirement plan balances may be different from what you see on this site. You can visit your investment provider&#39;s website for the most up-to-date balance information.<br /> <br />  To navigate back to this session, select <strong>Exit 360&deg; Financial View</strong>.</div><p style="text-align: right;"><a role="button" title='Close Popup.'  class='btn btnLink noNav ' href='#yodleeLinkSaveExit_vendor'   ><span>Cancel</span></a>&nbsp;&nbsp;&nbsp; <a role="button" title='Opens new window.'  class='btn mlm ' href='#yodleeLinkContinue_vendor'   ><span>Continue</span></a></p>

            </div>
        </div>
    <script>
            var popupYodleeSaveExit_vendor = new tiaacref.popup({
                url: '',
                id: '#popupYodleeSaveExit_vendor',
                popup: '#popuppopupYodleeSaveExit_vendor',
                size: '500',
                detached: false,
                attachTo: '',
                newWindow: {},
                onOpen: '',
                onClose: ''
                });
    </script>
    
    
    
        
 
<script type='text/javascript' >
        var showDuplicateAccount = false;

        var url_360fv = contextPath+'yodlee/consent?cancelLink=plan_summary'; 
</script>
<script type='text/javascript' src="/ud/multivendorcore/assets/js/yodleePopUp.js"></script>
    <!-- Upgrade Browser Popup included-->
<div id="supportedBrowserAlert" class="popup" title='Upgrade Your Browser'>
            <input type="hidden" id="showUpgradeBrowserPopup" value="true" />
    <div class="body">
        <div id="ieUpgrdWarnCon" style="display: none;">
We recommend upgrading your browser for a better website experience.            <a target="_blank" href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home" title="Upgrade Internet Explorer now">
                Upgrade Internet Explorer now
            </a>
        </div>
        <div id="firefoxUpgrdWarnCon" style="display: none;">             
We recommend upgrading your browser for a better website experience.            <a target="_blank" href="http://www.mozilla.org/en-US/firefox/new/" title="Upgrade Fire Fox now">
            Upgrade Fire Fox now
            </a>
        </div>
        <div id="safariUpgrdWarnCon" style="display: none;">              
We recommend upgrading your browser for a better website experience.            <a target="_blank" href="http://www.apple.com/safari/" title="Upgrade Safari now">
            Upgrade Safari now
            </a>
        </div>
        <div class="utilBar txtr">
            <a href="#close" name="popupsaveconfirm" class="btn3" id="confirmOk" >
                <span>Close</span>
            </a>
        </div>
    </div>
</div>
   <script type="text/javascript">
   $(document).ready(function(){
        /*
        * The below functions to detect the unsupported browsers
        * And encourage users to upgrade their browsers.
        */

        var userAgt = navigator.userAgent;
        if ((verOffset=userAgt.indexOf("MSIE"))!=-1) {
            $("#ieUpgrdWarnCon").show();
        }else if ((verOffset=userAgt.indexOf("Safari"))!=-1) {
            $("#safariUpgrdWarnCon").show();
        }else if ((verOffset=userAgt.indexOf("Firefox"))!=-1) {
            $("#firefoxUpgrdWarnCon").show();
        }       
        var supportedBrowserAlert = $('#supportedBrowserAlert')
          .dialog({
                autoOpen:false,
                closeOnEscape:false,
                 minHeight:100,
                closeText:'',
                dialogClass:'modal',
                draggable:true,
                modal:true,
                resizable:false,
                open:function(event,ui){
                configurePopup();
                
                },                  
                width: 500
            });         
        if (!tiaacref.supportedBrowser() && $('#showUpgradeBrowserPopup').val()=='true') {
            supportedBrowserAlert.dialog('open');
        }
      });
      $('#confirmOk').live('click',function(event) {
         $( "#supportedBrowserAlert" ).dialog('close');
        });
   </script>    <!-- close container -->    
            <script type="text/javascript">
                tiaacrefAnalytics.set("pageName,channel,eVar11,prop1,eVar10,prop30,prop31,hier2", "RetirementAtWork:Plan Summary:NEW YORK STATE VOLUNTARY DEFINED CONTRIBUTION PROGRAM:Home,RetirementAtWork,RetirementAtWork,Plan Summary,RetirementAtWork:Plan Summary:NEW YORK STATE VOLUNTARY DEFINED CONTRIBUTION PROGRAM:Home,RetirementAtWork:Plan Summary,RetirementAtWork:Plan Summary:NEW YORK STATE VOLUNTARY DEFINED CONTRIBUTION PROGRAM:Home,'RetirementAtWork,Plan Summary,NEW YORK STATE VOLUNTARY DEFINED CONTRIBUTION PROGRAM,Home'");
            </script>
                

                
                </div>
                            <!-- End wrapper -->
                        </section>
                        <!-- End contentcol -->
                        <!-- Right Coumn -->
                        <div class="rightcol"></div>
                    </div>
                    <!-- End pagecontent -->
                </div>
                <!-- End content-->
            </div>
            <!-- End container -->