<div id="saveFormData" class="popup" data-popup="width:500" title="Formatting Your Address">
   <div class="body">
      <span>
         The U.S Postal Service recommends using the standardized address format shown below. Please select which version you want to use.
      </span>
      <h3>Mailing Address</h3>
      <div class="blbdr uspsWrap1">
         <div class="uspsWrap2">
            <div class="one_half">
               <p class="nm pl pt txtb">Your Verson:</p>
               <p class="txtn pl pb">
                  8500 ANDREW CARENEGIE BLVD
                  <br />
                  CHARLOTTE, NC 28262
                  <br>
                  Testing line
                  <br />
                  Testing line
               </p>
            </div>
            <div class="one_half column_last">
               <p class="nm pl pt txtb">USPS Format:</p>
               <p class="txtn pl pb">
                  8500 ANDREW CARENEGIE BLVD
                  <br />
                  CHARLOTTE, NC 28262
               </p>
            </div>
         </div>
      </div>
      <div class="clear"></div>
      <h3>Residential Address</h3>
      <div class="blbdr uspsWrap1">
         <div class="uspsWrap2">
            <div class="one_half">
               <p class="nm pl pt txtb">Your Verson:</p>
               <p class="txtn pl pb">
                  140 BENCHLEY PLAPT 19A
                  <br />
                  BRON, NY 10475
               </p>
            </div>
            <div class="one_half column_last">
               <p class="nm pl pt txtb">USPS Format:</p>
               <p class="txtn pl pb">
                  140 BENCHLEY PLAPT 19A
                  <br />
                  BRON, NY 10475
                  <br>
                  Testing line
                  <br />
                  Testing line
               </p>
            </div>
         </div>
      </div>
      <div class="clear"></div>
      <div class="btnBar">
         <button class="btn3 fll" title="Edit Address">
            <span>Edit Address</span>
         </button>
         <button class="btn flr" title="Use USPS Format">
            <span>Use USPS Format</span>
         </button>
         <button class="btn3 flr" title="Use Your Versions">
            <span>Use Your Version</span>
         </button>
      </div>
   </div>
</div>

<!-- Residential Address -->
<div id="saveResidentialAdd" class="popup" data-popup="width:500" title="Telephone Enrollment Disclosure - Patricia Pension Patricia Pension Patricia Pension Patricia Pension Patricia Pension">
   <div class="body">
      <div class="compact">

       <div class="alertModule" aria-live="assertive" id="res-add-alert" >
           <div>
            <span class="icon"></span>
             <ul>
               <li>Residence Address Line 1 is a required field. Please enter</li>
               <li>Residence City is a required field. Please enter</li>
               <li>Residence State is a required field. Please enter</li>
               <li>Residence Zip Code is a required field. Please enter</li>
             </ul>
           </div>
         </div>

         <div class="lblFieldPair">
            <div class="lbl">
               <span class="txthlt2">Residential Address</span>
            </div>
            <div class="input">
               <input type="checkbox" aria-required="" name="Raddress" id="sameaddress">
               <label for="financialdoc">Same as Mailing Address</label>
            </div>
         </div>
         <div class="lblFieldPair ">
            <div class="lbl">
               <label for="RA_Country">
               <span class="required" title="required">*</span>
               Country
               </label>
            </div>
            <div class="input">
               <select name="RA_Country" aria-required="" id="RA_Country1">
                  <option selected="selected" value="USA">United States Of America</option>
                  <option value="Canada">Canada</option>
                  <option value="Bahamas">Bahamas</option>
               </select>
            </div>
         </div>
         <div class="addrFields" id="USA">
            <div class="lblFieldPair ">
               <div class="lbl">
                  <label for="RA_Line1">
                  <span class="required" title="required">*</span>
                  Line 1
                  </label>
               </div>
               <div class="input">
                  <input type="text" name="RA_Line1" value="" aria-required="" class="inputlg" id="ra_line1">
               </div>
            </div>
            <div class="lblFieldPair ">
               <div class="lbl">
                  <label for="RA_Line2">
                  Line 2
                  </label>
               </div>
               <div class="input">
                  <input type="text" name="RA_Line2" value="" aria-required="true" class="inputlg" id="ra_line2">
               </div>
            </div>
            <div class="lblFieldPair ">
               <div class="lbl">
                  <label for="RA_Line3">
                  Line 3
                  </label>
               </div>
               <div class="input">
                  <input type="text" name="RA_Line3" value="" aria-required="true" class="inputlg" id="ra_line3">
               </div>
            </div>
            <div class="lblFieldPair ">
               <div class="lbl"><label for="RA_City">
                  <span class="required" title="required">*</span>
                  City
                  </label>
               </div>
               <div class="input">
                  <input type="text" name="RA_City" value="" aria-required="" class="inputlg" id="ra_city">
               </div>
            </div>
            <div class="lblFieldPair ">
               <div class="lbl"><label for="dayphone">
                  <span class="required" title="required">*</span>
                  State
                  </label>
               </div>
               <div class="input">
                  <select name="RA_State" aria-required="" id="ra_state">
                     <option selected="selected" value="none">Please Select</option>
                  </select>
               </div>
            </div>
            <div class="lblFieldPair ">
               <div class="lbl">
                  <label for="RA_Zip"><span class="required" title="required">*</span>Zip Code</label>
               </div>
               <div class="input">
                  <input type="text" aria-required="true" value="" class="txtr" size="5" maxlength="5" name="RA_Zip" id="ra_zip_1">          
                  &ndash; 
                  <label class="screenReader" for="RA_Zip">Zip Plus Four</label> 
                  <input type="text" aria-required="false" value="" class="txtr ml" size="4" maxlength="4" name="RA_Zip" id="ra_zip_2">
               </div>
            </div>
         </div>


         <div class="addrFields" id="Canada">
            <div class="lblFieldPair ">
               <div class="lbl">
                  <label for="RA_Line1">
                  <span class="required" title="required">*</span>
                  Line 1
                  </label>
               </div>
               <div class="input">
                  <input type="text" name="RA_Line1" value="" aria-required="" class="inputlg" id="ra_line1">
               </div>
            </div>
            <div class="lblFieldPair ">
               <div class="lbl">
                  <label for="RA_Line2">
                  Line 2
                  </label>
               </div>
               <div class="input">
                  <input type="text" name="RA_Line2" value="" aria-required="true" class="inputlg" id="ra_line2">
               </div>
            </div>
            <div class="lblFieldPair ">
               <div class="lbl"><label for="RA_City">
                  <span class="required" title="required">*</span>
                  City
                  </label>
               </div>
               <div class="input">
                  <input type="text" name="RA_City" value="" aria-required="" class="inputlg" id="ra_city">
               </div>
            </div>
            <div class="lblFieldPair ">
               <div class="lbl"><label for="dayphone">
                  <span class="required" title="required">*</span>
                  Province
                  </label>
               </div>
               <div class="input">
                  <select name="RA_State" aria-required="" id="ra_state">
                     <option selected="selected" value="none">Please Select</option>
                  </select>
               </div>
            </div>
            <div class="lblFieldPair ">
               <div class="lbl">
                  <label for="RA_Zip"><span class="required" title="required">*</span>Postal Code</label>
               </div>
               <div class="input">
                  <input type="text" aria-required="true" value="" class="txtr" size="5" maxlength="5" name="RA_Zip" id="ra_zip_1">          
                  &ndash; 
                  <label class="screenReader" for="RA_Zip">Zip Plus Four</label> 
                  <input type="text" aria-required="false" value="" class="txtr ml" size="4" maxlength="4" name="RA_Zip" id="ra_zip_2">
               </div>
            </div>
         </div>

         <div class="addrFields" id="Bahamas">
            <div class="lblFieldPair ">
               <div class="lbl">
                  <label for="RA_Line1">
                  <span class="required" title="required">*</span>
                  Line 1
                  </label>
               </div>
               <div class="input">
                  <input type="text" name="RA_Line1" value="" aria-required="" class="inputlg" id="ra_line1">
               </div>
            </div>
            <div class="lblFieldPair ">
               <div class="lbl">
                  <label for="RA_Line2">
                  Line 2
                  </label>
               </div>
               <div class="input">
                  <input type="text" name="RA_Line2" value="" aria-required="true" class="inputlg" id="ra_line2">
               </div>
            </div>
            <div class="lblFieldPair ">
               <div class="lbl">
                  <label for="RA_Line3">
                  Line 3
                  </label>
               </div>
               <div class="input">
                  <input type="text" name="RA_Line3" value="" aria-required="true" class="inputlg" id="ra_line3">
               </div>
            </div>
         </div>

        <!-- <div class="flr prxlg"><span class="required">*</span>required fields</div>-->
      <div class="bsep"></div>
       <div class="lbl mtm">
         <span class="txthlt2 p">Enrollment Disclosure</span>
      </div>
      <p class="p"> "Distributions from 403(b) plans before age 59 1/2, severance from employement, death, or disability may be prohibited, limited, and/or
      subject to substantial tax penalties. Different restrictions may apply to other types of plan" </p>
      
   <div class="lblFieldPair">
      <div class="lbl tqw mr">
            <label id="disclosure" class="txtb">I verify that I have read the Enrollment Disclosure to the caller.</label>
      </div>
      <div class="input">
         <input type="checkbox" class="chkbox flr" id="disclosure-verification" name="disclosure-verification" aria-required="false" aria-labelledby="disclosure-verification" />
      </div>
   </div> 
      
      </div>
      <div class="clear"></div>
      <div class="btnBar">
         <button class="btn3 fll popBtn" title="Cancel">
            <span>Cancel</span>
         </button>
         <button class="btn btnOff flr popBtn" title="Save" id="saveAddress">
            <span>SAVE</span>
         </button>
      </div>
   </div>

<div id="verification" class="popup" data-popup="width:500" title="Enrollment Disclosure - Patricia Pension Patricia Pension Patricia Pension Patricia Pension Patricia Pension">
   <div class="body">
   <div class="lbl mtm">
         <span class="txthlt2 p">Enrollment Disclosure</span>
      </div>
      <p class="p"> "Distributions from 403(b) plans before age 59 1/2, severance from employement, death, or disability may be prohibited, limited, and/or
      subject to substantial tax penalties. Different restrictions may apply to other types of plan" </p>
      
   <div class="lblFieldPair ltr">
      <div class="lbl tqw mr">
            <label id="disclosure" class="txtb">I verify that I have read the Enrollment Disclosure to the caller.</label>
      </div>
      <div class="input">
         <input type="checkbox" class="chkbox flr" id="chkverification" name="verification" aria-required="false" aria-labelledby="verification" />
      </div>
   </div> 
      <div class="clear"></div>
      <div class="btnBar">
         <button class="btn3 fll popBtn" title="Cancel">
            <span>Cancel</span>
         </button>
         <button class="btn btnOff flr popBtn" title="Save" id="saveVerification">
            <span>SAVE</span>
         </button>
      </div>
    </div>
</div>