<div class="alertModule" aria-live="assertive" id="mainAlert">
  <div>
   <span class="icon"></span>
    <span class="txtb">Error message to be finalised</span>
  </div>
</div>

<!-- Panels -->
<div class="panels">
   <!-- Enrollment LookUp Starts Here -->
   <div class="hd first" id="EnrollmentLookUp">
      <h3 id="EnrollmentLookUp1"><a href="#" class="expanded" title="Select to expand or collapse content below">
         <span class="icon">+</span>Enrollment Look Up</a>
      </h3>
   </div>
   <div class="content">
      <div class="bd mtblg">
         <div class="alertModule" aria-live="assertive" id="subAlert1">
           <div>
            <span class="icon"></span>
             <span class="">Error message to be finalised</span>
           </div>
         </div>
         <form action="#" method="post" name="lookupForm1" id="lookupForm1">
            <div class="lblFieldPairGroup fll">
               <div class="lblFieldPair nth mtm">
                  <div class="lbl">
                     <label for="ssn">SSN</label>
                  </div>
                  <div class="input">
                     <input type="text" aria-required="true" id="ssn" name="ssn" maxlength="3" size="2" class="txtr  elookup">
                     - <label class="screenReader" for="ssn">Day</label> 
                     <input type="text" aria-required="true" id="ssn1" name="ssn" maxlength="2" size="2" class="txtr ml elookup">
                     - <label class="screenReader" for="ssn1">Year</label> 
                     <input type="text" aria-required="true" id="ssn2" name="ssn" maxlength="4" size="4" class="txtr ml elookup">
                  </div>
               </div>
               <div class="lblFieldPair nth mtm">
                  <div class="lbl">
                     <label for="pin_npin">PIN/NPIN</label>
                  </div>
                  <div class="input">
                     <input type="text" class="elookup" aria-required="true" name="pin_npin" id="pin_npin">
                  </div>
               </div>
               <div class="lblFieldPair nth mtm">
                  <div class="lbl">
                     <label for="tiaa_cref_number">TIAA/CREF Number</label>
                  </div>
                  <div class="input">
                     <input type="text" class="elookup" aria-required="true" name="tiaa_cref_number" id="tiaa_cref_number">
                  </div>
               </div>
               <div class="lblFieldPair nth mtm mllg">
                  <span class="fll mrm">
                     <input type="button" value="Look Up" id="elookup" class="btn btnSmall" title="Look Up">
                  </span>
                  <span class="fll">
                     <input type="reset" value="Clear" id="resetEnb" class="btn3 btnSmall" title="Clear">
                  </span>
               </div>
            </div>
            <div class="clear"></div>
         </form>
         <form name="lookupForm2" id="lookupForm2" action="#">
            <div class="lblFieldPairGroup">
               <div class="lblFieldPair nth mtm">
                  <div class="lbl">
                     <label for="accessCode1">Access Code</label>
                  </div>
                  <div class="input">
                     <input type="text" value="" class="inputs" name="accessCode1" id="accessCode1" maxlength="9">
                     <button id="searchAccess" class="btn btnSmall ml goBtn" title="">
                     <span>Search</span>
                  </button>
                  </div>
               </div>
               <div class="lblFieldPair nth mtm" id="lookupProcess">
                  <span class="inProcess"><img src="assets/images/wait_alt.gif" alt="In Process"></span>
               </div>
               
                <div class="lblFieldPair nth mtm mlxlg" id="lookupBtns">
                  <span class="fll mrm">
                     <input type="button" value="Next" id="lookupNextBtn" class="btn btnSmall btnOff" title="Next">
                  </span>
                  <span class="fll">
                     <input type="button" value="Cancel" id="lookupCancelBtn" class="btn3 btnSmall" title="Cancel">
                  </span>
               </div>

            </div>
            <div class="lblFieldPairGroup">
               <div class="lblFieldPair nth" id="lookupClientName">
                  <div class="lbl">
                     <label>Client and Employer</label>
                  </div>
                  <div class="input">
                     <span id="clientName">University Heights Assoc | University Heights Association</span>
                  </div>
               </div>
            </div>
            <table class="styleA" summary="add summry text" id="lookupTableNoData">
                  <caption>Access tables</caption>
                  <colgroup>
                     <col span="1" width="150">
                     <col span="1" width="400">
                     <col span="1" width="150">
                  </colgroup>
                  <thead>
                     <tr>
                        <th scope="col">Plan Number</th>
                        <th scope="col">Plan Name</th>
                        <th scope="col">Sub Plan</th>
                     </tr>
                  </thead>
               </table>
            <table class="styleA" summary="add summry text" id="lookupTable">
                  <caption>Access tables</caption>
                  <colgroup>
                     <col span="1" width="150">
                     <col span="1" width="400">
                     <col span="1" width="150">
                  </colgroup>
                  <thead>
                     <tr>
                        <th scope="col">Plan Number</th>
                        <th scope="col">Plan Name</th>
                        <th scope="col">Sub Plan</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td><a href="#">15116</a></td>
                        <td>University Heights Association Inc. 403(b)</td>
                        <td>RA6001</td>
                     </tr>
                     <tr>
                        <td><a href="#">15116</a></td>
                        <td>University Heights Association Inc. 403(c)</td>
                        <td>RA6001</td>
                     </tr> 
                  </tbody>
               </table>
         </form>
      </div>
   </div>
   <!-- End of Enrollment Look Up -->

   <!-- Participant Details Starts Here -->
   <div class="hd" id="ParticipantDetails">
      <h3 id="ParticipantDetails1">
         <a class="expanded" href="javascript:void(0)" title="Select to expand or collapse content below">
         <span class="icon">+</span>Participant Details</a>
      </h3>
   </div>
   <div class="content">
      <div class="bd">
         <div class="mtblg proto_new">
            <div id="defaultform">
               <div class="clearfix">
                  <div class="one_half">
                     <div class="compact">
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="test2-Name">
                              Prefix
                              </label>
                           </div>
                           <div class="input">
                              <select name="prefix" aria-required="" id="prefix">
                                 <option selected="selected" value="none">Please select</option>
                              </select>
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="FName">
                              <span class="required" title="required">*</span>
                              First Name
                              </label>
                           </div>
                           <div class="input">
                              <input type="text" name="FName" value="" aria-required="true" class="inputlg" id="f_name">
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="MName">
                              Middle Initial
                              </label>
                           </div>
                           <div class="input">
                              <input type="text" name="MName" value="" aria-required="" class="inputs" id="m_name">
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="LName">
                              <span class="required" title="required">*</span>
                              Last Name
                              </label>
                           </div>
                           <div class="input">
                              <input type="text" name="LName" value="" aria-required="true" class="inputlg" id="l_name">
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="Suffix">
                              Suffix
                              </label>
                           </div>
                           <div class="input">
                              <select name="suffix" aria-required="" id="suffix">
                                 <option selected="selected" value="none">Please select</option>
                              </select>
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="Dayphone">
                              <span class="required" title="required">*</span>
                              DayTime Phone
                              </label>
                           </div>
                           <div class="input">
                              <input type="text" id="dayphone1" name="dayphone1" maxlength="3" size="2" class="txtr " aria-required="true">
                              &ndash; 
                              <label class="screenReader" for="Dayphone">Day</label>                                               
                              <input type="text" id="dayphone2" name="dayphone2" maxlength="2" size="2" class="txtr ml " aria-required="true">
                              &ndash;
                              <label class="screenReader" for="Dayphone">Day</label>                                              
                              <input type="text" id="dayphone3" name="dayphone3" maxlength="4" size="4" class="txtr ml " aria-required="true">
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="one_half column_last">
                     <div class="compact">
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="ssn2">
                              <span class="required" title="required">*</span>
                              SSN
                              </label>
                           </div>
                           <div class="input">
                              <input type="text" id="ssn2_1" name="ssn2" maxlength="3" size="2" class="txtr " aria-required="true" value="">
                              &ndash;     
                              <label class="screenReader" for="ssn2">SSN</label>                                            
                              <input type="text" id="ssn2_2" name="ssn2" maxlength="2" size="2" class="txtr ml " aria-required="true" value="">
                              &ndash;     
                              <label class="screenReader" for="ssn2">SSN</label>                                          
                              <input type="text" id="ssn2_3" name="ssn2" maxlength="4" size="4" class="txtr ml " aria-required="true" value="">
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="DOB">
                              <span class="required" title="required">*</span>
                              Date of Birth
                              </label>
                           </div>
                           <div class="input">
                              <input type="text" data-changeyear="true" data-changemonth="true" class="inputDate" value="mm/dd/yyyy" id="dob" name="dob" aria-required="" />
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="Email">
                              <span class="required" title="required">*</span>
                              Email
                              </label>
                           </div>
                           <div class="input">
                              <input type="text" name="Email" value="" aria-required="" class="inputs" id="email">
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="Gender">
                              <span class="required" title="required">*</span>
                              Gender
                              </label>
                           </div>
                           <div class="input">
                              <select name="Gender" aria-required="" id="Gender">
                                 <option selected="selected" value="none">Please select</option>
                              </select>
                           </div>
                        </div>
                        <!-- <div class="lblFieldPair">
                           <div class="lbl">
                              <label for="Country">
                              <span class="required" title="required">*</span>
                              Country of Citizenship
                              </label>
                           </div>
                           <div class="input">
                              <select name="Country" aria-required="" id="Country">
                                 <option selected="selected" value="none">United States Of America</option>
                              </select>
                           </div>
                        </div> -->
                        <div class="lblFieldPair">
                           <div class="lbl">&nbsp;</div>
                           <div class="input">
                              <input type="checkbox" aria-required="" name="financialdoc" id="financialdoc">
                              <label for="financialdoc">Send all financial documents as eDelivery</label>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="clearfix">
                  <div class="one_half">
                     <div class="compact">
                        <div class="lblFieldPair">
                           <div class="lbl">
                              <span class="txthlt2">Mailing Address</span>
                           </div>
                           <div class="input"></div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="MA_Country">
                              <span class="required">*</span>
                              Country
                              </label>
                           </div>
                           <div class="input">
                              <select name="MA_Country" aria-required="" id="MA_Country">
                                 <option selected="selected" value="none">United States Of America</option>
                              </select>
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="MA_Line1">
                              <span class="required" title="required">*</span>
                              Line 1
                              </label>
                           </div>
                           <div class="input">
                              <input type="text" name="MA_Line1" value="" aria-required="" class="inputlg" id="ma_line1">
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="MA_Line2">
                              Line 2
                              </label>
                           </div>
                           <div class="input">
                              <input type="text" name="MA_Line2" value="" aria-required="true" class="inputlg" id="ma_line2">
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="MA_Line3">
                              Line 3
                              </label>
                           </div>
                           <div class="input">
                              <input type="text" name="MA_Line3" value="" aria-required="true" class="inputlg" id="ma_line3">
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="MA_City">
                              <span class="required" title="required">*</span>
                              City
                              </label>
                           </div>
                           <div class="input">
                              <input type="text" name="MA_City" value="" aria-required="" class="inputlg" id="ma_city">
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="dayphone">
                              <span class="required" title="required">*</span>
                              State/Province
                              </label>
                           </div>
                           <div class="input">
                              <select name="MA_State" aria-required="" id="ma_state">
                                 <option selected="selected" value="none">Please Select</option>
                              </select>
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="MA_Zip">
                              <span class="required" title="required">*</span>
                              Zip Code
                              </label>
                           </div>
                           <div class="input">
                              <input type="text" aria-required="true" value="" class="txtr" size="5" maxlength="5" name="MA_Zip" id="ma_zip_1">          
                              &ndash; 
                              <label class="screenReader" for="RA_Zip">Zip Plus Four</label> 
                              <input type="text" aria-required="false" value="" class="txtr ml" size="4" maxlength="4" name="MA_Zip" id="ma_zip_2">
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="one_half column_last">
                     <div class="compact">
                        <div class="lblFieldPair">
                           <div class="lbl">
                              <span class="txthlt2">Residential Address</span>
                           </div>
                           <div class="input">
                              <input type="checkbox" aria-required="" name="Raddress" id="sameaddress">
                              <label for="financialdoc">Same as Mailing Address</label>
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="RA_Country">
                              <span class="required" title="required">*</span>
                              Country
                              </label>
                           </div>
                           <div class="input">
                              <select name="RA_Country" aria-required="" id="RA_Country">
                                 <option selected="selected" value="none">United States Of America</option>
                              </select>
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="RA_Line1">
                              <span class="required" title="required">*</span>
                              Line 1
                              </label>
                           </div>
                           <div class="input">
                              <input type="text" name="RA_Line1" value="" aria-required="" class="inputlg" id="ra_line1">
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="RA_Line2">
                              Line 2
                              </label>
                           </div>
                           <div class="input">
                              <input type="text" name="RA_Line2" value="" aria-required="true" class="inputlg" id="ra_line2">
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="RA_Line3">
                              Line 3
                              </label>
                           </div>
                           <div class="input">
                              <input type="text" name="RA_Line3" value="" aria-required="true" class="inputlg" id="ra_line3">
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl"><label for="RA_City">
                              <span class="required" title="required">*</span>
                              City
                              </label>
                           </div>
                           <div class="input">
                              <input type="text" name="RA_City" value="" aria-required="" class="inputlg" id="ra_city">
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl"><label for="dayphone">
                              <span class="required" title="required">*</span>
                              State/Province
                              </label>
                           </div>
                           <div class="input">
                              <select name="RA_State" aria-required="" id="ra_state">
                                 <option selected="selected" value="none">Please Select</option>
                              </select>
                           </div>
                        </div>
                        <div class="lblFieldPair ">
                           <div class="lbl">
                              <label for="RA_Zip"><span class="required" title="required">*</span>Zip Code</label>
                           </div>
                           <div class="input">
                              <input type="text" aria-required="true" value="" class="txtr" size="5" maxlength="5" name="RA_Zip" id="ra_zip_1">          
                              &ndash; 
                              <label class="screenReader" for="RA_Zip">Zip Plus Four</label> 
                              <input type="text" aria-required="false" value="" class="txtr ml" size="4" maxlength="4" name="RA_Zip" id="ra_zip_2">
                           </div>
                        </div>
                        <div class="flr prxlg"><span class="required">*</span>required fields</div>
                     </div>
                  </div>
               </div>
               <div class="btnBar nbdr">
                  <button class="btn btnSmall" title="Save" id="saveBtn"><span>Save</span></button>
                  <button class="btn3 btnSmall" title="Cancel" id="cancelBtn"><span>Cancel</span></button>
               </div>
            </div>
         </div>
         <div class="mtblg proto_existing">
            <div id="saveddetails" class="clearfix">
               <div class="one_half">
                  <div class="lblFieldPair">
                     <div class="lbl">
                        <label for="pin">PIN</label>
                     </div>
                     <div class="input">
                        6905520
                     </div>
                  </div>
                  <div class="lblFieldPair">
                     <div class="lbl">
                        <label for="ssn">SSN</label>
                     </div>
                     <div class="input">
                        412-15-5476
                     </div>
                  </div>
                  <div class="lblFieldPair">
                     <div class="lbl">
                        <label for="mailing_address">Mailing Address</label>
                     </div>
                     <div class="input">
                        26 THOMAS ST <br />
                        STATEN ISLAND, NY 10306
                     </div>
                  </div>
                  <div class="lblFieldPair">
                     <div class="lbl">
                        <label for="daytime_phone">Daytime Phone</label>
                     </div>
                     <div class="input">
                        (640) 008-4417
                     </div>
                  </div>
                 <!--  <div class="lblFieldPair">
                     <div class="lbl">
                        <label for="edelivery_elected">eDelivery Selected</label>
                     </div>
                     <div class="input">
                        Yes/No
                     </div>
                  </div> -->
                  <div class="lblFieldPair">
                     <div class="lbl">
                        <label for="edelivery_elected">Employer</label>
                     </div>
                     <div class="input">
                        Name of Employer
                     </div>
                  </div>
               </div>
               <div class="one_half column_last">
                  <div class="lblFieldPair">
                     <div class="lbl">
                        <label for="dob">DOB</label>
                     </div>
                     <div class="input">
                        01/01/1949
                     </div>
                  </div>
                  <div class="lblFieldPair">
                     <div class="lbl">
                        <label for="ssn">Email</label>
                     </div>
                     <div class="input">
                        mbudtest@tiaa-cref.org
                     </div>
                  </div>
                  <div class="lblFieldPair">
                     <div class="lbl">
                        <label for="residential_address">Residential Address</label>
                     </div>
                     <div class="input">
                       <!--  26 THOMAS ST <br />
                        STATEN ISLAND, NY 10306 -->
                     </div>
                  </div>
                  <div class="lblFieldPair">
                     <div class="lbl">
                        <label for="gender">Gender</label>
                     </div>
                     <div class="input">
                        F
                     </div>
                  </div>
                   
                  <div class="lblFieldPair">
                     <div class="lbl">
                        <label for="country_citizenship">Country of Citizenship</label>
                     </div>
                     <div class="input">
                        United States Of America
                     </div>
                  </div>
               </div>
               <!-- <div class="btnBar nbdr">
                  <a href="javascript:void(0)" class="btn" id="editInfo"><span>Edit Info</span></a>
               </div> -->
            </div>
         </div>
      </div>
   </div>
   <!-- End of Participant Details -->
   <!-- Access Code and Eligibility Start Here -->
   <!-- <div class="hd" id="AccessCodeEligibility">
      <h3 id="AccessCodeEligibility1">
         <a class="expanded" href="javascript:void(0)" title="Select to expand or collapse content below">
         <span class="icon">+</span>Access Code and Eligibility Look Up</a>
      </h3>
   </div> -->
   <!-- <div class="content">
      <div class="bd">
         <div class="clearfix mtlg">
            <div class="one_half">
               <div class="lblFieldPairGroup">
                  <div class="compact">
                     <div class="lblFieldPair nth mtm">
                        <div class="lbl">
                           <label for="school_name">Enter School Name</label>
                        </div>
                        <div class="input">
                           <input type="text" value="" class="inputm" name="school_name" id="school_name">
                        </div>
                     </div>
                  </div>
                  <div class="fll mtm">
                     <button id="eluBtn" class="btn btnSmall ml" title="">
                        <span>Look Up</span>
                     </button>
                  </div>
               </div>
               <div class="lblFieldPairGroup">
                  <div class="lblFieldPair nth mtm">
                     <div class="lbl">
                        <label for="school_name">Eligibility Method</label>
                     </div>
                     <div class="input">
                        SYSTEM GENERATED
                     </div>
                  </div>
               </div>
            </div>
            <div class="one_half column_last">
               <span class="txtb">Associated Access Codes:</span>
               <table class="styleA fullwidth" summary="add summry text" role="add role type">
                  <caption>...</caption>
                  <thead>
                     <tr>
                        <th scope="col">ACCESS CODE</th>
                        <th scope="col">PLAN(S)</th>
                        <th scope="col">SUBPLANS</th>
                        <th scope="col">SUBPLANS NAME</th>
                     </tr>
                  </thead>
                  <tbody id="dataDisp">
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div> -->
   <!-- End of Access Code and Eligibility -->
   <!-- Eligible Plans Start Here -->
   <div class="hd" id="EligiblePlans">
      <h3 id="EligiblePlans1">
         <a class="expanded" href="javascript:void(0)" title="Select to expand or collapse content below">
         <span class="icon">+</span>Eligible Plans</a>
      </h3>
   </div>
   <div class="content nbdr">
      <div class="bd">
         
         <div class="noDataEligTable">
             <table id="elgbPlnsAdd" class="styleB fullwidth" summary="Eligible Plans Additional" role="Eligible Plans Additional">
                <caption>
                   Eligible Plans Additional
                </caption>
                <colgroup>             
                <col span="1" width="6%">             
                <col span="1" width="30%">             
                <col span="1" width="6%">             
                <col span="1" width="6%">             
                <col span="1" width="6%">             
                <col span="1" width="6%">             
                <col span="1" width="6%">             
                <col span="1" width="6%">             
                <col span="1" width="6%">             
                <col span="1" width="5%">             
                <!-- <col span="1" width="6%">             
                <col span="1" width="6%">             
                -->
                <col span="1" width="4%"></colgroup>
             <thead>
                <tr>
                   <th scope="col" >PLAN NUMBER</th>
                   <th scope="col" >PLAN NAME</th>
                   <th scope="col" >SUB PLANS</th>
                   <th scope="col" >
                      CONTRIB/ NON  CONTRIB
                   </th>
                   <th scope="col" >MAND VOL CONT</th>
                   <th scope="col" >CONTRIB SOURCE</th>
                   <th scope="col" >AUTO ENROLL</th>
                   <th scope="col" >OPT OUT ALLOWED</th>
                   <th scope="col" >TC OSDA</th>
                   <th scope="col" >RO IN</th>
                   <!-- <th scope="col" >AUTO SAVE</th>
                <th scope="col" >DEFAULT ENR. ENABLED</th>
                -->
                <th scope="col" >ACTIONS</th>
             </tr>
             </thead>
             <tbody>
             <tr class="hideRow">
                <td colspan="11" class="txtc">
                   No Data
                </td>
             </tr>
             </tbody>
             </table>
         </div>

         <div class="dataEligTable">
            <div class="alertModule closed" aria-live="assertive" id="alertModuleAC">
            <div><span class="icon"></span>
               <!-- <h4 role="alert">Error:</h4> -->
               <ul>
                  <li role="alert">Access Code <span id="accessVal1"></span> is not valid. Please enter a valid Access Code</li>
               </ul>
            </div>
         </div>         
        <div class="clear"></div> 
         <div class="accessCodeLookup">
            <div class="lblFieldPair flr mtm">
               <div class="lbl">
                  <label for="accessCodeGo">Enter Access Code</label>
               </div>
               <div class="input">
                  <input type="text" value="" name="access_code" id="accessCode">         
                  <button id="accessCodeGo" class="btn btnSmall goBtn" title="">
                     <span>Go</span>
                  </button>
               </div>
            </div>
         </div>
         <div class="clear"></div>
            <h4 class="heading mtm">
               The State University of New York | The State University of New York | Access Code 154698
            </h4>
            <div class="clear"></div>
            <table id="elgbPlnsAdd" class="styleB fullwidth" summary="Eligible Plans Additional" role="Eligible Plans Additional">
               <caption>
                  Eligible Plans Additional
               </caption>
               <colgroup>         
               <col span="1" width="6%">         
               <col span="1" width="30%">         
               <col span="1" width="6%">         
               <col span="1" width="6%">         
               <col span="1" width="6%">         
               <col span="1" width="6%">         
               <col span="1" width="6%">         
               <col span="1" width="6%">         
               <col span="1" width="6%">         
               <col span="1" width="5%">         
               <!-- <col span="1" width="6%">         
               <col span="1" width="6%">         
               -->
               <col span="1" width="4%"></colgroup>
            <thead>
               <tr>
                  <th scope="col" >PLAN NUMBER</th>
                  <th scope="col" >PLAN NAME</th>
                  <th scope="col" >SUB PLANS</th>
                  <th scope="col" >
                     CONTRIB/ NON  CONTRIB
                  </th>
                  <th scope="col" >MAND VOL CONT</th>
                  <th scope="col" >CONTRIB SOURCE</th>
                  <th scope="col" >AUTO ENROLL</th>
                  <th scope="col" >OPT OUT ALLOWED</th>
                  <th scope="col" >TC OSDA</th>
                  <th scope="col" >RO IN</th>
                  <!-- <th scope="col" >AUTO SAVE</th>
               <th scope="col" >DEFAULT ENR. ENABLED</th>
               -->
               <th scope="col" >ACTIONS</th>
            </tr>
         </thead>
         <tbody>
            <tr class="hideRow">
               <td>
                  <a href="">151167</a>
               </td>
               <td>
                  SUNY TAX-DEFERRED ANNUITY (TDA) PROGRAM
                  <br>         
                  <span class="dim">
                     (ADIRONDACK COMMUNITY COLLEGE)
                  </span>
               </td>
               <td>GS1001</td>
               <td>C</td>
               <td>V</td>
               <td>E,2</td>
               <td>No</td>
               <td>No</td>
               <td>Yes</td>
               <td>Yes</td>
               <!-- <td>No</td>
            <td>Yes</td>
            -->
            <td class="txtr actionBtns">
               <button class="btn3 btnSmall noFunc" id="sdaBtn2" title="Enter SDA">
                  <span>Enter SDA</span>
               </button>
               <button class="btn2 btnSmall hidden" id="enrollBtn3" title="Enroll">
                  <span>Enroll</span>
               </button>
               <span class="inProcess hidden">
                  <img src="assets/images/wait_alt.gif" alt="In Process"></span>
               <span class="txthlt5 complete hidden">Completed!</span>
            </td>
         </tr>
         <tr>
            <td>
               <a href="">151166</a>
            </td>
            <td>
               SUNY OPTIONAL RETIREMENT PROGRAM
               <span class="dim">
                  (ADIRONDACK COMMUNITY COLLEGE)
               </span>
            </td>
            <td>GR1001</td>
            <td>NC</td>
            <td>M</td>
            <td>I, F</td>
            <td>No</td>
            <td>No</td>
            <td>Yes</td>
            <td>No</td>
            <!-- <td>No</td>
         <td>Yes</td>
         -->
         <td class="txtr actionBtns">
            <button class="btn3 btnSmall noFunc" id="sdaBtn3" title="Enter SDA">
               <span>Enter SDA</span>
            </button>
            <button class="btn2 btnSmall hidden" id="enrollBtn4" title="Enroll">
               <span>Enroll</span>
            </button>
            <span class="inProcess hidden">
               <img src="assets/images/wait_alt.gif" alt="In Process"></span>
            <span class="txthlt5 complete hidden">Completed!</span>
         </td>
         </tr>
         </tbody>
         </table>
         <div class="mts dim">
         Retirement At Work Enrollment.  Please enter Salary Deferral Agreement(s) prior to completing Default Enrollment when TIAA-CREF is selected as a vendor.
         </div>
         <div class="btnBar nbdr">
        <!--  <button class="btn updateBtn btnSmall" id="uptAddrBtn" title="Update Address">
         <span>Update Address</span>
         </button> -->

         <button class="btn updateBtn btnSmall" id="uptBtn2" title="Update">
         <span>Update</span>
         </button>
         </div></div>
      </div>
   </div>
   

   <!-- Active Plans Start Here -->
   <div class="hd" id="ActivePlans">
      <h3 id="ActivePlans1">
         <a class="expanded" href="javascript:void(0)" title="Select to expand or collapse content below">
         <span class="icon">+</span>Active Plans</a>
      </h3>
   </div>
   <div class="content nbdr">
      <div class="bd">
         <div class="showActiveTable">
         <table id="activePlanTbl" class="styleB fullwidth" summary="Active Plans" role="Active Plans">
            <colgroup>
               <col span="1" width="6%">
               <col span="1" width="25%">
               <col span="1" width="6%">
               <col span="1" width="8%">
               <col span="1" width="9%">
               <col span="1" width="6%">
               <col span="1" width="6%">
               <col span="1" width="6%">
               <col span="1" width="8%">
               <col span="1" width="8%">
               <col span="1" width="9%">
            </colgroup>
            <thead>
               <tr>
                  <th scope="col">PLAN NUMBER</th>
                  <th scope="col">PLAN NAME</th>
                  <th scope="col">SUBPLAN NUMBER</th>
                  <th scope="col">TC OSDA</th>
                  <th scope="col">BR. ACCT ENABLED</th>
                  <th scope="col">AUTO SAVE</th>
                  <th scope="col">CONTRIB SOURCE</th>
                  <th scope="col">RO IN</th>
                  <th scope="col">DEFAULT ENROLLED?</th>
                  <th scope="col">Effective Date</th>
                  <th scope="col">Actions</th>
               </tr>
            </thead>
            
            <tbody>
               <tr>
                  <td><a href="">151167</a></td>
                  <td>SUNY TAX-DEFERRED ANNUITY (TDA) PROGRAM<br><span class="dim">(ADIRONDACK COMMUNITY COLLEGE)</span></td>
                  <td>External Vendor</td>
                  <td>Yes</td>
                  <td>Yes</td>
                  <td>No</td>
                  <td>E</td>
                  <td>Yes</td>
                  <td>Yes</td>
                  <td><span class="sdaDate lastfivedays"></span></td>
                  <td class="txtr actionBtns">
                     <button class="btn3 btnSmall" title="Modify SDA">
                       <span>Modify SDA</span>
                     </button>
                     <span class="inProcess hidden"><img src="assets/images/wait_alt.gif" alt="In Process"></span>
                  </td>
               </tr>
            </tbody>
         </table>
         <div class="btnBar nbdr">
            <button class="btn updateBtn btnSmall" title="Update"><span>Update</span></button>
         </div>
         </div>
         <div class="hideActiveTable">
         <table id="activePlanTbl" class="styleB fullwidth" summary="Active Plans" role="Active Plans">
            <colgroup>
               <col span="1" width="6%">
               <col span="1" width="25%">
               <col span="1" width="6%">
               <col span="1" width="8%">
               <col span="1" width="9%">
               <col span="1" width="6%">
               <col span="1" width="6%">
               <col span="1" width="6%">
               <col span="1" width="8%">
               <col span="1" width="8%">
               <col span="1" width="9%">
            </colgroup>
            <thead>
               <tr>
                  <th scope="col">PLAN NUMBER</th>
                  <th scope="col">PLAN NAME</th>
                  <th scope="col">SUBPLAN NUMBER</th>
                  <th scope="col">TC OSDA</th>
                  <th scope="col">BR. ACCT ENABLED</th>
                  <th scope="col">AUTO SAVE</th>
                  <th scope="col">CONTRIB SOURCE</th>
                  <th scope="col">RO IN</th>
                  <th scope="col">DEFAULT ENROLLED?</th>
                  <th scope="col">Effective Date</th>
                  <th scope="col">Actions</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td colspan="11" class="txtc">
                     No Data
                  </td>
                  
               </tr>
            </tbody>
         </table>
         </div>
      </div>
   </div>
   <!-- End of Active Plans -->
   <!-- Take Action Start Here -->
   <div class="hd" id="TakeAction">
      <h3 id="TakeAction1">
         <a class="expanded" href="javascript:void(0)" title="Select to expand or collapse content below">
         <span class="icon">+</span>Take Action</a>
      </h3>
   </div>
   <div class="content">
      <div class="bd">
         <div class="clearfix">
            <!-- <div class="one_third">
               <h3>Web Assisted Enrollment</h3>
               <ul class="navList">
                  <li><a href="#">Simulated Enrollment</a></li>
               </ul>
            </div> -->
            <div class="one_third">
               <h3>Paper Enrollment</h3>
               <ul class="navList">
                  <li><a href="#">Obtain a Blank Form </a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <!-- End of Take Action -->
</div>
<!-- End Pannel -->
