<div id="clientModelPopUp" class="popup" data-popup="width:600" title="Submit Enrollment for DAMO SRIDHARAN">
	<div class="body">
		<div class="">
			<div class="infoModule infoAlert visible alertClass" aria-live="polite" role="alert">
				<div>
					<span class="icon"></span>
					<span>You are submitting a Default Enrollment for this Participant. Press Submit to continue.<br /><span class="txtb">Note:</span> The plan beneficiary will be the default beneficiary provided by the plan sponsor.</span>
				</div>
			</div>
			<div class="alertModule alertError alertClass" role="alert">
				<div>
					<span class="icon"></span>
					<span>Date provided is not a valid business date. Please provide a valid business date.</span>
				</div>
			</div>
			<div class="alertModule specialErrorOne alertClass" role="alert">
				<div>
					<span class="icon"></span>
					<span>The selected trade date is prior to the plan eligibility date: 01/13/2016. Please select a trade date <span class="txtb">equal to or after</span> 01/13/2016.</span>
				</div>
			</div>
			<div class="alertModule specialErrorTwo alertClass" role="alert">
				<div>
					<span class="icon"></span>
					<span>The Application Received Date selected is after the Trade Date. Do you want to proceed with submitting the enrollment for this plan?</span>
				</div>
			</div>
			<p>Select both a valid Trade Date and Application Received Date below to proceed with this enrollment submission. </p>
			<p><span class="txtb">Note:</span> You must ensure all required manager approvals are obtained and SOP guidelines have been followed if selecting a Trade Date other than today's date.</p>
			<div class="residentAddDiv">
				<div class="lblFieldPair">
					<div class="lbl">
						<span class="txthlt2">Residential Address</span>
					</div>
					<div class="input">
						<input type="checkbox" name="sameresidAddrCM" id="sameresidAddrCM" />
						<span>Same as Mailing Address</span>
					</div>
				</div>
				<div class="lblFieldPair">
					<div class="lbl">
						<label for="countryCM"><span class="required" title="required">*</span>Country</label>
					</div>
					<div class="input">
						<select name="countryCM" id="countryCM" aria-required="true" class="inputlg checkReqd">
							<option value="none">Please Select</option>
							<option selected="selected" value="United States">United States</option>
						</select>
					</div>
				</div>
				<div class="lblFieldPair">
					<div class="lbl">
						<label for="line1AddrCM"><span class="required" title="required">*</span>Line 1</label>
					</div>
					<div class="input">
						<input type="text" aria-required="true" class="inputlg checkReqd" name="line1AddrCM" id="line1AddrCM" />
					</div>
				</div>
				<div class="lblFieldPair">
					<div class="lbl">
						<label for="line2AddrCM">Line 2</label>
					</div>
					<div class="input">
						<input type="text" class="inputlg" name="line2AddrCM" id="line2AddrCM" />
					</div>
				</div>			
				<div class="lblFieldPair">
					<div class="lbl">
						<label for="cityAddrCM"><span class="required" title="required">*</span>City</label>
					</div>
					<div class="input">
						<input type="text" aria-required="true" class="inputlg checkReqd" name="cityAddrCM" id="cityAddrCM" />
					</div>
				</div>
				<div class="lblFieldPair">
					<div class="lbl">
						<label for="stateAddrCM"><span class="required" title="required">*</span>State</label>
					</div>
					<div class="input">
						<select name="stateAddrCM" id="stateAddrCM" aria-required="true" class="inputlg checkReqd">
							<option selected="selected" value="none">Please Select</option>
							<option value="AL">ALABAMA</option>
							<option value="AK">ALASKA</option>
							<option value="AZ">ARIZONA</option>
							<option value="AR">ARKANSAS</option>
							<option value="CA">CALIFORNIA</option>
							<option value="CO">COLORADO</option>
							<option value="CT">CONNECTICUT</option>
							<option value="DE">DELAWARE</option>
							<option value="DC">DISTRICT OF COLUMBIA</option>
							<option value="FL">FLORIDA</option>
							<option value="GA">GEORGIA</option>
							<option value="GU">Guam</option>
							<option value="HI">HAWAII</option>
							<option value="ID">IDAHO</option>
							<option value="IL">ILLINOIS</option>
							<option value="IN">INDIANA</option>
							<option value="IA">IOWA</option>
							<option value="KS">KANSAS</option>
							<option value="KY">KENTUCKY</option>
							<option value="LA">LOUISIANA</option>
							<option value="ME">MAINE</option>
							<option value="MD">MARYLAND</option>
							<option value="MA">MASSACHUSETTS</option>
							<option value="MI">MICHIGAN</option>
							<option value="MN">MINNESOTA</option>
							<option value="MS">MISSISSIPPI</option>
							<option value="MO">MISSOURI</option>
							<option value="MT">MONTANA</option>
							<option value="NE">NEBRASKA</option>
							<option value="NV">NEVADA</option>
							<option value="NH">NEW HAMPSHIRE</option>
							<option value="NJ">NEW JERSEY</option>
							<option value="NM">NEW MEXICO</option>
							<option value="NY">NEW YORK</option>
							<option value="NC">NORTH CAROLINA</option>
							<option value="ND">NORTH DAKOTA</option>
							<option value="OH">OHIO</option>
							<option value="OK">OKLAHOMA</option>
							<option value="OR">OREGON</option>
							<option value="PA">PENNSYLVANIA</option>
							<option value="PR">PUERTO RICO</option>
							<option value="PW">Palau</option>
							<option value="RI">RHODE ISLAND</option>
							<option value="SC">SOUTH CAROLINA</option>
							<option value="SD">SOUTH DAKOTA</option>
							<option value="TN">TENNESSEE</option>
							<option value="TX">TEXAS</option>
							<option value="UT">UTAH</option>
							<option value="VT">VERMONT</option>
							<option value="VA">VIRGINIA</option>
							<option value="WA">WASHINGTON</option>
							<option value="WV">WEST VIRGINIA</option>
							<option value="WI">WISCONSIN</option>
							<option value="WY">WYOMING</option> 
						</select>
					</div>
				</div>
				<div class="lblFieldPair">
					<div class="lbl">
						<label for="zipAddrCM"><span class="required" title="required">*</span>Zip Code</label>
					</div>
					<div class="input">
						<input type="text" aria-required="true" size="5" maxlength="5" name="zipAddrCM" id="zipAddrCM" class="txtr checkReqd" />&ndash;
						<input type="text" class="ml txtr" size="3" maxlength="4" name="zip1AddrCM" id="zip1AddrCM" />
					</div>
				</div>
			</div>
			<div class="">
				<div class="lblFieldPairV">
					<div class="lbl">
						<label for="tradeDate">Trade Date:</label>
					</div>
					<div class="input">
						<input type="text" id="tradeDate" name="tradeDate" class="inputDate" />
					</div>
				</div>
				<div class="clear"></div>
				<div class="lblFieldPairV">
					<div class="lbl">
						<label for="appReceviedDate">Application Received Date:</label>
					</div>
					<div class="input">
						<input type="text" id="appReceviedDate" name="appReceviedDate" class="inputDate mlxs" />
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="btnBar">
			<button class="btn3 fll closePopup" title="Cancel"><span>Cancel</span></button>
			<button class="btn sumbitClientModelBtn" title="Submit"><span>Submit</span></button>
		</div>
	</div>
</div>

<div id="chooseEmpSDAPopup" class="popup" data-popup="width:650" title="Choose Employer Plans for SDA">
	<div class="body">
		<div>
			<table class="styleA fw empListTbl" summary="choose Emp for SDA table">
				<caption>choose Emp for SDA table</caption>
				<colgroup>
					<col class="w20" />
					<col class="w40" />
					<col class="w20" />
					<col class="w20" />
				</colgroup>
				<thead>
					<tr>
						<th scope="col">Plan Number</th>
						<th scope="col">Plan Name</th>
						<th scope="col">Sup Plan</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td scope="row">151563</td>
						<td>UNIVERSITY OF MICHIGAN 403B RETIREMENT PLAN<div>Location B</div></td>
						<td>GR1001</td>
						<td><input type="checkbox" /> Select</td>
					</tr>
					<tr>
						<td scope="row">151564</td>
						<td>UNIVERSITY OF MICHIGAN 403B RETIREMENT PLAN<div>Location B</div></td>
						<td>GR1001</td>
						<td><input type="checkbox" /> Select</td>
					</tr>
					<tr>
						<td scope="row">151565</td>
						<td>UNIVERSITY OF MICHIGAN 403B RETIREMENT PLAN<div>Location B</div></td>
						<td>GR1001</td>
						<td><input type="checkbox" /> Select</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="clear"></div>
		<div class="btnBar">
			<button class="btn3 fll closePopup" title="Cancel"><span>Cancel</span></button>
			<button class="btn enterSDAPopBtn btnOff" title="Enter SDA"><span>Enter SDA</span></button>
		</div>
	</div>
</div>

<div id="saveFormData" class="popup" data-popup="width:500" title="Formatting Your Address">
	<div class="body">
		<span>
			The U.S Postal Service recommends using the standardized address format shown below. Please select which version you want to use.
		</span>
		<h3>Mailing Address</h3>
		<div class="blbdr uspsWrap1">
			<div class="uspsWrap2">
				<div class="one_half">
					<p class="nm pl pt txtb">Your Verson:</p>
					<p id="mAddress" class="txtn pl pb">
						8500 ANDREW CARENEGIE BLVD<br />CHARLOTTE, NC 28262
					</p>
				</div>
				<div class="one_half column_last">
					<p class="nm pl pt txtb">USPS Format:</p>
					<p  id="uspsAddress" class="txtn pl pb">
						8500 ANDREW CARENEGIE BLVD<br />CHARLOTTE, NC 28262
					</p>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="btnBar">
			<button class="btn3 fll" title="Edit Address"><span>Edit Address</span></button>
			<button class="saveadd btn flr" title="Use USPS Format"><span>Use USPS Format</span></button>
			<button class="saveadd btn3 flr" title="Use Your Versions"><span>Use Your Version</span></button>
		</div>
	</div>
</div>

<!-- Residential Address -->
<div id="saveResidentialAdd" class="popup" data-popup="width:550" title="Telephone Enrollment Disclosure - Patricia Pension">
	<div class="body">
		<div class="flexScroll max-height450">
			<div class="alertModule hidden" aria-live="assertive" id="res-add-alert" >
				<div>
					<span class="icon"></span>
					<ul>
						<li role="alert" id="raP_line1-err">Residence Address Line 1 is a required field. Please enter.</li>
						<li role="alert" id="raP_city-err">Residence City is a required field. Please enter.</li>
						<li role="alert" id="raP_state-err">Residence State is a required field. Please enter.</li>
						<li role="alert" id="raP_zip_1-err">Residence Zip Code is a required field. Please enter.</li>
					</ul>
				</div>
			</div>
			<div class="clearfix">
				<div class="lblFieldPair">
					<div class="lbl">
						<span class="txthlt2">Residential Address</span>
					</div>
					<div class="input">
						<input type="checkbox" aria-required="" name="sameaddress1" id="sameaddress1">
						<span>Same as Mailing Address</span>
					</div>
				</div>
				<div class="lblFieldPair ">
					<div class="lbl">
						<label for="RA_Country"><span class="required" title="required">*</span>Country</label>
					</div>
					<div class="input">
						<select name="RA_Country" aria-required="" id="RA_Country1">
							<option selected="selected" value="USA">United States Of America</option>
							<option value="Canada">Canada</option>
							<option value="Bahamas">Bahamas</option>
						</select>
					</div>
				</div>
				<div class="addrFields" id="USA">
					<div class="lblFieldPair ">
						<div class="lbl">
							<label for="RA_Line1"><span class="required" title="required">*</span>Line 1</label>
						</div>
						<div class="input">
							<input type="text" name="RA_Line1" value="" aria-required="true" class="inputlg" id="raP_line1">
						</div>
					</div>
					<div class="lblFieldPair ">
						<div class="lbl">
							<label for="RA_Line2">Line 2</label>
						</div>
						<div class="input">
							<input type="text" name="RA_Line2" value="" aria-required="" class="inputlg" id="raP_line2">
						</div>
					</div>			
					<div class="lblFieldPair ">
						<div class="lbl">
							<label for="RA_City"><span class="required" title="required">*</span>City</label>
						</div>
						<div class="input">
							<input type="text" name="RA_City" value="" aria-required="true" class="inputlg" id="raP_city">
						</div>
					</div>
					<div class="lblFieldPair ">
						<div class="lbl">
							<label for="dayphone"><span class="required" title="required">*</span>State</label>
						</div>
					   <div class="input">
						  <select name="RA_State" aria-required="true" id="raP_state">
							 <option selected="selected" value="none">Please Select</option>
							 <option value="AL">ALABAMA</option>
							 <option value="AK">ALASKA</option>
							 <option value="AZ">ARIZONA</option>
							 <option value="AR">ARKANSAS</option>
							 <option value="CA">CALIFORNIA</option>
							 <option value="CO">COLORADO</option>
							 <option value="CT">CONNECTICUT</option>
							 <option value="DE">DELAWARE</option>
							 <option value="DC">DISTRICT OF COLUMBIA</option>
							 <option value="FL">FLORIDA</option>
							 <option value="GA">GEORGIA</option>
							 <option value="GU">Guam</option>
							 <option value="HI">HAWAII</option>
							 <option value="ID">IDAHO</option>
							 <option value="IL">ILLINOIS</option>
							 <option value="IN">INDIANA</option>
							 <option value="IA">IOWA</option>
							 <option value="KS">KANSAS</option>
							 <option value="KY">KENTUCKY</option>
							 <option value="LA">LOUISIANA</option>
							 <option value="ME">MAINE</option>
							 <option value="MD">MARYLAND</option>
							 <option value="MA">MASSACHUSETTS</option>
							 <option value="MI">MICHIGAN</option>
							 <option value="MN">MINNESOTA</option>
							 <option value="MS">MISSISSIPPI</option>
							 <option value="MO">MISSOURI</option>
							 <option value="MT">MONTANA</option>
							 <option value="NE">NEBRASKA</option>
							 <option value="NV">NEVADA</option>
							 <option value="NH">NEW HAMPSHIRE</option>
							 <option value="NJ">NEW JERSEY</option>
							 <option value="NM">NEW MEXICO</option>
							 <option value="NY">NEW YORK</option>
							 <option value="NC">NORTH CAROLINA</option>
							 <option value="ND">NORTH DAKOTA</option>
							 <option value="OH">OHIO</option>
							 <option value="OK">OKLAHOMA</option>
							 <option value="OR">OREGON</option>
							 <option value="PA">PENNSYLVANIA</option>
							 <option value="PR">PUERTO RICO</option>
							 <option value="PW">Palau</option>
							 <option value="RI">RHODE ISLAND</option>
							 <option value="SC">SOUTH CAROLINA</option>
							 <option value="SD">SOUTH DAKOTA</option>
							 <option value="TN">TENNESSEE</option>
							 <option value="TX">TEXAS</option>
							 <option value="UT">UTAH</option>
							 <option value="VT">VERMONT</option>
							 <option value="VA">VIRGINIA</option>
							 <option value="WA">WASHINGTON</option>
							 <option value="WV">WEST VIRGINIA</option>
							 <option value="WI">WISCONSIN</option>
							 <option value="WY">WYOMING</option> 
						  </select>
					   </div>
					</div>
					<div class="lblFieldPair ">
					   <div class="lbl">
						  <label for="RA_Zip"><span class="required" title="required">*</span>Zip Code</label>
					   </div>
					   <div class="input">
						  <input type="text" aria-required="true" value="" class="txtr" size="5" maxlength="5" name="RA_Zip" id="raP_zip_1">          
						  &ndash; 
						  <label class="screenReader" for="RA_Zip">Zip Plus Four</label> 
						  <input type="text" aria-required="false" value="" class="txtr ml" size="4" maxlength="4" name="RA_Zip" id="raP_zip_2">
					   </div>
					</div>
				</div>
				<div class="addrFields closed" id="Canada">
					<div class="lblFieldPair ">
						<div class="lbl">
							<label for="RA_Line1"><span class="required" title="required">*</span>Line 1</label>
						</div>
						<div class="input">
							<input type="text" name="RA_Line1" value="" aria-required="" class="inputlg" id="ra_line11">
						</div>
					</div>
					<div class="lblFieldPair ">
						<div class="lbl">
							<label for="RA_Line2">Line 2</label>
						</div>
						<div class="input">
							<input type="text" name="RA_Line2" value="" aria-required="true" class="inputlg" id="ra_line21">
						</div>
					</div>
					<div class="lblFieldPair ">
						<div class="lbl">
							<label for="RA_City"><span class="required" title="required">*</span>City</label>
						</div>
						<div class="input">
							<input type="text" name="RA_City" value="" aria-required="" class="inputlg" id="ra_city1">
						</div>
					</div>
					<div class="lblFieldPair ">
						<div class="lbl">
							<label for="dayphone"><span class="required" title="required">*</span>Province</label>
						</div>
						<div class="input">
							<select name="RA_State" aria-required="" id="ra_state1">
								<option selected="selected" value="none">Please Select</option>
							</select>
						</div>
					</div>
					<div class="lblFieldPair ">
						<div class="lbl">
							<label for="RA_Zip"><span class="required" title="required">*</span>Postal Code</label>
						</div>
						<div class="input">
							<input type="text" aria-required="true" value="" class="txtr" size="5" maxlength="5" name="RA_Zip" id="ra_zip_11">&ndash; 
							<label class="screenReader" for="RA_Zip">Zip Plus Four</label> 
							<input type="text" aria-required="false" value="" class="txtr ml" size="4" maxlength="4" name="RA_Zip" id="ra_zip_21">
						</div>
					</div>
				</div>
				<div class="addrFields closed" id="Bahamas">
					<div class="lblFieldPair ">
						<div class="lbl">
							<label for="RA_Line1"><span class="required" title="required">*</span>Line 1</label>
						</div>
						<div class="input">
							<input type="text" name="RA_Line1" value="" aria-required="" class="inputlg" id="ra_line1">
						</div>
					</div>
					<div class="lblFieldPair ">
						<div class="lbl">
							<label for="RA_Line2">Line 2</label>
						</div>
						<div class="input">
							<input type="text" name="RA_Line2" value="" aria-required="true" class="inputlg" id="ra_line2">
						</div>
					</div>
				</div>
				<div class="bsep"></div>
				<div class="lbl mtm">
					<span class="txthlt2 p">Enrollment Disclosure</span>
				</div>
				<p class="p"> 
					"Distributions from 403(b) plans before age 59 1/2, severance from employement, death, or disability may be prohibited, limited, and/or subject to substantial tax penalties. Different restrictions may apply to other types of plan"
				</p>
				<div class="lblFieldPair">
					<div class="lbl">
						<label id="disclosure">I verify that I have read the Enrollment Disclosure to the caller.</label>
					</div>
					<div class="input">
						<input type="checkbox" class="chkbox flr" id="disclosure-verification" name="disclosure-verification" aria-required="false" aria-labelledby="disclosure-verification" />
					</div>
				</div> 
				<div class="alertModule" role="alert" id="addressDiscrepancyAlertP">
					<div>
						<span class="icon"></span>
						<h4 class="nmt txtlc">Address Discrepancy</h4>
						<p>The Residential Address is the same as the Employer’s Address. To continue enrolling, please either – Change the address and click the Submit button OR Check the box below to acknowledge the residential address is correct and click the Submit button.</p>
						<p class="txtr">
							<label for="addrDisChk" class="w90 txtn">
								I am aware that the Residence and Employer addresses are the same. I understand written policy in KE and this case fits the exception that allows enrollment.
							</label>
							<input type="checkbox" aria-required="" class="chkbox" name="addrDis_chk" id="addrDisChk" />
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="btnBar">
			<button class="btn3 fll closePopup" title="Cancel"><span>Cancel</span></button>
			<button class="btn btnOff flr" title="Save" id="saveAddress"><span>Save</span></button>
		</div>
	</div>
</div>

<div id="verification" class="popup" data-popup="width:500" title="Enrollment Disclosure- Patricia Pension">
	<div class="body">
		<div class="lbl mtm">
			<span class="txthlt2 p">Enrollment Disclosure</span>
		</div>
		<p class="p"> "Distributions from 403(b) plans before age 59 1/2, severance from employement, death, or disability may be prohibited, limited, and/or subject to substantial tax penalties. Different restrictions may apply to other types of plan" </p>
		<div class="lblFieldPair ltr">
			<div class="lbl tqw mr">
				<label id="disclosure" class="txtb">I verify that I have read the Enrollment Disclosure to the caller.</label>
			</div>
			<div class="input">
				<input type="checkbox" class="chkbox flr" id="chkverification" name="verification" aria-required="false" aria-labelledby="verification" />
			</div>
		</div> 
		<div class="clear"></div>
		<div class="btnBar">
			<button class="btn3 fll popBtn" title="Cancel"><span>Cancel</span></button>
			<button class="btn btnOff flr popBtn" title="Save" id="saveVerification"><span>SAVE</span></button>
		</div>
	</div>
</div>

<div id="fastLaneHelp" class="popup" data-popup="width:460" title="Fast Lane Help Text">
	<div class="body">
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
		<p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</p>
		<div class="btnBar">
			<a href="#closePopup" class="btn btnSmall" title="Done" role="button"><span>Done</span></a>
		</div>
	</div>
</div>
 
<div id="findAccessCode" class="popup" data-popup="width:900" title="Search Employer Plans &amp; Access Codes">
	<div class="body">
		<div class="fll">
			<div class="lblFieldPair">
				<div class="lbl">
				<label for="Search_Location">Enter Client / Employer Name</label>
					</div>
				<div class="input">
				</div>
			</div>
		</div>
		<div class="fll">
			<div class="searchBox">
				<form>
					<input type="text" autocomplete="on"  title="Search"  class="txtInputgs" name="searchBox-input"  id="searchBox-input" onFocus="this.value = (this.value=='Search')? '' : this.value;" value="Search" />
				</form>
			</div> 
		</div>
		<div class="fll">
			<div class="btnBar nbdr nmt npt">
				<button class="btn btnSmall btnOff mlm selectBtn" title="Select"><span>Select</span></button>
			</div>
		</div>
		<div class="clear"></div>
		<div class="closed" id="sel-loc">
			<div class="fll">
				<div class="lblFieldPair">
					<div class="lbl">
						<label for="Select_Location1">Select Location</label>
					</div>
					<div class="input">
						<select name="Select_Location" aria-required="" id="Select_Location1">
							<option value="All" selected="selected">All</option>
							<option value="loc4">ALBANY CITY SCHOOL DIST</option>
							<option value="loc5">ALBANY CONVENTION CENTER AUTH.</option>
							<option value="loc6">ALBANY COUNTY</option>
							<option value="loc7">ALBANY COUNTY AIRPORT AUTHORIT</option>
							<option value="loc8">ALBANY COUNTY IND DEVEL AGENCY</option>
							<option value="loc9">ALBANY HOUSING AUTHORITY</option>
							<option value="loc10">ALBANY PARKING AUTHORITY</option>
							<option value="loc11">ALBANY PINE BUSH PRESERVE COMM</option>
							<option value="loc12">ALBANY PORT DISTRICT COMMISS</option>
							<option value="loc13">ALBANY PUBLIC LIBRARY</option>
							<option value="loc14">ALBANY SOIL,WTR CONS DISTRICT</option>
							<option value="loc15">ALBANY WATER BOARD</option>
							<option value="loc16">ALBERTSON WTR DISTRICT</option>
							<option value="loc17">ALBION CORR FACILITY</option>
							<option value="loc18">ALBION CSD</option>
							<option value="loc19">BOCES-ALBANY SCHENECT SCHOHARI</option>
							<option value="loc20">CITY OF ALBANY</option>
							<option value="loc21">HERMON-DEKALB CSD</option>
							<option value="loc22">NYS VETERANS HOME AT ST ALBANS</option>
							<option value="loc23">TOWN OF ALBION</option>
							<option value="loc24">TOWN OF BROADALBIN</option>
							<option value="loc25">TOWN OF DEKALB</option>
							<option value="loc26">TOWN OF NEW ALBION</option>
							<option value="loc27">VILLAGE OF ALBION</option>
							<option value="loc28">VILLAGE OF BROADALBIN</option>
						</select>
					</div>
				</div>
			</div>
			<div class="fll">
				<div class="btnBar nbdr nmt npt">
					<button class="btn btnSmall btnOff selectBtn hidden" title="Select"><span>Select</span></button>
				</div>
			</div>
		</div>
		<div class="clear"></div>
        <div id="acc-code-tbl">
		    <table id="tbl_accesscode" class="styleA fullwidth closed" summary="Access Code">
				<caption>Access Code</caption>
				<thead>
					<tr>
						<th scope="col" class="alignb w25" data-sortname="planNotbl" data-sort="false" data-sortdatatype="string" data-sortfilter="false">Plan No</th>
						<th scope="col" class="alignb w50" data-sort="false" data-sortdatatype="string" data-sortfilter="false">Plan Name</th>
						<th scope="col" class="alignb w25" data-sort="false" data-sortdatatype="string" data-sortfilter="false">Sub Plan</th>
					</tr>
				</thead>
				<tbody>
					<tr class="" rel="#nys">
						<td>406081</td>
						<td>NEW YORK STATE VOLUNTARY DEFINED CONTRIBUTION PROGRAM</td>
						<td>GS1001</td>
					</tr>
					<!-- <tr class="hiderow closed accRow2" rel="#nys">
						<td>SUNYVDC</td>
						<td><div>406081</div></td>
						<td><div>NEW YORK STATE VOLUNTARY DEFINED CONTRIBUTION PROGRAM</div></td>
						<td><div>GR1001</div></td>
						<td><div>10/29/2013</div></td>
						<td><a class="btn btnSmall closePopup selectedCode btnOff" role="button" title="Select" href="#"><span>Select</span></a></td>
					</tr>
					<tr class="hiderow closed accRow3" rel="#nys">
						<td>VDCcode</td>
						<td><div>406081</div></td>
						<td><div>NEW YORK STATE VOLUNTARY DEFINED CONTRIBUTION PROGRAM</div></td>
						<td><div>GR1001</div></td>
						<td><div>10/29/2013</div></td>
						<td><a class="btn btnSmall closePopup selectedCode btnOff" role="button" title="Select" href="#"><span>Select</span></a></td>
					</tr>
					<tr class="hiderow closed accRow4" rel="#mic">
						<td>101010a</td>
						<td class="alignt"><div>101011</div><div>101011</div></td>
						<td class="alignt"><div>UNIVERSITY OF MICHIGAN 401A RETIREMENT PLAN</div><div>UNIVERSITY OF MICHIGAN 401A RETIREMENT PLAN</div></td>
						<td class="alignt"><div>GR1001</div><div>RA6001</div></td>
						<td class="alignt"><div>10/15/2013</div><div>10/15/2013</div></td>
						<td><a class="btn btnSmall closePopup selectedCode btnOff" role="button" title="Select" href="#"><span>Select</span></a></td>
					</tr>
					<tr class="hiderow closed accRow5" rel="#mic">
						<td>mich02</td>
						<td class="alignt"><div>101010</div><div>101012</div></td>
						<td class="alignt"><div>UNIVERSITY OF MICHIGAN 403B RETIREMENT PLAN</div><div>UNIVERSITY OF MICHIGAN 457B DEFERRED COMPENSATION PLAN</div></td>
						<td class="alignt"><div>GR1001</div><div>GS1001</div></td>
						<td class="alignt"><div>6/19/2012</div><div>6/19/2012</div></td>
						<td><a class="btn btnSmall closePopup selectedCode btnOff" role="button" title="Select" href="#"><span>Select</span></a></td>
					</tr>
					<tr class="hiderow closed accRow6" rel="#micN">
						<td>151212</td>
						<td class="alignt"><div>151212</div><div>151212</div></td>
						<td class="alignt"><div>SUNY ORP - CORNELL CONTRACT COLLEGES</div><div>SUNY ORP - CORNELL CONTRACT COLLEGES</div></td>
						<td class="alignt"><div>GR1001</div><div>RA6001</div></td>
						<td class="alignt"><div>10/15/2012</div><div>10/15/2012</div></td>
						<td><a class="btn btnSmall closePopup selectedCode btnOff" role="button" title="Select" href="#"><span>Select</span></a></td>
					</tr> -->
				</tbody>
			</table>
			<!-- <div class="txtc dim txti txt14 paginateDiv mtbm closed">Viewing 1 to 2 of 2</div> -->
		</div>
		<div class="btnBar">
			<button class="btn3 fll btnSmall" title="Close" id="acc-close" role="button"><span>Close</span></button>
			<button class="btn3 btnSmall" id="acc-reset" title="Reset" role="button"><span>Reset</span></button>
		</div>
	</div>	
</div>
 
<div id="completeEdit" class="popup" data-popup="width:700" title="Enrollment Edits">
	<div class="body">
		<h4 class="dynaTitle nmt"></h4>
		<p class="fll">Caller wishes to update their Salary Deferral Agreement: </p>
		<a class="btn2 btnSmall flr closePopup" href="#" title="SELECT" id="" role="button"><span>SELECT</span></a>
		<div class="clear"></div>
		<p class="fll modal_savedlable">Caller wishes to cancel their Saved Enrollment (Fund Allocations and Beneficiaries): </p>
		<!--<p class="fll modal_pendinglable">Caller wishes to cancel their Pending Enrollment (Fund Allocations and Beneficiaries): </p>-->
		<a class="btn2 btnSmall flr" href="#" title="SELECT" id="selectCancel1" role="button"><span>SELECT</span></a>	
		<div class="clear"></div>
		<div class="btnBar">
			<button class="btn3 flr closePopup" title="Close"><span>Close</span></button>
		</div>
	</div>
</div>

<div id="subPlanCancelPopup" class="popup" data-popup="width:500" title="Sub Plan Cancel Enrollment">
	<div class="body">
		<p class="">This action will cancel enrollment for all the sub plans available for this plan</p>
		<div class="clear"></div>
		<div class="btnBar">
			<button class="btn3 fll closePopup" title="Cancel"><span>Cancel</span></button>
			<button class="btn cancelSubPlan" title="OK"><span>OK</span></button>
		</div>
	</div>
</div>

<div id="completeEdit1" class="popup" data-popup="width:600" title="Enrollment Edits - Plan Name">
	<div class="body">
		<p class="fll modal_savedlable">Caller wishes to Cancel their Saved Enrollment (Fund Allocations and Beneficiaries): </p>
		<!--<p class="fll modal_pendinglable">Caller wishes to Cancel their Pending Enrollment (Fund Allocations and Beneficiaries): </p>-->
		<a class="btn2 btnSmall flr" href="#" title="SELECT" id="selectCancel" role="button"><span>SELECT</span></a>
		<div class="clear"></div>
		<div class="btnBar">
			<button class="btn3 flr closePopup" title="Close"><span>Close</span></button>
		</div>
	</div>
</div>

<div id="completeEdit2" class="popup" data-popup="width:600" title="Enrollment Edits - Plan Name">
	<div class="body">
		<p class="fll">Caller wishes to update their Salary Deferral Agreement: </p>
		<a class="btn2 btnSmall flr closePopup" href="#" title="SELECT" id="" role="button"><span>SELECT</span></a>
		<div class="clear"></div>
		<div class="btnBar">
			<button class="btn3 flr closePopup" title="Close"><span>Close</span></button>
		</div>
	</div>
</div>

<div id="completeEdit3" class="popup" data-popup="width:600" title="Pending Enrollment Edits - Plan Name">
	<div class="body">
		<p class="fll">Caller wishes to cancel their Pending Enrollment (Fund Allocations and Beneficiaries).</p>
		<a class="btn2 btnSmall flr" href="#" title="SELECT" id="selectCancel2" role="button"><span>SELECT</span></a>
		<div class="clear"></div>
		<div class="btnBar">
			<button class="btn3 flr closePopup" title="Close"><span>Close</span></button>
		</div>
	</div>
</div>

<div id="cancelEnroll" class="popup" data-popup="width:500" title="Cancel Enrollment">
   <div class="body">
		<p>Are you certain you want to cancel this Enrollment?</p>
		<div class="clear"></div>
		<div class="btnBar">
			<a class="btn3 fll closePopup" href="#" title="No" id="cancelNo" role="button"><span>No</span></a>
			<a class="btn flr" href="#" title="Yes" id="cancelYes" role="button"><span>Yes</span></a>
		</div>
	</div>
</div>

<div id="submitEnrollment" class="popup" data-popup="width:600" title="Submit Enrollment">
   <div class="body">
		<div class="inlineAlert mb" aria-live="polite" role="alert">
			<div>
				<span class="icon"></span>
				<span>Are you certain you wish to submit a Default Enrollment into the plan sponsors Lifecycle fund? The plan beneficiary will default to Estate. Press "Submit" to continue.</span>
			</div>
		</div>
		<div id="errorAlert2" class="alertModule mtm" aria-live="polite" role="alert">
			<div>
				<span class="icon"></span>
				Please complete the required fields highlighted in red.
			</div>
		</div>
		<div id="res2AddressDiv">
			<div class="lblFieldPair">
				<div class="lbl">
					<span class="txthlt2">Residential Address</span>
				</div>
				<div class="input">
					<input type="checkbox" name="res2AddressChk" id="res2AddressChk" />
					<label for="res2AddressChk" class="inline">Same as Mailing Address</label>
				</div>
			</div>
			<div class="lblFieldPair">
				<div class="lbl">
					<label for="res2Country"><span class="required" title="required">*</span>Country</label>
				</div>
				<div class="input">
					<select name="res2Country" id="res2Country" aria-required="true">
						<option selected="selected" value="none">Please Select</option>
						<option value="United States Of America">United States Of America</option>
						<option value="Canada">Canada</option>
						<option value="Bahamas">Bahamas</option>
					</select>
				</div>
			</div>
			<div class="lblFieldPair">
				<div class="lbl">
					<label for="res2Line1"><span class="required" title="required">*</span>Line 1</label>
				</div>
				<div class="input">
					<input type="text" name="res2Line1" value="" aria-required="true" class="inputlg" id="res2Line1" />
				</div>
			</div>
			<div class="lblFieldPair">
				<div class="lbl">
					<label for="res2Line2">Line 2</label>
				</div>
				<div class="input">
					<input type="text" name="res2Line2" value="" aria-required="" class="inputlg" id="res2Line2" />
				</div>
			</div>			
			<div class="lblFieldPair">
				<div class="lbl">
					<label for="res2City"><span class="required" title="required">*</span>City</label>
				</div>
				<div class="input">
					<input type="text" name="res2City" value="" aria-required="true" class="inputlg" id="res2City" />
				</div>
			</div>
			<div class="lblFieldPair">
				<div class="lbl">
					<label for="res2State"><span class="required" title="required">*</span>State</label>
				</div>
				<div class="input">
					<select name="res2State" id="res2State" aria-required="true">
						<option selected="selected" value="none">Please Select</option>
						<option value="AL">ALABAMA</option>
						<option value="AK">ALASKA</option>
						<option value="AZ">ARIZONA</option>
						<option value="AR">ARKANSAS</option>
						<option value="CA">CALIFORNIA</option>
						<option value="CO">COLORADO</option>
						<option value="CT">CONNECTICUT</option>
						<option value="DE">DELAWARE</option>
						<option value="DC">DISTRICT OF COLUMBIA</option>
						<option value="FL">FLORIDA</option>
						<option value="GA">GEORGIA</option>
						<option value="GU">Guam</option>
						<option value="HI">HAWAII</option>
						<option value="ID">IDAHO</option>
						<option value="IL">ILLINOIS</option>
						<option value="IN">INDIANA</option>
						<option value="IA">IOWA</option>
						<option value="KS">KANSAS</option>
						<option value="KY">KENTUCKY</option>
						<option value="LA">LOUISIANA</option>
						<option value="ME">MAINE</option>
						<option value="MD">MARYLAND</option>
						<option value="MA">MASSACHUSETTS</option>
						<option value="MI">MICHIGAN</option>
						<option value="MN">MINNESOTA</option>
						<option value="MS">MISSISSIPPI</option>
						<option value="MO">MISSOURI</option>
						<option value="MT">MONTANA</option>
						<option value="NE">NEBRASKA</option>
						<option value="NV">NEVADA</option>
						<option value="NH">NEW HAMPSHIRE</option>
						<option value="NJ">NEW JERSEY</option>
						<option value="NM">NEW MEXICO</option>
						<option value="NY">NEW YORK</option>
						<option value="NC">NORTH CAROLINA</option>
						<option value="ND">NORTH DAKOTA</option>
						<option value="OH">OHIO</option>
						<option value="OK">OKLAHOMA</option>
						<option value="OR">OREGON</option>
						<option value="PA">PENNSYLVANIA</option>
						<option value="PR">PUERTO RICO</option>
						<option value="PW">Palau</option>
						<option value="RI">RHODE ISLAND</option>
						<option value="SC">SOUTH CAROLINA</option>
						<option value="SD">SOUTH DAKOTA</option>
						<option value="TN">TENNESSEE</option>
						<option value="TX">TEXAS</option>
						<option value="UT">UTAH</option>
						<option value="VT">VERMONT</option>
						<option value="VA">VIRGINIA</option>
						<option value="WA">WASHINGTON</option>
						<option value="WV">WEST VIRGINIA</option>
						<option value="WI">WISCONSIN</option>
						<option value="WY">WYOMING</option> 
					</select>
				</div>
			</div>
			<div class="lblFieldPair">
				<div class="lbl">
					<label for="res2Zip1"><span class="required" title="required">*</span>Zip Code</label>
				</div>
				<div class="input">
					<input type="text" aria-required="true" value="" class="txtr" size="5" maxlength="5" name="res2Zip1" id="res2Zip1">          
					&ndash; <label class="screenReader" for="res2Zip2">Zip Plus Four</label> 
					<input type="text" aria-required="false" value="" class="txtr ml" size="4" maxlength="4" name="res2Zip2" id="res2Zip2">
				</div>
			</div>
		</div>
		<h3 class="mtbs mls">Enrollment Disclosure</h3>
		<p class="ps mbs">Distributions for 403(b) plans before age 59 <sup>1/2</sup>, severance from employment, death, or disability may be prohibited, limited, and/or subject to substantial tax penalties. Different restrictions may apply to other types of plans.</p>
		<fieldset>
			<legend><span class="screenReader">I verify that I have read the information to the participant.</span></legend>
			<ul class="lblinline">
				<li class="mls">
					<input type="checkbox" id="chkverify" name="chkverify" aria-labelledby="chkverify" />
					<label for="chkverify">I verify that I have read the information to the participant.</label>
				</li>
			</ul>
		</fieldset>
		<div class="clear"></div>
		<div class="btnBar">
			<button class="btn3 fll cancelReset" title="Cancel"><span>Cancel</span></button>
			<button class="btn btnOff" title="Submit" id="submitFnrollBtn"><span>Submit</span></button>
		</div>
    </div>
</div>

<div id="savedEnrollment" class="popup" data-popup="width:600" title="Submit Enrollment">
   <div class="body">
		<div class="inlineAlert mb" aria-live="polite" role="alert">
			<div>
				<span class="icon"></span>
				<span>By clicking the Enroll button you will lose all fund allocations and beneficiary values previously saved. You will be submitting a Default Enrollment into the plan sponsors Lifecycle fund and beneficiaries will default to Estate. Press Enroll to continue.</span>
			</div>
		</div>
		<div id="errorAlert" class="alertModule mtm" aria-live="polite" role="alert">
			<div>
				<span class="icon"></span>
				Please complete the required fields highlighted in red.
			</div>
		</div>
		<div id="resAddressDiv">
			<div class="lblFieldPair">
				<div class="lbl">
					<span class="txthlt2">Residential Address</span>
				</div>
				<div class="input">
					<input type="checkbox" name="resAddressChk" id="resAddressChk" />
					<label for="resAddressChk" class="inline">Same as Mailing Address</label>
				</div>
			</div>
			<div class="lblFieldPair">
				<div class="lbl">
					<label for="resCountry"><span class="required" title="required">*</span>Country</label>
				</div>
				<div class="input">
					<select name="resCountry" id="resCountry" aria-required="true">
						<option selected="selected" value="none">Please Select</option>
						<option value="United States Of America">United States Of America</option>
						<option value="Canada">Canada</option>
						<option value="Bahamas">Bahamas</option>
					</select>
				</div>
			</div>
			<div class="lblFieldPair">
				<div class="lbl">
					<label for="resLine1"><span class="required" title="required">*</span>Line 1</label>
				</div>
				<div class="input">
					<input type="text" name="resLine1" value="" aria-required="true" class="inputlg" id="resLine1" />
				</div>
			</div>
			<div class="lblFieldPair">
				<div class="lbl">
					<label for="resLine2">Line 2</label>
				</div>
				<div class="input">
					<input type="text" name="resLine2" value="" aria-required="" class="inputlg" id="resLine2" />
				</div>
			</div>			
			<div class="lblFieldPair">
				<div class="lbl">
					<label for="resCity"><span class="required" title="required">*</span>City</label>
				</div>
				<div class="input">
					<input type="text" name="resCity" value="" aria-required="true" class="inputlg" id="resCity" />
				</div>
			</div>
			<div class="lblFieldPair">
				<div class="lbl">
					<label for="resState"><span class="required" title="required">*</span>State</label>
				</div>
				<div class="input">
					<select name="resState" id="resState" aria-required="true">
						<option selected="selected" value="none">Please Select</option>
						<option value="AL">ALABAMA</option>
						<option value="AK">ALASKA</option>
						<option value="AZ">ARIZONA</option>
						<option value="AR">ARKANSAS</option>
						<option value="CA">CALIFORNIA</option>
						<option value="CO">COLORADO</option>
						<option value="CT">CONNECTICUT</option>
						<option value="DE">DELAWARE</option>
						<option value="DC">DISTRICT OF COLUMBIA</option>
						<option value="FL">FLORIDA</option>
						<option value="GA">GEORGIA</option>
						<option value="GU">Guam</option>
						<option value="HI">HAWAII</option>
						<option value="ID">IDAHO</option>
						<option value="IL">ILLINOIS</option>
						<option value="IN">INDIANA</option>
						<option value="IA">IOWA</option>
						<option value="KS">KANSAS</option>
						<option value="KY">KENTUCKY</option>
						<option value="LA">LOUISIANA</option>
						<option value="ME">MAINE</option>
						<option value="MD">MARYLAND</option>
						<option value="MA">MASSACHUSETTS</option>
						<option value="MI">MICHIGAN</option>
						<option value="MN">MINNESOTA</option>
						<option value="MS">MISSISSIPPI</option>
						<option value="MO">MISSOURI</option>
						<option value="MT">MONTANA</option>
						<option value="NE">NEBRASKA</option>
						<option value="NV">NEVADA</option>
						<option value="NH">NEW HAMPSHIRE</option>
						<option value="NJ">NEW JERSEY</option>
						<option value="NM">NEW MEXICO</option>
						<option value="NY">NEW YORK</option>
						<option value="NC">NORTH CAROLINA</option>
						<option value="ND">NORTH DAKOTA</option>
						<option value="OH">OHIO</option>
						<option value="OK">OKLAHOMA</option>
						<option value="OR">OREGON</option>
						<option value="PA">PENNSYLVANIA</option>
						<option value="PR">PUERTO RICO</option>
						<option value="PW">Palau</option>
						<option value="RI">RHODE ISLAND</option>
						<option value="SC">SOUTH CAROLINA</option>
						<option value="SD">SOUTH DAKOTA</option>
						<option value="TN">TENNESSEE</option>
						<option value="TX">TEXAS</option>
						<option value="UT">UTAH</option>
						<option value="VT">VERMONT</option>
						<option value="VA">VIRGINIA</option>
						<option value="WA">WASHINGTON</option>
						<option value="WV">WEST VIRGINIA</option>
						<option value="WI">WISCONSIN</option>
						<option value="WY">WYOMING</option> 
					</select>
				</div>
			</div>
			<div class="lblFieldPair">
				<div class="lbl">
					<label for="resZip1"><span class="required" title="required">*</span>Zip Code</label>
				</div>
				<div class="input">
					<input type="text" aria-required="true" value="" class="txtr" size="5" maxlength="5" name="resZip1" id="resZip1">          
					&ndash; <label class="screenReader" for="resZip2">Zip Plus Four</label> 
					<input type="text" aria-required="false" value="" class="txtr ml" size="4" maxlength="4" name="resZip2" id="resZip2">
				</div>
			</div>
		</div>
		<h3 class="mtbs mls">Enrollment Disclosure</h3>
		<p class="ps mbs">Distributions for 403(b) plans before age 59 <sup>1/2</sup>, severance from employment, death, or disability may be prohibited, limited, and/or subject to substantial tax penalties. Different restrictions may apply to other types of plans.</p>		
		<fieldset>
			<legend><span class="screenReader">I understand the implications</span></legend>
			<ul class="lblinline">
				<li class="mls">
					<input type="checkbox" id="chkverifySaved" name="chkverifySaved" aria-labelledby="chkverifySaved" />
					<label for="chkverifySaved">I understand the implications</label>
				</li>
			</ul>
		</fieldset>
		<div class="clear"></div>
		<div class="btnBar">
			<button class="btn3 fll cancelEnrollBtn" title="Cancel"><span>Cancel</span></button>
			<button class="btn btnOff" title="Submit" id="savedSubmitBtn"><span>Submit</span></button>
		</div>
    </div>
</div>

<!-- Saved Enrollments for existing contracts starts hers -->
    <div id="delSEPopup" class="popup" data-popup="width:900" title="Remove Redundant Enrollments for Existing Contracts">
		<div class="body">
			<div class="infoModule visible" aria-live="polite" role="alert">
				<div>
					<span class="icon"></span>
					By clicking the Delete button, you will be deleting a saved enrollment transaction for the participant's plan that already has an active contract. In addition all saved beneficiaries and allocations associated with the saved enrollment will also be deleted. Click Delete to continue or click Cancel to abort
				</div>
			</div>	
			<h4 class="mbs">QA NYU Langone | QA NYU HOSPITALS CENTER</h4>
			<table class="styleA fw" summary="Saved Enrollments for Existing Contract" id="savedPopUpTbl1">
				<caption>Saved Enrollments for Existing Contract</caption>
				<colgroup>
					<col span="1" class="w15">
					<col span="1" class="w20">
					<col span="1" class="w15">
					<col span="1" class="w15">
					<col span="1" class="w20">
					<col span="1" class="w15">
				</colgroup>
				<thead>
					<tr>
						<th scope="col">Plan Number</th>
						<th scope="col">Plan Name</th>
						<th scope="col">Sub-Plan Number</th>
						<th scope="col">Contract Number</th>
						<th scope="col">Interaction Status</th>
						<th scope="col" class="txtc">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="txtc">102548</td>
						<td>GA NYU HOSPITALS-CENTER</td>
						<td>RA6001</td>
						<td>C88304C6</td>
						<td>Saved Enrollment</td>
						<td class="txtc"><button class="btn2 btnSmall delPlan" title="Delete"><span>Delete</span></button></td>
					</tr>
					<tr>
						<td class="txtc">102549</td>
						<td>GA NYU HOSPITALS-CENTER</td>
						<td>RA6002</td>
						<td>C88304C5</td>
						<td>Saved Enrollment</td>
						<td class="txtc"><button class="btn2 btnSmall delPlan" title="Delete"><span>Delete</span></button></td>
					</tr>					
				</tbody>
			</table>
			<h4 class="mbs">The State University of New York  |  THE STATE UNIVERSITY OF NEW YORK</h4>
			<table class="styleA fw" summary="Saved Enrollments for Existing Contract" id="savedPopUpTbl2">
				<caption>Saved Enrollments for Existing Contract</caption>
				<colgroup>
					<col span="1" class="w15">
					<col span="1" class="w20">
					<col span="1" class="w15">
					<col span="1" class="w15">
					<col span="1" class="w20">
					<col span="1" class="w15">
				</colgroup>
				<thead>
					<tr>
						<th scope="col">Plan Number</th>
						<th scope="col">Plan Name</th>
						<th scope="col">Sub-Plan Number</th>
						<th scope="col">Contract Number</th>
						<th scope="col">Interaction Status</th>
						<th scope="col" class="txtc">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr><td colspan="6" class="txtc">- No Data to Display -</td></tr>										
				</tbody>
			</table>
			<button class="btn3 closePopup flr mtm" title="Close"><span>Close</span></button>
			<div class="clear"></div>
		</div>
    </div>

<!-- Saved Enrollments for existing contracts ends here-->
<!-- Delete Confirmation starts here-->
<div id="confirmDelPopup" class="popup" data-popup="width:400" title="Delete Confirmation">
	<div class="body">
		<p>You are about to delete a saved enrollment for a plan with an active contract.</p>
		<div>Click Delete to continue or click Cancel to abort.</div>
		<div class="btnBar">
			<a class="" href="#closePopup" title="Cancel"><span>Cancel</span></a>
			<button class="btn2 btnSmall" title="Delete" id="delConfirmOk"><span>Delete</span></button>
		</div>		
	</div>
</div>
<!-- Delete Confirmation ends here-->