/*USPS Address equal height */
.blbdr { border: 1px solid #5EC2EB; position: relative; overflow: hidden !important; }
.uspsWrap2 { float: left; width: 100%; position: relative; right: 50%; background-color: #fff; }
.uspsWrap1 { clear: left; float: left; width: 100%; overflow: hidden; background-color: #ebf6fa; }
.uspsWrap1 .one_half { float: left; position: relative; left: 50%; overflow: hidden; }
.uspsWrap1 .column_last { float: left; position: relative; left: 50%; overflow: hidden; }
/*.inProcess { padding-right: 30px }*/

/* Alignment in Address modal */
.lblFieldPair label#disclosure { width: 475px; }
#disclosure-verification { margin-top: 3px; }
#verification p.p, #saveResidentialAdd p.p { margin-bottom: 0; }
.udBackLink { float: left; margin-bottom: 10px }
table thead tr th { font-size: 12px !important; }

/*.tableWrapper { overflow-x: scroll !important;  overflow-y: hidden !important;min-width:1020px !important;}*/
.four_fifth .two_third { width: 705px; }
.searchBox .txtInputgs { border: medium none; box-shadow: none; font-size: 12px; padding: 0; position: relative; vertical-align: middle; }
.searchBox .txtInputgs { background: none repeat scroll 0 0 #ffffff; margin: -1px 0 0 5px; padding: 0; width: 450px !important; }
#Select_Location1 { width: 464px !important; }
.panels .pnlTitle { font-size: 16px !important; text-transform: uppercase !important; font-weight: normal !important; }

/*updated for retaining the alignment in open Enroll section*/
.one_third .compact .lblFieldPair .lbl { text-align: right; }
table .bgExpandedTop { width: auto !important; }